.map-container{
  min-height: 80vh;
  width: 100%;
  z-index: 10;
}

.leaflet-control-attribution{
  @include shy(0.8);
  max-height: 1.6em;
}

#simpleMap{
  .items-count, .members-count, #showPositionPicker{
    display: none;
  }
}
