<div class="workPicker">
  <select class="workPickerSelect">
    <option>--</option>
    {{#each worksList}}
      <option value="{{uri}}">{{richLabel}}</option>
    {{/each}}
  </select>
  <a class="validate tiny-success-button hidden">{{I18n workPickerValidateLabel}}</a>
</div>
