<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">
    <h2>{{i18n 'search results'}}</h2>
    <div id="header1"></div>
    <div id="results1"></div>

    <div id="header2"></div>
    <div id="results2"></div>

    <div id="header3"></div>
    <div id="results3"></div>

    <div id="header4"></div>
    <div id="results4"></div>
  </div>
</div>
