#currentTask{
  .authorData, .subentities > div{
    margin: 0;
  }
  .worksList .addOne, .workLi .actions, .photo-credits{
    display: none;
  }

  .articleLi{
    .main{
      padding: 0;
    }
    .claims, .description, .right-bar{
      display: none;
    }
    h4{
      font-size: 1rem;
    }
  }

  .task-scores{
    padding: 0 1em;
  }

  // Activate URIs display
  .uri.hidden{
    display: block;
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .entities{
      @include display-flex(row, flex-start, center);
      // Let room for the task controls
      padding-bottom: 20em;
    }
  }
}

.task-scores{
  > li{
    margin-bottom: 0.5em;
  }
  .sources-links{
    max-height: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eee;
    padding: 0.2em;
    white-space: nowrap;
    a{
      color: #444;
    }
  }
  .sources-count:not(.count-0){
    color: green;
    font-weight: bold;
  }
}
