#currentTask{
  .authorData, .subentities > div{
    margin: 0;
  }
  .worksList .addOne, .workLi .actions, .photo-credits{
    display: none;
  }

  .match-data{
    .fa-arrow-right{
      font-size: 2em;
      color: grey;
      display: block;
    }
    padding: 1em;
  }

  td{
    background-color: rgba(white, 0.8);
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .match-data{
      .fa-arrow-right{
        display: block;
        margin: 0 auto;
        padding: 1em 0;
        transform: rotate(90deg);
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .entities{
      @include display-flex(row, flex-start, center);
      // Let room for the task controls
      padding-bottom: 20em;
    }
    .match-data{
      .fa-arrow-right{
        margin: 1em auto;
      }
    }
  }
}

#currentTask, .relative-task{
  td{
    max-width: 10em;
    padding: 0 0.4em;
  }
  .yes, .no{
    font-weight: bold;
  }
  .yes{
    color: $success-color;
  }
  .no{
    color: grey;
  }
  .global-score{
    font-weight: bold;
  }
}

.relative-task{
  @include display-flex(column);
  td{
    background-color: rgba(white, 0.4);
  }
  table{
    margin-top: auto;
  }
}
