#currentTask{
  .authorData, .subentities > div{
    margin: 0;
  }
  .worksList .addOne, .workLi .actions, .photo-credits{
    display: none;
  }

  .articleLi{
    .main{
      padding: 0;
    }
    .claims, .description, .right-bar{
      display: none;
    }
    h4{
      font-size: 1rem;
    }
  }

  .task-scores{
    max-width: 25em;
  }

  // Activate URIs display
  .uri.hidden{
    display: block;
  }

  #no-task{
    margin-block-start: 3em;
    text-align: center;
  }
}

  #suggestion, #suspect{
    padding: 1em 0;
  }

/*Large screens*/
@media screen and (min-width: $small-screen) {
  // Adapt padding to let room for the task controls
  #currentTask{
    padding-block-end: 20em;
    @include transition(padding-bottom);
    .entities{
      @include display-flex(row, flex-start, center);
    }
  }
  .wrapped-controls #currentTask{
    padding-block-end: 5em;
  }

  #suggestion, #suspect{
    padding: 0 1em;
  }
}

.task-scores{
  > li{
    margin-block-end: 0.5em;
  }
  .sources-links{
    max-height: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eee;
    padding: 0.2em;
    white-space: nowrap;
    a{
      color: #444;
    }
  }
  .sources-count:not(.count-0){
    color: green;
    font-weight: bold;
  }
}
