#tasksLayout{
  padding: 1em;
  position: relative;
  .controls{
    @include position(fixed, null, 0, 0, 0, 1);
    @include display-flex(row, center, center);
    background-color: #ddd;
    .button{
      margin: 0.5em;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .controls{
      .button{
        text-align: center;
        padding: 1em 0.5em;
        flex: 1 0 0;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .controls{
      padding: 0.5em;
    }
  }
}

@import 'current_task';
