<div class="row">
  <div class="small-12 large-5 large-offset-4 columns">
    <h2 class="subheader">{{i18n 'SignUp'}}</h2>
    <div>
      <h3 class="with-tip">{{i18n 'Step 2: associate your account with an email'}}</h3>
      <span data-tooltip class="has-tip tip-right" title="{{i18n "We use Mozilla's Persona service to identify users. Why? 1/ we trust them more than ourselves to keep your password safe. 2/ as other services use this, that makes you less passwords to remember! 3/ Mozilla don't ask for any of your data. Don't have an account yet? Click the button below and follow their instructions."}}"><i class="fa fa-question-circle"></i></span>
    </div>
    <div>
    </div>
    {{partial '../user/templates/persona_button'}}
    <a class="button back-button tiny" id="backToStepOne"><i class="fa fa-arrow-left"></i></a>

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>