<div class="row">
  <div class="small-12 large-8 columns">
    <input id="username" class="has-alertbox enterClick" type="text" autocorrect="off" autocapitalize="off" autocomplete="off" placeholder="{{i18n 'username'}}..." value="{{username}}">
  </div>

  <div class="small-12 large-4 centered columns">
    <a id="verifyUsername" class="button success postfix">{{buttonLabel}}</a>
  </div>
</div>