<li class="has-form">
  {{input search}}
</li>
<li>
  <a id="name">
    {{username}}
    <img id="pic" src="{{src picture 64}}">
  </a>
</li>
<li id="before-notifications"></li>
{{!-- li#notifications will be inserted here --}}

{{partial 'general:menu:settings_menu' urls}}
