<li>{{iconLinkText name='pencil-square-o' url=wiki I18n='wiki'}}</li>
<li>{{iconLinkText name='trello' url=roadmap I18n='vote_verb'}}</li>
<li>{{iconLinkText name='code' url=git I18n='code_verb'}}</li>
<li>{{iconLinkText name='language' url=translate I18n='translate'}}</li>
