<li>{{iconLinkText name='trello' url=trello I18n='vote_verb'}}</li>
<li>{{iconLinkText name='code' url=github I18n='code_verb'}}</li>
<li>{{iconLinkText name='language' url=transifex I18n='translate'}}</li>
