<div class="header"></div>
<div class="body">
  <section id="groupRequests">
    {{> 'groups:group_board_section' sections.requests}}
  </section>
  <section id="groupSettings">
    {{> 'groups:group_board_section' sections.settings}}
  </section>
  <section id="groupInvite" {{#unless status_member}}class="hidden"{{/unless}}>
    {{> 'groups:group_board_section' sections.invite}}
  </section>
  <section id="groupEmailInvite" {{#unless status_member}}class="hidden"{{/unless}}>
    {{> 'groups:group_board_section' sections.email}}
  </section>
  <section id="groupMembers">
    {{> 'groups:group_board_section' sections.members}}
  </section>
</div>
