<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">

    <h2 class="subheader">{{status}}</h2>
    <div id="scanner"></div>
    <div id="step1"></div>
    <div id="step2"></div>
    <div id="results1"></div>
    <div id="results2"></div>
    <div id="results3"></div>

    {{!-- {{partial 'token'}} --}}
    <div id="validation" class="text-center"></div>
    <div class="check right"></div>

  </div>
</div>
