# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# NPM packages folder.
node_modules/
npm-debug.log
bower_components/

# Brunch folder for temporary files.
tmp/

#Map files
#**/*.map

#Others
.status
.commit
*.sublime*
*.gz
public/*
app/assets/fonts
config/local.coffee
