$tooltip-font-size: 1em;

$auth-menu-bg: $global-background-contrast-color;

.authMenu{
  label{
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 1.2em;
    margin-top: 0.8em;
  }

  input{
    text-align: left;
  }

  .inputGroup{
    input{
      margin-bottom: 0;
    }
    margin-bottom: 1em;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .custom-cell{
      padding: 1em;
      text-align: center;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include central-column(25em);
    min-height: 80vh;
    .custom-cell{
      background-color: $auth-menu-bg;
      @include radius;
      padding: 1em 2em 2em 2em;
      text-align: center;
    }
  }
}

.resetPassword{
  .button{
    margin: 1em;
  }
  input[name=username]{
    display: none;
  }
  #forgotPassword{
    text-align: center;
  }
}

@import "login";
@import "signup";
@import "password_input";
