$tooltip-font-size: 1em;

$auth-menu-bg: rgba($light-grey, 0.8);

.authMenu{
  @include flex(1);
  margin: auto;
  font-family: 'Alegreya Sans';
  font-size: 1em;
  .custom-cell{
    background-color: $auth-menu-bg;
    border-radius: $global-radius;
    padding: 1em 2em 2em 2em;
    margin-bottom: 2em;
    width: 90%;
    text-align: center;
  }
  a.button{
    font-weight: bold;
  }

  label{
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }

  input{
    text-align: left;
  }
}

.resetPassword{
  .button{
    margin: 1em;
  }
  input[name=username]{
    display: none;
  }
  #forgotPassword{
    text-align: center;
  }
}

@import "login";
@import "signup";
@import "password_input";
@import "email_suggestion";