.authMenu.login{
  @include custom-column(25em);
  .custom-cell{
    margin-top: 2em;
    margin-bottom: 1em;
  }
  a#classicLogin{
    margin-top: 1em;
  }
  label{
    .complement{
      text-transform: none;
      color: $grey;
    }
    text-transform: uppercase;
  }
  .otherOptions{
    margin-top: 1em;
    @include display-flex(row, center, space-between);
  }

  /*Very Small screens*/
  @media screen and (max-width: $verysmallscreen) {
    .otherOptions{
      @include flex-direction(column);
      a{
        margin: 0.5em;
      }
    }
  }
}

#createAccount{
  @include tiny-button($success-color);
  @include shy(0.8);
}
