.authMenu.login{
  #login{
    margin-block-start: 1em;
  }
  label{
    .complement{
      text-transform: none;
      color: $grey;
      font-size: 0.8em;
    }
    text-transform: uppercase;
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    label{
      .main{
        display: block;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    label{
      .complement{
        margin-inline-start: 0.2em;
      }
    }
  }
}

#forgotPassword{
  padding: 1em;
}
