.authMenu.login{
  .custom-cell{
    margin-top: 2em;
    margin-bottom: 1em;
  }
  a#classicLogin{
    margin-top: 1em;
  }
  label{
    .complement{
      text-transform: none;
      color: $grey;
    }
    text-transform: uppercase;
  }
  .otherOptions{
    margin-top: 1em;
    @include display-flex(row, center, space-between);
  }

  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .otherOptions{
      flex-direction: column;
      a{
        margin: 0.5em;
      }
    }
  }
}

#createAccount{
  @include tiny-button($success-color);
  @include shy(0.8);
}

.persona{
  > div{
    max-width: 40em;
  }
}

.persona-sunset{
  background-color: $warning-color;
  color: white;
  @include radius;
  padding: 0.5em;
  margin: 1em;
}

#forgotPassword{
  padding: 1em;
}

.help{
  margin-top: 1em;
  color: $dark-grey;
}
#askForHelp{
  @include text-hover($dark-grey);
  @include underline;
}