.passwordGroup{
  @include display-flex(row);
  input{
    flex: 1 1 auto;
    border-right-width-value: 0;
    margin-bottom: 0;
  }
}
.showPassword{
  // don't grow, just take the place needed by the button text
  flex: 0 0 auto;
  @include display-flex(row, center, center);
  line-height: 0.5em;
  height: 2.55em;
  @include radius-right;
  font-size: 0.9em;
  @include hover-darken(#ddd, 3%);
  color: $dark-grey;
  span{
    padding: 0.8em;
    text-align: center;
    font-weight: bold;
    font-family: 'Alegreya';
  }
  .substitute{
    display: none;
  }
  &.toggled{
    background-color: $dark-grey;
    color: white;
    .displayed{
      display: none;
    }
    .substitute{
      display: inherit;
    }
  }
}

/*Not Too Small screens*/
@media screen and (min-width: $very-small-screen) {
  .showPassword{
    // margin-left: -0.2em;
    // min-width: 5em;
  }
}

/*Very Small screens*/
@media screen and (max-width: $very-small-screen) {
  #password{
    margin-bottom: 0;
  }
  .passwordGroup{
    flex-direction: column;
    input{
      @include radius-top;
      @include radius-bottom(0);
    }
    .showPassword{
      @include radius-top(0);
      @include radius-bottom;
    }
  }
}
