.authMenu{
  .passwordGroup{
    @include display-flex(row);
    input{
      @include flex(1);
    }
  }
  #showPassword{
    line-height: 0.5em;
    height: 2.55em;
    padding: 1em;
    border-radius: $global-radius;
    font-size: 0.9em;
    @include hover-darken($off-white, 3%);
    color: $dark-grey;
    span{
      font-weight: bold;
      font-family: 'Alegreya';
    }
    .substitute{
      display: none;
    }
    &.active{
      background-color: $dark-grey;
      color: white;
      .displayed{
        display: none;
      }
      .substitute{
        display: inherit;
      }
    }
  }

  /*Not Too Small screens*/
  @media screen and (min-width: $verysmallscreen) {
    #showPassword{
      margin-left: -0.2em;
      // min-width: 5em;
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: $verysmallscreen) {
    #password{
      margin-bottom: 0;
      // get over .showPassword button
      z-index: 1;
    }
    .passwordGroup{
      @include flex-direction(column);
      #showPassword{
        margin-top: -0.1em;
      }
    }
  }
}