$tooltip-font-size: 1em;

$auth-menu-bg: rgba($light-grey, 0.8);

.authMenu{
  @include custom-column(30em);
  .custom-cell{
    background-color: $auth-menu-bg;
    padding: 1em 1em 1em 2em;
    margin: 1em 1em 1em 1em;
    width: 100%;
    text-align: center;
    div.back{
      text-align: left;
      a.back{
        margin: 1em 1em 0em 0em;
      }
    }
  }
  a.button{
    font-weight: bold;
  }
}

#personaButton{
  margin-bottom: 2em;
}

.emailNote{
  margin-top: 1em;
  // background-color: red;
}