$tooltip-font-size: 1em;

$auth-menu-bg: $light-grey;

.login{
  @include flex(column, center, center);
  background-color: $auth-menu-bg;
  margin: 2em 4em 4em 4em;
  padding: 2em 4em 4em 4em;
  h2{
    text-align: center;
  }
}

#personaButton{
  margin-bottom: 2em;
}

.pitch-bg{
  background-color: $auth-menu-bg;
  padding: 1em 1em 1em 2em;
  margin: 1em 1em 1em 1em;
}