.validEmailConfirmation{
  text-align: center;
  font-family: 'Alegreya Sans';
  color: white;
  p{
    margin-bottom: 1em;
    @include radius;
  }
  .fa{
    font-size: 2em;
    display: block;
  }
  .button{
    font-weight: bold !important;
  }
  .valid{
    p{
      background-color: $success-color;
      padding: 0.5em;
    }
    color: white;
  }
  .invalid{
    p:not(.offline){
      background-color: $warning-color;
      padding: 0.5em;
    }
  }
  p.offline, .loading{
    color: $dark-grey;
  }
  .loading{
    margin: 1em;
  }
}