@import './auth_menu';
@import '#modules/general/scss/utils';

.authorizeMenu{
  @include central-column(40em);

  .context{
    @include text-align-start;
    i{
      margin: 0 0.2em;
    }
  }

  .requested-access-rights{
    max-width: 30em;
    text-align: left;
    margin: 1em auto;
  }

  .access-right{
    list-style-type: disc;
    margin: 0.2em 1em;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .button{
    margin: 0.5em;
  }
}
