@import '#general/scss/utils';

.authMenu{
  label{
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 1.2em;
    margin-block-start: 0.8em;
  }

  input{
    text-align: start;
  }

  hr{
    border-color: #bbb;
  }

  .inputGroup{
    input{
      margin-block-end: 0;
    }
    margin-block-end: 1em;
  }

  .other-options{
    margin-block-start: 1em;
    @include display-flex(row, center, space-around);
    a:first-child{
      @include shy(0.9);
      @include tiny-button($success-color);
    }
    a:not(:first-child){
      margin-inline-start: auto;
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .other-options{
      flex-direction: column;
      a{
        margin: 0.5em;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .custom-cell{
      padding: 1em;
      text-align: center;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    @include central-column(25em);
    min-height: 80vh;
    .custom-cell{
      background-color: $global-background-contrast-color;
      @include radius;
      padding: 1em 2em 2em 2em;
      text-align: center;
    }
  }
}

@import 'password_input';
