@import '#general/scss/utils';

@mixin auth-menu-commons(){
  :global(label:not(.inline)), :global(label.main-label span){
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 1.2rem;
    margin-block-start: 0.8em;
  }

  input, :global(input){
    text-align: start;
    font-size: 1rem;
  }

  hr{
    border-color: #bbb;
  }

  .inputBox{
    :global(.flash) {
      margin-top: 0;
      padding: 0.3em;
      align-items: center;
    }
  }

  .other-options{
    margin-block-start: 1em;
    @include display-flex(row, center, space-around);
    a:first-child{
      @include shy(0.9);
      @include tiny-button($success-color);
    }
    a:not(:first-child){
      margin-inline-start: auto;
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .other-options{
      flex-direction: column;
      a{
        margin: 0.5em;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .custom-cell{
      padding: 1em;
      text-align: center;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    @include central-column(25em);
    min-height: 80vh;
    .custom-cell{
      background-color: $global-background-contrast-color;
      @include radius;
      padding: 1em 2em 2em 2em;
      text-align: center;
    }
  }
}
