{{partial 'topbar'}}
<div class="row collapse">
    <div id="sidebar" class="small-12 large-2 columns">
      {{partial 'sidebar'}}
    </div>
    <div class="small-12 large-10 columns">
      {{partial 'main'}}
      <!-- <footer> -->
        <!-- {{partial 'footer'}} -->
      <!-- </footer> -->
    </div>
</div>
</div>