{{partial 'topbar'}}
<div class="row collapse">
{{!--     <div id="sidebar" class="small-12 large-2 columns">
      {{partial 'sidebar'}}
    </div> --}}
    <div class="small-12 large-12 columns">
      {{partial 'main'}}
      <!-- <footer> -->
        <!-- {{partial 'footer'}} -->
      <!-- </footer> -->
    </div>
    <div class="right">
      <a id="hello" href="/hello" class="button tiny">Hello</a>
      <a href="zxing://scan/?ret=http%3A%2F%2F192.168.0.21%3A3007%2Fapi%2Fisbn%2F%7BCODE%7D&SCAN_FORMATS=UPC_A,EAN_13" class="button tiny">zxing</a>
      {{!-- https://github.com/zxing/zxing/wiki/Scanning-From-Web-Pages --}}
      <a class="button alert tiny" id="clear-localStorage">Clear LocalStorage</a>
    </div>
</div>
</div>