{{partial 'topbar'}}
<div id="topMenu"></div>
<div id="menuBar"></div>
<div id="viewTools" class="row"></div>
<div class="row collapse">
  <main class="small-12 large-12 columns"></main>
</div>
{{partial 'modals'}}