<label for="Title" class="text-left">Title</label>
<input id="title" type='text' placeholder='My new item' value="{{title}}">

<label for="Tags" class="text-left">Tags</label>
<input id="tags" type='text' placeholder='(optional)' value="{{tags}}">

<label for="List" class="text-left">Visibility mode</label>
<select id="visibility">
  <option value="private" selected>Private items</option>
  <option value="contacts">Visible to contacts</option>
  <option value="public">Public</option>
</select>

<label for="transactionMode" class="text-left">Transaction mode</label>
<select id="transactionMode">
  <option value="none" selected>none (a transaction mode is optional)</option>
  <option value="give">to give</option>
  <option value="loan">to loan</option>
  <option value="rent">to rent</option>
  <option value="sell">to sell</option>
</select>

<label for="Comment" class="text-left">Comment</label>
{{!-- back to an input as textarea is problatic for .val() // .text() --}}
<input id="comment" type='text' placeholder='(optional)' value="{{comment}}">
<br>

<a id="cancelEditItemForm" class="button alert">cancel</a>
<input id="validateEditItemForm" type="submit" class="button success center" value="Validate">