<div class="row">
<div class="small-12 large-5 columns">

  <h2>Signup</h2>
  <div id="usernamePicker">
    <label class="with-tip">Username</label>
    <span data-tooltip class="has-tip tip-right" title="Username can be anything made of 1 to 20 letters, figures or _. Pick anything!"><i class="fa fa-question-circle"></i></span>
    <form class="row collapse">
      <div class="large-8 small-12 columns">
        <input id="username" type="text" placeholder='choose a username...' value="{{username}}">
        <div class="input-alert hidden alert-box alert">
          <a href="#" class="close">&times;</a>
        </div>
      </div>
      <div class="large-4 small-6 centered columns">
        <input type="submit" class="button secondary postfix" id="verifyUsername" value="Verify availability">
      </div>
    </form>
  </div>

</div>
<div class="small-12 large-5 large-offset-2 columns">

    <h2>Login</h2>
    <p class="lead">Already have an account?</p>
    <div class="text-center">
      <br>
      <a id="login">
        <img src="images/email_sign_in_black.png" alt="Sign in with your email">
      </a>
    </div>

</div>
</div>
<a class="close-reveal-modal">&#215;</a>