<div class="sticky" data-options="sticky_on: large">

    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1 id="topheader" class="capitalized"><a id="home">{{i18n 'Inventaire' 'Q815410'}}</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                {{!-- a and span required by Foundation for the menu icon --}}
                <a><span></span></a>
            </li>
        </ul>

        <section class="top-bar-section">
            {{!-- Left Nav Section --}}

            {{!-- Right Nav Section --}}
            <ul id="accountMenu" class="right">
            </ul>
        </section>
    </nav>
</div>
