<div class="container">
  <span class="loading"></span>
</div>
<div class="statusMessage"></div>
<div class="bottom">
  <a id="validateScan" class="success-button hidden">
    {{I18n 'validate'}}
    <span class="counter"></span>
  </a>
</div>
<a id="closeScan">{{icon 'times'}}</a>
