<h3>1/ {{i18n 'upload your collection from another website'}}</h3>
<section>
  <ul class="importers">
    <li>
      <label for="goodReads">GoodReads</label>
      <input id="goodReads" type="file" accept="text/csv" />
    </li>
    <li>
      <label for="libraryThing">LibraryThing</label>
      <input id="libraryThing" type="file" accept="text/csv" />
    </li>
    <li>
      <label for="babelio">Babelio</label>
      <input id="babelio" type="file" accept="text/csv" />
    </li>
  </ul>
  <p class="warning"></p>
</section>

<div id="queue">
  <span class="loading"></span>
</div>
