<div id="bg"></div>
<div id="topBar"></div>
<div id="iconNav"></div>
<main></main>
{{partial 'lateral_buttons'}}
{{partial 'modals'}}
<div id="overlay" class="hidden"><div id="overlayContent"></div></div>
<div id="joyride"></div>
