<div id="bg"></div>
<div id="topBar"></div>
<div id="iconNav"></div>
<main></main>

{{!-- lateral_buttons --}}
<div id="lateralButtons">
  <a href="/feedback" class="showFeedbackMenu">
    {{icon 'comments'}}
    {{I18n 'feedback'}}
  </a>
</div>

{{!-- modal --}}
<div id="modalWrapper" class="hidden" tabindex="0">
  <div id="modal">
    <div id="modalContent"></div>
    <a class="close">&#215;</a>
  </div>
</div>
