<div id="topBar"></div>
<main></main>

{{!-- modal --}}
<div id="modalWrapper" class="hidden" tabindex="0">
  <div id="modal">
    <div id="modalContent"></div>
    <a class="close">&#215;</a>
  </div>
</div>

{{!-- flash messages --}}
<div id="flashMessage" title="{{i18n 'offline_help'}}">
  {{icon 'bolt'}}
  <span>{{i18n 'you are offline'}}</span>
</div>
