<div id="addIconButtonTop" class="positioner"></div>
<a href="/add" id="addIconButton" class="iconButton add" title="{{i18n 'title_add_layout'}}">
  <div class="double-icon">
    {{icon 'search'}}
    <span>/</span>
    {{icon 'plus'}}
  </div>
  <div class="label">
    <span>{{{i18n 'search/add a book'}}}</span>
  </div>
</a>
<div id="networkIconButtonTop" class="positioner"></div>
<a href="/network" id="networkIconButton" class="iconButton network" title="{{i18n 'title_networt_layout'}}">
  <div class="iconWithCounter count-{{networkUpdates}}">
    {{icon 'users'}}
    <span class="counter">{{networkUpdates}}</span>
  </div>
  <div class="label">
    <span>{{i18n 'friends & groups'}}</span>
  </div>
</a>
<a href="/inventory" id="browseIconButton" class="iconButton browse" title="{{i18n 'title_browse_layout'}}">
  {{icon 'list'}}
  <span>{{i18n 'browse books'}}</span>
</a>
<a href="/map" id="browseIconButton" class="iconButton map" title="{{i18n 'title_map_layout'}}">
  {{icon 'map-marker'}}
  <span>{{i18n 'books nearby'}}</span>
</a>
<a href="/transactions" id="exchangesIconButton" class="iconButton exchanges" title="{{i18n 'title_exchanges_layout'}}">
  <div class="iconWithCounter count-{{exchangesUpdates}}">
    {{icon 'exchange'}}
    <span class="counter">{{exchangesUpdates}}</span>
  </div>
  <div class="label">
    <span>{{i18n 'exchanges'}}</span>
  </div>
</a>
