<div id="addIconButtonTop" class="positioner"></div>

{{partial 'icon_with_counter'
  name='add'
  label='add a book'
  icon='plus'
  href='/add'
  title='title_add_layout'
}}

<div id="networkIconButtonTop" class="positioner"></div>

{{partial 'icon_with_counter'
  name='network'
  label='friends & groups'
  icon='users'
  href='/network'
  title='title_networt_layout'
  counter=networkUpdates
}}

{{partial 'icon_with_counter'
  name='browse'
  label='browse books'
  icon='list'
  href='/inventory'
  title='title_browse_layout'
}}

{{partial 'icon_with_counter'
  name='exchanges'
  label='exchanges'
  icon='exchange'
  href='/transactions'
  title='title_exchanges_layout'
  counter=exchangesUpdates
}}
