<div id="lateralButtons">
  <a href="/donate" class="showDonateMenu">
    {{icon 'money'}}
    {{I18n 'donate'}}
  </a>
  <a href="/feedback" class="showFeedbackMenu">
    {{icon 'comments'}}
    {{I18n 'feedback'}}
  </a>
</div>
