{{!-- Setting a tabindex to be able to listen to keyboard events
cf https://stackoverflow.com/a/10722635/3324977 --}}
<div id="modalWrapper" class="hidden" tabindex="0">
  <div id="modal">
    <div id="modalContent"></div>
    <a class="close">&#215;</a>
  </div>
</div>