{{!-- dupplicated with item_comments div.newComment --}}
<form class="newMessage">
  <div class="main">
    <div class="avatar">
      <img src="{{src user.picture 50}}">
    </div>
    <textarea class="message ctrlEnterClick" name="message" placeholder="post a message...">{{message}}</textarea>
  </div>
  <div class="alertBox"></div>
  <div class="bottom">
    {{partial 'ctrl_enter_click_tip'}}
    <a class="tiny-success-button sendMessage">{{i18n 'send'}}</a>
  </div>
</form>
