<div class="separator">
  <div class="horizontal-rule"></div>
  {{!-- pass null or another falsy value to make it one unique rule --}}
  {{#if this}}
    {{i18n this}}
    <div class="horizontal-rule"></div>
  {{/if}}
</div>