<div id="sidebarbg"></div>
<ul class="side-nav">
    <li class="active"><h3><a href="/">All Items</a></h3></li>
    <li class="divider"></li>
    <li><h3><a href="#">Categories</a></h3></li>
    <li class="divider"></li>
    <li><h3><a href="/Q571">Books</a></h3></li>
    <li class="divider"></li>
    <li><h3><a href="/Q11410">Games</a></h3></li>
    <li class="divider"></li>
    <li><h3><a href="#"><i class="fa fa-plus"></i></a></h3></li>
</ul>