{{!-- source & credits: http://callmenick.com/post/css-toggle-switch-examples --}}
<div class="toggler">
  <input id="{{id}}" class="toggler-input" type="checkbox" {{#if checked}}checked="true"{{/if}}>
  <label for="{{id}}" class="toggler-label"></label>
</div>
