<div id="topBar">
  {{!-- stickyness isnt refreshed on screen size change: reload before wanting to change settings --}}
  <nav class="top-bar" data-topbar data-options="{{inlineOptions options}}">
    <ul class="title-area">
      <li class="name">
        <h1 id="topheader">
        <a id="home" href="/">inventaire  </a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        {{!-- a and span required by Foundation for the menu icon --}}
        <a><span></span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      {{!-- Left Nav Section --}}
      <ul class="left">
        <li id="currentUser" class="hidden breadcrumb">
          <a>
            {{!-- wrapping it in a subdiv to be able to adjust it in css despite Foundation TopBar style --}}
            <div>
              {{icon 'chevron-right'}} <span id="currentUsername"></span>
            </div>
          </a>
        </li>
      </ul>
      {{!-- Right Nav Section --}}
      <ul id="accountMenu" class="right"></ul>
    </section>
  </nav>
</div>