<div class="button-group">
  <a id="cancel" class="button grey">{{i18n 'cancel'}}</a>
  <a id="validate" tabindex="0" class="button success">{{i18n 'validate'}} <span class='loading'></span></a>
</div>