<div class="button-group">
  <a id="cancel" class="button grey" tabindex="0">{{i18n 'cancel'}}</a>
  <a id="validate" class="button success" tabindex="0">{{i18n 'validate'}} <span class='loading'></span></a>
</div>