<form id="step1" class="step">

  <label for="nameField">{{I18n 'group name:'}}</label>
  <div class="inputContainer">
    <input id="nameField" type="text" placeholder="{{i18n 'ex: the secret club of Proustian experts'}}" class="enterClick">
  </div>

  <label for="visibilityPicker">{{I18n 'visibility:'}}</label>
  {{partial 'toggler' visiblity}}

  <a id="createGroup" class="button light-blue bold radius">
    {{icon 'plus'}} {{I18n 'create group'}}
  </a>

</form>
<div id="step2" class="step hidden">
  <h3>
    {{i18n 'group_invite_friends'}}
  </h3>
  <div id="invite"></div>
  <a class="showGroup button light-blue radius bold">
    {{i18n 'go to the group inventory'}}
  </a>
</div>
