<section class="friends-requests-wrapper hidden">
  <h3 id="friendsRequestsHeader">{{i18n 'pending friends requests'}}</h3>
  <div id="friendsRequests"></div>
</section>

<section class="friends-list">
  <div class="friends-filter-wrapper hidden">
    {{partial 'filter' friendsFilter}}
  </div>
  <div id="friendsList">
    <span class="loading"></span>
  </div>
</section>

