<section>
  <h2 id="friendsRequestsHeader">{{i18n 'pending friends requests'}}</h2>
  <div id="friendsRequests"></div>

  {{partial 'network:users_search_header'}}
  <div class="friendsAndSearch">
    {{partial 'network:users_search_input'}}
    {{partial 'network:users_search'}}
  </div>
</section>
