<form id="step1" class="step">
  <label for="nameField">{{i18n 'Group name:'}}</label>
  <div class="inputContainer">
    <input id="nameField" type="text" placeholder="{{i18n 'ex: the secret club of Proustian experts'}}" class="enterClick">
  </div>
  <a id="createGroup" class="button light-blue bold radius">
    {{icon 'plus'}} {{I18n 'create group'}}
  </a>
</form>
<div id="step2" class="step hidden">
  yo step2
</div>
<div id="step3" class="step hidden">
  yo step3
</div>