<ul class="stats">
  <li class="membersCount count">{{i18n 'members:'}} {{membersCount}}</li>
  {{#if mainUserIsMember}}
    <li class="booksCount count">{{i18n 'books:'}} {{itemsCount}}</li>
  {{/if}}
</ul>