<h2 id="groupsInvitationsHeader" class="hidden">{{i18n "invitations"}}</h2>
<div id="groupsInvitations"></div>
<h2>{{i18n 'your groups'}}</h2>
<div id="groupsList">
  <span class="loading"></span>
</div>

<h2>{{i18n 'create a group'}}</h2>
<div id="groupCreation"></div>