<ul class="stats">
  <li class="membersCount count">{{i18n 'members:'}} {{membersCount}}</li>
  {{#unless publicDataOnly}}
    <li class="booksCount count">{{i18n 'books:'}} {{itemsCount}}</li>
  {{/unless}}
</ul>