<div class="group-position-setting">
  <label for="showPositionPicker">
    {{i18n "set the group's position"}}
  </label>
  <span class="tip" title="{{i18n 'group_position_tip'}}">{{icon 'info-circle'}}</span>
  <a id="showPositionPicker" class="button radius">
    {{icon 'map-marker'}}
  </a>
</div>