<div class="group-position-setting">
  <div>
    <label for="showPositionPicker">
      {{I18n "set the group's position"}}
    </label>
    <span class="tip" title="{{i18n 'group_position_tip'}}">{{icon 'info-circle'}}</span>
  </div>
  <a id="showPositionPicker" class="button radius">
    {{icon 'map-marker'}}
  </a>
</div>