<section>
  <label for="editName">{{i18n 'edit group name'}}</label>
  {{input editName 'check'}}
</section>


<section>
  <label for="editCover">{{i18n 'edit group cover'}}</label>
  {{partial 'general:behaviors:change_picture' this}}
</section>
