<ul class="stats">
  {{#if itemsCount}}
    <li class="booksCount count">{{i18n 'books:'}} {{itemsCount}}</li>
  {{/if}}
  <li class="membersCount count">{{i18n 'members:'}} {{membersCount}}</li>
</ul>
