<div class="group-position-setting">
  <div>
    <label for="showPositionPicker">
      {{I18n "set the group's position"}}
    </label>
    {{!-- TODO: display the tip as secondary text: more accessible for mobile than having to hover --}}
    {{!-- <span class="tip" title="{{i18n 'group_position_context'}}">{{icon 'info-circle'}}</span> --}}
  </div>
  <a id="showPositionPicker" class="button light-blue radius" tabindex="0">
    {{icon 'map-marker'}}
  </a>
</div>