<a href="{{pathname}}" class="cover-link showGroup">
  <div
  {{#if picture}}
    class="cover"
    style="background-image: url('{{src picture 540}}')"
  {{/if}}
  >
    <span class="name">{{name}}</span>
    <span class="description">{{description}}</span>
    {{partial 'network:group_stats' this}}
  </div>
</a>
<a href="{{pathname}}" class="link showGroup">{{i18n "go to group's inventory"}}</a>
<div class="bottom">
  {{#if invitor.username}}
    <span class="invitor">{{i18n 'group_invitor' invitor}}</span>
  {{/if}}
  {{partial 'network:group_actions' this}}
</div>