{{#if mainUserIsAdmin}}
  <section id="settings">
    <a class="toggler">
      {{icon 'caret-down'}}
      <h4>{{i18n 'settings'}}</h4>
    </a>
    <div class="settings">

    </div>
  </section>
{{/if}}
