{{!-- map defaulting to world view if no position --}}
{{!-- list of users displayed on the map --}}
{{!-- button to set your positon --}}

<section id="map" class="map-container"></section>
<section id="list"></section>
<section id="position-picker">
  {{partial 'map:position_picker_button'}}
</section>
