<div class="openess">
  {{> 'toggler' this}}
  <p class="warning {{#if checked}}{{else}}hidden{{/if}}">
    {{icon 'globe'}}{{i18n 'group accepts logged user request automatically, no admin validation is required'}}
  </p>
</div>