<div class="openness">
  {{> 'toggler' this}}
  <p class="closed warning {{#if checked}}hidden{{/if}}">
    {{icon 'key'}}{{I18n 'admins have to accept or refuse requests to join the group'}}
  </p>
  <p class="opened warning {{#unless checked}}hidden{{/unless}}">
    {{icon 'globe'}}{{I18n 'anyone can join the group, no admin validation is required.'}}
  </p>
</div>