<div class="searchability">
  {{partial 'toggler' this}}
  <p class="warning {{#if checked}}hidden{{/if}}">
    {{icon 'lock'}}{{i18n 'only those who get the link or are invited can find the group'}}
  </p>
</div>