<div class="searchability">
  {{> 'toggler' this}}
  <p class="searchable warning {{#unless checked}}hidden{{/unless}}">
    {{icon 'search'}}{{I18n 'this group appears in public search results'}}
  </p>
  <p class="not-searchable warning {{#if checked}}hidden{{/if}}">
    {{icon 'user-secret'}}{{I18n 'only those who get the link or are invited can find this group'}}
  </p>
</div>