<div id='usersListHeader' class="listHeader">
  <h4 class="header">
    {{!-- default header that will be overriden in JS --}}
    {{i18n 'friends'}}
  </h4>
  <a class="close hidden">{{icon 'times'}}</a>
  {{partial 'network:list_toggler'}}
</div>