<div id='usersListHeader' class="listHeader">
  <h4 class="header"></h4>
  <a class="close hidden">{{icon 'times'}}</a>
  <div class="toggler">
    <a class="listToggler">{{icon 'caret-up'}}</a>
    <a class="listToggler hidden">{{icon 'caret-down'}}</a>
  </div>
</div>