@import 'modules/general/scss/utils';

p{
  background-color: blue;
  @include display-flex(row, center, center);
  .the-time{
    color: purple;
    font-weight: bold;
    background-color: salmon;
    @include radius;
    flex: 1;
    text-align: center;
  }
}
