<div class="selectContact">
  <img id="pic" src="{{picture}}">
  <span class="username">{{username}}</span>
  {{#if following}} 
    <a id="unfollow" class="tiny button success right"><i class="fa fa-check"></i></a>
  {{else}}
    <a id="follow" class="tiny button secondary right"><i class="fa fa-plus"></i></a>
  {{/if}}
</div>
