<img id="pic" class="radius" src="{{picture}}" alt="{{username}} pic">
<span class="username">{{username}}</span>
<div class="right">
  {{#if following}} 
    <a id="follow" class="tiny button success"><i class="fa fa-check"></i></a>
  {{else}}
    <a id="follow" class="tiny button secondary"><i class="fa fa-plus"></i></a>
  {{/if}}
</div>