<div class="selectUser large-9 small-9 columns">
  <img id="pic" src="{{picture}}">
  <span class="username">{{username}}</span>
</div>
<div class="large-3 small-3 columns">
  {{#if following}} 
    <a id="unfollow" class="tiny button success right"><i class="fa fa-check"></i></a>
  {{else}}
    <a id="follow" class="tiny button secondary right"><i class="fa fa-plus"></i></a>
  {{/if}}
</div>
