.notificationsSettings{
  .rest, .summary-periodicity{
    // required by rest-fog
    position: relative;
  }
  .warning{
    margin-top: 1em;
    color: white;
    background-color: $warning-color;
    width: 100%;
    text-align: center;
    @include radius;
  }
  .rest-fog, .periodicity-fog{
    background-color: rgba(white, 0.5);
  }
  .rest-fog{
    margin: -0.5em;
  }
  .warning, .rest-fog, .periodicity-fog{
    &:not(.shown){
      display: none;
    }
  }
  .email-me{
    color: grey;
  }
  hr{
    margin: 0.2em 0 0.2em 0;
    padding: 0;
    color: $dark-grey;
    opacity: 1;
  }
}

.summary-periodicity{
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    margin-top: 0.5em;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    .row{
      @include display-flex(row, center, center);
    }
    span{
      @include flex(1);
    }
    #periodicityPicker{
      max-width: 3.5em;
      margin: 0;
      padding: 0;
    }
  }
}