.profileSettings, .accountSettings{
  text-align: center;
  h3{
    margin-bottom: 0.2em;
  }
  .note{
    @include sans-serif;
    color: $grey;
    padding: 0;
    margin: 0;
  }
}

.profileSettings{
  section.geolocation{
    @include display-flex(column, center, center);
  }
  .position-status{
    margin: 1em 0;
    padding: 1em;
    background-color: inherit;
  }
  .bio-wrapper{
    button{
      max-width: 10em;
      margin: 0 auto;
    }
  }
  #bio{
    margin-bottom: 0;
  }
  .bioLimit{
    color: $grey;
    margin: 0 0.2em 0.5em 0;
    .good, .exceeded{
      display: flex;
      justify-content: flex-end;
    }
    .exceeded{
      color: red;
    }
    .counter{
      min-width: 2em;
      text-align: right;
    }
  }
  .done{
    margin: 2rem 0;
    display: inline-block;
  }
}
