.profileSettings{
  text-align: center;
  h3{
    margin-bottom: 0;
  }
  .note{
    @include sans-serif;
    color: $grey;
    padding: 0;
    margin: 0;
  }
  #passwordUpdater{
    max-width: 20em;
    input[name=username]{
      display: none;
    }
  }
  #passwordUpdater{
    margin: auto;
  }
  #updatePassword{
    @include radius;
  }
  div.forgotPassword{
    text-align: right;
    a{
      // color: $grey;
      font-size: 0.9em;
      margin-top: -1em;
    }
  }
  .alertMessageBox, .successMessageBox{
    color: white;
    // font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  .alertMessageBox{
    span, .a{
      @include radius;
      display: block;
    }
    .alert{
      width: 100%;
      background-color: $warning-color;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  .successMessageBox{
    @include radius;
    .fa{
      font-size: 2em;
      display: block;
    }
    background-color: $success-color;
    padding: 0.5em;
  }
  .position-status{
    margin-bottom: 1em;
  }
  .coordinates{
    color: grey;
    font-size: 0.8em;
  }
}

#languagePicker{
  max-width: 20em;
}

.deleteAccount{
  text-align: center;
  padding: 1em;
}