.profileSettings, .accountSettings{
  text-align: center;
  h3{
    margin-bottom: 0.2em;
  }
  .note{
    @include sans-serif;
    color: $grey;
    padding: 0;
    margin: 0;
  }
}

.profileSettings{
  .position-status{
    margin-bottom: 1em;
  }
  .coordinates{
    color: grey;
    font-size: 0.8em;
  }
  .bio-wrapper{
    button{
      max-width: 10em;
      margin: 0 auto;
    }
  }

  #saveBio{
    margin-bottom: 1em;
  }
}
