#settings{
  background-color: #e0e0e0;
  .button, .dark-grey-button{
    @include sans-serif;
    &.postfix{
      font-size: 1rem;
      // Centering vertically
      line-height: 2.3rem;
    }
  }
  .central-column{
    @include central-column(42em);
  }
  padding-top: 1em;
  section{
    margin: 1em 0;
    padding: 2em 1em;
    @include radius;
    background-color: #f4f4f4;
  }

  h3{
    text-transform: uppercase;
    font-size: 1.2em;
    @include sans-serif;
  }

  .button{
    font-weight: bold;
  }

  /*Small screens*/
  @media screen and (max-width: 500px) {
    padding-top: 0;
    .layout-title{
      text-align: center;
      @include sans-serif;
    }
    section{
      padding: 1em 0;
    }
  }

  /*Large screens*/
  @media screen and (min-width: 500px) {
    .layout-title{
      // shown on the tab
      display: none;
    }
    section{
      padding: 2em 1em;
      margin: 1.5em 0;
    }
  }
}

@import 'profile_settings';
@import 'account_settings';
@import 'notifications_settings';
@import 'data_settings';
