@import '#general/scss/utils';
fieldset{
  padding-block-start: 1.5em;
  padding-inline-start: 1.5em;
}
fieldset:first-of-type{
  padding-block-start: 0;
}
h2{
  padding-block-end: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-block-end: 0.8em;
}
@mixin settings-h3(){
  margin-block-start: 1em;
  margin-block-end: 0.2em;
  @include sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.first-title{
  margin-block-start: 0;
}

/*Small screens*/
@media screen and (width < 470px) {
  fieldset{
    padding: 1em 0;
  }
}
