@import 'app/modules/general/scss/utils';
input, textarea{
  appearance: none;
  border: 1px solid #AAA;
  margin-bottom: 0;
}
section{
  padding: 1.5em;
}
.first-section{
  padding-top: 0;
}
.text-zone{
  max-width: 25em;
  margin-bottom: 0.2em;
}
.note{
  color: $grey;
  font-size: 90%;
  margin-bottom: 1em;
}
.title{
  padding-bottom: 0.5em;
  border-bottom: 1px solid #CCC;
  margin-bottom: 0.8em;
}
.first-title{
  margin-top: 0;
}
.label{
  margin-top: 1em;
  margin-bottom: 0.2em;
  font: sans-serif;
  font-size: 110%;
  font-weight: 600;
}

/*Small screens*/
@media screen and (max-width: 470px) {
  section{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}
