<div class="row">
  <div class="small-12 large-4 large-offset-4 columns">


    <h2>Login</h2>
    <p class="lead">Already have an account?</p>
    <div class="text-center">
      <br>
      <a id="login">
        <img src="images/email_sign_in_black.png" alt="Sign in with your email">
      </a>
    </div>

    <a class="alert tiny shy" id="backToSignupOrLoginView"><i class="fa fa-arrow-left"></i> Go back</a>

  </div>
</div>