<div class="row">
  <div class="small-12 large-4 large-offset-4 columns">


    <h2 class="subheader">Login</h2>
    <div class="text-center">
      <a id="login">
        <img src="images/email_sign_in_black.png" alt="Sign in with your email">
      </a>
    </div>
    <a class="button back-button tiny" id="backToSignupOrLoginView"><i class="fa fa-arrow-left"></i></a>
  </div>
</div>