<div class="row">
  <div class="small-12 large-6 large-offset-3 columns text-center">

    <div>
      <h2>username: {{username}}<i class="fa fa-check-circle hidden"></i></h3>
      <h3 class="with-tip">Step 2: associate your account with an email</h3>
      <span data-tooltip class="has-tip tip-right" title="We use Mozilla's Persona service to identify users as we trust them more than ourselves to keep your password safe, while it doesn't require to give them any of your data."><i class="fa fa-question-circle"></i></span>
    </div>
    <div>
    </div>
    <div>
      <a id="login">
        <img src="images/email_sign_in_black.png" alt="Sign in with your email">
      </a>
    </div>
    <a class="alert tiny shy" id="backToStepOne"><i class="fa fa-arrow-left"></i> Go back to username choice</a>

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>