<div class="row text-center">

  <div class="small-12 large-6 columns">
    <h3>Create new account:</h3>
    <a id="signupWay" class="button success">Signup</a>
  </div>

  <div class="small-12 large-6 columns">
    <h3>Already have an account:</h3>
    <a id="loginWay" class="button secondary">Login</a>
  </div>

</div>