<div id="one"></div>
<div id="two">
  <div id='usersListHeader'>
    <h4 class="header"></h4>
    <a class="close hidden">{{icon 'times'}}</a>
    <div class="show-for-small-only">
      <a class="listToggler">{{icon 'caret-up'}}</a>
      <a class="listToggler hidden">{{icon 'caret-down'}}</a>
    </div>
  </div>
  <div id="usersList"></div>
  <div id="userSearch">
    <input id="userField" type="text" placeholder="{{i18n 'find friends'}}...">
  </div>
</div>