<div id="one"></div>
<div id="two">
  <div id='userListHeader'>
    <h4 class="header"></h4>
    <a class="close hidden">{{icon 'times'}}</a>
  </div>
  <div id="userList"></div>
  <div id="userSearch">
    <input id="userField" type="text" placeholder="{{i18n 'Find friends'}}...">
  </div>
</div>