<div class="userProfile">
  <a class="close">{{icon 'times'}}</a>
  {{#if picture}}
    <div class="circle-pic" style="background-image: url({{picture}})"></div>
  {{/if}}
  <h3>{{username}}</h3>
</div>