.articleLi{
  @include display-flex(row, center, space-between);
  .main{
    @include flex(1);
  }
  text-align: center;
  padding: 0.2em;
  h4{
    margin: 0;
    padding: 0;
    line-height: 1em;
  }
  .date{
    font-size: 0.7em;
    opacity: 0.8;
  }
  position: relative;
  .right-bar{
    @include position(absolute, 0, 0, 0);
    @include display-flex(column, right, flex-start);
  }
  .fa-file-text-o{
    padding: 0.5em;
    margin: -0.1em -0.1em 0 0;
    border-bottom-left-radius: $global-radius;
    background-color: $dark-grey;
    color: white;
  }
  .sitelinks{
    padding-top: 0.3em;
    margin-right: -0.1em;
    @include display-flex(column, right, flex-start);
    a{
      height: 2rem;
      width: 2rem;
      .fa-pencil{
        @include shy(0.7);
        @include display-flex(row, center, center);
        font-size: 1.5em;
        margin: auto;
        padding-top: 0.1em;
      }
      &:last-child{
        padding-top: 0.2em;
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include flex-direction(column);
  }
}