
.authorLi{
  background-color: #292929;
  margin-bottom: 1rem;
  .authorData{
    background-color: $contrast;
    margin-top: 0.5rem !important;
    .extract{
      text-align: left;
    }
    .source{
      @extend .link;
    }
  }
  .loading{
    color: $contrast;
  }
  div.more{
    @include display-flex(column, center, center);
    width: 100%;
    text-align: center;
    height: 3em;
    div.more{
    }
    a.displayMore{
      width: 100%;
      @include flex(1);
      @include display-flex(row, center, center);
      @include bg-hover($light-grey);
      // hugly margin hack to make it match the book list
      // which isnt lined up for some reason
      margin: 0 -0.2em 1em 0.2em;
    }
  }
}


.authorsBooks{
  // overriding _book_li.scss
  .bookLi{}
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  .authorLi{
    min-height: 3rem;
    padding: 1rem 2rem 1rem 2rem;
  }
  .authorData{
    margin-top: 0.2rem;
  }

  .authorsBooks{
    .bookLi{
      padding: 0rem 1rem 0rem 1rem;
    }
  }
  .extract{
    padding: 1em;
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}