.authorLi{
  background-color: #292929;
  margin-bottom: 1em;
  .authorData{
    background-color: $contrast;
    .extract{
      text-align: left;
      padding: 1em;
    }
    .source{
      @extend .link;
    }
  }
  .loading{
    color: $contrast;
  }
  div.more{
    @include display-flex(column, center, center);
    text-align: center;
    height: 3em;
    a.displayMore{
      width: 10em;
      margin: 0.2em;
      @include flex(1);
      @include radius();
      @include display-flex(row, center, center);
      @include bg-hover($light-grey);
    }
  }
}

.innerAuthorLi{
  .bookLi{
    margin: auto;
    margin-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include display-flex(row, flex-start, flex-start);
    .infobox{
      @include flex(0, 0);
      max-width: 25em;
    }
    .books{
      margin-left: 0.2em;
      margin-right: 0.2em;
      @include flex(1);
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .innerAuthorLi{
      @include display-flex(column);
    }
    .infobox{
      // center the image
      @include display-flex(column);
      img{
        margin: auto;
      }
    }
  }
}