.bookLi{
  background-color: $contrast;
  padding: 0.5rem;
  margin: 0.5rem !important;
  .columns{
    padding: 0.5rem;
  }
  .actions{}
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  .bookLi{
    .actions{
      margin-top: 1rem;
    }
    img{
      margin: 0.5rem;
    }
  }
}