$bookLiMaxWidth: 45em;

.bookLi{
  margin: 0 auto;
  &:not(:first-child){
    margin-top: 1em;
  }
  max-width: $bookLiMaxWidth;
  text-align: left;
  @include display-flex(row, center, space-around);
  background-color: $contrast;
  margin-bottom: 1em;
  @include radius();
  @include shy-border();
  .bookCover{
    max-width: 10em;
    img{
      display: block;
    }
  }
  .bookLiData{
    padding-left: 0.5em;
    padding-right: 0.5em;
    @include display-flex(column, center, center);
    h3{
      text-align: center;
      @include display-flex();
      font-size: 1.4em;
    }
    .date{
      text-align: center;
    }
  }
  .actions{
    @include display-flex(column, left, center);
    padding: 0.5em;
    > a{
      @include custom-button($light-grey, $dark-grey);
      white-space: nowrap;
      text-decoration: none;
    }
    .hasAnInstance{
      white-space: normal;
      font-size: 0.9em;
      @include bg-hover(white, 0);
      color: $grey;
      text-align: center;
    }
    .counter{
      text-align: center;
      padding: 0.4em 0.4em 0.4em 0.5em;
      @include bg-hover($light-grey);
      @include radius();
      color: $dark-grey;
      margin-left: 0.1em;
      margin-right: 0.5em;
      span{
        font-size: 1.2em;
        font-weight: bold;
      }
      &.highlight{
        @include bg-hover($secondary-color);
        color: $dark-grey;
      }
    }
  }
  .source{
    display: none;
  }
}

/*Small screens*/
@media screen and (max-width: $bookLiMaxWidth) {
  .bookLi{
    max-width: 100vw;
    @include display-flex(column);
    @include flex(1);
    margin-left: 0;
    margin-right: 0;
    .bookCover{
      max-width: 100%;
      margin: 0.2em;
    }
    img{
      max-height: 16em;
    }
    .actions{
      @include align-self(stretch);
    }
  }
}


/*Large screens*/
@media screen and (min-width: $bookLiMaxWidth) {
  .bookLi{
    .bookCover{
      margin: 1em;
    }
    .bookLiData{
      @include flex(1);
    }
    .actions{
      @include flex(0, 0, 14em);
      margin-left: auto;
    }
    img{
      max-height: 10em;
    }
  }
}