.entityCreate{
  .needed{
    font-size: 1rem;
  }
  .entityCreateForm{
    @include display-flex(row);

    /*Small screens*/
    @media screen and (max-width: $smallscreen) {
      @include flex-direction(column);
      .pics{
        padding: 1em;
        @include align-self(center);
      }
    }
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      .fields{
        @include flex(3);
      }
      .pics{
        @include flex(1);
        white-space: nowrap;
        @include display-flex(column, center, center);
        padding: 2.6em 2em 2em 2em;
        .pictures{
          text-align: center;
          img{
            max-width: 20em;
            max-height: 20em;
            padding: 1em;
          }
        }
      }
    }
  }
  .entityCreationActions{
    @include display-flex(row, center, flex-start, wrap);
  }
}
