#live-search{
  flex: 1 0 auto;
  .resultsWrapper, .sections{
    background-color: #eee;
  }
  .entitySections, .sozialSections{
    @include display-flex(row, flex-end, flex-start, wrap);
    text-align: center;
    overflow-x: auto;
    border-bottom: 1px solid #ccc;
  }
  .searchSection{
    min-width: $search-section-width;
    padding: 0.5em 0.2em;
    background-color: #f3f3f3;
    @include transition(background-color);
    &.included{
      background-color: #ddd;
    }
    &:hover, &.selected{
      background-color: $light-blue;
      color: white;
    }
  }
  .resultsWrapper{
    overflow: auto;
  }
  .results{
    &.loading{
      @include display-flex(row, center, center);
      height: 2.5em;
      background-color: $light-grey;
    }
  }
  &:not(.no-results){
    .no-result{
      display: none;
    }
  }
  .result{
    line-height: 1em;
    position: relative;
    // Prevent triggering horizontal scroll because of too long content
    overflow: hidden;
    a{
      @include display-flex(row, center, flex-start);
      color: $dark-grey;
    }
    .image, .type, .label, .description{
      margin-right: 0.5em;
      white-space: nowrap;
      flex: 0 0 auto;
    }
    .description{
      flex: 0 1 auto;
      overflow: hidden;
    }
    .image{
      margin-right: 0.3em;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center center;
    }
    .type, .description{
      color: grey;
      font-size: 0.9em;
    }
    &.highlight, &:hover {
      background-color: #666;
      .label{
        color: white;
      }
      .type, .description{
        color: #bbb;
      }
    }
  }
  .no-result{
    @include bg-hover(white);
    cursor: pointer;
    text-align: center;
    color: $grey;
    padding: 1em;
  }
  .loaderWrapper{
    @include display-flex(row, center, center);
  }
  .small-loader{
    margin: 1em;
    color: $grey;
  }
  .alternatives{
    background-color: #dadada;
    opacity: 0;
    @include transition(opacity, 0.3s);
    padding: 0.2em 0.5em;
    &.shown{
      @include display-flex(row, center, center, wrap);
      opacity: 1;
    }
    .label{
      color: $dark-grey;
    }
  }
  .propositions{
    flex: 1 0 auto;
    @include display-flex(row, center, flex-end);
    a{
      @include display-flex(row, center, center);
      padding: 0.2em 0;
      margin: 0.2em 0;
      min-width: 7em;
      text-align: center;
      @include tiny-button-color($dark-grey, white);
    }
  }
  .shortcuts{
    @include position(fixed, $topbar-height, 0);
    background-color: rgba($dark-grey, 0.6);
    @include radius;
    margin: 2em 1.5em;
    color: white;
    @include display-flex(column);
    opacity: 0;
    @include transition(opacity);
    &.shown{
      opacity: 1;
    }
    li{
      margin: 0.5em;
      @include display-flex(row, center, flex-start);
      .key{
        @include display-flex(row, center, flex-start);
        background-color: #555;
        padding: 0.2em;
        @include radius;
        width: 5em;
        margin-right: 0.5em;
        font-weight: bold;
      }
      .symbol{
        width: 1em;
        font-size: 1.2em;
        text-align: center;
        margin-left: 0.2em;
        margin-right: 0.4em;
      }
    }
  }
  .searchSettingsTogglerWrapper{
    @include display-flex(row, center, flex-end);
    display: none;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .alternatives{
      .label{
        color: $dark-grey;
      }
      background-color: white;
    }
    .shortcuts{
      display: none;
    }
  }
  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    height: 100%;
    @include display-flex(column);
    .propositions{
      justify-content: center;
    }
    .sections{
      flex: 0 0 auto;
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: 5 * $search-section-width) {
    .searchSection{
      flex: 1 0 0;
    }
  }

  /*Medium to Large screens*/
  @media screen and (min-width: $smaller-screen) {
    .resultsWrapper{
      max-height: 60vh;
    }
    .loaderWrapper:not(:empty){
      height: 60vh;
    }
  }

  /*Very Small screens*/
  @media screen and (max-height: 500px), (max-width: 500px){
    .searchSettingsTogglerWrapper{
      margin-top: auto;
      @include display-flex(row, center, center);
    }
    .searchSettingsToggler{
      flex: 1 0 auto;
      height: 2.5em;
      @include display-flex(row, center, center);
      background-color: #f3f3f3;
      padding: 0.4em 0.2em;
      margin: 0.1em 1em 0 1em;
      @include radius-top(5px);
      @include radius-bottom(0);
      .fa{
        font-size: 1.5rem;
      }
      .fa-chevron-up{
        @include transition(transform, 0.5s);
        margin-top: -0.2em;
      }
      .label{
        padding-left: 0.2em;
        padding-right: 0.5em;
      }
    }
    .sections, .alternatives{
      // A max-height is required for the transition:
      // it is set to be just a bit heigher than the height=auto would likely be,
      // but not too much, otherwise the transition starts from too far, and there is a delay
      max-height: 12em;
      @include transition(all, 0.5s);
    }
    .alternatives:not(.shown){
      display: none;
    }
    &.settingsShown{
      .resultsWrapper{
        display: none;
      }
      .searchSettingsToggler{
        .fa-chevron-up{
          margin-top: 0.2em;
          transform: rotateX(180deg);
        }
      }
    }
    &:not(.settingsShown){
      .resultsWrapper{
        order: -1;
      }
      .sections, .alternatives{
        max-height: 0;
        padding: 0;
      }
    }
  }
}

// The top-bar gives it a positive z-index, and it sould be displayed just below
#overlay{
  z-index: -1;
}
