#live-search{
  background-color: white;
  .filters{
    @include display-flex(row, flex-end, space-around, wrap);
  }
  .checkbox-wrapper{
    @include display-flex(row, center, flex-start);
    width: auto;
  }
  .results{
    max-height: 60vh;
    overflow: auto;
  }
  &:not(.results-0){
    .no-result{
      display: none;
    }
  }
  .result{
    margin-bottom: 0.1em;
    line-height: 1em;
    position: relative;
    a{
      @include display-flex(row, center, flex-start);
      color: $dark-grey;
      padding: 0.5em 1em;
    }
    .image, .type, .label, .description{
      margin-right: 0.5em;
      white-space: nowrap;
      flex: 0 0 auto;
    }
    .description{
      flex: 0 1 auto;
      overflow: hidden;
    }
    .image{
      width: 3em;
    }
    .type, .description{
      color: grey;
      font-size: 0.9em;
    }
    &.highlight, &:hover {
      background-color: #666;
      .label{
        color: white;
      }
      .type, .description{
        color: #bbb;
      }
    }
  }
  .no-result{
    text-align: center;
    color: $grey;
  }
}

// The top-bar gives it a positive z-index, and it sould be displayed just below
#overlay{ z-index: -1; }
