#live-search{
  .results, .filters{
    background-color: white;
  }
  .filters{
    @include display-flex(row, flex-end, space-around, wrap);
    text-align: center;
  }
  .searchFilter{
    flex: 1 0 0;
    min-width: 4em;
    padding: 0.5em 0.2em;
    background-color: #f3f3f3;
    @include transition(background-color);
    &:hover, &.selected{
      background-color: $light-blue;
      color: white;
    }
  }
  .results{
    max-height: 60vh;
    overflow: auto;
    &.loading{
      @include display-flex(row, center, center);
      height: 2.5em;
      background-color: $light-grey;
    }
  }
  &:not(.results-0){
    .no-result{
      display: none;
    }
  }
  .result{
    line-height: 1em;
    position: relative;
    // Prevent triggering horizontal scroll because of too long content
    overflow: hidden;
    a{
      @include display-flex(row, center, flex-start);
      color: $dark-grey;
    }
    .image, .type, .label, .description{
      margin-right: 0.5em;
      white-space: nowrap;
      flex: 0 0 auto;
    }
    .description{
      flex: 0 1 auto;
      overflow: hidden;
    }
    .image{
      margin-right: 0.3em;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center center;
    }
    .type, .description{
      color: grey;
      font-size: 0.9em;
    }
    &.highlight, &:hover {
      background-color: #666;
      .label{
        color: white;
      }
      .type, .description{
        color: #bbb;
      }
    }
  }
  .no-result{
    @include bg-hover(white);
    cursor: pointer;
    text-align: center;
    color: $grey;
    .extended-search{
      text-decoration: underline;
      padding-bottom: 0.2em;
    }
  }
  .alternatives{
    padding: 0.2em 0.5em;
    display: none;
    &.shown{
      @include display-flex(row, center, center, wrap);
    }
    .label{
      color: white;
    }
  }
  .propositions{
    flex: 1 0 auto;
    @include display-flex(row, center, flex-end);
    a{
      @include display-flex(row, center, center);
      padding: 0.2em 0.5em;
      margin: 0.2em;
      min-width: 7em;
      text-align: center;
      @include tiny-button-color($dark-grey, white);
    }
  }
  .shortcuts{
    @include position(fixed, $topbar-height, 0);
    background-color: rgba($dark-grey, 0.6);
    @include radius;
    margin: 2em 1.5em;
    color: white;
    @include display-flex(column);
    li{
      margin: 0.5em;
      @include display-flex(row, center, flex-start);
      .key{
        @include display-flex(row, center, flex-start);
        background-color: #555;
        padding: 0.2em;
        @include radius;
        width: 5em;
        margin-right: 0.5em;
        font-weight: bold;
      }
      .symbol{
        width: 1em;
        font-size: 1.2em;
        text-align: center;
        margin-left: 0.2em;
        margin-right: 0.4em;
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .shortcuts{
      display: none;
    }
  }
}

// The top-bar gives it a positive z-index, and it sould be displayed just below
#overlay{ z-index: -1; }
