#live-search{
  background-color: white;
  .filters{
    @include display-flex(row, flex-end, space-around, wrap);
    text-align: center;
  }
  .searchFilter{
    flex: 1 0 0;
    padding: 0.5em 0.2em;
    background-color: #f3f3f3;
    @include transition(background-color);
    &:hover, &.selected{
      background-color: $light-blue;
      color: white;
    }
  }
  .results{
    max-height: 60vh;
    overflow: auto;
  }
  &:not(.results-0){
    .no-result{
      display: none;
    }
  }
  .result{
    line-height: 1em;
    position: relative;
    a{
      @include display-flex(row, center, flex-start);
      color: $dark-grey;
    }
    .image, .type, .label, .description{
      margin-right: 0.5em;
      white-space: nowrap;
      flex: 0 0 auto;
    }
    .description{
      flex: 0 1 auto;
      overflow: hidden;
    }
    .image{
      margin-right: 0.3em;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center center;
    }
    .type, .description{
      color: grey;
      font-size: 0.9em;
    }
    &.highlight, &:hover {
      background-color: #666;
      .label{
        color: white;
      }
      .type, .description{
        color: #bbb;
      }
    }
  }
  .no-result{
    text-align: center;
    color: $grey;
  }
}

// The top-bar gives it a positive z-index, and it sould be displayed just below
#overlay{ z-index: -1; }
