// SEARCH

@import "book_li";
@import "author_li";


#localSearchGroup{
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 30em;
  margin: 0 auto;
  input{
    @include shy-border(0.4);
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    margin-top: 1.5em;
    .button{
      max-width: 6em;
    }
  }
}

#searchLayout{
  text-align: center;
  margin: 1em auto;
  max-width: 70em;
  .itemsList{
    @include radius;
    width: 100%;
    margin: 0;
  }
  .authorLi{
    @include radius;
  }
  section#createGroup{
    max-width: 50em;
    margin: 0 auto;
    text-align: left;
    margin-top: 2em;
    background-color: $dark-grey;
    @include radius;
    padding: 1em;
    > h3:first-child{
      color: white;
    }
    .findByIsbn, .entityCreate{
      margin: 0;
      background-color: $light-grey;
      @include radius;
      margin: 1em 0em 1em 0em;
      padding: 1em;
    }
    #findByIsbn{
      #isbnGroup{
        max-width: 25em;
      }
    }
    #create{}
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    section#results{
      > div:not(:empty){
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    .authorLi{
      padding: 1em;
    }
    .itemsList{
      padding: 1em;
    }
  }
}