body {
  background: $main-bg;
  ul{
    list-style-type: none;
    margin: 0;
  }
  li{
    margin: 0;
  }
}


#name{
  font-weight: 900;
}

.yellow{
  background-color: #FFD402;
  &:hover{
    background-color: darken(#FFD403, 20%)
  }
}

#personaButton{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input-alert{
  margin-top: -1rem;
}

.with-tip{
  display: inline;
}
.has-tip{
  display: inline-block;
}

.big{
  font-size: 5rem;
  padding: 1rem;
}

.grey{
  color: #888;
}

.fa-question-circle{
  // font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.fa-check-circle{
  color: $success-color;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

.shy{
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.back-button{
  background-color: grey;
  .fa{
    font-size: 1rem;
  }
}

.hidden{
  display: none;
}

#itemsView{
  padding: 10px;
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

.itemtitle{
  font-size: 1.2rem;
  font-weight: bold;
}

.secondary{
  color: lighten($primary-color, 10%) !important;
}

.notfound{
  padding: 2rem;
}