body {
  background: $main-bg;
  list-style-type: none;
}

.tabs {
  .active {
    background: red;
  }
}

.error{
  // color:
}

#login{
  img{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.input-alert{
  margin-top: -1rem;
}

.with-tip{
  display: inline;
}
.has-tip{
  display: inline-block;
}

.fa-question-circle{
  // font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.fa-check-circle{
  color: $success-color;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

.shy{
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.back-button{
  background-color: grey;
  .fa{
    font-size: 1rem;
  }
}


$visibility-tabs-bg: lighten($topbar-bg-color, 80%);

#visibility-tabs{
  background-color: $visibility-tabs-bg;
  .active{
    background-color: darken($visibility-tabs-bg, 20%);
  }
  list-style-type: none;
  li{
    box-sizing: content-box;
    // box-shadow : 0.2rem 0.2rem 1rem 1rem $topbar-bg-color;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

.hidden{
  display: none;
}

#itemsView{
  padding: 10px;
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {

}

html, body, p, div, li, ul, a, input, h1, h2, h3, h4, h5{
  font-family: 'Alegreya' !important;
}

.itemtitle{
  font-size: 1.2rem;
  font-weight: bold;
}

.secondary{
  color: lighten($primary-color, 10%) !important;
}

.notfound{
  padding: 2rem;
}