figure {
  position: relative;
  margin:0;
  display: inline-block;
}

figure{
  .caption{
    opacity: 0;
  }
  .camera{
    opacity: 0.5;
  }
  &:hover{
    .caption{
      opacity: 1;
    }
    .camera{
      opacity: 0;
    }
  }
}

.caption, .camera {
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 40%;
  width: 100%;
  h5 {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    width: 100%;
  }
}

.camera {
  color: rgba(0, 0, 0, 0);
  background-color: #000;
  h5 {
    .fa{
      font-size: 1.6rem;
      color: #fff;
      // text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
  }
}
.caption {
  background-color: #333;
  h5 {
      color: #fff;
  }
}

