figure {
  margin:0;
  display: inline-block;
  .caption {
    height: 3rem;
    background-color: #333;
    h5 {
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 0.8rem;
    }
  }
}
