$main-bg: #fff;

body {
  background: $main-bg;
  main {
    padding-bottom: 2rem;
  }
  ul{
    list-style-type: none;
    margin: 0;
  }
  li{
    margin: 0;
  }
}

// COLORS MIXINS
$primary-color: #16212C;
$secondary-color: #FFD402;
$warning-color: #E13A00;
$success-color: #43AC6A;


.secondary{
  color: lighten($primary-color, 10%) !important;
}
.yellow{
  background-color: #FFD402;
  &:hover{
    background-color: darken(#FFD403, 20%)
  }
}
.grey{
  color: #888;
  &.button{
    color: white;
    background-color: #888;
  }
}

.white{
  color: #fff;
}

// OPACITY MIXINS
.hidden {
  display: none;
}

.shy{
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.focus{
  .cover, .desc{
    // -webkit-box-shadow: rgba(0, 0, 20, 0.2) 0 2px 6px 0;
    // -moz-box-shadow: rgba(0, 0, 20, 0.2) 0 2px 6px 0;
    // -ms-box-shadow: rgba(0, 0, 20, 0.2) 0 2px 6px 0;
    // -o-box-shadow: rgba(0, 0, 20, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 255, 0.3) 0 2px 6px 0;
  }
}

// SIZE MIXINS
.big{
  font-size: 5rem;
  padding: 1rem;
}
.medium{
  font-size: 2rem;
  padding: 0.2rem;
}

.fa.monospaced {
  width: 1.2rem;
  text-align: center;
}

// FORMS
$input-include-glowing-effect: false;
$button-margin-bottom: 0rem;

.alert-box{
  margin-top: -1rem;
}
.with-tip{
  display: inline;
}
.has-tip{
  display: inline-block;
}

.subheader{
  &:first-letter{
    text-transform: uppercase;
  }
}
.capitalized{
  text-transform: capitalize;
}

.linkified{
  color: #777;
}

select {
  font-family: 'FontAwesome', 'Alegreya';
  option {
    // works in Firefox not Chrome
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}


.margin-top{
  margin-top: 1rem;
}
/*Small screens*/
@media screen and (max-width: $smallscreen) {
  main{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
}