// TOP MENU
// Tabs
$tabs-navigation-active-bg-color: $main-bg;
$sub-nav-active-bg: #aaa;

// VIEW TOOLS
#viewTools{
  .button, input {
    margin: 0;
  }
  #searchField, #searchButton {
    height: 3rem;
  }
  #searchButton{
    padding-top: 0.5rem;
  }
}

// ITEMS VIEW
#itemsView{
  padding: 10px;
}

.profilePic{
  height: 2rem;
}


$item-li-height: 7rem;
.itemLiWrapper{
  height: $item-li-height;
  margin-bottom: 1rem;
  .cover{
    background-color: #eee;
  }
  .desc{
    padding: 1rem;
    background-color: #eee;
    min-height: $item-li-height
  }
  .comment{
  }
  img{
    max-height: $item-li-height;
  }
}

// SIDE MENU
$visibility-tabs-bg: #888;

#visibility-tabs{
  margin: 0;
  background-color: $visibility-tabs-bg;
  .active{
    background-color: lighten($visibility-tabs-bg, 20%);
  }
  list-style-type: none;
  li{
    color: white;
    box-sizing: content-box;
    // box-shadow : 0.2rem 0.2rem 1rem 1rem $topbar-bg-color;
    padding: 1rem 0.5rem 1rem 0.5rem;
    &:hover{
      transition: background-color 0.2s linear;
      background-color: darken($visibility-tabs-bg, 20%);
    }
  }
}

$contact-bg: #ddd;
.contactList{
  li{
    background-color: $contact-bg;
    &:hover{
        background-color: darken($contact-bg, 20%);
        transition: background-color 0.2s linear;
    }
    padding: 0.3rem;
    img{
      height: 2.5rem;
    }
    .username{
      padding-left: 0.5rem;
    }
  }
  .selectContact{
    cursor: pointer;
  }

  .selected{
    background-color: darken($contact-bg, 40%);
  }
}

#preview{
  background-color: #eee;
  .book{
    padding: 1rem;
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #itemsView{
    // keeps the #visibilityTabs on the right sidebar
    min-height: 7rem;
  }
}