.back-button{
  background-color: grey;
  .fa{
    font-size: 1rem;
  }
}

.fa-question-circle{
  // font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.fa-check-circle{
  color: $success-color;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

#personaButton{
  margin-top: 2rem;
  margin-bottom: 2rem;
}