$topbar-height: 45px;
$topbar-bg-color: $primary-color;
$topbar-title-font-size: 2rem;
$topbar-link-font-size: 1rem;


$topbar-link-bg-active: $success-color;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg-active, $lightness: -14%);

.top-bar {
  img{
    max-height: $topbar-height * 0.9;
    // margin-right: 0.5rem;
  }
  .fa{
    font-size: 1.2rem;
  }
  #name{
    font-weight: 900;
  }


}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  .top-bar{

    #searchField{
      width: 15rem;
    }
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}