#welcome-left{
  background-color: #fff;
  // height: 100%;
  // width: 50vw;
  // position: fixed;
  // z-index: -1;
  // top: 0;
  padding-top: 2rem;
  ul{
    margin-top: 2rem;
    li{
      margin: 1rem;
    }
  }
  h2{
    font-weight: 900;
  }
  #loginButtons{
    .one{
      background-color: $secondary-color;
      &:hover{
        background-color: darken($secondary-color, 10%)
      }
      a{
        color: #222;
      }
    }
    .two{
      background-color: $success-color;
      &:hover{
        background-color: darken($success-color, 20%)
      }
      a{
        color: white;
      }
    }
  }
}

#welcome-right{
  background-color: $dark-grey;
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #welcome-left {
    h2 {
      font-size: 3rem;
    }
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #welcome-left {
    // position: fixed !important;
    // top: 50%;
    // left: 25%;
    // margin-top: -40vh;
    // margin-left: -22vw;
    h2 {
      font-size: 5rem;
    }
    .pusher{
      position: fixed;
      bottom: 0;
      background-color: #fff;
      height: 100%;
      width: 50%;
      z-index: -1;
    }
  }
}