
$smallscreen: 1024px;

$main-bg: #fcfcfc url(/images/lightpaperfibers.png) repeat;

////////////////////////////////////////
////////////////////////////////////////
// Override Foundation
////////////////////////////////////////
//
// Top Bar
$topbar-bg-color: #16212C;
$topbar-title-font-size: 2rem;
$topbar-link-font-size: 1rem;

// General Colors
$primary-color: $topbar-bg-color;
$secondary-color: #FFD402;
$warning-color: #E13A00;
$success-color: #43AC6A;

// Tabs Colors
$tabs-navigation-active-bg-color: $main-bg;
$sub-nav-active-bg: #aaa;

// Grid
$row-width: 100%;
$column-gutter: rem-calc(0);

// Others
$tooltip-font-size: 1rem;


// Media Query Ranges
$small-range: (0em, 63em);
$medium-range: (63.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);
////////////////////////////////////////
////////////////////////////////////////

@import "foundation/imports";
@import "topbar";
@import "sidebar";
@import "app";
@import "fonts";
@import "small-screen-menu-fix";

// @import "debug"