$bg: white;

body {
  background-color: $bg;
}


body {
  color: #333;
}

h1 {
  width: 65%;
  margin: 2em auto 0;
  color: #efefef;
  padding: 0.25em;
  background-color: #333;
  border-radius: 7px 7px 0 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#contact-book {
  width: 65%;
  margin: 0 auto 2em;
  border: 4px solid #333;
  padding: 1em;
  border-top: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.grid {
  display: block;
  padding: 0 0;
  margin: 0 -10px;
  text-align: left;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
}

.cell {
  width: 100%;
  display: inline-block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  text-align: left;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.cell30  { width: 30%;  }
.cell50  { width: 50%;  }
.cell70  { width: 70%;  }

#contact-list {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
}

#contact-list li {
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 2px;
  background-color: #efefef;
  border: 1px solid #e0e0e0;
}

#contact-list li:hover {
  background-color: #eaeaea;
}

#roster {
  text-align: center;
}
#roster input { width: 100%; }
#roster button {
  width: 100%;
  padding: 0.25em;
  margin: 0 0 0.5em 0.25em;
}

.contact .cell input {
  width: 100%;
  margin-bottom: 0.5em;
}
