.listHeader{
  background-color: lighten($darker-grey, 2%);
  color: $grey;
  padding-left: 0.5em;
  h4{
    @include flex(0, 0);
    color: $grey;
    font-size: 1.2em;
  }
  .fa{
    font-size: 1.2em;
    text-align: right;
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include shy-border;
    height: 3em;
    .close{
      margin-left: 0.5em;
    }
    .toggler{
      margin-left: auto;
    }
    .toggler{
      .fa{
        font-size: 1.6em;
      }
    }
    cursor: pointer;
    .header{
      color: white;
    }
    &:hover{
      background-color: $darker-grey;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    height: 2em;
    .header{
      padding-top: 0.2em;
    }
    .toggler{
      display: none;
    }
    .close{
      // hacky. forcing the 'close' cross to stay inside the .listHeader
      max-height: 1.2em;
      padding-right: 0.2em;
    }
  }
}