#sideNav{
  position: fixed;
  top: $topbar-height;
  bottom: 0;
  // needed to make the shadow-box visible
  // despite the display-flex
  margin-right: 2px;

  background-color: $dark-grey;
  @include shadow-box($dark-grey, 0, 0, 5px, 2px);
}

#innerNav{
  width: 100%;
  height: 100%;
  @include flex(column, left, flex-end);
  div:first-child{
    margin-bottom: auto;
  }
  a, h3{
    color: white;
  }
  @include standard-dropdown();
}

$user-profile-height: 16em;
// one
#one{
  min-height: $user-profile-height;
}
@import 'user_profile';

// two
#two{
  @include flex(column, left, flex-start);
}

#userListHeader{
  h4{
    color: $grey;
  }
  @include flex(row, center, space-between);
  .fa{
    flex:1;
    font-size: 1.2em;
    text-align: right;
    margin-right: 0.7em;

  }
  color: $grey;
  margin-left: 0.1em;
  min-height: 1.2em;
}
#userList{
  @include flex(column, left, flex-end);
  overflow: auto;
}

#userSearch{
  min-height: 2.4em;
}

#userField{
  margin: 0;
  @include shadow-box($glow);
}
