@mixin side-buttons{
  @include position(absolute, 3px, 3px);
}

#sideNav{
  z-index: 20;
  background-color: $dark-grey;

  #innerNav{
    width: 100%;
    height: 100%;
    @include display-flex(column, left, space-between);
    a, h3{
      color: white;
    }
    // overridding the white font-color for .f-dropdown elements
    @include standard-dropdown;
  }

  $user-profile-height: 16em;

  #one{
    &.notEmpty{
      min-height: $user-profile-height;
      @include flex(0, 0);
    }
    @import 'user_profile';
    .fa{
      font-size: 1.2em;
    }
    .userProfile, .groupShow{
      @include position(relative);
    }
    .userProfile a.unselect, .groupShow .iconButtons{
      @include side-buttons;
    }
  }

  #two{
    @include flex(1);
    @include display-flex(column, left, flex-end);
    section{
      @include flex(0);
    }
    @import 'users_lists';
  }
  #groupsList{
    text-align: left;
    font-weight: bold;
    @include serif;
  }
  .noGroup{
    color: white;
    opacity: 0.2;
    font-weight: 0.6;
    text-align: center;
  }
  // #groups, #friends, #members: the strong selectors are required
  // to be stronger than 'section' display:flex rules
  #groups, #friends, #members, #userSearch, .listHeader{
    // start hidden
    display: none;
  }
}


/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #sideNav{
    margin-top: 0.2em;
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #sideNav{
    @include position(fixed, $topbar-height, null, 0);
    margin-right: 2px;
    .toggler{
      // $('.toggler').toggle|hide|show should only have effects
      // on small screens for which .togglers are intended
      // this !important is meant to make sure they wont appear on large screens
      display: none !important;
    }
    #mainUser{
      display: none;
    }
  }
  #two{
    section{
      @include display-flex(column, left, flex-end);
      @include flex(1, 1, 0);
    }
    #groupsList, #usersList, #membersList{
      overflow: auto;
      max-height: 40vh;
    }
    .userLi{
      max-width: $sideNavWidth;
    }
    .close{
      // hacky. forcing the 'close' cross to stay inside the .listHeader
      max-height: 1.2em;
    }
  }
}