.userProfile{
  background-color: $darker-grey;
  margin-top: 1px;
  // @include shadow-box($dark-grey, 0px, -2px);
  @include border($dark-grey, 1px, ridge);
  @include display-flex(column, center, center);
  a.unselectUser{
    @include align-self(flex-end);
    margin: 0.5em 0.5em -2em;
    .fa{
      font-size: 1.2em;
    }
  }

  // see .circle-pic style for the profile picture
  .circle-pic{
    @include display-flex(column, center, flex-end);
  }
  #changePicture{
    margin-top: -0.6em;
    margin-bottom: 0.5em;
    @include shy(0.4);
  }
  h3{
    margin-top: -0.2em;
    padding: 0;
    text-align: center;
  }
  .bioPlaceholder, #editBio{
    color: rgba(white, 0.5);
  }
  #editBio:hover{
    color: rgba(white, 1);
    @include transition(color);
  }
  span.bio{
    color: white;
    padding: 0.2em;
    border-radius: $global-radius;
    max-height: 7em;
    padding: 0.5em;
    overflow: auto;
  }
  textarea#bio{
    border-radius: $global-radius;
    min-width: 90%;
    max-width: 90%;
    max-height: 7em;
  }
  #cancelBio{
    @include tiny-button($warning-color);
  }
  #saveBio{
    @include tiny-button($success-color);
  }
  .userMenu{
    margin: 0.5em;
    @include shy();
    .friend{
      .fa-chevron-down{
        margin-left: 0.5em;
      }
    }
  }
}