.userProfile{
  background-color: $darker-grey;
  color: white;
  margin-top: 1px;
  @include border($dark-grey, 1px, ridge);
  @include display-flex(column, center, center);

  // see .circle-pic style for the profile picture
  .circle-pic{
    @include display-flex(column, center, flex-end);
  }
  #changePicture{
    margin-top: -0.6em;
    margin-bottom: 0.5em;
    @include shy(0.4);
  }
  .username{
    margin-top: -0.2em;
    padding: 0.2em;
    text-align: center;
    font-size: 1.6em;
    max-width: $sideNavWidth;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .stats{
    padding: 1em;
  }
  .bioPlaceholder, #editBio{
    color: rgba(white, 0.5);
  }
  #editBio:hover{
    color: rgba(white, 1);
    @include transition(color);
  }
  span.bio{
    color: white;
    padding: 0.2em;
    border-radius: $global-radius;
    max-height: 7em;
    padding: 0.5em;
    overflow: auto;
  }
  textarea#bio{
    border-radius: $global-radius;
    min-width: 90%;
    max-width: 90%;
    max-height: 7em;
  }
  #cancelBio{
    @include tiny-button($warning-color);
  }
  #saveBio{
    @include tiny-button($success-color);
  }
  .userMenu{
    margin: 0.5em;
    @include shy(0.8);
    .action:not(.friend){
      @include radius;
    }
    .friend{
      .fa-chevron-down{
        margin-left: 0.5em;
      }
    }
  }
  .userMenuWrapper{
    width: 100%;
    .userMenu{
      @include flex(row, center, center);
      .action{
        margin: 0 auto;
      }
    }
    .restricted{
      color: white;
      padding: 1em;
      text-align: center;
      background-color: #4E4E4E;
    }
  }
  .common-groups, .visited-groups{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    h4{
      color: rgba(white, 0.7);
      font-size: 0.9em;
      @include sans-serif;
    }
  }
  .showGroup{
    &:not(:hover){
      color: rgba(white, 0.8);
    }
    @include bg-hover(grey, 20%);
    @include radius;
    padding: 0.2em;
    margin: 0.2em;
  }
}