#usersListHeader{
  h4{
    color: $grey;
  }
  @include flex(row, center, space-between);
  .fa{
    flex:1;
    font-size: 1.2em;
    text-align: right;
  }
  color: $grey;
  padding: 0.5em;
  min-height: 2.4em;
}
#usersList{
  @include flex(column, left, flex-end);
  overflow: auto;
}


#userField{
  margin: 0;
  @include shadow-box($glow);
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #usersListHeader{
    cursor: pointer;
    .header{
      color: white;
    }
    &:hover{
      background-color: $darker-grey;
    }
  }
  #userSearch{}
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #usersListHeader{
  }
  #userSearch{
    min-height: 2.4em;
  }
}