.listHeader{
  background-color: lighten($darker-grey, 2%);
  color: $grey;
  padding-left: 0.5em;
  @include display-flex(row, center, flex-start);
  h4{
    color: $grey;
    font-size: 1.2em;
  }
  .fa{
    font-size: 1.2em;
    text-align: right;
  }
}
#usersList{
  @include flex(0, 1, auto);
  // avoid horizontal scroll
  // overflow: auto;
}

#userField, #memberField{
  margin: 0;
  @include shadow-box($glow);
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  .listHeader{
    @include shy-border;
    height: 3em;
    .close{
      margin-left: 0.5em;
    }
    .toggler{
      margin-left: auto;
    }
    .toggler{
      .fa{
        font-size: 1.6em;
      }
    }
    cursor: pointer;
    .header{
      color: white;
    }
    &:hover{
      background-color: $darker-grey;
    }
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  .listHeader{
    height: 2em;
    .toggler{
      display: none;
    }
  }
  .bottomSearch{
    @include flex(0, 0, 2.4em);
  }
}