#usersListHeader{
  height: 2em;
  h4{
    color: $grey;
    font-size: 1.2em;
  }
  @include display-flex(row, baseline, space-between);
  .fa{
    font-size: 1.2em;
    text-align: right;
  }
  color: $grey;
  padding-left: 0.5em;
}
#usersList{
  @include flex(0, 1, auto);
  overflow: auto;
}

#userSearch{
  #userField{
    margin: 0;
    @include shadow-box($glow);
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #usersListHeader{
    cursor: pointer;
    .header{
      color: white;
    }
    &:hover{
      background-color: $darker-grey;
    }
  }
  #userSearch{}
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #usersListHeader{
  }
  #userSearch{
    @include flex(0, 0, 2.4em);
  }
}