<div class="custom-cell authorize">
  <p class="context" dir="auto">{{{I18n 'authorization_request_context' name=name username=username domain=domain}}}</p>
  <ul class="requested-access-rights">
    {{#each requestedAccessRights}}
      <li class="access-right">{{I18n label}}</li>
    {{/each}}
  </ul>
  <div class="buttons">
    {{I18nLink 'cancel' '/' null 'cancel button soft-grey-button showHome'}}
    {{I18nLink 'allow' authorizeUrl null 'button success-button'}}
  </div>
</div>
