<select id="languagePicker" name="language" aria-label="language picker">
  {{#each languages}}
    <option value="{{lang}}" {{#if selected}}selected{{/if}}>{{lang}} - {{native}}</option>
  {{/each}}
</select>