<div class="authMenu">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'already have an account on Inventaire?'}}</h2>
    {{partial 'user:persona_button'}}
  </div>
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'otherwise'}}</h2>
    <a id="createAccount" class="secondary button">
      {{i18n 'create an account'}}
    </a>
  </div>
</div>