<label for="password">{{i18n 'password'}}</label>
<div class="passwordGroup">
  <input type="password" id="password" class="enterClick radius" {{disableAuto}}>
  <a id="showPassword">
    <span class="displayed">{{i18n 'show'}}</span>
    <span class="substitute">{{i18n 'hide'}}</span>
  </a>
</div>

<div>
  {{!-- alert-box will be appended to has-alertbox parent --}}
  <div id="finalAlertbox" class="has-alertbox"></div>
</div>