<label for="password">{{i18n passwordLabel}}</label>
<div class="passwordGroup">
  <input type="password" id="password" name="password" class="enterClick radius-left" {{disableAuto}}>
  <a class="showPassword" class="radius-right">
    <span class="displayed">{{i18n 'show'}}</span>
    <span class="substitute">{{i18n 'hide'}}</span>
  </a>
</div>

<div>
  {{!-- alert-box will be appended to has-alertbox parent --}}
  <div id="finalAlertbox" class="has-alertbox"></div>
</div>