<div class="authMenu">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'sign up'}}</h2>
    <div id="usernamePicker">
      <h3>
      {{i18n 'step 1: Choose a username'}}
      {{tip 'username_tip' 'right'}}</h3>

      {{input usernamePicker 'check'}}
    </div>
  </div>
</div>
