<div class="row">
  <div class="small-12 large-5 large-offset-4 columns pitch-bg">

    <h2 class="subheader">{{i18n 'sign up'}}</h2>


    <div id="usernamePicker">
      <h3 class="with-tip">{{i18n 'step 1: Choose a username'}}</h3>
      {{tip 'username_tip' 'right'}}
      {{input usernamePicker 'check'}}

    </div>

  </div>
</div>