<div class="row text-center">

  <div class="small-12 large-6 columns">
    <h3>{{i18n 'create new account'}}:</h3>
    <a id="signupWay" class="button success">{{i18n 'sign up'}}</a>
  </div>

  <div class="small-12 large-6 columns">
    <h3>{{i18n 'already have an account'}}:</h3>
    <a id="loginWay" class="button secondary">{{i18n 'login'}}</a>
  </div>

</div>