{{#with hash}}
  <li class="checkbox-wrapper">
    <input type="checkbox" id="checkbox-{{name}}" {{#if checked}}checked="true"{{/if}}>
    <label for="checkbox-{{name}}">{{i18n label}}</label>
  </li>
{{/with}}