{{input search}}
<section id="results">
  <div id="inventoryItems"></div>
  <div id="authors"></div>
  <div id="books"></div>
  <div id="editions"></div>
</section>

<section id="createGroup">
  <h3 class="create">
    {{i18n "couldn't find your book?"}}
  </h3>
  <div id="findByIsbn"></div>
  <div id="create"></div>
</section>
