$addLayoutWidth: 50em;

#addLayout{
  @include central-column(42em);
  text-align: center;
  .tab{
    .fa{
      margin-right: 0.5em;
    }
  }
  .custom-tabs-content{
    // Take the same color as the global background to let internal
    // layout sections have their own contrasting background
    background-color: $body-bg;
  }
  h3{
    text-align: center;
    @include sans-serif;
    color: $dark-grey;
    font-size: 1.2em;
  }
  section{
    @include display-flex(column, stretch, center);
    background-color: #fefefe;
    @include radius(4px);
    @include shy-border;
    &:not(.inner){
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    h3{
      margin-top: 1em;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .custom-tabs-content{
      // allow screen_.scrollTop to really get the top of the div
      // at the top of the screen
      min-height: 100vh
    }
  }

  /*Large screens*/
  @media screen and (min-width: $addLayoutWidth) {
    padding: 1em;
    margin: 0 auto;
    width: $addLayoutWidth;
    .custom-tabs-titles{
      // completing radius already added in custom_tabs
      @include radius-horizontal-group-bottom;
    }
    .custom-tabs-content{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@import "search";
@import "import";
@import "scan";
