$addLayoutWidth: 38em;

#addLayout{
  @include flex(1);
  section{
    background-color: #fefefe;
    @include radius(4px);
    @include shy-border;
    padding: 1em;
  }
  text-align: center;
  h2{
    font-size: 1.6em;
  }
  h3{
    @include sans-serif;
    color: $dark-grey;
    font-size: 1.2em;
  }
  section{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  /*Very Small screens*/
  @media screen and (max-width: $verysmallscreen) {
    h2{
      margin-top: 1em;
    }
    .level-1{
      @include flex-direction(column);
      .tab{
        width: 100%;
        max-width: 100%;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .custom-tabs-content{
      // allow _.scrollTop to really get the top of the div
      // at the top of the screen
      min-height: 100vh
    }
  }

  /*Large screens*/
  @media screen and (min-width: $addLayoutWidth) {
    padding: 1em;
    margin: 1em auto;
    width: $addLayoutWidth;
    .custom-tabs-titles{
      // completing radius already added in custom_tabs
      @include radius-horizontal-group-bottom;
    }
  }
}

section.scan{
  h3{
    margin-bottom: 2em;
  }
  div.scan{
    .disabled{
      color: $grey;
      .fa{
        font-size: 2em;
        display: block;
      }
    }
  }
  .dependency{
    margin-top: 1em;
  }
  .apps{
    @include display-flex(row, center, space-around);
    .fa{
      display: block;
      font-size: 3em;
    }
  }
  #scanner{
    @include custom-button($secondary-color, $dark-grey);
    font-weight: bold;
    margin-top: 1.5em;
  }
}