.candidate-row, .imported-item-row{
  background-color: #fefefe;
  @include radius(4px);
  @include shy-border;
  margin-bottom: 0.2em;
  @include display-flex(row, center, center);
}

.candidate-row{
  .checkbox-cell{
    padding: 1em;
  }
  .data{
    text-align: left;
    flex: 1 0 0;
    @include display-flex(row, center, null, wrap);
    > div{
      padding: 0 1em;
      flex: 1 0 0;
      @include display-flex(row, center, flex-start);
    }
    .label{
      color: $grey;
      margin-right: 0.5em;
    }
    /*Small screens*/
    @media screen and (max-width: $smaller-screen) {
      flex-direction: column;
      padding: 0.5em 0;
      display: block;
      > div{
        @include display-flex(row, center, flex-start, wrap);
        &:empty{
          display: none;
        }
      }
    }
    /*Large screens*/
    @media screen and (min-width: $smaller-screen) {
      .label{
        display: none;
      }
      > div{
        justify-content: center;
      }
    }
  }
  &.can-be-selected, &.need-info{
    cursor: pointer;
  }
  &:not(.can-be-selected):not(.need-info){
    cursor: not-allowed;
  }
  &.need-info{
    input[type='checkbox']{
      visibility: hidden;
    }
  }
  &.selected{
    background-color: rgba($success-color, 0.3);
  }
  &.invalid{
    background-color: #ddd;
    opacity: 0.8;
  }
  .invalid-isbn, .error-message{
    color: red;
  }
  .addInfo{
    text-align: center;
  }
  .remove{
    margin-right: 0.5em;
    padding: 0.5em;
    // Needed to make sure it gets the room it needs on Chrome
    display: block;
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .addInfo{
      // Display block so that the button doesn't get split into multi-lines
      display: block;
      margin: 0.2em;
    }
  }
}
