.candidate-info{
  @include display-flex(column, center, center);
  .row{
    @include display-flex(row);
    margin-right: auto;
  }
  label{
    margin-right: auto;
    font-size: 1rem;
    padding-right: 0.4em;
  }
  .tip{
    color: $grey;
    font-size: 0.9rem;
    // Aligning with the label
    padding-top: 0.05em;
  }
  .required{
    color: red;
  }
  .validateInfo, .disabledValidateInfo{
    margin: 0 auto;
    padding: 1em;
  }
  .disabledValidateInfo{
    cursor: not-allowed;
    opacity: 0.5;
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    padding: 0 0.5em;
  }
}
