.controls{
  float: right;
  border-top-left-radius: $global-radius;
  background-color: $darker-grey;
  padding: 0.4em;
  @include display-flex(row, center, flex-end);
  .layouts{
    padding-left: 0.3em;
    padding-right: 0.3em;
    @include display-flex(row, center, center);
    @include radius-horizontal-group();
    a{
      @include display-flex(row, center, center);
      .fa{
        padding-left: 0.2em;
      }
      color: white;
      padding: 0.5em;
      @include bg-hover($dark-grey);
      &.active{
        color: $darker-grey;
        background-color: $off-white;
        @include inner-shadow();
      }
    }
  }
  input.filter{
    margin: 0.2em;
    max-width: 15em;
    height: 2.3em;
    border-radius: 2em;
  }
}