$gridMinWidth: 750px;

$controlsElementMaxHeight: 2.3em;

#controls{
  @include shy(0.9);
  @include position(fixed, null, 0, 5px);
}

.controls{
  height: 100%;
  @include transition(transform, 0.2s);
  z-index: 10;
  @include radius-left();
  background-color: $darker-grey;
  @include display-flex(row, center, flex-end);
  &:not(.displayed){
    @include vendor-prefix(transform, translateX(calc(100% - 2.6em)));
    .fa-chevron-right{
      display: none;
    }
  }
  &.displayed{
    .fa-wrench{
      display: none;
    }
  }
  .showControls{
    padding: 0.8em 0 0.8em 0.6em;
  }
  .showControls .fa, .layouts .fa{
    font-size: 1.2em;
    @include text-hover(#ccc);
  }
  .innerControls{
    @include display-flex(row, center, flex-end);
    padding: 0.4em 0.4em 0.4em 0.2em;
  }
  .layouts, .transactions{
    margin-left: 0.3em;
    margin-right: 0.3em;
    @include display-flex(row, center, center);
    @include radius();
    @include radius-horizontal-group();
    a{
      @include display-flex(row, center, center);
      .fa{
        padding-left: 0.2em;
      }
      color: white;
      padding: 0.5em;
      // webkit-browsers only
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // requiered to avoid layouts buttons to appear too small
        width: 4em;
      }
    }
  }
  .layouts{
    a{
      @include bg-hover($dark-grey);
      &.active{
        color: $darker-grey;
        background-color: $off-white;
        @include inner-shadow();
      }
    }
  }
  .transactions{
    a{
      width: 48px;
      background-color: $dark-grey;
      @include transition(background-color);
      &.active{
        &.giving{
          background-color: $giving-color;
        }
        &.lending{
          background-color: $lending-color;
        }
        &.selling{
          background-color: $selling-color;
        }
        &.inventorying{
          background-color: $inventorying-color;
        }
      }
      &:hover{
        @include inner-shadow();
      }
    }
  }
  input.filter{
    margin: 0.2em;
    max-width: 15em;
    height: $controlsElementMaxHeight;
    border-radius: 2em;
  }
  /*Small screens*/
  @media screen and (max-width: $gridMinWidth) {
    display: none;
  }
}