.embedded{
  @include position(fixed, 0, 0, 0, 0, 10000);
  background-color: rgba(#222, 0.9);
  video, canvas.drawingBuffer, .loading{
    @include position(absolute, 50%, null, null, 50%);
    // centering
    transform: translate(-50%, -50%);
    // avoid scrolls
    overflow: hidden;
  }
  text-align: center;
  .loading{
    color: white;
  }
  .statusMessage{
    @include position(fixed, -100%, 2.5em, null, 2.5em);
    @include transition;
    background-color: rgba(white, 0.8);
    @include radius;
    padding: 0.4em 0.2em;
    &.shown{
      top: 1em;
    }
    &[data-type="success"]{
      background-color: rgba($success-color, 0.8);
      color: white;
    }
    &[data-type="support"], &[data-type="warning"]{
      background-color: rgba($dark-grey, 0.8);
      color: white;
    }
  }
  .bottom{
    @include position(fixed, null, 0, 0, 0);
  }
}

#shadowVideoBox{
  @include position(fixed, 50%, null, null, 50%);
  height: 480px;
  width: 640px;
  margin-top: -240px;
  margin-left: -320px;
  opacity: 0.5;
}

#shadowAreaBox{
  position: absolute;
  top: 30%;
  right: 15%;
  left: 15%;
  bottom: 30%;
  .fa-barcode{
    font-size: 220px;
    color: rgba(grey, 0.5);
    transform: scale(1.5, 1);
  }
}

#validateScan{
  &:not(.hidden){
    display: block;
  }
  margin: 1em auto;
  max-width: 10em;
  &.flash{
    @include flash($success-color);
  }
}

#closeScan{
  @include position(fixed, 0, 0);
  @include text-hover(white);
  font-size: 2em;
}
