#importLayout{
  h3{
    text-align: left;
    padding-left: 0.2em;
    font-weight: bold;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    margin: 0 0.5em;
  }
}

.importers{
  li{
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #fefefe;
    .importer-data{
      @include display-flex(row, center, flex-start, wrap);
    }
    a{
      @include text-hover(#000088, #0000ee);
    }
    .name{
      margin: 1em;
      font-weight: bold;
    }
    .format, .help{
      padding: 0;
      color: #888;
      font-size: 0.9em;
    }
    .loading{
      @include display-flex(row, center, center);
      // Prevents that the spinner moves up and down
      line-height: 0;
      .progression{
        margin-right: 0.5em;
      }
    }
  }
}

#isbnsImporter{
  @include display-flex(column);
  .loading{
    margin-bottom: 1em;
  }
  .textarea-wrapper{
    position: relative;
    padding-right: 2.2em;
    #emptyIsbns{
      position: absolute;
      padding: 0.2em;
      @include bg-hover($grey);
      top: 0;
      right: 0;
      @include radius;
      color: white;
    }
  }
  #findIsbns{
    margin: auto;
    margin-bottom: 1em;
  }
}

@import 'import_queue';
