.import-queue{
  margin-top: 3em;
  .settings{
    text-align: left;
    padding: 0 1em;
  }
  label{
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
  }
  .validation{
    padding: 1em;
    text-align: center;
  }
  .cant-import{
    color: #444;
  }
  section{
    position: relative;
  }
  .alert-box{
    margin-top: 1em;
  }
  .validation{
    margin-bottom: 1em;
  }

  .imported-items-rows-header{
    @include display-flex(row);
  }

  @import 'candidate_row';
  @import 'imported_item_row';
}

#modalContent{
  @import 'candidate_info';
}

#candidates-queue-header{
  @include display-flex(row, center, center);
  .checkbox-placeholder{
    // Empirically take as much space as candidate rows checkboxes
    width: 3.1em;
    height: 1em;
  }
  .label{
    flex: 1 0 0;
  }
  .action-placeholder{
    width: 3em;
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    display: none;
  }
}

#candidates-queue-nav{
  @include display-flex(row, center, center, wrap);
  margin-bottom: 0.2em;
  a{
    margin: 0.1em;
    flex: 1 0 0;
    padding: 0.5em;
    word-wrap: break-word;
    min-width: 10em;
    @include bg-hover(#dedede);
    @include radius;
  }
}

#lastSteps{
  margin-top: 3em;
  @include transition(visibility);
  opacity: 1;
}

.progress{
  position: relative;
  .fraction{
    font-size: 0.9em;
    padding-left: 1em;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .centered-loader{
    @include position(absolute, 0, 0, 0, 0);
    color: white;
  }
}

#addedBooks{
  margin-top: 1em;
}
