.import-queue{
  table{
    width: 100%;
    th{
      background-color: #ddd;
      input[type="checkbox"]{
        margin-top: 0.5em;
        margin-bottom: 0;
      }
    }
    tr{
      &:not(:last-child){
        border-bottom: 1px solid #bbb;
      }
    }
    .selected{
      width: 1.8em;
    }
  }
  .settings{
    text-align: left;
  }
  .checkbox-cell{
    padding: 0 0.5em;
  }
  label{
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
  }
  .validation{
    padding: 1em;
    text-align: center;
  }
  .cant-import{
    color: #444;
  }
  section{
    position: relative;
  }
  .bottom{
    padding-top: 0.5em;
    margin-bottom: -0.8em;
  }
  .alert-box{
    margin-top: 1em;
  }
  .validation{
    margin-bottom: 1em;
  }
}
#emptyQueue{
  @include shy(0.6);
  &:hover{
    span{
      @include underline;
    }
  }
}

.candidate-info{
  @include display-flex(column, center, center);
  .row{
    @include display-flex(row);
    margin-right: auto;
  }
  label{
    margin-right: auto;
    font-size: 1rem;
    padding-right: 0.4em;
  }
  .tip{
    color: $grey;
    font-size: 0.9rem;
    // Aligning with the label
    padding-top: 0.05em;
  }
  .required{
    color: red;
  }
  .validateInfo, .disabledValidateInfo{
    margin: 0 auto;
    padding: 1em;
  }
  .disabledValidateInfo{
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.progress{
  position: relative;
  .fraction{
    font-size: 0.9em;
    padding-left: 1em;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .loader{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    color: white;
  }
}