#importLayout{
  h3{
    text-align: left;
    padding-left: 0.2em;
    font-weight: bold;
  }
  section{
    margin-top: 0;
  }
  .warning:not(:empty){
    margin-top: 1em;
  }
}

.importers{
  li{
    /*Medium to Large screens*/
    @media screen and (min-width: $smaller-screen) {
      @include display-flex(row, center, space-between);
      padding: 0 1em;
    }
    /*Small screens*/
    @media screen and (max-width: $smaller-screen) {
      padding: 0.5em 1em;
    }
    p{
      width: 11em;
      font-size: 1em;
      font-weight: bold;
      text-align: left;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      line-height: 1em;
    }
    a{
      @include text-hover(#000088, #0000ee);
    }
    .format, .help{
      padding: 0;
      color: #888;
      font-size: 0.9em;
    }
    .format{
      margin-left: 0.5em;
    }
    &:not(:last-child){
      border-bottom: 1px solid #bbb;
    }
  }
}

#isbnsImporter{
  @include display-flex(column);
  #findIsbns{
    margin: auto;
    margin-bottom: 1em;
  }
}

@import 'import_queue';
