.import-queue{
  table{
    width: 100%;
    th{
      background-color: #ddd;
      input[type="checkbox"]{
        margin-top: 0.5em;
        margin-bottom: 0;
      }
    }
    tr{
      &:not(:last-child){
        border-bottom: 1px solid #bbb;
      }
    }
    .selected{
      width: 1.8em;
    }
  }
  .settings{
    text-align: left;
  }
  label{
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
  }
  .validation{
    padding: 1em;
    text-align: center;
  }
  .cant-import{
    color: #444;
  }
  section{
    position: relative;
  }
  .bottom{
    padding-top: 0.5em;
    margin-bottom: -0.8em;
  }
  .alert-box{
    margin-top: 1em;
  }
  .validation{
    margin-bottom: 1em;
  }
}
#emptyQueue{
  @include shy(0.6);
  &:hover{
    span{
      @include underline;
    }
  }
}

.progress{
  position: relative;
  .fraction{
    font-size: 0.9em;
    padding-left: 1em;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .loader{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    color: white;
  }
}