#inventoryPublicNav{
  .map-lists-wrapper{
    display: flex;
    &:not(.mainUserHasPosition){
      display: none;
    }
  }
  #mapContainer{
    z-index: 0;
    // Centering loader
    @include display-flex(row, center, center);
    background-color: $off-white;
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .map-lists-wrapper{
      flex-direction: column;
    }
    #mapContainer{
      height: 20em;
      .leaflet-control-attribution{
        display: none;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    .map-lists-wrapper{
      > div{
        flex: 1 0 0;
      }
    }
    #mapContainer{
      height: 70vh;
    }
  }
}
