#inventoryNetworkNav{
  .list-wrapper{
    @include display-flex(column);
  }
  .list-label{
    margin-bottom: 0;
    align-self: center;
  }
  .showUsersMenu, .showGroupsMenu{
    @include tiny-button($grey);
  }
  .buttons a{
    @include tiny-button($light-blue);
  }
  .showUsersMenu, .showGroupsMenu{
    align-self: center;
  }
  .buttons{
    @include display-flex(row, center, center, wrap);
    flex: 0 0 auto;
    white-space: nowrap;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .list-wrapper{
      min-width: 30em;
    }
    .buttons{
      a{
        margin: 0 0.5em;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .list-wrapper{
      margin-bottom: 0.5em;
    }
    .list-label{
      margin-bottom: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
    }
    .list-label-wrapper{
      text-align: center;
      @include display-flex(column, center, center);
      flex-direction: column;
    }
    .buttons{
      a{
        margin: 0.5em;
      }
    }
  }

  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .buttons{
      flex-direction: column;
      a{
        margin: 0.5em 0;
      }
    }
  }
}
