#inventoryUserNav{
  #controls{
    @include display-flex(row, center, flex-start);
    margin: 1em 0.5em;
    padding: 0 0.5em;
    @include radius;
    background-color: $inventory-nav-grey;
    height: 3em;
    a{
      &:not(:first-child){
        margin-left: 0.5em;
      }
      img{
        @include radius;
      }
    }
    .display-option{
      padding: 0.2em 0.4em;
      @include radius;
      background-color: white;
    }
  }
}