#inventoryNav{
  #tabs{
    @include display-flex(row, center, center);
    margin: 0.5em;
    @include radius-horizontal-group;
    a{
      flex: 1 0 0;
      @include bg-hover-lighten($dark-grey);
      color: white;
      // height: 3em;
      padding: 0.5em;
      align-self: stretch;
      @include display-flex(row, center, center);
      .fa{
        margin-right: 0.5em;
        font-size: 1.4em;
      }
      img{
        margin: 0 0.5em;
      }
    }
    &.tab-selected-user #userTab, &.tab-selected-network #networkTab, &.tab-selected-public #publicTab{
      @include bg-hover(#eee, 0);
      color: $dark-grey;
    }
  }
}
