@import "item_creation";
@import "items_list";


$tabs-navigation-active-bg-color: $tools-active-bg;
$tabs-navigation-bg-color: lighten($tools-active-bg, 20%);
$tabs-navigation-font-color: #fff;


#innerMain{
  // needed by Chrome (at least) to expand items on the whole page
  width: 100%;
  @include flex(row);
  // sideNavClones #sideNav and #shadowSideNav
  // have the same behavior but the later
  // without the fixed position so that
  // it pushes other divs under the flex constraints
  .sideNavClones{}
  #itemsView{
    @include flex-prop(1);
  }
}



/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #innerMain{
    .sideNavClones{
      width: 250px;
      @include transition(width);
    }
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #innerMain{
    flex-direction: column;
    .sideNavClones{}
  }
}

@import "../side_nav/scss/side_nav";
@import "welcoming_no_item";
