.selector-button, button{
  .count{
    color: $grey;
    font-weight: normal;
    padding-inline-start: 0.3em;
    margin-inline-end: auto;
  }
}

#shelfInfo{
  background-color: $light-grey;
}

.items-cascade-wrapper, .items-table{
  .fetchMore{
    // Give it a forced height and width so that it can trigger inview events
    height: 1em;
    width: 1em;
    margin: 1em;
    margin: auto;
  }
}

@import 'item_request_box';
@import 'item_details_box';
