#inventoryNetworkNav, #inventoryPublicNav{
  .lists{
    @include display-flex(row, null, null, wrap);
  }
  .list-wrapper{
    margin: 1em 0.5em;
  }
  .list-label{
    color: $dark-grey;
    margin-bottom: 0.5em;
  }
}
