#inventory{
  padding: 0.5em;
  background-color: white;
}

$inventory-nav-grey: #e6e6e6;

@import "inventory_nav";
@import "inventory_user_nav";
@import "inventory_network_nav";
@import "inventory_public_nav";
@import "item_creation";
@import "items_list";
@import "item_show";
@import "item_boxes";
@import "../side_nav/scss/side_nav";
@import "inventory_welcome";
@import "items_grid";
@import "add_layout";
@import "inventory_browser";
