#inventory-browser{
  #browserControls, #browser-filters{
    @include display-flex(row, center, center, wrap);
    @include radius;
    padding: 0.3em 0 0.2em 0;
    .selectors{
      @include display-flex(row, center, center, wrap);
    }
    /*Small screens*/
    @media screen and (max-width: $smaller-screen) {
    }
    /*Large screens*/
    @media screen and (min-width: $smaller-screen) {
      padding: 0 0.5em;
    }
  }

  #browserControls{
    background-color: $inventory-nav-grey;
    @include transition(opacity);
    opacity: 1;
    margin: 0.8em 0 1em 0;
    &:not(.ready){
      #browser-filters, #displayControls, #addToInventory{
        display: none;
      }
      .centered-loader{
        padding: 1em;
        color: $grey;
      }
    }
    &.ready{
      .centered-loader{
        display: none;
      }
    }
  }

  #displayControls{
    @include display-flex(row, center, flex-start);
    margin: 1em 0.5em;
    padding: 0 0.5em;
    @include radius;
    a{
      @include radius;
      height: 2em;
      width: 2em;
      @include display-flex(row, center, center);
      &:not(:first-child){
        margin-left: 0.5em;
      }
      img{
        @include radius;
      }
      &.selected{
        background-color: white;
        cursor: default;
      }
      &:not(.selected){
        color: white;
        @include bg-hover-lighten($dark-grey);
      }
    }
    /*Large screens*/
    @media screen and (min-width: $smaller-screen) {
      margin-left: auto;
    }
  }

  #addToInventory{
    margin: 0 1em;
  }

  .control-label{
    color: $grey;
    /*Large screens*/
    @media screen and (min-width: $smaller-screen) {
      margin: 1em 0.5em;
    }
  }

  @import 'filter_preview';
  @import 'browser_selector';
}

