.inventoryWelcome{
  flex: 1 1 auto;
  @include display-flex(column, center, center);
  text-align: center;
  .ideas a{
    margin: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    min-height: 50vh;
  }
}
