$map-large-screen-heigth: 70vh;

#inventoryNetworkNav, #inventoryPublicNav{
  .lists{
    @include display-flex(row);
  }
  .list-wrapper{
    margin-bottom: auto;
    background-color: $light-grey;
    @include radius;
  }
  .list-header{
    @include display-flex(row, center, space-between);
  }
  .usersLoading, .groupsLoading{
    margin-left: 1em;
    opacity: 0.6;
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .lists{
      flex-direction: column;
    }
    .map-lists-wrapper{
      flex-direction: column;
    }
    .list-wrapper{
      padding: 0.5em;
      ul{
        max-height: 15em;
        overflow-y: auto;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    .list-wrapper{
      min-width: 14em;
      padding: 1em;
      ul{
        // <ul> are the elements that needs to have a scroll
        // but it's a child of .list-wrapper which is the one
        // that should have the same height as the map container
        // .list-wrapper height = <ul> height + ~4em
        // Here, 70vh correspond to $map-large-screen-heigth
        // but it seems we can't use scss variable within a css calc function
        max-height: calc(70vh - 4em);
        overflow-y: auto;
      }
      &:not(:first-child){
        margin-left: 0.5em;
      }
    }
  }
}

@import "inventory_network_nav";
@import "inventory_public_nav";
