#inventoryNav{
  #tabs{
    @include display-flex(row, center, center);
    margin: 0.5em;
    @include radius-horizontal-group;
    a{
      flex: 1 0 0;
      @include bg-hover-lighten($dark-grey);
      color: white;
      // height: 3em;
      padding: 0.5em;
      align-self: stretch;
      @include display-flex(row, center, center);
      .fa{
        margin-right: 0.5em;
        font-size: 1.4em;
      }
      img{
        margin: 0 0.5em;
      }
    }
    &.tab-selected-user .user, &.tab-selected-network .network, &.tab-selected-public .public{
      @include bg-hover(#eee, 0);
      color: $dark-grey;
    }
  }

  #controls{
    @include display-flex(row, center, flex-start);
    margin: 1em 0.5em;
    padding: 0 0.5em;
    @include radius;
    background-color: #e6e6e6;
    height: 3em;
    a{
      &:not(:first-child){
        margin-left: 0.5em;
      }
      img{
        @include radius;
      }
    }
    .display-option{
      padding: 0.2em 0.4em;
      @include radius;
      background-color: white;
    }
  }
}
