$nav-avatar-size: 5em;

#inventoryNetworkNav, #inventoryPublicNav{
  .lists{
    @include display-flex(row, null, null, wrap);
  }
  .list-wrapper{
    margin: 1em 0.5em;
  }
  .list-label{
    color: $dark-grey;
    margin-bottom: 0.5em;
  }

  #usersList, #groupsList, #membersList{
    ul{
      padding: 0.3em 0.5em;
      @include radius;
    }
    li{
      height: $nav-avatar-size;
      flex: 0 0 $nav-avatar-size;
      @include radius;
      margin: 0.5em 0.2em;
      .info{
        padding: 0 0.2em;
      }
      position: relative;
    }
    a{
      display: block;
      height: $nav-avatar-size;
      width: $nav-avatar-size;
      background-size: cover;
      background-position: center center;
      @include radius;
    }
    .info{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      height: 1.6em;
      background-color: white;
      padding-left: 0.2em;
    }
  }
  #usersList, #groupsList{
    ul{
      background-color: #f0f0f0;
      @include display-flex(row, null, flex-start, wrap);
    }
  }
}
