$item-li-elements-height: 8rem;

#itemsView{
  display: flex;
  justify-content: center;
}
.itemsList{
  li.itemContainer{
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    div.cover{
      min-width: $profile-pic-size;
      img{
        max-height: $item-li-elements-height;
        min-width: $profile-pic-size;
      }
    }
    div.details{
      margin-left: 1rem;
      h3.title{}
      div.user-box{

        div.left-box{
        }
        div.right-box{
          span{
            background-color: $light-grey;
            padding: 0.2rem;
            display: block;
            overflow: hidden;
            &.legend{
              strong{
                color: $body-font-color;
              }
            }
            &.comment{
              padding: 0.2rem;
            }
            &.notes{}
            &.wrapped{
              max-height: 3.2rem;
            }
          }
          .notes-box{
            margin-top: 0.5rem;
          }
        }
      }
      margin-bottom: 1rem;
      .cover{
        background-color: #eee;
      }
    }
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  li.itemContainer{
    display: flex;
    div.cover{
      img{}
    }
    div.details{
      h3.title{}
      div.user-box{
        display: flex;
        flex-direction: row;
        div.left-box{}
        div.right-box{
          width: 30rem;
          span{
            &.legend{
              strong{}
            }
            &.comment{}
            &.notes{}
            &.wrapped{}
          }
          .notes-box{}
        }
      }
      .cover{}
    }
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  li.itemContainer{
    // flex-direction: column;
    div.cover{
      img{
      }
    }
    div.details{
      h3.title{}
      div.user-box{
        // flex-direction: column;
        div.left-box{
        }
        div.right-box{
          span{
            &.legend{
              strong{
              }
            }
            &.comment{
            }
            &.notes{}
            &.wrapped{
            }
          }
          .notes-box{
          }
        }
      }
      .cover{
      }
    }
  }
}