@import 'item_user_box';

.itemBox > .remove{
  margin-top: 1em;
  @include dangerous-action;
  flex: 1 1 auto;
  width: 100%;
  height: $user-box-heigth;
  @include display-flex(row, center, center);
}
.itemBox:not(:empty), .busy-box, .mainUserRequested{
  min-height: $user-box-heigth;
  width: 100%;
  @include display-flex(row, center, center);
}
.busy-box{
  background-color: #444;
  color: white;
}
.mainUserRequested{
  @include inner-shadow(1px, 1px, 3px, 2px, rgba(grey, 0.2));
  @include bg-hover(white, 5%);
}
.item-settings{
  text-align: center;
  div{
    background-color: $off-white;
    flex: 1 1 auto;
    height: 100%;
    @include display-flex(row, center, center);
    color: $dark-grey;
    ul{
      padding: 0.2em;
      text-align: left;
    }
    a, button{
      color: $dark-grey;
      font-weight: normal;
    }
  }
  .dropdown-wrapper [role="menu"]{
    border-top: 0;
  }
}

.itemCard, .mixedBox{
  @mixin box-color($color, $white-text:1){
    background-color: lighten($color, 2%);
    @if $white-text { @include white-text; }
  }
  @import 'item_transaction_box';
  @import 'item_listing_box';
}
