.transactionBox{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  li.capitalized{
    color: $dark-grey;
  }
  &.giving{
    background-color: lighten($giving-color, 2%);
    @extend .currentWhite;
  }
  &.lending{
    background-color: lighten($lending-color, 2%);
    @extend .currentWhite;
  }
  &.selling{
    background-color: lighten($selling-color, 2%);
    @extend .currentWhite;
  }
  &.inventorying{
    background-color: lighten($inventorying-color, 2%);
    @extend .currentWhite;
  }
}