$user-box-heigth: 3em;
a.user{
  width: 100%;
  &:hover{
    .username{
      @include link;
    }
  }
}
.userBox, .mixedBox{
  text-align: left;
  width: 100%;
  overflow: hidden;
  height: $user-box-heigth;
  background-color: $main-bg;
  @include display-flex(row, center, flex-start);
  .userShow{
    @include flex(0, 0, $user-box-heigth);
    .profilePic{
      height: $user-box-heigth;
      width: $user-box-heigth;
    }
  }
}
.userBox{
  .user{
    max-height: $user-box-heigth;
    @include display-flex(column, left, space-between);
    strong{
      margin-left: 0.4em;
    }
    .time{
      margin-left: 0.4em;
      color: $grey;
      overflow: hidden;
    }
  }
}
.mixedBox{
  .itemShow{
    @include flex(1);
    @include display-flex(row, center, space-between);
    .transactionBox{
      @include flex(1);
      height: 100%;
      @include display-flex(row, center, center);
      .fa{
        // centering
        padding-left: 0.2em;
        font-size: 1.5em;
      }
    }
  }
}
.labelBox{
  @include display-flex(row, center, center);
  text-align: center;
  height: $user-box-heigth;
  background-color: #eee;
  width: 100%;
  overflow: hidden;
  .label{
    color: #444;
  }
}
