.items-table{
  position: relative;
  background-color: $inventory-nav-grey;
  #table-header{
    @include display-flex(row);
    padding: 0.5em;
    background-color: $inventory-nav-grey;
    button, .selector-label{
      padding: 0.5em 1em;
      margin: 0 0.5em;
      text-align: center;
      @include bg-hover(white);
      font-weight: bold;
    }
  }
  .dropdown-label{
    margin-left: 0.5em;
  }
  @import 'item_row';

  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    #table-header{
      position: sticky;
      top: $topbar-height;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    #table-header{
      flex-direction: column;
      align-items: stretch;
      > button, > div{
        margin: 0.5em 0;
      }
      .selector-label{
        margin: 0;
      }
    }
  }
}
