// This module is already imported in #itemShowLayout{}
// so no need to wrap everything in #itemShowData{}, it would be an overkill
.item-settings{
  @include display-flex(row, center, center, wrap);
  label{
    text-align: left;
    width: 100%;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    @include display-flex(column, stretch, center);
    padding-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    padding: 1em 0;
    .transactionBox, .listingMenu{
      flex: 1 0 0;
    }
    .transactionBox{
      margin-right: 0.5em;
    }
    // The .transactionBox is not displayed when the listing is private
    // so no need for a margin
    .listingMenu:not(.private){
      margin-left: 0.5em;
    }
  }
}
.transactionPreview{
  max-width: 15em;
  .showTransaction{
    @include display-flex(row, center, space-between);
    @include bg-hover($light-grey);
    padding-right: 0.2em;
  }
}
.panel{
  border: 0;
}

.detailsPanel{
  background-color: $off-white;
  label{
    color: $dark-grey;
    cursor: pointer;
  }
}

.mainUserRequested{
  // transactions are already listed in the transactionsRegion
  display: none;
}

.noteBox{
  a, span, label, p{
    color: white;
    &:hover{
      color: white;
    }
  }
}

.shelvesPanel{
  background: $off-white;
  margin: 1em 0;
  @include display-flex(column);
  label{
    height: 3em;
    padding: 1em;
  }
  .toggleShelvesExpand{
    flex: 1;
  }
  .fa-chevron-down{
    padding: 0.3em;
    @include transition(transform, 0.3s);
  }
  ul{
    max-height: 200em;
    overflow: auto;
    @include transition(max-height, 0.3s);
  }
  .shelfSelector{
    height: 3em;
    margin: 0.2em 0;
    @include transition(height, 0.3s);
    overflow: hidden;
  }
  &.main-user-mode{
    .shelfSelector{
      padding: 0 0.5em;
    }
  }
  &:not(.main-user-mode){
    margin: 1em 0;
    .picture{
      margin-left: 0;
    }
    .toggleShelvesExpand{
      display: none;
    }
  }
  .toggleShelvesExpand{
    font-size: 1.2em;
  }
  &:not(.expanded){
    .toggleShelvesExpand{
      @include bg-hover($off-white, 5%);
    }
    .shelfSelector:not(.selected){
      height: 0;
      margin: 0;
    }
    ul{
      max-height: 25em;
      overflow: auto;
    }
  }
  &.expanded{
    .fa-chevron-down{
      transform: rotateX(180deg);
    }
  }
}

.indicator{
  .fa{
    // Making details and notes indicator take the same space
    // so that it looks pretty much aligned
    width: 1.4em;
    text-align: center;
  }
}

@import 'item_transactions';
