// largely inspired from http://demosthenes.info/blog/825/Pinterest-Style-Column-Layout-In-Pure-CSS
.itemsList{
  @include vendor-prefix(column-gap, 15px);
  width: 95%;
  margin: 1em auto;
  figure {
    width: 100%;
    @include vendor-prefix(column-break-inside, avoid);
    margin-bottom: 1em;
    @include flex(column, center);
    // background-color: $dark-grey;
    figcaption{
      text-align: left;
      width: 100%;
      text-align: center;
      font-size: 1.2em;
    }
    img:not(.profilePic) {
      width: 100%;
      height: auto;
      max-height: 20em;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin-bottom: 5px;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    figure { width: 100%; }
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
  }
}

$columnWidth: 200px;
.columnsLayout{
  @include vendor-prefix(column-width, $columnWidth);
}

@import "item_elements";
@import "items_list_compacted";