#itemShowLayout{
  .userBox{
    .profilePic{
      // required in Chromium
      min-width: $user-box-heigth;
    }
    span.user{
      width: 100%;
    }
    .username{
      text-align: center;
    }
  }
  .transactionBox, .listingBox{
    button[aria-haspopup="menu"]{
      flex: 1 1 auto;
      height: 100%;
      // required in Chromium
      min-height: $user-box-heigth;
      @include display-flex(row, center, center);
      border-top: 1px solid #fefefe;
      padding: 0;
    }
    ul[role="menu"]{
      width: 100%;
      @include shadow-box($dark-grey);
    }
    .icon{
      flex: 0 0 auto;
      @include display-flex(row, center, center);
      height: 100%;
      width: $user-box-heigth;
      // required in Chromium
      min-height: $user-box-heigth;
    }
    .rest{
      flex: 1 1 auto;
      .fa-caret-down{
        padding-left: 0.5em;
      }
    }
    &:focus{
      background-color: $soft-grey;
      button[aria-haspopup="menu"]{
        background-color: none;
      }
    }
  }
  @mixin box-color($color, $white-text:1){
    .icon{
      background-color: lighten($color, 2%);
      @if $white-text { @include white-text; }
    }
  }
  @import 'item_transaction_box';
  @import 'item_listing_box';
}
