// itemContainer internal settings
// for itemContainer positioning, see items_list
.itemContainer{
  @include display-flex(column, center);
  figcaption{
    text-align: left;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
  }
  img:not(.profilePic) {
    width: 100%;
    // height: auto;
    max-height: 20em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  .cover{
    img{
      // max-height: 7em;
    }
  }
  figcaption{
    h3.title{
      font-size: 1.2em;
      line-height: 1em;
      margin: 0;
      padding: 0;
    }
    .authors{
      font-size: 0.9em;
      color: $dark-grey;
      // forcing the height so that masonry height calucations
      // won't be disturbed by qlabel data arriving
      height: 1.3em;
      width: 100%;
      .wd-P{
        display: none;
      }
    }
    max-height: 3.9em;
    overflow: hidden;
    margin-bottom: 0.5em;
  }
}

$user-box-heigth: 3em;
.userBox{
  text-align: left;
  width: 100%;
  height: $user-box-heigth;
  background-color: $main-bg;
  @include display-flex(row, center);
  .user{
    max-height: $user-box-heigth;
    @include display-flex(column, left, space-between);
    .profilePic{
      height: $user-box-heigth;
      width: $user-box-heigth;
    }
    strong{
      margin-left: 0.4em;
    }
    .time{
      margin-left: 0.4em;
      color: $grey;
      overflow: hidden;
    }
  }
}
.itemBox{
  min-height: $user-box-heigth;
  width: 100%;
  @include display-flex(row, center, center);
}
.currentWhite{
  color: white;
  a.current{
    color: white;
  }
}
.settings{
  div{
    background-color: $main-bg;
    @include flex(null, null, auto);
    height: 100%;
    @include display-flex(row, center, center);
    color: $dark-grey;
    ul{
      padding: 0.2em;
      text-align: left;
    }
    a{
      color: $dark-grey;
    }
  }
  .listingMenu{
    height: $user-box-heigth;
    &.private{
      background-color: $dark-grey;
      @extend .currentWhite;
    }
    &.friends{
      background-color: $grey;
      @extend .currentWhite;
    }
    &.public{
      background-color: $light-grey;
    }
  }
}
.itemContainer{
  .transactionMenu, .listingMenu{
    .label{
      display: none;
    }
  }
}
.transaction, .transactionMenu{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  &.giving{
    background-color: $giving-color;
    @extend .currentWhite;
  }
  &.lending{
    background-color: $lending-color;
    @extend .currentWhite;
  }
  &.selling{
    background-color: $selling-color;
  }
  &.inventorying{
    background-color: $inventorying-color;
    @extend .currentWhite;
  }
}

a.requestItem{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  @include bg-hover($off-white, 3%);
  width: 100%;
  @include display-flex(row, center, center);
}

.comments-box{
  text-align: left;
  width: 100%;
  span{
    background-color: $main-bg;
    display: block; // needed for the comment wrapping!!
    overflow: hidden;
    text-align: left;
    margin-top: 1em;
    padding: 0.2em;
    &.wrapped{
      max-height: 4.6em;
    }
  }
  .wrapper{}
}