.itemsGrid{
  overflow: auto;
  width: 100%;
  table{
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
  }
  thead{
    background-color: #f9f9f9;
    color: $grey;
    font-weight: normal;
    text-transform: uppercase;
    @include sans-serif();
  }
  th{
    vertical-align: bottom;
    text-align: center;
  }
  tr{
    border-bottom: 1px solid black;
    text-align: left;
  }
  th, td{
    padding-left: 0.2em;
    padding-right: 0.2em;
    overflow: hidden;
    line-height: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom: 1px solid #DDD;
  }
  .title{
    padding-left: 1em;
  }
  .authors{
    max-width: 8em;
  }
}