$username-color: #333;
a.user{
  width: 100%;
  .username{
    color: $username-color;
  }
  &:hover{
    .username{
      @include link;
    }
  }
}
.userBox, .mixedBox{
  text-align: left;
  width: 100%;
  overflow: hidden;
  height: $user-box-heigth;
  background-color: $main-bg;
  @include display-flex(row, center, flex-start);
  .userShow{
    flex: 0 0 $user-box-heigth;
    .profilePic{
      height: $user-box-heigth;
      width: $user-box-heigth;
    }
  }
}
.userBox{
  .user{
    max-height: $user-box-heigth;
    @include display-flex(column, left, space-between);
    strong{
      margin-left: 0.4em;
    }
    .time{
      margin-left: 0.4em;
      color: $grey;
      overflow: hidden;
    }
  }
}
.mixedBox{
  .itemShow{
    flex: 1 1 auto;
    @include display-flex(row, center, space-between);
    .transactionBox{
      flex: 1 1 auto;
      height: 100%;
      @include display-flex(row, center, center);
      .fa{
        // centering
        padding-left: 0.2em;
        font-size: 1.5em;
      }
    }
  }
}
.labelBox{
  // wrapping combined with overflow:hidden hides .distance
  // if there isn't enough room for it
  @include display-flex(column, center, center, wrap);
  overflow: hidden;
  text-align: center;
  height: $user-box-heigth;
  background-color: #eee;
  width: 100%;
  .label{
    color: #444;
    strong{
      color: $username-color;
      @include serif;
    }
  }
  position: relative;
  .distance{
    font-size: 0.9em;
    line-height: 0.5em;
    color: #888;
  }
}
