a.requestItem{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  @include bg-hover($off-white, 3%);
  width: 100%;
  @include display-flex(row, center, center);
}
