.transactionBox{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  li.capitalized{
    color: $dark-grey;
  }
  &.giving, .giving{ @include box-color($giving-color); }
  &.lending, .lending{ @include box-color($lending-color); }
  &.selling, .selling{ @include box-color($selling-color); }
  &.inventorying, .inventorying{ @include box-color($inventorying-color); }
}