.item-card-box{
  flex: 1;
  :global(.dropdown-button){
    padding: 0;
  }
  &.large{
    .icon{
      width: $user-box-heigth;
    }
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      &:not(:first-child){
        margin-left: 0.5em;
      }
      &:not(:last-child){
        margin-right: 0.5em;
      }
    }
    /*Small screens*/
    @media screen and (max-width: $below-small-screen) {
      &:not(:last-child){
        margin-bottom: 1em;
      }
    }
  }
  &:not(.large){
    .icon{
      flex: 1;
    }
  }
}
[slot="button-inner"]{
  flex: 1;
  @include display-flex(row, center, center);
  // Just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
}
[slot="dropdown-content"]{
  @include shy-border;
  background-color: white;
}
.icon{
  @include display-flex(row, center, center);
  height: 100%;
  // required in Chromium
  min-height: $user-box-heigth;
}
.rest{
  flex: 1 1 auto;
  @include display-flex(row, center, center);
  align-self: stretch;
  background-color: #f5f5f5;
  :global(.fa-caret-down){
    padding-left: 0.5em;
  }
}
