.detailsBox{
  background-color: rgba($off-white, 0.7);
  padding: 0.4em;
  text-align: start;
  width: 100%;
  .more{
    padding-inline-end: 0.2em;
    float: right;
    @include text-hover($grey);
    @include underline(rgba($grey, 0.4));
  }
}