.items-table{
  position: relative;
  background-color: $inventory-nav-grey;
  #table-actions:not(.hidden){
    @include display-flex(row);
    background-color: $inventory-nav-grey;
    position: sticky;
    bottom: 0;
    // Required for unclear reasons to allow .dropdown divs to appear
    // above .item-row elements
    z-index: 1;
    button{
      text-align: center;
      font-weight: bold;
      line-height: 1.6em;
    }
    #selectAll, #unselectAll{
      @include bg-hover(white);
    }
    #editSelection{
      @include bg-hover($light-blue);
      &, .count{
        color: white;
      }
    }
  }

  .dropdown-label{
    margin-left: 0.5em;
  }

  /*Medium and Large screens*/
  @media screen and (min-width: 800px) {
    #table-actions:not(.hidden){
      padding: 0.5em;
    }
    button{
      padding: 0.5em 1em;
      margin: 0 0.5em;
    }
  }

  /*Small screens*/
  @media screen and (max-width: 800px) {
    #table-actions:not(.hidden){
      @include shy-border;
      align-items: stretch;
      flex-wrap: wrap;
    }
    #selectAll, #unselectAll, #editSelection{
      @include radius(0);
      padding: 0.5em 0;
    }
    #selectAll, #unselectAll{
      // Prefer to `width: 50%` to prevent horizontal scroll
      flex: 1 0 40%;
    }
    #editSelection{
      // Prefer to `width: 100%` to prevent horizontal scroll
      flex: 1 0 80%;
    }
    #selectAll .count{
      display: none;
    }
  }
}

@import 'item_row';
@import 'items_table_selection_editor';
