.detailsBox{
  background-color: rgba($main-bg, 0.7);
  padding: 0.4em;
  text-align: left;
  width: 100%;
  .more{
    padding-right: 0.2em;
    float: right;
    @include text-hover($grey);
    @include underline(rgba($grey, 0.4));
  }
}