$item-li-elements-height: 8rem;

#itemsView{
  display: flex;
  justify-content: center;
  .itemsList{
    li.itemContainer{
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 0.5rem;
      display: flex;
      div.cover{
        min-width: $profile-pic-size;
        img{
          max-height: $item-li-elements-height;
          min-width: $profile-pic-size;
        }
      }
      div.details{
        margin-left: 1rem;
        h4.title{}
        div.user-box{
          display: flex;
          flex-direction: row;
          div.left-box{
          }
          div.right-box{
            width: 30rem;
            span{
              background-color: $light-grey;
              padding: 0.2rem;
              display: block;
              overflow: hidden;
              &.legend{
                strong{
                  color: $body-font-color;
                }
              }
              &.comment{
                padding: 0.2rem;
              }
              &.notes{}
              &.wrapped{
                max-height: 3.2rem;
              }
            }
            .notes-box{
              margin-top: 0.5rem;
            }
          }
        }
        margin-bottom: 1rem;
        .cover{
          background-color: #eee;
        }
      }
    }
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}