#itemShowLayout{
  #itemData{
    flex: 1;
  }
  @import 'item_show_data';
  #entityData{
    #work, #edition{
      @extend .dark-panel;
    }
    #edition{
      background-color: lighten($dark-grey, 20%);
      &:empty{
        display: none;
      }
    }
  }
  @include display-flex(column, center, center);
  > div{
    width: 100%;
    max-width: 50em;
    textarea{
      @include radius;
    }
  }
  .button-group{
    margin-bottom: 1em;
  }
}
