$itemContainerBaseWidth: 250px;
$multicolumnsThreshold: $itemContainerBaseWidth * 2 + 10px;


.itemsListWrapper{
  @include display-flex(column, center, center);
  @include flex(1);
}
.itemsList{
  /*Small screens*/
  @media screen and (max-width: $multicolumnsThreshold) {
    @include display-flex(column, center, center);
  }

  /*Large screens MASONRY */
  @media screen and (min-width: $multicolumnsThreshold) {
    // required by Masonry to center elements in conjunction with isFitWidth: true
    // see http://desandro.github.io/masonry/demos/centered.html
    margin: 0 auto;
  }
}

// itemContainer positioning settings
// for itemContainer internal, see item_container
.itemContainer{
  width: 230px;
  margin: 5px;
  float: left;
  /*Small screens*/
  @media screen and (max-width: $multicolumnsThreshold) {
      width: 94vw;
      max-width: 300px;
    }

  /*Large screens*/
  @media screen and (min-width: $multicolumnsThreshold) {
  }
}


@import "item_container";
