// This module is already imported in #itemShowLayout{}
// so no need to wrap everything in #itemShowData{}, it would be an overkill
#itemShowData{
  label{
    opacity: 0.6;
  }
}
.item-settings{
  @include display-flex(row, center, center, wrap);
  label{
    text-align: left;
    width: 100%;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    @include display-flex(column, stretch, center);
    padding-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    padding: 1em 0;
    > div{
      flex: 1 0 0;
      &:first-child{ margin-right: 0.5em; }
      &:last-child{ margin-left: 0.5em; }
    }
  }
}
.transactionPreview{
  max-width: 15em;
  .showTransaction{
    @include display-flex(row, center, space-between);
    @include bg-hover($light-grey);
    padding-right: 0.2em;
  }
}
.panel{
  border: 0;
}

.mainUserRequested{
  // transactions are already listed in the transactionsRegion
  display: none;
}

.noteBox{
  a, span, label, p{
    color: white;
    &:hover{
      color: white;
    }
  }
}

@import 'item_comments';
@import 'item_transactions';
