.itemCreation{
  label{
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.5em;
  }
  .button{
    font-weight: bold;
  }
  #notesGroup{
    background-color: $dark-grey;
    @include radius();
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.2em 1em 1em 1em;
    label, span{
      color: white;
    }
    label{
      margin-top: 0;
      display: inline-block;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .entityBox{
      h2, a {
        margin-left: 1rem;
      }
    }
  }


  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
  }
}