.itemComments{
  .newComment{
    // a positionned element is required to be used as reference
    // by (great) children elements with position:absolute
    // cf https://developer.mozilla.org/en-US/docs/Web/CSS/position
    position: relative;
    .local-fog{
      position: absolute;
      background-color: rgba($dark-grey, 0.8);
      @include display-flex(column, center, center);
      color: white;
    }
    .main{
      @include display-flex(row, flex-start, space-between);
      .avatar{
        flex: 0 0 auto;
      }
      textarea{
        flex: 1 1 auto;
      }
    }
  }
  .postComment{}
}

@import "comment";