.transactionBox{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  li.capitalized{
    color: $dark-grey;
  }
  &.giving{ @include box-color($giving-color); }
  &.lending{ @include box-color($lending-color); }
  &.selling{ @include box-color($selling-color); }
  &.inventorying{ @include box-color($inventorying-color); }
}