.itemCreation{
  .entityData{
    @extend .dark-panel;
  }
  label{
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.5em;
  }
  .button{
    font-weight: bold;
    // padding adapted to avoid wrapping in German
    padding: 0.8em 1.45em 1em 1.45em;
    white-space: nowrap;
  }
  #notesGroup{
    background-color: $dark-grey;
    @include radius();
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.2em 1em 1em 1em;
    label, span{
      color: white;
    }
    label{
      margin-top: 0;
      display: inline-block;
    }
  }
  .validationButtons{
    text-align: center;
    a{
      margin-bottom: 0.5em;
      @include radius;
    }

  }
  #giving{ @include selected-button-color($giving-color); }
  #lending{ @include selected-button-color($lending-color); }
  #selling{ @include selected-button-color($selling-color); }
  #inventorying{ @include selected-button-color($inventorying-color); }

  #private{ @include selected-button-color($private-color, $private-color-text); }
  #friends{ @include selected-button-color($friends-color, $friends-color-text); }
  #public{ @include selected-button-color($public-color, $public-color-text); }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .entityData{
      h2, a {
        margin-left: 1rem;
      }
    }
  }


  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
  }
}