#itemShowLayout{
  #picture{
    @include flex(0, 0);
    figure{
      // just required to center the img
      @include display-flex(column, center, center);
    }
    figcaption{
      @include bg-hover($darker-grey);
      @include radius;
    }
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      padding-top: 2em;
      padding-bottom: 2em;
      // height needed in parents element to give room for the position sticky
      height: 100%;
      @include display-flex(column);
      > div{
        @include display-flex(column);
        @include flex(1);
      }
      figure{
        @include sticky($topbar-height + 10px);
        // just required to center the img
        @include display-flex(column, center, center);
      }
    }
  }
  #entityData{
    @extend .dark-panel;
    @include display-flex(row, center, space-around);
    #entity{
      @include flex(1);
    }
    .icon-bar{
      @include flex(0, 0);
      font-size: 1.1em;
      a{
        @include shy;
        margin: 1em auto;
      }
      a, span{
        color: white;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    /*Small screens*/
    @media screen and (max-width: 700px) {
      @include flex-direction(column);
      .icon-bar{
        @include display-flex(row);
        a{
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
  }
  @include display-flex(column, center, center);
  > div{
    width: 100%;
    max-width: 50em;
    textarea{
      max-width: 100%;
      @include radius;
    }
  }
  .button-group{
    margin-bottom: 1em;
  }
  .itemData{
    margin-bottom: 2em;
    @include display-flex(row);
    width: 100%;
    padding-top: 0.5em;
    label{
      opacity: 0.6;
    }
    .leftBox{
      min-width: 16em;
      @include flex(0, 0);
      .item-settings{
        @include display-flex(column);
        label{
          text-align: left;
          width: 100%;
        }
        > div{
          @include flex(0, 0, $user-box-heigth);
          width: 100%;
        }
      }
      .transactionPreview{
        .showTransaction{
          @include display-flex(row, center, space-between);
          @include bg-hover($light-grey);
          padding-right: 0.2em;
          max-width: 15em;
        }
      }
    }
    .rightBox{
      @include flex(1, 1, auto);
      p{
        margin: 0;
        padding: 0;
      }
    }

    /*Small screens*/
    @media screen and (max-width: 700px) {
      @include display-flex(column, center, center);
      max-width: 30em;
      padding: 0.5em;
      .leftBox{
        width: 100%;
      }
      .rightBox{
        width: 100%;
        // (1)
        max-width: 100vw;
      }
    }
    /*Large screens*/
    @media screen and (min-width: 700px) {
      @include display-flex(row, flex-start, center);
      .leftBox{
        max-width: 16em;
        margin-right: 0.8em;
        .item-settings{
          min-width: 14em;
        }
      }
      .rightBox{
        // (1)
        max-width: 33.1em;
      }
    }
  }
}

.noteBox{
  a, span, label, p{
    color: white;
    &:hover{
      color: white;
    }
  }
}

@import 'item_comments';
@import 'item_transactions';

// (1): hacky setting to force the paragraph to not expand beyond
// what its parent should *normally* allow!
// to be tested with irrealistically long words
