.itemContainer{
  .cover{
    img{
      max-height: 7em;
    }
  }
  figcaption{
    h3.title{
      font-size: 1.2em;
      line-height: 1em;
    }
    max-height: 3.9em;
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

$user-box-heigth: 3em;
.user-box{
  text-align: left;
  width: 100%;
  height: $user-box-heigth;
  background-color: $main-bg;
  @include flex(row, center);
  .user{
    max-height: $user-box-heigth;
    @include flex(column, left, space-between);
    .profilePic{
      height: $user-box-heigth;
    }
    strong{
      margin-left: 0.4em;
    }
    .time{
      margin-left: 0.4em;
      color: $grey;
      overflow: hidden;
    }
  }
}
.settings{
  min-height: $user-box-heigth;
  width: 100%;
  @include flex(row, center, space-between);
  justify-content: space-around;
  div{
    background-color: $main-bg;
    flex: auto;
    height: 100%;
    @include flex(row, center, center);
    color: $dark-grey;
    ul{
      padding: 0.2em;
      text-align: left;
    }
    a{
      color: $dark-grey;
    }
  }
  .currentWhite{
    a.current{
        color: white;
    }
  }
  .listingMenu{
    height: $user-box-heigth;
    &.private{
      background-color: $dark-grey;
      @extend .currentWhite;
    }
    &.friends{
      background-color: $grey;
      @extend .currentWhite;
    }
    &.public{
      background-color: $light-grey;
    }
  }
  .transactionMenu{
    height: $user-box-heigth;
    @extend .currentWhite;
    &.giving{
      background-color: rgba(255, 2, 32, 0.3);
      @extend .currentWhite;
    }
    &.lending{
      background-color: rgba(67, 172, 106, 0.5);
    }
    &.selling{
      background-color: rgba(255, 212, 2, 0.5);
    }
    &.inventorying{
      background-color: rgba(130, 130, 130, 0.5);
      @extend .currentWhite;
    }
  }
}

.comments-box{
  text-align: left;
  width: 100%;
  span{
    background-color: $main-bg;
    display: block; // needed for the comment wrapping!!
    overflow: hidden;
    text-align: left;
    margin-top: 1em;
    padding: 0.2em;
    &.wrapped{
      max-height: 4.6em;
    }
  }
  .wrapper{}
}