// itemContainer internal settings
// for itemContainer positioning, see items_list
.itemContainer{
  @include shadow-box;
  @include radius;
  @include glow-on-focus;
  padding: 1em;
  background: #fefefe;
  text-align: center;
  > a.itemShow{
    width: 100%;
    &:hover{
      @include transition(background-color);
      background-color: $light-grey;
      h3.title{
        @include link;
      }
    }
  }
  hr{
    margin: 0.3em auto 0.1em auto;
    max-width: 1em;
  }
  @include display-flex(column, center);
  img:not(.profilePic) {
    max-height: 20em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  div.data{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    max-height: 12em;
    overflow: hidden;
    margin-bottom: 0.5em;
    .title{
      @include serif;
      // color: $light-blue;
      font-size: 1.2em;
      line-height: 1em;
      margin: 0;
      padding: 0;
    }
    .authors{
      font-size: 0.8em;
      color: $dark-grey;
      // forcing the height so that masonry height calucations
      // won't be disturbed by qlabel data arriving
      min-height: 1.3em;
      width: 100%;
      .wd-P{
        display: none;
      }
    }
  }
}

@import 'item_user_box';

.itemBox > .remove{
  margin-top: 1em;
  @include dangerous-action;
  @include flex(1);
  width: 100%;
  height: $user-box-heigth;
  @include display-flex(row, center, center);
}
.itemBox:not(:empty){
  min-height: $user-box-heigth;
  width: 100%;
  @include display-flex(row, center, center);
}
.currentWhite{
  color: white;
  a.current{
    color: white;
  }
}
.item-settings{
  text-align: center;
  div{
    background-color: $main-bg;
    @include flex(null, null, auto);
    height: 100%;
    @include display-flex(row, center, center);
    color: $dark-grey;
    ul{
      padding: 0.2em;
      text-align: left;
    }
    a{
      color: $dark-grey;
    }
  }
}
.itemContainer{
  .transactionBox, .listingMenu{
    .label{
      display: none;
    }
  }
}

@import 'item_request_box';
@import 'item_transaction_box';
@import 'item_listing_box';
@import 'item_details_box';
