.listingMenu{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  &.private{ @include box-color($private-color); }
  &.friends{ @include box-color($friends-color); }
  &.public{ @include box-color($public-color, null); }
}
