$itemCardBaseWidth: 230px;
$multicolumnsThreshold: $itemCardBaseWidth * 2 + 50px;

.items-cascade-wrapper{
  @include display-flex(column, center, center);
  flex: 1 1 auto;
  .fetchMore{
    // Give it a forced height and width so that it can trigger inview events
    height: 2em;
    width: 2em;
    margin: 1em;
  }
}

.itemsCascade{
  // required to avoid itemsLists to overlapse when empty
  // !important to override Masonry's style="height:0px"
  // ex: entity_show
  min-height: 10em !important;
  /*Small screens*/
  @media screen and (max-width: $multicolumnsThreshold) {
    @include display-flex(column, center, center);
  }

  /*Large screens MASONRY */
  @media screen and (min-width: $multicolumnsThreshold) {
    // required by Masonry to center elements in conjunction with isFitWidth: true
    // see http://desandro.github.io/masonry/demos/centered.html
    margin: 0 auto;
  }
  // itemCard positioning item-settings
  // for itemCard internal, see item_card
  .itemCard{
    width: $itemCardBaseWidth;
    margin: 5px;
    float: left;
    /*Small screens*/
    @media screen and (max-width: $multicolumnsThreshold) {
        width: 94vw;
        max-width: 300px;
      }

    /*Large screens*/
    @media screen and (min-width: $multicolumnsThreshold) {
    }
  }
}

@import "item_card";
