// This module is already imported in #itemShowLayout{}
// so no need to wrap everything in #itemShowData{}, it would be an overkill
#itemShowData{
}
.item-settings{
  @include display-flex(row, center, center, wrap);
  label{
    text-align: left;
    width: 100%;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    @include display-flex(column, stretch, center);
    padding-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    padding: 1em 0;
    .transactionBox, .listingMenu{
      flex: 1 0 0;
    }
    .transactionBox{
      margin-right: 0.5em;
    }
    // The .transactionBox is not displayed when the listing is private
    // so no need for a margin
    .listingMenu:not(.private){
      margin-left: 0.5em;
    }
  }
}
.transactionPreview{
  max-width: 15em;
  .showTransaction{
    @include display-flex(row, center, space-between);
    @include bg-hover($light-grey);
    padding-right: 0.2em;
  }
}
.panel{
  border: 0;
}

.detailsPanel{
  background-color: $off-white;
  label{
    color: $dark-grey;
    cursor: pointer;
  }
}

.mainUserRequested{
  // transactions are already listed in the transactionsRegion
  display: none;
}

.noteBox{
  a, span, label, p{
    color: white;
    &:hover{
      color: white;
    }
  }
}

.shelvesPanel{
  background: $off-white;
  padding: 1em;
  #shelvesSelector ul li{
    padding: 0.25em 0.5em;
  }
}


.indicator{
  .fa{
    // Making details and notes indicator take the same space
    // so that it looks pretty much aligned
    width: 1.4em;
    text-align: center;
  }
}

@import 'item_transactions';
