.listingMenu{
  // just 'height' wasnt working on chrome
  min-height: $user-box-heigth;
  max-height: $user-box-heigth;
  &.private{
    background-color: $dark-grey;
    @extend .currentWhite;
  }
  &.friends{
    background-color: $grey;
    @extend .currentWhite;
  }
  &.public{
    background-color: $light-grey;
  }
}
