$scan-contrast: #f5f5f5;

.scan{
  max-width: 30em;
  margin: auto;
  section{
    padding: 1em;
  }
  .button{
    margin: 1em auto;
    .fa{
      margin-right: 0.5em;
    }
    /*Small screens*/
    @media screen and (max-width: $small-screen) {
      // make it stand-out more
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
  .disabled{
    padding: 1em;
    background-color: grey;
    color: white;
    @include radius;
    font-size: 1em;
    .fa{
      font-size: 2em;
      display: block;
      margin: 0 auto;
    }
    // the "modern browsers" link in the i18n block
    span a{
      @include text-hover(white, #eee);
      @include underline(white);
    }
  }
  .setting{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $scan-contrast;
    padding: 0.5em;
  }
}

@import "embedded";
