#addSearch{
  section{
    padding: 1em;
    margin-bottom: 1em;
  }
  #historyWrapper{
    margin-top: 2em;
  }
  #history{
    $base: 6em;
    margin: 0 auto;
    max-width: 30em;
    li{
      a{
        @include display-flex(row, center);
        @include panel;
        @include bg-hover(white, 4%);
      }
      margin-bottom: 1em;
      .fa{
        opacity: 0.5;
      }
      .query{
        margin: 0 auto;
        flex: 1 1 auto;
        padding-right: 0.5em;
        font-size: 1.1em;
      }
      .pics{
        max-height: $base;
        max-width: $base*3;
        overflow: hidden;
      }
    }
  }
  .clearHistory{
    @include shy;
  }
}

.please-be-patient{
  margin: 1em auto;
  max-width: 32em;
  color: #444;
}
