label{
  color: $default-text-color;
  @include bg-hover($off-white, 5%);
  background-color: inherit;
  @include display-flex(row, center, flex-start);
  @include radius;
  cursor: pointer;
  margin-bottom: 0.1em;
}
input[type="checkbox"]{
  margin: 0.5em;
  // Prevent flex shrink on iOS 16 browsers
  flex: 0 0 auto;
}
