.userProfile{
  background-color: #eee;
  @include display-flex(row);
  margin: 0.5em 0;
  .avatar{
    background-color: #eee;
    height: 10em;
    width: 10em;
  }
  .info{
    flex: 1 0 auto;
    padding: 0.5em;
    position: relative;
  }
  .header{
    @include display-flex(row);
  }
  .username{
    @include sans-serif;
    flex: 1 0 auto;
    margin: 0;
  }
  .profile-buttons{
    @include display-flex(row, center, center);
    flex: 0 0 auto;
    .action{
      @include display-flex(row, center, center);
      margin: 0 0.5em;
    }
  }
  .data{
    color: #666;
    li{
      margin-bottom: 0.5em;
    }
    @include display-flex(column, flex-start);
  }
  .inventoryLength{
    .count{
      padding-left: 0.5em;
    }
  }
  .bio-wrapper{
    @include radius;
    padding: 1em;
    background-color: #ddd;
    max-height: 7em;
    max-width: 50em;
    overflow: auto;
    &.empty{
      color: $grey;
      font-style: italic;
    }
    /*Small screens*/
    @media screen and (max-width: $small-screen) {
      max-height: 15em;
    }
  }
}
