$sub-nav-list-margin: 0;
$view-tools-height: 2.9rem;
$view-tools-elements-height: 2.45rem;


.toolsWrapper{
  margin: 0;
  padding: 0;
  .tools{
    background-color: $tools-active-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    select, input, a{
      margin: 0;
    }
    div{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    input{
      height: $view-tools-elements-height;
    }
    a.tiny.button{
      font-size: 0.9rem;
      height: $view-tools-elements-height;
      width: 100%;
    }
    .disposition{
      text-align: center;
      a{
        transition: all 0.5s ease;
        display: inline;
        font-size: 1.2rem;
        padding: 0.5rem 0.6rem 0.5rem 0.9rem;
        text-align: center;
        &:hover{
          background-color: #777;
        }
        &.active{
          background-color: #000;
        }
      }
      .fa{
        color: #fff;
      }
    }
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  .toolsWrapper{
    height: $view-tools-height;
    .tool{
      // padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  .tools{
    .tool{
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
    }
    select, input[type="text"], a{
      // padding: 0.5rem;
      // margin: 0;
    }
    a{
      width: 100%;
    }
  }
}
