@import '#modules/general/scss/utils';
@import 'item_commons';

// itemCard internal settings
// for itemCard positioning, see items_list
.itemCard{
  @include shadow-box;
  @include radius;
  @include glow-on-focus;
  padding: 1em;
  background: #fefefe;
  text-align: center;
  &.busy{
    .itemShow{
      @include shy(0.5);
    }
    position: relative;
    .busy-sign{
      opacity: 1;
      z-index: 1;
      @include position(absolute, 0, 0);
      background-color: #222;
      height: 2em;
      width: 2em;
      color: white;
      padding: 0.3em 0.5em 0.5em 0.5em;
      @include radius-diagonal-b;
    }
  }
  > a.itemShow{
    width: 100%;
    &:hover, &:focus{
      @include transition(background-color);
      background-color: $light-grey;
      h3.title{
        @include link;
      }
    }
  }
  .subtitle{
    font-size: 1rem;
    color: $grey;
  }
  hr{
    margin: 0.2em auto;
    max-width: 1em;
  }
  @include display-flex(column, center);
  img:not(.profilePic) {
    max-height: 20em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  div.data{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    max-height: 12em;
    overflow: hidden;
    margin-bottom: 0.5em;
    .title{
      @include serif;
      font-size: 1.2em;
      line-height: 1em;
      margin: 0;
      max-height: 7em;
      overflow: hidden;
      // Avoid hidding letters descender
      padding: 0.2em 0;
    }
    .subtitle, .series, .authors{
      font-size: 0.8em;
      // Required to set line-height
      display: block;
      line-height: 1em;
      color: $grey;
    }
  }
  .alert-box{
    max-height: 4em;
  }
  .transactionBox, .listingBox{
    @include display-flex(row, stretch);
    button[aria-haspopup="menu"]{
      flex: 1 0 auto;
      border-radius: 0;
    }
    .label{
      display: none;
    }
  }
}
