@import '#general/scss/utils';

.items-table-selection-editor{
  @include display-flex(column, center, center);
  button[aria-haspopup="menu"], .dropdown-wrapper [role="menu"]{
    padding: 0.5em 1em;
    min-width: 12rem;
    @include radius;
  }
  .dropdown-wrapper, button[aria-haspopup="menu"]{
    align-self: stretch;
    flex: 1 0 auto;
  }
  [role="menu"]{
    width: 100%;
  }
  button[aria-haspopup="menu"]{
    @include bg-hover(#eee);
  }
  .selector-label{
    text-align: center;
    font-weight: bold;
  }
  .shelvesSelector{
    align-self: stretch;
    ul{
      width: 100%;
      max-height: 15em;
      overflow: auto;
    }
    li{
      width: 100%;
      @include display-flex(row, center, flex-start);
    }
    .picture{
      margin: 0.1em 0.5em;
    }
    .add{
      margin-left: auto;
    }
    .remove{
      margin-left: 0.5em;
    }
    .tiny-button{
      font-weight: normal;
      padding: 0.5em;
    }
  }
  .shelf-selector-buttons{
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: 0.5em;
    .loading:not(:empty){
      // Override default
      padding: 0 0.5em;
    }
  }
  .dropdown-label, .dropdown-wrapper [role="menu"] li{
    font-size: 1rem;
  }
  .dropdown-label{
    padding: 0.5em;
  }
  .delete, .done{
    padding: 0.7em;
    flex: 1;
  }
  .delete{
    @include dangerous-action;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    #selectTransaction, #selectListing{
      align-self: stretch;
      margin: 1em 0;
    }
    #selectTransaction button, #selectListing button{
      padding: 0.5em;
    }
    .shelvesSelector{
      .shelf-selector-buttons{
        .label{
          display: none;
        }
      }
    }
    .buttons{
      align-self: stretch;
      @include display-flex(column, stretch, center);
      > button{
        margin: 1em auto 0 auto;
        width: 15em;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    #selectTransaction, #selectListing{
      margin: 1em 0;
    }
    #selectTransaction button, #selectListing button{
      padding: 1em;
    }
    .buttons{
      @include display-flex(row, center, center);
      align-self: stretch;
      margin-top: 2em;
    }
    .delete{
      margin-right: 0.5em;
    }
  }
}
