@import '#general/scss/utils';

.itemCreation, .import-queue{
  #giving{ @include selected-button-color($giving-color); }
  #lending{ @include selected-button-color($lending-color); }
  #selling{ @include selected-button-color($selling-color); }
  #inventorying{ @include selected-button-color($inventorying-color); }

  #private{ @include selected-button-color($private-color, $private-color-text); }
  #network{ @include selected-button-color($network-color, $network-color-text); }
  #public{
    @include selected-button-color($public-color, $public-color-text);
    &.selected, &.active, &:hover{
      i{
        color: $dark-grey;
      }
    }
  }
}
