@import '#modules/general/scss/utils';

#addSearchLayout{
  @import 'search_history';
  section{
    padding-top: 1em;
  }
}

.search-buttons{
  @include display-flex(row, center, center, wrap);
}

.search-button{
  @include tiny-button($grey);
  @include tiny-button-color($light-blue, null, 5%);
  margin: 1em;
}
