<div class="left-box">
  <a class="select" href="{{pathname}}">
    <img class="profilePic" alt="{{username}}"
    src="{{#if stretch}}{{src picture 80}}{{else}}{{src picture 64}}{{/if}}">
  </a>
</div>
<div class="right-box">
  <a class="select" href="{{pathname}}">
    <div class="top">
      <span class="username serif">{{username}}</span>
      {{#if showEmail}}
        <span class="email">{{email}}</span>
      {{/if}}
      {{#unless groupContext}}
        {{#if inventoryLength}}
          {{!-- one of the two is hidden from css depending on the situation --}}
          <span class="inventoryLength short serif">{{inventoryLength}}</span>
          <span class="inventoryLength long serif">{{i18n 'num_books' inventoryLength}}</span>
        {{/if}}
      {{/unless}}
    </div>
    {{#if stretch}}
      {{#if bio}}
        <div class="details">
          {{!-- not user {{userContent}} helper as it might create anchors within an anchor --}}
          <p class="bio user-content">{{bio}}</p>
        </div>
      {{/if}}
    {{/if}}
  </a>
  {{partial 'inventory/side_nav:user_menu' this}}
</div>
