@import '#general/scss/change_picture';

#groupSettings{
  input, textarea{
    // sections already have padding/margin
    margin-block-end: 0.2em;
  }
  label{
    text-align: start;
    font-size: 1em;
    color: black;
  }
  .inner{
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
  }
  .inputGroup button{
    max-width: 10em;
    font-weight: bold;
  }
  #changePicture{
    @include bg-hover(#555, 10%);
  }
}
#groupControls{
  padding-block-start: 2em;
  padding-block-end: 2em;
}
.leave, .destroy{
  @include dangerous-button;
  @include radius;
  font-weight: bold;
}
.leave{
  &.disabled{
    cursor: not-allowed;
    &:hover{
      // disabling dangerous-button hover behaviour
      background-color: $grey;
    }
  }
}
.reason{
  // hacky compensation of the weird positioning
  // that would overlap the button if there wasn't that padding
  padding-block-start: 1em;
}

.searchability, .openness{
  .warning{
    background-color: $grey;
    color: white;
    @include radius;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    &.opened, &.searchable{
      background-color: white;
      color: $dark-grey;
    }
  }
}
.position-status{
  background-color: #ddd;
  @include radius;
  margin: auto;
  .fa{
    font-size: 0.8em;
    padding-inline-start: 0.6em;
    opacity: 0.6;
  }
  .coordinates{
    opacity: 0.6;
  }
}
.group-position-setting{
  @include display-flex(row, center, space-between);
  div{
    span, label{
      display: inline;
    }
  }
  margin-block-start: 1em;
  padding-block-start: 1em;
  padding-block-end: 1em;
  .tip{
    margin-inline-end: auto;
    font-size: 0.8em;
    padding-block-start: 0.4em;
  }
  .button{
    height: 2em;
    width: 3em;
    @include display-flex(row, center, center);
  }
  .fa{
    padding-inline-start: 0.3em;
    font-size: 1.2em;
  }
  .tip{
    color: grey;
  }
}