<div class="entities">
  <div id="suspect"></div>
  <div class="match-data">
    {{icon 'arrow-right'}}
    {{partial 'tasks:task_scores' this}}
  </div>
  <div id="suggestion"></div>
</div>
<div id="otherSuggestions"></div>
