main{
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    // Allow screen_.scrollTop to really get the top of the div
    // at the top of the screen, which would not be possible
    // if main was smaller than the screen
    min-height: 100vh;
    margin-bottom: $smallscreen-connection-buttons-height;
  }

  @media screen and (min-height: $top-bar-fixed-threshold) {
    margin-top: $topbar-height;
  }
}
