$iconNavWidth: 85px;
$sideNavWidth: 280px;

@import "topbar";
@import "icon_nav";
@import "lateral_buttons";

body{
  #topBar{}
  main{
    @include display-flex(column);
  }
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
  main{
    // allow _.scrollTop to really get the top of the div
    // at the top of the screen
    // which would not be possible if main was smaller than the screen
    min-height: 100vh;
  }
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
  main:not(.no-topbar){
    margin-top: $topbar-height;
    // trying to make the transition as close as possible
    // to jQuery slideDown default values: 400ms and 'swing' ease
    @include transition(margin-top, 0.4s, null, ease-in);
  }
  main:not(.no-icon-nav){
    margin-left: $iconNavWidth;
  }
}

// see _inventory.scss for #innerMain and .sideNavClones