.ac-container{
  position: relative;
}
.ac-suggestions{
  // positioning .ac-suggestions just under .ac-container
  @include position(absolute, 95%)
  z-index: 1;
  width: 100%;
  background-color: white;
  @include shy-border(0.9);
  @include radius-bottom;
  .close{
    display: block;
    text-align: center;
    @include bg-hover(#eaeaea);
    color: #333;
  }
}
.ac-suggestion, .ac-no-suggestion{
  padding: 0 0.4em 0 0.4em;
}
.ac-suggestion{
  @include bg-hover(white);
  cursor: pointer;
  &.active{
    background-color: #ddd;
  }
  &:not(:last-child){
    border-bottom: 1px solid #eee;
  }
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  line-height: 1.2em;
  .identifier{
    float: right;
    opacity: 0.5;
    font-family: sans-serif;
    font-size: 0.7em;
    @include underline;
  }
}
.ac-no-suggestion{
  text-align: center;
  a{
    color: #666;
  }
}