.ac-container{
  position: relative;
}
.ac-suggestions{
  // positioning .ac-suggestions just under .ac-container
  @include position(absolute, 95%)
  width: 100%;
  background-color: white;
  @include shy-border(0.9);
  @include radius-bottom;
  .close{
    display: block;
    text-align: center;
    @include bg-hover(#eaeaea);
    color: #333;
  }
}
.ac-suggestion, .ac-no-suggestion{
  padding: 0 0.4em 0 0.4em;
}
.ac-suggestion{
  @include bg-hover(white);
  cursor: pointer;
  &.active{
    background-color: #ddd;
  }
  &:not(:last-child){
    border-bottom: 1px solid #eee;
  }
}
.ac-no-suggestion{
  text-align: center;
  a{
    color: #666;
  }
}