@mixin bg-cover(){
  background-size: cover;
  background-position: center center;
  transition: background 0.5s ease;
}

@mixin multidef-bg-cover($filename, $hd:null){
  @include bg-cover;
  /*Small screens*/
  @media screen and (max-width: 500px) {
    background-image: url('/img/assets/500x500/' + $filename);
  }
  /*Large screens*/
  @media screen and (min-width: 500px) {
    background-image: url('/img/assets/1000x1000/' + $filename);
  }
  @if $hd {
    @media screen and (min-width: 1300px) {
      background-image: url('/img/assets/' + $filename);
    }
  }
}
