.bg-cover-commons{
  background-size: cover;
  background-position: center center;
  transition: background 0.5s ease;
}

@mixin bg-cover($url){
  @extend .bg-cover-commons;
  background-image: url($url);
}

@mixin multidef-bg-cover($url, $hd:null, $protocol:http){
  @extend .bg-cover-commons;
  /*Small screens*/
  @media screen and (max-width: 500px) {
    background-image: url('http://cdn.filter.to/500x500/' + $url);
  }
  /*Large screens*/
  @media screen and (min-width: 500px) {
    background-image: url('http://cdn.filter.to/1000x1000/' + $url);
  }
  @if $hd {
    @media screen and (min-width: 1300px) {
      background-image: url($protocol + '://' + $url);
    }
  }
}

.book-bg{
  @include multidef-bg-cover('img.inventaire.io/sarah-buckley-6117998074-CC-BY.jpg', 'hd');
  @include flex(1);
  @include display-flex();
}