@mixin bg-cover(){
  background-size: cover;
  background-position: center center;
  transition: background 0.5s ease;
}

@mixin multidef-bg-cover($url, $hd:null){
  @include bg-cover();
  /*Small screens*/
  @media screen and (max-width: 500px) {
    background-image: url('http://cdn.filter.to/500x500/' + $url);
  }
  /*Large screens*/
  @media screen and (min-width: 500px) {
    background-image: url('http://cdn.filter.to/1000x1000/' + $url);
  }
  @if $hd {
    @media screen and (min-width: 1300px) {
      background-image: url('https://s3-eu-west-1.amazonaws.com/' + $url);
    }
  }
}

#bg{
  @include position(fixed, 0, 0, 0, 0, -10);
  background-color: $main-bg;
  transition: background 0.5s ease;
  &.cover{
    // cover background added for whitelisted routes
    @include multidef-bg-cover('img.inventaire.io/sarah-buckley-6117998074-CC-BY.jpg', 'hd');
  }
}
