.button{
  font-weight: bold;
}

@mixin custom-button($bg-color, $color: white, $margin: 0.1em, $padding:1em, $darken:15%){
  @include bg-hover($bg-color, $darken);
  @include text-hover($color);
  padding: $padding;
  margin: $margin;
}

@mixin tiny-button($bg-color, $color: white, $darken:15%, $radius: $global-radius){
  @include bg-hover($bg-color, $darken);
  @include text-hover($color);
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-radius: $radius;
}

.tiny-success-button{
  @include tiny-button($success-color);
}


// text-with-padding buttons
.validateButton{
  @include tiny-button($success-color);
}
.cancelButton{
  @include tiny-button($grey);
}

// icon buttons
.editButton{
  @include shy();
  &:hover{
    span{
      @include transition(display);
      display: inherit;
    }
  }
}
.indicator{
  opacity: 0.6;
  cursor: default;
}

// a div with a label and icon buttons floating at right
// this is a hack to avoid using float:right
// as it messes with click event listeners
// closest clue found on this: http://stackoverflow.com/questions/6146568/floatleft-stops-click-event-on-android
div.icon-buttons-header{
  width: 100%;
  height: 1.2em;
  margin-bottom: 0.2em;
  label{
    height: 0;
    cursor: default;
  }
  .right{
    text-align: right;
  }
}


@mixin button-group{
  :first-child{
    @include radius-left();
  }
  :not(:first-child){
    @include radius-left(0);
  }
  :not(:last-child){
    @include radius-right(0);
  }
  :last-child{
    @include radius-right();
  }
}

.button-group{
  @include button-group();
  @include display-flex(row, center, center);
}

.button-group-right{
  @include button-group();
  @include display-flex(row, center, flex-end);
}


.cancelButton{
  @include tiny-button($warning-color);
}
.saveButton{
  @include tiny-button($success-color);
}