.button{
  font-weight: bold;
}

$default-button-margin: 0.1em;
$default-button-padding: 1em;

@mixin custom-button($bg-color, $color: white, $margin: $default-button-margin, $padding:$default-button-padding, $darken:15%){
  @include bg-hover($bg-color, $darken);
  @include text-hover($color);
  padding: $padding;
  margin: $margin;
}

@mixin tiny-button-padding(){
  padding: 0.2em 0.6em 0.2em 0.6em;
}

// A mixin for selectors already affected by .tiny-button
// but just requiring some color customization
@mixin tiny-button-color($bg-color, $color:null, $darken:15%){
  @include bg-hover($bg-color, $darken);
  @if $color {
    @include text-hover($color);
  }
}

@mixin tiny-button($bg-color, $color: white, $darken:15%, $radius: $global-radius){
  @include tiny-button-padding;
  border-radius: $radius;
  @include tiny-button-color($bg-color, $color);
}

.tiny-button{
  @include tiny-button($grey);
  &.light-blue{
    @include tiny-button-color($light-blue, null, 5%);
  }
  &.dangerous{
    @include dangerous-action;
  }
  &.soft-grey{
    @include tiny-button-color($soft-grey);
  }
}

@mixin dangerous-button(){
  @include dangerous-action;
  padding: $default-button-padding;
  margin: $default-button-margin;
}

.dangerous-button{
  @include dangerous-button;
  @include radius;
  @include serif;
  font-weight: bold;
}

.tiny-success-button{
  @include tiny-button($success-color);
}

// text-with-padding buttons
.validateButton{
  @include tiny-button($success-color);
}
.saveButton{
  @include tiny-button($success-color);
}
.cancelButton{
  @include tiny-button($grey);
}
.cancelButton + .saveButton{
  margin-left: 0.2em;
}

// icon buttons
.editButton{
  @include shy;
  &:hover{
    span{
      @include transition(display);
      display: inherit;
    }
  }
}
.indicator{
  opacity: 0.6;
  cursor: default;
}

// a div with a label and icon buttons floating at right
// this is a hack to avoid using float:right
// as it messes with click event listeners
// closest clue found on this: http://stackoverflow.com/questions/6146568/floatleft-stops-click-event-on-android
div.icon-buttons-header{
  width: 100%;
  height: 1.2em;
  margin-bottom: 0.2em;
  label{
    height: 0;
    cursor: default;
  }
  .right{
    text-align: right;
  }
}


@mixin button-group{
  :first-child{
    @include radius-left;
  }
  :not(:first-child){
    @include radius-left(0);
  }
  :not(:last-child){
    @include radius-right(0);
  }
  :last-child{
    @include radius-right;
  }
}

.button-group{
  @include button-group;
  @include display-flex(row, center, center);
}

.button-group-right{
  @include button-group;
  @include display-flex(row, center, flex-end);
}

.shy-label{
  span{
    display: none;
    @include transition(display);
  }
  &:hover, &:focus{
    span{
      display: inline;
    }
  }
  &.tiny-button{
    .fa{
      // centering
      margin-right: -0.3em;
    }
  }
}