.connect{
  text-align: center;
}
.callToConnection{
  color: orange;
  font-size: 1.4em;
  padding: 0.5em;
}
.fog{
  background-color: rgba($dark-grey, 0.4);
  // placed under the top bar and the icon nav
  @include position(fixed, 0, 0, 0, 0, 10);
}
