// For some reason, ::first-letter doesn't apply to a <legend> element, which is thus omitted here
.button, label{
  &:not(.respect-case)::first-letter{
    text-transform: uppercase;
  }
}

.subheader::first-letter{
  text-transform: uppercase;
}

.uppercased{
  text-transform: uppercase;
}
