h1, h2, h3, h4, h5, h6, .button, label, .capitalized{
  &:not(.respect-case):first-letter{
    text-transform: uppercase;
  }
}
.subheader:first-letter{
  text-transform: uppercase;
}

.capitalizedAll{
  text-transform: capitalize;
}

.uppercased{
  text-transform: uppercase;
}

// capitalize only the first letter, not every words first letter
@mixin capitalized(){
  &:first-letter{
    text-transform: uppercase;
  }
}