// largely inspired from http://ctrlq.org/code/19282-css-round-images

.circle-pic{
  display: block;
  width: 150px;
  height: 150px;
  margin: 0.5em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include vendor-prefix(border-radius, 90em);
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}