$primary-color: #16212C; // Foundation variable
$secondary-color: #FFD402; // Foundation variable
$warning-color: #E13A00; // Foundation variable
$success-color: #43AC6A; // Foundation variable
$light-blue: #319CC2;
$link-blue: #3243BB;

$grey: #737477;
$dark-grey: #333;
$darker-grey: #222;
$light-grey: #eee;
$lighter-grey: #f2f2f2;
$glow: rgba(158, 202, 237, 0.7);
$off-white: #eef;
$green-tree: #68B231;

// body has a different color than main
// to make it the background color when the DOM isnt loaded
$main-bg: $off-white;
$body-bg: $main-bg; // Foundation variable
$contrast: #fff;
$panel-bg: $contrast; // Foundation variable
$body-font-color: #222; // Foundation variable
$tools-active-bg: #222;

$giving-color: #FEB1BA;
$lending-color: #9FD5B3;
$selling-color: #FFE567;
$inventorying-color: #BFBFBF;

$private-color: $dark-grey;
$private-color-text: white;
$friends-color: rgba(130, 130, 130, 0.5);
$friends-color-text: white;
$public-color: $light-grey;
$public-color-text: $dark-grey;

$facebook-color: #425F9C;
$twitter-color: #55ACEE;
$tumblr-color: #36465D;

.secondary-button{
  background-color: $secondary-color;
  &:hover{
    background-color: darken($secondary-color, 10%)
  }
  a{
    color: #222;
  }
}

.success-button{
  background-color: $success-color;
  &:hover{
    background-color: darken($success-color, 20%)
  }
  a{
    color: white;
  }
}

.secondary{
  color: lighten($primary-color, 10%) !important;
}
.yellow{
  background-color: #FFD402;
  &:hover{
    background-color: darken(#FFD403, 20%)
  }
}
.grey{
  @include color-class($grey);
}

.light-grey{
  @include color-class($light-grey);
}

.dark-grey{
  @include color-class($dark-grey);
}
.light-blue{
  @include color-class($light-blue);
}

.white{
  color: #fff;
}

.contrast{
  background-color: $contrast;
}


$selection-color: rgba($secondary-color, 0.4);
::selection {
  background: $selection-color;  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $selection-color; /* Gecko Browsers */
}