$grey: #737477;
$dark-grey: #222;
$darker-grey: #1a1a1a;
$light-grey: #eee;
$lighter-grey: #f2f2f2;
$soft-grey: #bbb;
$glow: rgba(158, 202, 237, 0.7);
$off-white: #f5f5f5;
$green-tree: #68b231;
$soft-red: #cf2408;
$yellow: #ffd402;

$primary-color: #16212c;
$secondary-color: $yellow;
$warning-color: #e13a00;
$success-color: #4eba76;
$light-blue: #319cc2;
$link-blue: #3243bb;
$danger-color: #ff4e4e;

// body has a different color than main
// to make it the background color when the DOM isnt loaded
$main-bg: $off-white;
$body-bg: $main-bg;
$contrast: #fff;
$panel-bg: $contrast;
$body-font-color: #222;
$tools-active-bg: #222;

// keep in sync with server/lib/emails/activity_summary/transactions_colors.coffee
$giving-color: #feb1ba;
$lending-color: #9fd5b3;
$selling-color: #ffe567;
$inventorying-color: #bfbfbf;

$private-color: $dark-grey;
$private-color-text: white;
$network-color: rgba(130, 130, 130, 0.5);
$network-color-text: white;
$public-color: $light-grey;
$public-color-text: $dark-grey;

$facebook-color: #425f9c;
$twitter-color: #55acee;
$youtube-color: #e62117;

$unread-color: #edf7fb;

@import 'colors_mixins';

.secondary-button{
  background-color: $secondary-color;
  &:hover{
    background-color: darken($secondary-color, 10%)
  }
  a{
    color: #222;
  }
}

.success-button{
  background-color: $success-color;
  &:hover{
    background-color: darken($success-color, 20%)
  }
  a{
    color: white;
  }
}

.secondary{
  color: lighten($primary-color, 10%) !important;
}
.yellow{
  background-color: $yellow;
  &:hover{
    background-color: darken($yellow, 20%)
  }
}
.grey{
  @include color-class($grey);
}

.light-grey{
  @include color-class($light-grey);
}

.dark-grey{
  @include color-class($dark-grey);
}
.light-blue{
  @include color-class($light-blue);
}

.white{
  color: #fff;
}

.contrast{
  background-color: $contrast;
}
