.secondary-button{
  background-color: $secondary-color;
  &:hover{
    background-color: darken($secondary-color, 10%)
  }
  a{
    color: #222;
  }
}

.success-button{
  background-color: $success-color;
  &:hover{
    background-color: darken($success-color, 20%)
  }
  a{
    color: white;
  }
}

.secondary{
  color: lighten($primary-color, 10%) !important;
}
.yellow{
  background-color: $yellow;
  &:hover{
    background-color: darken($yellow, 20%)
  }
}
.grey{
  @include color-class($grey);
}

.light-grey{
  @include color-class($light-grey);
}

.dark-grey{
  @include color-class($dark-grey);
}
.light-blue{
  @include color-class($light-blue);
}

.white{
  color: #fff;
}

.contrast{
  background-color: $contrast;
}
