@mixin hover-darken($color, $darken:15%) {
  background-color: $color;
  @include transition(background-color);
  &:hover{
    background-color: darken($color, $darken);
  }
}

@mixin color-class($color, $contrast:white, $darken:15%) {
  color: $color;
  &.button{
    color: $contrast;
    @include hover-darken($color, $darken);
  }
}

@mixin text-hover($color, $hover:null, $lighten:15%){
  color: $color;
  @include transition(color);
  &:hover{
    @if $hover { color: $hover; }
    @else { color: lighten($color, $lighten); }
  }
}

@mixin bg-hover($bg-color, $darken:15%){
  background-color: $bg-color;
  @include transition(background-color);
  &:hover{
    background-color: darken($bg-color, $darken);
  }
}

@mixin dangerous-action(){
  // @include bg-hover(#faeaea, 30%);
  @include transition(background-color, 0.2);
  background-color: $grey;
  color: white;
  &:hover{
    color: white;
    background-color: #ff4e4e;
  }
}

$shy-opacity: 0.6;
@mixin shy($opacity:$shy-opacity, $hover-opacity:1){
  opacity: $opacity;
  @include transition(opacity);
  &:hover{
    opacity: $hover-opacity;
  }
}