.confirmationModal{
  text-align: center;
  // Mimicking .reveal-modal .close-reveal-modal
  #back{
    position: absolute;
    font-weight: bold;
    font-size: 1.3em;
    color: #aaa;
    top: 1.4em;
    left: -0.1em;
  }
  .check{
    margin-top: 1em;
  }
  label{
    text-align: left;
    margin-top: 1em;
    font-size: 1.1em;
  }
  p{
    margin-bottom: 0.5em;
  }
  a.button{
    margin-top: 0.5em;
  }
  #altAction{
    margin-top: 1em;
    padding: 0.25em auto;
  }
}
