$customTabMaxWidth: 40em;

.custom-tabs{
  @include display-flex(column, left);

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    width: 100%;
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    width: $customTabMaxWidth;
  }
}

.custom-tabs-titles{
  .title{
    @include sans-serif;
  }
  width: 100%;
  @include display-flex(row, flex-start);
  a{
    padding: 1em;
    flex: 1;
    text-align: center;
    &.active{
      background-color: white;
      font-weight: bold;
      color: $dark-grey;
      background-color: white;
    }
    &:not(.active){
      color: white;
      @include bg-hover($dark-grey);
    }
  }
  /*Small screens*/
  @media screen and (max-width: $customTabMaxWidth) {
    flex-wrap: wrap;
    width: 100%;
    .active{
      background-color: #fafafa;
    }
    .title{
      display: none;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    a{
      &:first-child{
        border-top-left-radius: $global-radius;
      }
      &:last-child{
        border-top-right-radius: $global-radius;
      }
    }
  }
}

.custom-tabs-content{
  background-color: white;
  width: 100%;
  @include radius-bottom;
  border-top-right-radius: $global-radius;
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 0.5em;
  }
  /*Large screens*/
  @media screen and (min-width: $customTabMaxWidth) {
    padding: 2em;
  }
}
