@mixin custom-column($max-width: 50em){
  @include display-flex(column, center, center);
  > div, > form{
    width: 100%;
    max-width: $max-width;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    margin: 0em 1em 1em 1em;
    padding: 0em 1em 1em 1em;
  }
}

.custom-column{
  @include custom-column;
}