$active-custom-tab-bg: $off-white;

.custom-tabs{
  @include display-flex(column, left);

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    width: 100%;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    width: 40em;
  }
}

.custom-tabs-titles{
  font-family: $header-font-family;
  width: 100%;
  @include display-flex(row, flex-start);
  a{
    padding: 1em;
    &.active{
      color: $dark-grey;
      background-color: $active-custom-tab-bg;
    }
    &:first-child{
      border-top-left-radius: $global-radius;
    }
    &:last-child{
      border-top-right-radius: $global-radius;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include flex-wrap(wrap);
    width: 100%;
  }
}

.custom-tabs-content{
  background-color: $active-custom-tab-bg;
  @include radius-bottom();
  border-top-right-radius: $global-radius;
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 2em;
  }
}
