.donate-menu{
  ul{
    li{
      @include display-flex(column, center, center);
      margin: 0.5em;
      padding: 2em;
      background-color: #ddd;
      @include radius;
    }
  }
  a{
    @include underline($dark-grey);
    @include transition(text-decoration-color);
    &:not(:hover){
      text-decoration-color: #999;
    }
  }
}
