.donate-menu{
  ul{
    li{
      @include display-flex(column, center, center);
      margin: 0.5em;
      padding: 2em;
      background-color: #eaeaea;
      @include radius;
      &.not-available{
        background-color: #444;
        color: white;
        .fa, h4{
          color: white;
        }
      }
    }
  }
  a{
    @include underline($dark-grey);
    @include transition(text-decoration-color);
    &:not(:hover){
      text-decoration-color: #bbb;
    }
  }
}
