.has-dropdown{
  position: relative;
  cursor: pointer;
}
.dropdown{
  text-align: left;
  display: none;
  position: absolute;
  z-index: 30;
  min-width: 10em;
  top: 100%;
  &:not(.dropdown-align-right){ left: 0; }
  &.dropdown-align-right{ right: 0;  }
  white-space: nowrap;
  background-color: $off-white;
  font-size: 0.9em;
  color: $dark-grey;
  &, a, span, .fa{
    text-align: left !important;
    color: $dark-grey;
  }
  @include shy-border;
  li{
    width: 100%;
  }
  .selected{
    background-color: #666;
    &, .fa{
      color: white !important;
    }
  }
  a{
    padding: 0.5em;
    @include bg-hover(white);
  }
}

.dropdown-label{
  &, &:hover{
    color: #444;
    cursor: default;
  }
  &:first-letter{
    text-transform: uppercase;
  }
}
