.has-dropdown{
  position: relative;
  cursor: pointer;
}
.dropdown{
  text-align: left;
  display: none;
  z-index: 100;
  background-color: $off-white;
  font-size: 0.9em;
  color: $dark-grey;
  &, a, span, .fa{
    text-align: left !important;
    color: $dark-grey !important;
  }
  @include shy-border;
  position: absolute;
  min-width: 10em;
  top: 100%;
  left: 0;
  white-space: nowrap;
  li{
    width: 100%;
  }
  .selected{
    background-color: #666;
    &, .fa{
      color: white !important;
    }
  }
  a{
    display: inline-block !important;
    padding: 0.5em;
    width: 100%;
    @include bg-hover(white);
  }
}

.dropdown-label{
  &, &:hover{
    color: #444;
    cursor: default;
  }
  &:first-letter{
    text-transform: uppercase;
  }
}
