#error{
  @include flex(1);
  @include display-flex(column, center, center);
  @include multidef-bg-cover('img.inventaire.io/sarah-buckley-6117998074-CC-BY.jpg', 'hd');
  .errorBox{
    background-color: rgba(#eee, 0.8);
    max-width: 30em;
    .button{
      font-weight: bold;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .errorBox{
      padding: 1em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    .errorBox{
      padding: 4em;
    }
    padding-bottom: 10em;
  }
}