#error{
  text-align: center;
  flex: 1 1 auto;
  min-height: 80vh;
  @include display-flex(column, center, center);
  .errorBox{
    background-color: $global-background-contrast-color;
    max-width: 30em;
    margin: 1em;
    @include radius;
    .button{
      font-weight: bold;
    }
    .context{
      background-color: white;
      opacity: 0.8;
      @include radius;
      padding: 1em;
      margin: 1em 0 1em 0;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .errorBox{
      padding: 1em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .errorBox{
      display: none;
      padding: 2em 4em 2em 4em;
      h2{
        width: 100%;
        font-size: 1.6em;
        @include text-wrap(nowrap);
      }
    }
    .redirection{
      padding-top: 1em;
    }
    padding-bottom: 10em;
  }
}
