#feedback{
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    display: none;
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include position(fixed, null, 0, 14em, null, 1000);
    @include vendor-prefix(transform, rotate(-90deg));
    @include vendor-prefix(transform-origin, right bottom 0);
    a{
      @include radius-top;
      @include custom-button($dark-grey, white, 0.1em, 0.2em 0.5em 0.2em 0.5em);
    }
  }
}

.feedbackMenu{
  text-align: center;
  background-color: $light-grey;
  .username, .email{
    font-weight: bold;
    color: $dark-grey;
    @include serif;
  }
  p{
    max-width: 30em;
    margin: auto;
    text-align: center;
  }
  /*Not VerySmall screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 1em;
    .from, .to{
      label, input{
        display: inline;
      }
      text-align: left;
    }
    .from{
      input{
        max-width: 25em;
        margin-top: 1em;
      }
    }
    .to{
      margin-bottom: 1em;
    }
  }
  #getInvolved{
    margin-top: 2em;
  }
  textarea{
    min-width: 100%;
    max-width: 100%;
  }
}

