#feedbacks{
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    display: none;
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    a{
      @include custom-button($dark-grey, white, 0.1em, 0.2em 0.5em 0.2em 0.5em);
      border: 1px solid $grey;
    }
  }
}

.feedbacksMenu{
  text-align: center;
  background-color: $light-grey;
  .username, .email{
    font-weight: bold;
    color: $dark-grey;
    @include serif();
  }
  p{
    max-width: 30em;
    margin: auto;
    text-align: center;
  }
  /*Not VerySmall screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 1em;
    .from, .to{
      label, input{
        display: inline;
      }
      text-align: left;
    }
    .from{
      input{
        max-width: 25em;
        margin-top: 1em;
      }
    }
    .to{
      margin-bottom: 1em;
    }
    .username, .email{
      margin-left: 1em;
    }
    .email{
      padding-left: 1em;
    }
  }
  #getInvolved{
    margin-top: 2em;
  }
  textarea{
    min-width: 100%;
    max-width: 100%;
  }
}

