@font-face {
 font-family: 'Alegreya';
 font-weight: normal;
 src: url(/public/fonts/Alegreya-Regular.ttf);
}

@font-face {
 font-family: 'Alegreya';
 font-weight: bold;
 src: url(/public/fonts/Alegreya-Bold.ttf);
}

/* for cyrillic text */
@font-face {
 font-family: 'Gregor';
 font-weight: normal;
 src: url(/public/fonts/Gregor-Regular.otf);
}

@font-face {
 font-family: 'Alegreya Sans';
 font-weight: normal;
 src: url(/public/fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
 font-family: 'Alegreya Sans';
 font-weight: bold;
 src: url(/public/fonts/AlegreyaSans-Bold.ttf);
}

// @font-face {
//  font-family: 'Montserrat';
//  font-weight: normal;
//  src: url(../fonts/Montserrat-Regular.ttf);
// }

// @font-face {
//  font-family: 'Montserrat';
//  font-weight: bold;
//  src: url(../fonts/Montserrat-Bold.ttf);
// }

$serif: 'Alegreya';
$sans-serif: 'Alegreya Sans';

$header-font-family: $serif, serif;
$body-font-family: $sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$topbar-link-font-family: $header-font-family;
$tabs-navigation-font-family: $header-font-family;
$body-font-color: #222;

$button-font-family: $header-font-family;
$input-font-family: $sans-serif;
$label-font-family: $sans-serif;

@mixin serif() {
  font-family: $serif;
}
@mixin sans-serif() {
  font-family: $sans-serif;
}
.serif{
  @include serif;
}
.sans-serif{
  @include sans-serif;
}

.username{
  @include serif;
  font-weight: bold;
}
