@font-face {
 font-family: 'Alegreya';
 font-weight: normal;
 src: url(../fonts/Alegreya-Regular.ttf);
}

@font-face {
 font-family: 'Alegreya';
 font-weight: bold;
 src: url(../fonts/Alegreya-Bold.ttf);
}

/* for cyrillic text */
@font-face {
 font-family: 'Gregor';
 font-weight: normal;
 src: url(../fonts/Gregor-Regular.otf);
}

@font-face {
 font-family: 'Alegreya Sans';
 font-weight: normal;
 src: url(../fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
 font-family: 'Alegreya Sans';
 font-weight: bold;
 src: url(../fonts/AlegreyaSans-Bold.ttf);
}

// @font-face {
//  font-family: 'Montserrat';
//  font-weight: normal;
//  src: url(../fonts/Montserrat-Regular.ttf);
// }

// @font-face {
//  font-family: 'Montserrat';
//  font-weight: bold;
//  src: url(../fonts/Montserrat-Bold.ttf);
// }

// $label-font-family: $body-font-family !default;
// $side-nav-font-family: $body-font-family !default;
// $sub-nav-font-family: $body-font-family !default;
// $topbar-link-font-family: $body-font-family !default;

// $header-font-family: "Alegreya", serif;
// $tabs-navigation-font-family: $header-font-family;

// $body-font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$body-font-family: "Alegreya", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-color: #222;