// Taking over what was formerly handled by Foundation forms.scss

/* Label Styles */
label{
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Attach elements to the beginning or end of an input */
.postfix{
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  /* Adjust padding, alignment and radius if pre/post element is a button */
  &.button{
    padding: 0;
    text-align: center;
    line-height: 2.125rem;
    border: none;
  }
  /* Separate postfix styles when on span or label so buttons keep their own */
  &span, &label{
    background: #f2f2f2;
    border-left: none;
    color: $input-font-color;
    border-color: $input-border-color;
  }
}

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea{
  appearance: none;
  border-radius: 0px;
  background-color: #FFFFFF;
  font-family: inherit;
  border: 1px solid $input-border-color;
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: $input-font-color;
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  // height: 2.3125rem;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  &:focus{
    box-shadow: 0 0 5px #999999;
    border-color: #999999;
    background: #fafafa;
    border-color: #999999;
    outline: none;
  }
  &:disabled{
    background-color: #DDDDDD;
    cursor: default;
  }
}

/* Add height value for select elements to match text input height */
select{
  appearance: none;
  border-radius: 0px;
  background-color: #FAFAFA;
  background-position: 100% center;
  background-repeat: no-repeat;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  color: $input-font-color;
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
  &:hover{
    background-color: #f3f3f3;
    border-color: #999999;
  }
  &:disabled{
    background-color: #DDDDDD;
    cursor: default;
  }
}

/* Adjust margin for form elements below */
input[type="file"], input[type="checkbox"], input[type="radio"], select{
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label, input[type="radio"] + label{
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"]{
  width: 100%;
}
