@import "mixins";
@import "colors";
@import "links";

$global-radius: 3px; // Foundation variable
$has-tip-border-bottom: solid 0px white; // Foundation variable
$has-tip-border-bottom-hover: solid 0px white; // Foundation variable
$has-tip-cursor-type: inherit; // Foundation variable
$tooltip-bg: $darker-grey; // Foundation variable


body{
  ul, ul li, ul li ul{
    list-style-type: none;
    // overriding Foundation settings
    margin: 0;
  }
  li{
    margin: 0;
  }
}

.tiny.button{
  font-size: 1em !important;
  padding: 0.1em !important;
  color: $grey;
  background-color: $light-grey;
}

img.icon{
  max-height: 1.5em;
  opacity: 0.8;
}

// OPACITY
// see Foundation _visibility for media-specific classes
.hidden {
  // DONT !important it as it seems it can't be shown then
  display: none;
}

.shy{
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.glowing{
  border: 0.1em solid rgba(86, 180, 239, 0.6);
  box-shadow: 0 0.2em 0.5em $glow;
  transition: all 0.5s ease;
}

.focus{
  @extend .glowing;
}

// SIZE MIXINS
.big{
  font-size: 5rem;
  padding: 1rem;
}
.medium{
  font-size: 2rem;
  padding: 0.2rem;
}

.fa.monospaced {
  width: 1.2rem;
  text-align: center;
}

// FORMS
$input-include-glowing-effect: false;
$button-margin-bottom: 0rem;

.alert-box{
  margin-top: -1rem;
}
.with-tip{
  display: inline-block;
}
.has-tip{
  display: inline-block;
  .fa-question-circle{
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6, .button, p, label{
  &:first-letter{
    text-transform: uppercase;
  }
}
.subheader:first-letter{
  text-transform: uppercase;
}

.capitalized{
  &:first-letter{
    text-transform: capitalize;
  }
}
.capitalizedAll{
  text-transform: capitalize;
}

// making the selector stronger to override
// Foundation .buttons e.g.
p.bold, span.bold, a.bold{
  font-weight: 900;
}

select {
  font-family: 'FontAwesome', 'Alegreya';
  option {
    // works in Firefox not Chrome
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.margin-top{
  margin-top: 1rem;
}

.panel{
  @extend .contrast;
  padding: 1em;
  border-radius: $global-radius;

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 2em;
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

@import "select_button_group";
@import "pictures";
@import "custom_select";
@import "shadow_box";
@import "circle_pic";
@import "input";
@import "success_check";
@import "custom_tabs";
@import "custom_column";
@import "errors";
@import "joyride";
@import "switching_button";
