@import "mixins";
@import "colors";
@import "links";
@import "case";
@import "radius";
@import "index";

$has-tip-border-bottom: solid 0px white; // Foundation variable
$has-tip-border-bottom-hover: solid 0px white; // Foundation variable
$has-tip-cursor-type: inherit; // Foundation variable
$tooltip-bg: $darker-grey; // Foundation variable
$input-border-color: rgba(#888, 0.8);
$input-font-color: black;

$modalWidth: 38em;
$largeModalWidth: 80em;

body{
  ul, ul li, ul li ul{
    list-style-type: none;
    // overriding Foundation settings
    margin: 0;
  }
  li{
    margin: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
  a{
    outline: 0;
  }
}

img.icon{
  max-height: 1.5em;
  opacity: 0.8;
}

// OPACITY
// see Foundation _visibility for media-specific classes
.hidden {
  // DONT !important it as it seems it can't be shown then
  display: none;
}

.glowing{
  border: 0.1em solid rgba(86, 180, 239, 0.6);
  box-shadow: 0 0.2em 0.5em $glow;
  transition: all 0.5s ease;
}

.focus{
  @extend .glowing;
}

// SIZE MIXINS
.big{
  font-size: 5rem;
  padding: 1rem;
}
.medium{
  font-size: 2rem;
  padding: 0.2rem;
}

.fa.monospaced {
  width: 1.2rem;
  text-align: center;
}

// FORMS
$input-include-glowing-effect: false;
$button-margin-bottom: 0rem;

.alert-box{
  margin-top: -1rem;
  font-family: 'Alegreya Sans';
  font-size: 0.9em !important;
}
.with-tip{
  display: inline-block;
}
.has-tip{
  display: inline-block;
  .fa-question-circle{
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1rem;
  }
}

// making the selector stronger to override
// Foundation .buttons e.g.
p.bold, span.bold, a.bold{
  font-weight: 900;
}

select {
  // FontAwesome is needed to correctly display icons
  font-family: 'FontAwesome', 'Alegreya Sans';
  option {
    // works in Firefox not Chrome
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

input[type="password"]{
  // forcing standard password dots
  font-family: sans-serif !important;
}

.margin-top{
  margin-top: 1rem;
}

.user-content{
  @include text-wrap;
  max-width: 100%;
}

.generic-loader{
  width: 100%;
  height: 100%;
  @include display-flex(row, center, center);
  padding: 2em;
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

@import "buttons";
@import "shadow_box";
@import "panel";
@import "background";
@import "select_button_group";
@import "pictures";
@import "circle_pic";
@import "input";
@import "success_check";
@import "custom_tabs";
@import "custom_column";
@import "errors";
@import "joyride";
@import "switching_button";
@import "separator";
@import "new_message";
@import "line_clamp";
@import "counter";
@import "fog";
@import "call_to_connect";
@import "share_menu";
@import "toggler";
@import "picture_picker";
@import "confirmation_modal";
@import "filter";
