@import "mixins";
@import "colors";
@import "links";
@import "case";
@import "radius";

$topbar-bg-color: $darker-grey;
$topbar-height: 46px;
$horizontal-iconnav-height: 40px;
$smallscreen-connection-buttons-height: 40px;

html, body{
  font-size: 100%;
}
html{
  height: 100%;
}

// Foundation had this, and now everything relies on it:
// Do not remove
*, *:before, *:after{
  box-sizing: border-box;
}

body{
  height: auto;
  background: #f5f5f5;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
  ul, ul li{
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }
  li{
    margin: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
  a{
    outline: 0;
  }
}

// OPACITY
.hidden{
  // DONT !important it as it seems it can't be shown then
  display: none;
}
.force-hidden{
  // remove the class to make visible
  display: none !important;
}

.invisible{
  visibility: hidden;
}

.glowing{
  border: 0.1em solid rgba(86, 180, 239, 0.6);
  box-shadow: 0 0.2em 0.5em $glow;
  transition: all 0.5s ease;
}

.focus{
  @extend .glowing;
}

.big{
  font-size: 5rem;
  padding: 1rem;
}
.medium{
  font-size: 2rem;
  padding: 0.2rem;
}

.fa{
  padding-left: 0.2em;
  padding-right: 0.2em;
  // Force monospace
  width: 1.4em;
  text-align: center;
}

.bold{
  font-weight: bold;
}

.margin-top{
  margin-top: 1rem;
}

.user-content{
  @include text-wrap;
  max-width: 100%;
}

noscript{
  padding: 1em;
}

@import "loader";
@import "buttons";
@import "shadow_box";
@import "panel";
@import "background";
@import "select_button_group";
@import "pictures";
@import "circle_pic";
@import "input";
@import "select";
@import "img";
@import "label";
@import "success_check";
@import "custom_tabs";
@import "custom_column";
@import "errors";
@import "modal";
@import "switching_button";
@import "separator";
@import "new_message";
@import "line_clamp";
@import "counter";
@import "fog";
@import "call_to_connect";
@import "toggler";
@import "picture_picker";
@import "confirmation_modal";
@import "filter";
@import "shortcut_tip";
@import "menus";
@import "autocomplete";
@import "change_picture";
@import "tooltip";
@import "alert_box";
@import "progress_bars";
@import "dropdown";
@import "settings_menu";
