#iconNav{
  background-color: $darker-grey;
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include position(fixed, $topbar-height, null, 0);
    width: $iconNavWidth;
  }
  // when the window is resized, an horizontal scroll may appear
  // in which case, you don't want the icon_nav to appear behind the items
  z-index: 20;
}

.innerIconNav{
  .iconButton{
    max-width: 10em;
    padding: 0.4em 0.1em 0.4em 0.1em;
    @include display-flex(column);
    text-align: center;
    .iconWithCounter{
      .counter{
        @include counter-commons();
      }
      &.count-0 > .counter, .counter:empty{
        display: none;
      }
      /*Small screens*/
      @media screen and (max-width: $smallscreen) {
        &:not(.count-0){
          margin-left: 1em;
        }
      }

      /*Large screens*/
      @media screen and (min-width: $smallscreen) {
        @include display-flex(row, center, center);
        .counter{
          margin: 0.1em -0.8em 0.2em -0.2em;
          z-index: 21;
          opacity: 1;
        }
      }
    }
    .fa, span{
      color: white;
    }
    .fa{
      font-size: 1.5em;
      text-align: center;
    }
    span{
      text-align: center;
      margin-top: -1.4em;
      line-height: 1em;
    }
    .label{
      line-height: 1em;
    }
    &:not(.selected){
      span:not(.counter), .fa{
        @include transition(opacity);
        opacity: 0.6;
      }
      &:hover{
        span:not(.counter), .fa{
          opacity: 1;
        }
      }
    }
    &.selected{
      background-color: $off-white;
      @include inner-shadow();
      @include radius();
      .fa, span{
        color: $grey
      }
      @include hide-counter();
    }
    &:hover{
      color: white;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include display-flex(row, baseline, space-around);
    a.iconButton{
      max-width: 50%;
      min-width: 4em;
      height: 100%;
      // force items to take the same space
      @include flex(1, 1, 0);
      margin-bottom: 0.2em;
      .fa{
        font-size: 1em;
      }
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: $verysmallscreen) {
    @include flex-wrap(wrap);
    @include flex(1, 0, auto);
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    max-width: 100%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    .iconButton{
      margin-bottom: 1em;
    }
  }
}