$iconButtonMinWidth: 4.5em;
$lowerIconButtonMinWidth: 4*$iconButtonMinWidth;
$upperIconButtonMinWidth: 5*$iconButtonMinWidth;

#iconNav{
  background-color: $darker-grey;
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include position(fixed, $topbar-height, null, 0);
    width: $iconNavWidth;
  }
  // when the window is resized, an horizontal scroll may appear
  // in which case, you don't want the icon_nav to appear behind the items
  z-index: 20;
}

.innerIconNav{
  .iconButton{
    max-width: 10em;
    padding: 0.4em 0.1em 0.4em 0.1em;
    @include display-flex(column);
    text-align: center;
    .iconWithCounter{
      .counter{
        @include counter-commons;
      }
      &.count-0 > .counter, .counter:empty{
        display: none;
      }
      /*Large screens*/
      @media screen and (min-width: $smallscreen) {
        @include display-flex(row, center, center);
        .counter{
          margin: 0.1em -0.8em 0.2em -0.2em;
          z-index: 21;
          opacity: 1;
        }
      }
    }
    .fa, span{
      color: white;
    }
    .fa{
      font-size: 1.5em;
      text-align: center;
    }
    span{
      text-align: center;
      margin-top: -1.4em;
      line-height: 1em;
    }
    .label{
      line-height: 1em;
    }
    &:not(.selected){
      span:not(.counter), .fa{
        @include transition(opacity);
        opacity: 0.6;
      }
      &:hover{
        span:not(.counter), .fa{
          opacity: 1;
        }
      }
    }
    &.selected{
      background-color: $off-white;
      @include inner-shadow;
      @include radius;
      .fa, span{
        color: $grey
      }
      @include hide-counter;
    }
    &:hover{
      color: white;
    }
    .double-icon{
      @include display-flex(row, center, center);
      color: white;
      span{
        // overriding icon_nav span rules
        margin: 0;
        // centering
        margin-left: -0.3em;
        margin-right: 0.1em;
      }
      /*Large screens*/
      @media screen and (min-width: $smallscreen) {
        .fa{
          font-size: 1.2em;
        }
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include display-flex(row, baseline, space-around);
    a.iconButton{
      max-width: 50%;
      min-width: $iconButtonMinWidth;
      height: 100%;
      // force items to take the same space
      @include flex(1, 1, 0);
      margin-bottom: 0.2em;
      .fa{
        font-size: 1em;
      }
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: $verysmallscreen) {
    @include flex-wrap(wrap);
    @include flex(1, 0, auto);
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    max-width: 100%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    .iconButton{
      margin-bottom: 1em;
    }
  }
  // between 4 and 5 times $iconButtonMinWidth
  // $iconButtonMinWidth grows to force 2 iconButtons
  // to move to the next row instead of just 1.
  // will need to be adapted if the number of iconButtons changes
  @media screen and (min-width: $lowerIconButtonMinWidth) and (max-width: $upperIconButtonMinWidth){
    a.iconButton{
      min-width: $iconButtonMinWidth+1.2em;
    }
  }
}

// positioners are a hack to give an offset position
// to joyride tips
.positioner{
  height: 1px;
  z-index: 300;
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    display: none;
  }
}
#addIconButtonTop{
  @include position(absolute, -30px, 0, null, 0);
}
#networkIconButtonTop{
  @include position(absolute, 50px, 0, null, 0);
}