.inputGroup{
  width: 100%;
  @include display-flex(row, left, flex-start);
  .inputBox{
    @include flex(1);
    min-width: 60%;
  }
  margin-bottom: 0.5em;
  a.button.postfix{
    // Foundation sets .postfix { z-index:2 }
    // hides topbar dropdowns when out of a Foundation grid
    z-index: 0;
  }

  /*Small screens*/
  @media screen and (max-width: $very-small-screen) {
    @include flex-direction(column);
    .inputBox{
      width: 100%;
      input{
        margin: 0 !important;
        @include radius-top;
      }
      a.button.postfix{
        @include radius-bottom;
      }
      .alert-box{
        // Foundation sets .alert-box with negative margin-top
        margin: 0;
      }
    }
    .button{
      width: 100%;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $very-small-screen) {
    input{
      @include radius-left;
    }
    a.button.postfix{
      @include radius-right;
    }
  }
}