$input-border-color: rgba(#888, 0.8);
$input-font-color: black;

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea{
  appearance: none;
  border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border: 1px solid $input-border-color;
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: $input-font-color;
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  &:focus{
    box-shadow: 0 0 5px rgba(#999, 0.5);
    border-color: rgba(#999, 0.3);
    outline: none;
  }
  &:disabled{
    background-color: #ddd;
    cursor: default;
  }
}

/* Adjust margin for form elements below */
input[type="file"], input[type="checkbox"], input[type="radio"], select{
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label, input[type="radio"] + label{
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"]{
  width: 100%;
}

input[type="password"]{
  // forcing standard password dots
  font-family: sans-serif !important;
}

textarea{
  height: auto;
  min-height: 50px;
  // don't set a min-width as textarea are sometimes in a flex row
  // with other elements (ex: transactions new_message)
  // min-width: 100%;
  max-width: 100%;
  resize: none;
  border: solid 1px #ccc;
  &:focus{
    box-shadow: 0 0 2px $glow;
  }
}

.inputGroup{
  width: 100%;
  @include display-flex(row, left, flex-start);
  .inputBox{
    flex: 1 1 auto;
    min-width: 60%;
    input{
      height: 2.2rem;
      padding: 0 1em;
      margin: 0;
    }
  }
  margin-bottom: 0.5em;
  a.button.postfix{
    height: 2.2rem;
    white-space: nowrap;
  }

  /*Small screens*/
  @media screen and (max-width: $very-small-screen) {
    flex-direction: column;
    .inputBox{
      width: 100%;
      input{
        margin: 0 !important;
        @include radius-top;
      }
      a.button.postfix{
        align-self: stretch;
        @include radius-bottom;
        @include radius-top(0);
        padding: 5em;
      }
      .alert-box{
        // Foundation sets .alert-box with negative margin-top
        margin: 0;
      }
    }
    .button{
      width: 100%;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $very-small-screen) {
    input{
      @include radius-left;
    }
    a.button.postfix{
      @include radius-right;
      @include radius-left(0);
      width: auto;
      padding: 0 1em;
    }
  }
}

/* Attach elements to the beginning or end of an input */
.postfix{
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  /* Adjust padding, alignment and radius if pre/post element is a button */
  &.button{
    padding: 0;
    text-align: center;
    line-height: 2.125rem;
    border: none;
  }
  /* Separate postfix styles when on span or label so buttons keep their own */
  &span, &label{
    background: #f2f2f2;
    border-left: none;
    color: $input-font-color;
    border-color: $input-border-color;
  }
}
