$joyride-tip-font-size: 1em; // Foundation variable
$joyride-tip-bg: $darker-grey; // Foundation variable

$joyride-tip-default-width: 400px;
.joyride-content-wrapper{
  img{
    margin-bottom: 1em;
  }
  h5{
    margin-bottom: 0.4em !important;
  }
  #conclusion{
    h5{
      text-align: center;
    }
  }
  #socialNetworks{
    a{
      min-width: 6em;
    }
    .fa{
      font-size: 1.4em;
    }
    span{
    }
  }
}
