.link{
  text-decoration: none;
  color: #555566;
  // border-bottom: 3px solid rgba(255,255,0,0.2);
  &:hover {
    color: $secondary-color;
    // border-bottom: 3px solid rgba(255,255,0,1);
  }
}

.showEntity, .showItem{
  @extend .link;
}