// Inspired by https://loading.io/css/ .lds-dual-ring
@mixin loader-commons(){
  display: inline-block;
  align-self: center;
  &:after{
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: 1px;
    border-radius: 50%;
    animation: ring-loader 1.2s linear infinite;
  }
}

@keyframes ring-loader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.full-screen-loader{
  @include position(fixed, 0, 0, 0, 0);
  @include display-flex(row, center, center);
  > div{
    transform: translateY(-50%);
    @include loader-commons;
    &:after{
      border: 8px solid;
      border-color: $dark-grey $light-blue $yellow transparent;
      font-size: 5em;
    }
  }
}
