.feedback-menu{
  text-align: center;
  &.standalone{
    @include central-column(40em);
    > div{
      background-color: white;
      padding: 1em;
    }
    /*Large screens*/
    @media screen and (width >= $small-screen) {
      padding-block-start: 1em;
    }
  }
}
