.donate-menu, .feedback-menu{
  text-align: center;
  &.standalone{
    @include custom-column(40em);
    > div {
      background-color: white;
      padding: 1em;
    }
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      padding-top: 1em;
    }
  }
}

@import "feedback";
@import "donate";
