@import 'vendor_prefix_mixins';
@import 'flex_mixins';
@import 'colors_mixins';

@mixin transition($elements:all, $speed:0.5s, $mode:ease){
  transition: $elements $speed $mode;
}

@mixin border($color, $width:1px, $style:solid){
  border: $width $style $color;
}

@mixin standard-dropdown(){
  .f-dropdown{
    a, li, i.fa{
      color: $dark-grey;
    }
  }
}

@mixin position($position, $top:null, $right:null, $bottom:null, $left:null, $z:null){
  position: $position;
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
  @if $z { z-index: $z; }
}


// a minority of supporting browsers.
// not using a polyfill for now as it can be concidered
// to be just a progressive enhancement.
@mixin sticky($top){
  position: -webkit-sticky; // required for Safari
  position: sticky;
  top: $top;
}

// just bundling both existing syntax
// cf https://developer.mozilla.org/en-US/docs/Web/CSS/word-wrap
@mixin text-wrap($setting:break-word){
  word-wrap: $setting;
  overflow-wrap: $setting;
}

@mixin rigid-textarea(){
  textarea{
    max-width: 100%;
    min-width: 100%;
    resize: none;
  }
}

@mixin break-line-before(){
  display:inline;
  &:before{
    content:"\a";
    white-space: pre;
  }
}