@import 'vendor_prefix_mixins';
@import 'flex_mixins';
@import 'colors_mixins';

@mixin transition($elements:all, $speed:0.5s, $mode:ease){
  transition: $elements $speed $mode;
}

@mixin border($color, $width:1px, $style:solid){
  border: $width $style $color;
}

@mixin standard-dropdown(){
  .f-dropdown{
    a, li, i.fa{
      color: $dark-grey;
    }
  }
}

@mixin position($position, $top:null, $right:null, $bottom:null, $left:null, $z:null){
  position: $position;
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
  @if $z { z-index: $z; }
}
