$modalWidth: 38em;
$mediumModalWidth: 46em;
$largeModalWidth: 60em;

#modalWrapper, #overlay{
  background: rgba(black, 0.55);
  overflow: auto;
  @include position(fixed, 0, 0, 0, 0);
  &.hidden{
    top: -100%;
    bottom: 100%;
  }
}

#modalWrapper{ z-index: 10000; }

// Add this class to the body to make the modalWrapper scroll the only scroll
// while the modal is opened
body.openedModal{
  overflow: hidden;
}

#modal{
  position: relative;
  margin: 0 auto;
  max-width: $modalWidth;
  &.modal-medium{ max-width: $mediumModalWidth; }
  &.modal-large{ max-width: $largeModalWidth; }
  .close{
    line-height: 0;
    font-size: 2.8em;
    font-weight: bold;
    color: white;
    @include shy(0.5);
    @include position(absolute, 40px, 0);
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 0.5em;
    min-width: 80vw;
    margin-top: 10px;
    .close{
      top: 20px;
      right: 10px;
      color: $grey;
    }
  }
  /*Medium / Large screens*/
  @media screen and (min-width: $smaller-screen) {
    padding: 2em;
    min-width: 35em;
    margin-top: 50px;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .large{
      min-width: 60em;
    }
  }
}

#modalContent{
  @include radius;
  background-color: white;
  &.dark{
    background-color: $topbar-bg-color;
  }
  box-shadow: 3px 3px 10px 3px rgba(#222, 0.5);
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 1em 0;
  }
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    padding: 1em;
  }
}
