#newsButtons{
  align-self: stretch;
}

.innerNewsButtons{
  height: 100%;
  @include display-flex(row, center, center);
}

.iconButton{
  @include display-flex(row, center, center);
  width: 3em;
  align-self: stretch;
  text-align: center;
  position: relative;
  &.count-0 > .counter, &.icon-without-counter{
    .counter{
      display: none;
    }
  }
  .counter:empty{
    display: none;
  }
  .counter{
    @include counter-commons;
  }
  .fa{
    color: white;
    text-align: center;
  }
  .counter{
    text-align: center;
    line-height: 1em;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .counter{
      @include position(absolute, 0.2em, null, null, 60%)
      min-height: 1.05em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .fa{
      font-size: 1.4em;
    }
    .counter{
      @include position(absolute, 0.2em, 0.2em)
    }
  }
}
