.newMessage{
  padding: 1em;
  @include display-flex(column);
  .main{
    @include display-flex(row, flex-start, space-between);
    .avatar{
      flex: 0 0 auto;
    }
    textarea{
      flex: 1 1 auto;
      border: solid 1px #ccc;
    }
  }
  .sendMessage{
    align-self: flex-end;
  }
}
