.notLoggedMenu{
  a{
    font-weight: bold;
    text-align: center;
  }
  .signupRequest{
    // the :not(.whatever) selector is just used to be stronger than Foundation
    // top-bar style, without the use of !important (that would be treaky
    // with the mixins) or dedicated ids
    a:not(.whatever){
      @include bg-hover($secondary-color, 5%);
      color: $dark-grey;
    }
  }
  .loginRequest{
    a:not(.whatever){
      @include bg-hover($success-color, 5%);
      color: white;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    justify-content: flex-end;
  }
}

@import 'top_bar_language_picker';
