@mixin panel($bg-color:$contrast){
  @include shadow-box();
  background-color: $bg-color;
  padding: 0.8em 1em 0.8em 1em;
  margin: 0.4em 0 0.6em 0;
  @include radius();
}

.panel{
  @include panel();
}
.dark-panel{
  @include panel($dark-grey);
  color: white;
  .indicator{
    color: white;
    &:hover{
      color: white;
    }
  }
}