$global-radius: 3px; // Foundation variable

@mixin radius($radius:$global-radius){
  border-radius: $radius;
}
@mixin radius-top($radius:$global-radius){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin radius-bottom($radius:$global-radius){
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin radius-left($radius:$global-radius){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin radius-right($radius:$global-radius){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin radius-horizontal-group($radius:$global-radius){
  :first-child{
    @include radius-left();
  }
  :last-child{
    @include radius-right();
  }
}

@mixin radius-vertical-group($radius:$global-radius){
  :first-child{
    @include radius-top();
  }
  :last-child{
    @include radius-bottom();
  }
}

.radius-top{ @include radius-top() }
.radius-bottom{ @include radius-bottom() }
.radius-left{ @include radius-left() }
.radius-right{ @include radius-right() }
