$global-radius: 3px; // Foundation variable

@mixin radius(){
  border-radius: $global-radius;
}
@mixin radius-top(){
  border-top-left-radius: $global-radius;
  border-top-right-radius: $global-radius;
}
@mixin radius-bottom(){
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
}
@mixin radius-left(){
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}
@mixin radius-right(){
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
}

.radius-top{ @include radius-top() }
.radius-bottom{ @include radius-bottom() }
.radius-left{ @include radius-left() }
.radius-right{ @include radius-right() }
