@mixin selected-button-color($color, $text-color:white){
  color: $dark-grey;
  background-color: #eee;
  margin: 0.2em;
  border: 2px solid $light-grey;
  border-radius: 5px;
  @include sans-serif;
  font-weight: normal;
  &.selected, &.active, &:hover{
    background-color: white;
    border-color: $color;
    i{ color: $color; }
  }
}

.select-button-group{
  @include display-flex(row);
  margin-top: 1rem;
  margin-bottom: 1rem;
  .button{
    .fa{
      font-size: 1rem
    }
    color: $dark-grey;
    background-color: white;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    @include radius-vertical-group;
    flex-direction: column;
    .button{
      outline: 0.1em solid $contrast;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include radius-horizontal-group;
    .button{
      outline: 0.1em solid $contrast;
    }
  }
}
