.select-button-group{
  @include display-flex(row, null, null, wrap);
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include radius-horizontal-group();
  .button{
    .fa{
      font-size: 1rem
    }
    color: white;
    background-color: $grey;
    &.active, &:hover{
      color: white;
      background-color: $light-blue;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include flex-direction(column);
    .button{
      outline: 0.1em solid $contrast;
      &:first-child { outline-top: none; }
      &:last-child { outline-bottom: none; }
    }
  }


  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    .button{
      outline: 0.1em solid $contrast;
      &:first-child { outline-left: none; }
      &:last-child { outline-right: none; }
    }
  }
}