@mixin selected-button-color($color){
  &.active, &:hover{
    color: white;
    background-color: $color;
  }
}

.select-button-group{
  @include display-flex(row, null, null, wrap);
  margin-top: 1rem;
  margin-bottom: 1rem;
  .button{
    .fa{
      font-size: 1rem
    }
    color: white;
    background-color: $grey;
    @include selected-button-color($light-blue);
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include radius-vertical-group();
    @include flex-direction(column);
    .button{
      outline: 0.1em solid $contrast;
      &:first-child { outline-top: none; }
      &:last-child { outline-bottom: none; }
    }
  }


  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include radius-horizontal-group();
    .button{
      outline: 0.1em solid $contrast;
      &:first-child { outline-left: none; }
      &:last-child { outline-right: none; }
    }
  }
}


// #giving{ @include selected-button-color($giving-color); }
// #lending{ @include selected-button-color($lending-color); }
// #selling{ @include selected-button-color($selling-color); }
// #inventorying{ @include selected-button-color($inventorying-color); }