.horizontal-separator{
  @include display-flex(row, center, center);
  margin: 2em 0em 2em 0em;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  line-height: 1em;
  .rule{
    flex: 1 1 auto;
    background-color: $grey;
    height: 1px;
    margin: auto 0.5em auto 0.5em;
    max-width: 5em;
  }
}
