.horizontal-separator, .vertical-separator {
  text-transform: uppercase;
  color: #666;
  text-align: center;
  line-height: 1em;
  .rule{
    @include flex(1);
    background-color: $grey;
  }
}

.horizontal-separator {
  @include display-flex(row, center, center);
  margin: 2em 0em 2em 0em;
  .rule{
    height: 1px;
    margin: auto 0.5em auto 0.5em;
    max-width: 5em;
  }
}

.vertical-separator {
  @include display-flex(column, center, center);
  .rule{
    width: 1px;
    margin: 0.5em auto 0.5em auto;
    max-height: 1em;
  }
}
