.separator {
  @include display-flex(row);
  text-align: center;
  line-height: 1em;
  text-transform: uppercase;
  // font-family: 'Alegreya Sans';
  color: #666;
  margin: 3em 0em 2em 0em;
}

.horizontal-rule{
  // width: 20%;
  @include flex(1);
  height: 0px;
  margin: auto 0.5em auto 0.5em;
  border: 1px solid $grey;
  display: inline-block;
}
