.shareMenu{
  @include display-flex(row, center, center, wrap);
  a{
    display: inline-block;
    @include flex(0, 0, auto);
    @include bg-hover(white);
    @include radius;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    .fa{
      margin: 0 auto;
      display: block;
      @include display-flex(column, center, center);
      width: 2em;
      height: 2em;
      @include radius;
      font-size: 2em;
      color: white;
    }
    .facebook{
      background-color: $facebook-color
    }
    .twitter{
      background-color: $twitter-color
    }
    .tumblr{
      background-color: $tumblr-color
    }
  }
}