$shadow-color: rgba(34, 25, 25, 0.4);

@mixin shadow-box($color:$shadow-color, $offsetX:0, $offsetY:1px, $blur:2px, $spread:0,  $opacity: 0.5){
  box-shadow: $offsetX $offsetY $blur $spread rgba($color, $opacity);
}

@mixin glow-on-focus(){
  &.focus{
    @extend .glowing;
  }
}

@mixin inner-shadow(){
  box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.3) inset;
}