.shortcut-tip{
  color: grey;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  text-align: end;
  padding-block-start: 0.2em;
  padding-block-end: 0.2em;
  margin-inline-end: 1em;

  /*Small screens*/
  @media screen and (width < $small-screen) {
    // doing shortcuts in mobile is quite hard
    display: none;
  }
}
