.checkWrapper{
  @include display-flex(column);
  div:first-child{
    flex: 1 1 auto;
  }
  .check{
    width: 3em;
    align-self: center;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
  }


  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    // flex-direction: row;
  }
}