// source and credits: http://callmenick.com/post/css-toggle-switch-examples

// .toggler-input and .toggler-label might not be needed
// but allow to give more strength to those settings
// or to :not(.them)ify by their class

.toggler-wrapper{
  position: relative;
  @include display-flex(row, center, space-between);
  &.inverted{
    @include justify-content(flex-start);
    :first-child{
      @include order(2);
      margin-left: 0.5em;
    }
    margin-bottom: 1em;
  }
}

input.toggler-input{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
input.toggler-input + label.toggler-label {
  margin: 0;
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 1px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.toggler-input + label.toggler-label:before,
input.toggler-input + label.toggler-label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.toggler-input + label.toggler-label:before {
  right: 1px;
  // background-color: #f1f1f1;
  background-color: $dark-grey;
  border-radius: 30px;
  transition: background 0.4s;
}
input.toggler-input + label.toggler-label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.toggler-input:checked + label.toggler-label:before {
  background-color: #8ce196;
}
input.toggler-input:checked + label.toggler-label:after {
  margin-left: 30px;
}
input.toggler-input:checked ~ span.toggler-warning {
  display: none;
}
