nav#top-bar{
  @include position(fixed, 0, 0, null, 0, 15)
  @include display-flex(row, center, flex-start);
  background-color: $topbar-bg-color;
  h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    // /!\ Defines the top-bar height
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  }
  a#home{
    color: white;
  }
  .push-right{
    margin-left: auto;
  }
  #mainUser, .menu, .language-picker, .signupRequest, .loginRequest{
    @include serif;
    font-weight: bold;
    color: white;
    align-self: stretch;
    white-space: nowrap;
    @include display-flex(row, center, center);
  }
  #mainUser, .menu, .language-picker{
    @include bg-hover-lighten($topbar-bg-color);
  }
  #mainUser, .language-picker{
    padding: 0.2em 1em;
  }
  #mainUser{
    flex: 0 0 auto;
    img{
      @include radius;
      margin-right: 0.5em;
    }
  }
  #currentUser{
    @include display-flex(row, center, center);
    color: white;
    font-weight: bold;
    .fa{
      // Aligning vertically with both the h1 and the #currentUsername
      padding-top: 0.1em;
    }
  }
  #currentUsername{
    font-size: 1.2em;
    padding-left: 0.4em;
  }
  .menu{
    font-size: 1.1em;
    width: 3em;
  }
  #searchGroup{
    flex: 1 0 auto;
    max-width: 38em;
    margin: 0 auto;
    margin-bottom: 0;
    .button{
      width: 5em;
      .fa{
        color: $dark-grey;
      }
    }
  }
  .inputBox{
    position: relative;
  }
  #liveSearch{
    @include position(absolute, 100%, 1px, null, 0);
    /*Smaller screens*/
    @media screen and (max-width: $smaller-screen) {
      @include position(fixed, $topbar-height, 0, 0, 0);
      @include display-flex(column);
    }
  }
  .dropdown{
    background-color: $topbar-bg-color;
  }
  .signupRequest, .loginRequest{
    padding: 0 1em;
  }
  .signupRequest{
    @include bg-hover($secondary-color, 5%);
    color: $dark-grey;
  }
  .loginRequest{
    @include bg-hover($success-color, 5%);
  }

  .dropdown{
    @include radius-bottom;
    font-weight: normal;
    @include sans-serif;
    &.hover{
      @include display-flex(column);
    }
  }
  .help-translate, .seeAll{
    @include display-flex(row, center, center);
    text-align: center;
    flex: 1 0 auto;
    align-self: stretch;
    font-weight: bold;
    @include serif;
    @include bg-hover(#333);
    font-size: 1.1em;
    padding: 0.8em 1em;
    &, span, .fa{
      color: white !important;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 0.2em;
    h1{
      flex: 0 0 auto;
      font-size: 1.1rem;
      background-color: $light-blue;
      @include radius;
      width: 1.8em;
      height: 1.8em;
      padding: 0;
      text-align: center;
      margin-left: 0.2em;
      margin-right: 0.4em;
    }
    .push-right, #currentUser, .language-picker, .menu, .username{
      display: none !important;
    }
    #searchGroup{
      flex: 1 1 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: auto;
      margin-top: -0.3em;
      margin-right: 0.4em;
      &, input, .button{
        height: 2rem;
      }
      input{
        @include radius-left;
        @include radius-right(0);
      }
      .button{
        @include radius-left(0);
      }
    }
    // Showing signup and login button at the bottom of the screen
    .signupRequest, .loginRequest{
      position: fixed;
      bottom: 0;
      height: $smallscreen-connection-buttons-height;
    }
    .signupRequest{
      left: 0;
      right: 50vw;
    }
    .loginRequest{
      left: 50vw;
      right: 0;
    }
  }
}

@import 'top_bar_language_picker';
