//Foundation variables
$topbar-height: 45px;
$topbar-bg-color: $darker-grey;
$topbar-title-font-size: 2rem;
$topbar-link-font-size: 1rem;
$topbar-link-bg-active: darken($secondary-color, 2%);
$topbar-link-bg-active-hover: scale-color($secondary-color, $lightness: -14%);
$topbar-link-color-active: $dark-grey;


$topbar-link-bg-disabled: $grey;

nav.top-bar {
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include position(fixed, 0, 0, null, 0);
  }
  // needed to be above everything that has a z-index or is fixed
  z-index: 100;
  img{
    max-height: $topbar-height * 0.9;
    margin-left: 1em;
  }
  .fa{
    font-size: 1em;
  }
  #name{
    font-weight: bold;
  }
  .dropdown{
    li{
      @include shadow-box($darker-grey);
    }
  }

  .listWithCounter{
    @include display-flex(row, center);
  }

  .counter {
    @include display-flex(row, center, center);
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: bold;
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2px;
    height: 30px;
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    .breadcrumb{
      a{
        font-size: 1.2em;
        padding-left: 0;
      }
    }
    #currentUser{
      @extend .breadcrumb;
    }
    // passing flex-grow:1 to the search input
    section, .right, .right div, li.has-form{
      @include display-flex();
      @include flex(1);
    }
    .right{
      max-width: 70em;
      margin-left: auto;
      div{
        @include justify-content(flex-end);
        #signupRequest{
          a{
            background-color: $secondary-color;
            color: $dark-grey;
            font-weight: bold;
          }
        }
        #loginRequest{
          a{
            background-color: $success-color;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
    // force the input and the .button to have the same height
    $search-input-height: 2.3em;
    #searchGroup{
      max-width: 30em;
      margin-left: auto;
      // already displayed flex thank to input.scss
      input{
        @include flex(1);
        height: $search-input-height;
        padding-left: 1em;
        @include radius-left(3px);
        // hidding the input radius on the right
        margin-right: -0.2em;
      }
      a.button{
        height: $search-input-height;
        @include radius();
      }
    }
    .labels{
      display: none;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .breadcrumb{
      // override Foundation inline css style="display: list-item;"
      display: none !important;
    }
    .labels{
      margin-right: 0.5em;
      text-transform: capitalize;
    }
  }
}