//Foundation variables
$topbar-height: 45px;
$topbar-bg-color: $darker-grey;
$topbar-title-font-size: 2rem;
$topbar-link-font-size: 1rem;
$topbar-link-bg-active: darken($secondary-color, 2%);
$topbar-link-bg-active-hover: scale-color($secondary-color, $lightness: -14%);
$topbar-link-color-active: $dark-grey;


$topbar-link-bg-disabled: $grey;

nav.top-bar {
  // needed to be above the fixed sideNav
  z-index: 1;
  img{
    max-height: $topbar-height * 0.9;
    margin-left: 1em;
  }
  .fa{
    font-size: 1em;
  }
  #scanner, #name{
    font-weight: bold;
  }
  #scanner{
    &.disabled{
      color: darken(white, 10%);
      @include bg-hover($topbar-link-bg-disabled);
    }
  }
  .dropdown{
    li{
      @include shadow-box($darker-grey);
    }
  }

  .listWithCounter{
    @include display-flex(row, center, center);
  }

  .counter {
    @include display-flex(row, center, center);
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: bold;
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2px;
    height: 30px;
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    #home{
      // aligning with #inventorySections
      margin-top: -0.1em;
    }
    .breadcrumb{
      a{
        font-size: 1.2em;
        padding-left: 0;
      }
    }
    #inventorySections{
      @extend .breadcrumb;
      a{
        text-transform: capitalize;
      }
      .dropdown{
        li{
          color: white;
          padding: 1em;
          width: 12em;
        }
      }
    }
    #currentUser{
      @extend .breadcrumb;
    }
    // passing flex-grow:1 to the search input
    section, .right, .right div, li.has-form{
      @include display-flex();
      @include flex(1);
    }
    .right{
      max-width: 70em;
      margin-left: auto;
      div{
        justify-content: flex-end;
        #signupRequest{
          a{
            background-color: $secondary-color;
            color: $dark-grey;
            font-weight: bold;
          }
        }
        #loginRequest{
          a{
            background-color: $success-color;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
    // force the input and the .button to have the same height
    $seach-input-height: 2.3em;
    #searchGroup{
      // already displayed flex thank to input.scss
      input{
        @include flex(1);
        height: $seach-input-height;
        padding: 0 0 0 1em;
        border-radius: $global-radius;
        // hidding the input radius on the right
        margin-right: -0.2em;
      }
      a.button{
        height: $seach-input-height;
        border-radius: $global-radius;
      }
    }
    .labels{
      display: none;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .breadcrumb{
      display: none;
    }
    .labels{
      margin-right: 0.5em;
      text-transform: capitalize;
    }
  }
}