//Foundation variables
$topbar-height: 45px;
$topbar-bg-color: $darker-grey;
$topbar-title-font-size: 2rem;
$topbar-link-font-size: 1rem;
$topbar-link-bg-active: darken($secondary-color, 2%);
$topbar-link-bg-active-hover: scale-color($secondary-color, $lightness: -14%);
$topbar-link-color-active: $dark-grey;


$topbar-link-bg-disabled: $grey;

nav.top-bar {
  .notLoggedMenu{
    a{
      font-weight: bold;
      text-align: center;
    }
  }
  #signupRequest{
    a{
      @include bg-hover($secondary-color, 5%);
      color: $dark-grey;
    }
  }
  #loginRequest{
    a{
      @include bg-hover($success-color, 5%);
      color: white;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include position(fixed, 0, 0, null, 0);
  }
  // needed to be above everything that has a z-index or is fixed
  z-index: 9000;
  img{
    max-height: $topbar-height * 0.85;
    margin-left: 1em;
  }
  .fa{
    font-size: 1em;
  }
  #name{
    font-weight: bold;
  }
  #pic{
    @include radius;
  }
  .dropdown{
    li{
      @include shadow-box($darker-grey);
    }
  }

  .listWithCounter{
    @include display-flex(row, center);
  }

  .counter {
    @include counter-commons;
    @include display-flex(row, center, center);
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    height: 30px;
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    #home{
      // aligning with #currentUser
      margin-top: -0.1em;
    }
    .breadcrumb{
      a{
        font-size: 1.2em;
        // overriding Foundation padding
        padding-left: 0 !important;
      }
    }
    // passing flex-grow:1 to the search input
    section, .right, .right div, li.has-form{
      @include display-flex;
      @include flex(1);
    }
    .right{
      max-width: 70em;
      margin-left: auto;
    }
    .notLoggedMenu{
      @include justify-content(flex-end);
    }
    // force the input and the .button to have the same height
    $search-input-height: 2.3em;
    #searchGroup{
      max-width: 30em;
      margin-left: auto;
      // already displayed flex thank to input.scss
      input{
        @include flex(1);
        height: $search-input-height;
        padding-left: 1em;
        @include radius-left(3px);
        // hidding the input radius on the right
        margin-right: -0.2em;
      }
      a.button{
        height: $search-input-height;
        @include radius;
      }
    }
    .labels{
      display: none;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .breadcrumb{
      // override Foundation inline css style="display: list-item;"
      display: none !important;
    }
    .labels{
      margin-right: 0.5em;
      text-transform: capitalize;
    }
  }
}
