#topBarButtons{
  align-self: stretch;
}

.innerTopBarButtons{
  height: 100%;
  @include display-flex(row, center, center);
}

.global-menu{
  align-self: stretch;
  @include display-flex(row, stretch, center);
  button{
    @include display-flex(row, center, center);
    color: white;
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      align-self: stretch;
      padding: 0 0.5em;
    }
    /*Small screens*/
    @media screen and (max-width: $small-screen) {
      margin-inline-start: 0.2em;
      align-self: stretch;
      .fa-bars{
        font-size: 1.5rem;
      }
    }
  }

  img{
    @include radius;
    // Hard-coding the height and width is required so that color square svg can be properly sized
    height: 2em;
    width: 2em;
  }

  [role="menu"]{
    /*Very Small screens*/
    @media screen and (max-width: $very-small-screen) {
      // Going over 100vw to cover the whole screen
      min-width: 102vw;
    }

    /*Not Very Small screens*/
    @media screen and (min-width: $very-small-screen) {
      min-width: 15em;
    }
  }
}

.iconButton{
  @include display-flex(row, center, center);
  align-self: stretch;
  text-align: center;
  &.count-0 > .counter, &.icon-without-counter{
    .counter{
      display: none;
    }
  }
  .counter:empty{
    display: none;
  }
  .counter{
    @include counter-commons;
  }
  .counter{
    text-align: center;
    line-height: 1em;
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .label{
      margin-inline-end: 1em;
    }
    .counter{
      margin-inline-start: auto;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    width: 3em;
    padding: 0 0.5em;
    position: relative;
    .label{
      display: none;
    }
    .fa{
      color: white;
      text-align: center;
      font-size: 1.4em;
    }
    .counter{
      @include position(absolute, 0.2em, 0.2em);
    }
  }
}
