#language-picker{
  margin-inline-start: 0.2em;
  padding-inline-start: 0.5em;
  align-self: stretch;
  @include display-flex(row, stretch, center);
  button[aria-haspopup="menu"]{
    @include serif;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }
  [role="menu"]{
    min-width: 18em;
  }
  .options{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
  }
  li.option{
    display: flex;
    button{
      flex: 1 0 auto;
      padding: 0.4em 0;
      position: relative;
      z-index: 1;
      background-color: $grey;
      border-radius: 0;
      &, span{
        color: white !important;
      }
      &:focus{
        background-color: $dark-grey;
        .completion{
          opacity: 0.25;
          background-color: $dark-grey;
        }
      }
    }
    .completion{
      @include position(absolute, 0, null, 0, null, -1);
      background-color: $light-blue;
    }
    .lang{
      font-weight: bold;
      padding: 0 0.5em;
    }
    .completion-text{
      margin-inline-start: auto;
      font-weight: normal;
      opacity: 0.8;
    }
    &:hover{
      .completion{
        opacity: 0.25;
      }
      button{
        background-color: $dark-grey;
      }
    }
    &:not(:last-child) .completion{
      border-end-end-radius: $global-radius;
    }
  }
}
