#welcome{
  @extend .flex-row-grid;
}
#welcome-left{
  background-color: #fff;
  padding: 2rem;
  ul{
    margin-top: 2rem;
    li{
      margin: 1rem;
    }
  }
  h2{
    font-weight: 900;
  }
  #loginButtons{
    .one{
      background-color: $secondary-color;
      &:hover{
        background-color: darken($secondary-color, 10%)
      }
      a{
        color: #222;
      }
    }
    .two{
      background-color: $success-color;
      &:hover{
        background-color: darken($success-color, 20%)
      }
      a{
        color: white;
      }
    }
  }
  ul.bonuses{
    margin-top: 1rem;
    @extend .flex-column-centered;
    li{
      color: $dark-grey;
      background-color: $light-grey;
      min-width: 55%;
      margin: 0;
      margin-bottom: 0.1rem;
      padding: 1rem;
      font-weight: bold;
      &:first-child{
        color: white;
        background-color: $primary-color;
      }
    }
  }
}
#welcome-right{
  margin: 0;
  padding: 0;
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  #welcome {
    flex-direction:column;
  }
  #welcome-left {
    h2 {
      font-size: 3rem;
    }
  }
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
  #welcome-left {
    h2 {
      font-size: 5rem;
    }
    .pusher{
      position: fixed;
      bottom: 0;
      background-color: #fff;
      height: 100%;
      width: 50%;
      z-index: -1;
    }
  }
}