<div class="global">
  <h3 class="first">{{i18n 'global'}}</h3>
  {{partial 'toggler' global}}
  <p class="warning {{#if showWarning}}shown{{/if}}">
    {{icon 'warning'}} {{i18n warning}}
  </p>
  <hr>
</div>

<div class="rest">
  <div class="rest-fog local-fog {{#if showWarning}}shown{{/if}}"></div>
  <div class="news">
    <h3>{{i18n 'news'}}</h3>
    {{!-- {{partial 'toggler' newsletters}} --}}
    {{!-- <hr> --}}
    {{partial 'toggler' inventories_activity_summary}}
    <div class="summary-periodicity checkWrapper">
      <div class="periodicity-fog local-fog {{#if showPeriodicity}}shown{{/if}}"></div>
      <div class="row">
        <span>{{{I18n 'activity_summary_periodicity_tip'}}}</span>
        <select id="periodicityPicker" name="periodicity">
          {{#each days}}
            <option value="{{num}}" {{#if selected}}selected{{/if}}>{{num}}</option>
          {{/each}}
        </select>
      </div>
      <span class="check"></span>
    </div>
  </div>
  <div class="friends">
    <h3>{{i18n 'friends'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'toggler' friendship_request}}
    <hr>
    {{partial 'toggler' friend_accepted_request}}
    <hr>
  </div>

  <div class="groups">
    <h3>{{i18n 'groups'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'toggler' group_invite}}
    <hr>
    {{partial 'toggler' group_acceptRequest}}
    <hr>
  </div>

  <div class="exchanges">
    <h3>{{i18n 'exchanges'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'toggler' your_item_was_requested}}
    <hr>
    {{partial 'toggler' update_on_your_item}}
    <hr>
    {{partial 'toggler' update_on_item_you_requested}}
    <hr>
  </div>

</div>