<h3 class="first">{{i18n 'profile pic'}}</h3>
{{partial 'general:behaviors:change_picture' this}}

<hr>
<h3>{{i18n 'language'}}</h3>
{{partial 'user:language_picker' this 'check'}}

<hr>
<h3 class="with-tip capitalized">{{i18n 'username'}}</h3>
{{tip 'username_tip' 'right'}}
{{input usernamePicker}}

{{#if localCreationStrategy}}
  <hr>
  <h3>{{i18n 'email'}}</h3>

  <p class="note">
    {{i18n 'email will not be publicly displayed.'}}
  </p>
  {{input emailPicker}}

  {{#unless validEmail}}
    <div id="notValidEmail" class="alertMessageBox">
      <span class="alert">
          {{icon 'warning'}}
          {{{i18n 'email_wasnt_verified'}}}
      </span>
      <a id="emailConfirmationRequest" class="button dark-grey radius">
        {{i18n 'email_confirmation_error_button'}}
      </a>
    </div>
  {{/unless}}

  <div id="confirmationEmailSent" class="hidden successMessageBox">
    {{icon 'check'}}
    {{{i18n 'new_confirmation_email'}}}
  </div>
{{/if}}

{{#if hasPassword}}
  <hr>
  {{partial 'settings:password_update_input' this 'check'}}
{{/if}}

<hr>
<h3>{{i18n 'geolocation'}}</h3>
<p class="position-status">
  {{#if hasPosition}}
    {{i18n "you have a position set"}}<br>
    <span class="coordinates">{{position.lat}}, {{position.lng}}</span>
  {{else}}
    {{i18n "your positon isn't set yet"}}
  {{/if}}
</p>
{{partial 'map:position_picker_button'}}

<hr>
<h3>{{i18n 'danger zone'}}</h3>

<div class="deleteAccount">
  <a id="deleteAccount" class="dangerous-button">{{i18n 'delete your account'}}</a>
</div>
