<div class="custom-column">
  <div class="custom-tabs">
    <ul class="custom-tabs-titles">
      <a id="profile">{{icon 'sliders'}}{{i18n 'edit profile'}}</a>
      <a id="labs">{{icon 'flask'}}{{i18n 'labs'}}</a>
    </ul>
    <div class="custom-tabs-content"></div>
  </div>
</div>