<div class="row">
  <div class="small-12 large-6 large-offset-3 columns">
    <dl class="tabs" data-tab>
      <dd class="active">
        <a href="#profile" class="profile">{{icon 'sliders'}}{{i18n 'Edit User'}}</a>
      </dd>
      <dd>
        <a href="#labs" class="labs">{{icon 'flask'}}{{i18n 'Labs'}}</a>
      </dd>
    </dl>
    <div class="tabs-content">
     <div class="content active" id="profile"></div>
     <div class="content" id="labs"></div>
    </div>
  </div>
</div>