<div class="shelf"></div>
<div class="right">
  <a id="editItems" class="tiny-button">{{I18n 'edit shelf items'}}{{icon 'plus'}}</a>
  <a id="hideItemsEditor" class="entity-edit-cancel hidden">{{I18n 'close editor'}}{{icon 'times'}}</a>
</div>
<div class="itemsEditor hidden"></div>
<div class="itemsList"></div>
