<div class="shelvesWrapper">
  <div class="shelvesTitle">
    <h4 class="subheader">{{I18n 'shelves'}}</h4>
      <a id="addShelf" class="action tiny-button light-blue">{{icon 'plus'}}{{I18n 'add new shelf'}}</a>
  </div>
  <div class="right">
  </div>
  <div id="newShelfEditorWrapper" class='hidden'>
    {{partial 'shelves:new_shelf_editor' this}}
  </div>
  <div class="shelves"></div>
</div>
