<div class="shelvesWrapper">
  <div class="shelvesTitle">
    <p class="subheader">{{I18n 'shelves'}}</p>
    <div>
      <a id="addShelf" class="action tiny-button light-blue">{{icon 'plus'}}{{I18n 'add new shelf'}}</a>
    </div>
  </div>
  <div id="shelvesList"></div>
</div>
