{{partial '../items/templates/items_text_filter'}}

<div id="contactSearchModule" class="small-12 large-12 columns">
  <div class="row">
    <div class="large-9 small-9 columns">
        <input type="text" id="contactSearchField" placeholder="{{i18n 'Find Contacts'}}">
    </div>
    <div class="large-3 small-3 columns">
        <a id="contactSearchButton" class="button postfix secondary">{{i18n 'Search Contacts'}}</a>
    </div>
  </div>
</div>