<div id="topmMenu"></div>

<div class="row">
  <div class="small-12 large-3 columns right">
    <div id="viewTools" class="row"></div>
  </div>
  <div class="small-12 large-9 columns">
    <div id="itemsView" class="row"></div>
  </div>
  <div class="small-12 large-3 columns right">
    <div id="sideMenu"></div>
  </div>
</div>