<div id="topmMenu"></div>

<div class="row">
  <div id="sideMenu" class="small-12 large-3 columns right"></div>
  <div class="small-12 large-9 columns">
    <div id="itemsView" class="row"></div>
  </div>
</div>

<div class="text-center">
  <a class="button success" id="addItem">Add Item</a>
</div>