<div id="inventoryView" class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <div id="itemsView" class="row"></div>
  </div>
  <div class="small-12 large-3 columns left">
    <div id="sideMenu"></div>
  </div>
</div>