<dl id="inventoriesTabs" class="row tabs">
{{!--       <dd class="small-12 large-3 active text-center">
    <a id="allItems"><i class="fa fa-cubes"></i> All items</a>
  </dd> --}}
  <dd class="small-12 large-4 text-center active">
    <a id="personalInventory"><i class="fa fa-home"></i> Personal Inventory</a>
  </dd>
  <dd class="small-12 large-4 text-center">
    <a id="networkInventories"><i class="fa fa-users"></i> Network Inventories</a>
  </dd>
  <dd class="small-12 large-4 text-center">
    <a id="publicInventories"><i class="fa fa-rss"></i> Public Inventories</a>
  </dd>
</dl>