<div id="item_form">
  <h2 class="subheader">{{status}}</h2>
  <div id="step1"></div>
  <div id="step2"></div>
  <div id="preview">
    <div id="previewData"></div>
    <div id="previewMenu"></div>
  </div>

  {{!-- {{partial 'token'}} --}}
  <div id="validation" class="text-center"></div>
  <div class="check right"></div>
</div>