<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">

    <h2 class="subheader">{{status}}</h2>
    <div id="step1"></div>
    <div id="step2"></div>

    <div>
      <h3 class="subheader"></h3>
      <div id="results1"></div>
    </div>

    <div>
      <h3 class="subheader"></h3>
      <div id="results2"></div>
    </div>

    <div>
      <h3 class="subheader"></h3>
      <div id="results3"></div>
    </div>

    {{!-- {{partial 'token'}} --}}
    <div id="validation" class="text-center"></div>
    <div class="check right"></div>

  </div>
</div>
