<div id="itemsTextFilterModule" class="small-12 large-12 columns">
  <div class="row">
    <div class="large-9 small-9 columns">
        <input type="text" id="itemsTextFilterField" placeholder="{{i18n 'Find an object'}}">
    </div>
    <div class="large-3 small-3 columns">
        <a id="itemsTextFilterButton" class="button postfix secondary">{{i18n 'Search'}}</a>
    </div>
  </div>
</div>