{{!-- <div class="small-8 small-offset-2 large-5 large-offset-7 columns"> --}}
  <div class="tools">
    <div class="tool one">
      {{partial '../items/form/templates/listing_picker' this}}
    </div>
    <div class="tool two">
      <input id="itemsTextFilterField" type="text" placeholder="{{i18n 'Filter'}}...">
    </div>
    <div class="tool three">
      <a class="button tiny success" id="addItem">{{icon 'plus'}} {{i18n 'New item'}}</a>
    </div>
  </div>
{{!-- </div> --}}
