<ul id="visibility-tabs">
  <a id="noVisibilityFilter"><li class="active">{{i18n 'All'}}</li></a>
  {{#each listings}}
    <a id="{{id}}"><li>{{icon icon 'monospaced'}}{{i18n label}}</li></a>
  {{/each}}
</ul>