<ul id="visibility-tabs">
  <a id="noVisibilityFilter"><li class="active">{{i18n 'All'}}</li></a>
  <a id="private"><li>{{i18n 'Private Inventory'}}</li></a>
  <a id="contacts"><li>{{i18n 'Shared Inventory'}}</li></a>
  <a id="public"><li>{{i18n 'Public Inventory'}}</li></a>
</ul>