<ul id="visibility-tabs">
  <a id="noVisibilityFilter"><li class="active">All</li></a>
  <a id="private"><li>Private Inventory</li></a>
  <a id="contacts"><li>Shared Inventory</li></a>
  <a id="public"><li>Public Inventory</li></a>
</ul>