#createGroupLayout{
  margin-top: 1em;
  padding: 1em;
  background-color: white;
  label{
    text-align: left;
    font-size: 1em;
  }
  @include flex(1);
  #step1{
  }
  .showGroup{
    @include tiny-button($success-color);
    font-weight: normal;
    @include sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}