#createGroupLayout{
  @include display-flex(column, stretch, center);
  h3{
    text-align: center;
  }
  label{
    color: black;
    text-align: left;
    font-size: 1em;
  }
  #createGroup{
    margin: 1em auto;
  }
  .showGroup{
    @include tiny-button($success-color);
    font-weight: normal;
    @include sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

.group-url{
  opacity: 0.6;
  text-align: left;
  margin-bottom: 0.5em;
}
