#friendsLayout{
  > section{
    background-color: white;
    @include radius;
    margin: 1em 0 1em 0;
  }
  .userLi{
    .select{
      @include bg-hover(white, 8%);
    }
  }
}

section.friends-requests-wrapper{
  padding-top: 0.5em;
  h3{
    margin: 0;
    padding: 0;
    opacity: 0.8;
    @include sans-serif;
  }
}
section.friends-list{
  padding-top: 0;
}
