.group, .groupBoard, .groupShow{
  .actions{
    @include display-flex(row);
    font-weight: normal;
    text-align: center;
    a{
      margin-right: 0.5em;
    }
    .accept{
      @include tiny-button($success-color);
    }
    .joinRequest{
      @include tiny-button($light-blue);
    }
    .cancelRequest, .decline{
      @include tiny-button($grey);
    }
  }
  .restrictions{
    @include radius;
    @include tiny-button-padding;
    background-color: grey;
    margin: 0 0 0.5em 0;
  }
}
