.groupBoard{
  background-color: white;
  padding: 1em;
  @include radius();
  @include shy-border();
  margin-bottom: 1em;
  .header{
    @include display-flex(row, center, center);
    .name{
      font-size: 1.2em;
      font-weight: bold;
      @include serif();
    }
    .fa-caret-right{
      padding-top: 0.2em;
      font-size: 1.2em;
      color: $grey;
      &.toggled{
        @include vendor-prefix(transform, rotate(90deg));
      }
    }
    .showGroup{
      margin-left: 1em;
      @include link();
    }
    .right{
      margin-left: auto;
    }
  }
  .body{
    h3{
      text-align: center;
      display: inline;
    }
    section{
      @include radius();
      background-color: rgba(#eaeaea, 0.6);
      padding: 0.5em;
      margin-top: 1em;
      padding-top: 1em;
      &.members{
        .users{
          max-height: 20em;
        }
      }
      &.invite, .requests{
        .users{
          max-height: 10em;
        }
      }
      .users{
        overflow: auto;
      }
    }
    .stats{
      @include display-flex(row, center, space-between);
      opacity: 0.6;
      padding-bottom: 1em;
    }
  }
  .action{
    span, .fa{
      color: white;
    }
  }
}