.groupLi{
  @include display-flex(row, center, space-between);
  background-color: white;
  padding: 0.5em;
  @include radius;
  .group-cover-picture{
    @include bg-cover;
    height: 5em;
    width: 5em;
    flex: 0 0 auto;
  }
  .showGroup{
    font-weight: bold;
    overflow: hidden;
    .info{
      text-align: left;
      padding: 0.5em;
    }
    .name{
      font-weight: bold;
    }
    .description{
      color: $grey;
    }
  }
  .actions{
    @include display-flex(row);
    flex: 0 0 auto;
    a{
      margin-right: 0.1em;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    flex-direction: column;
    .showGroup{
      @include display-flex(column, center, center);
    }
    .name{
      text-align: center;
    }
    .description{
      max-height: 3em;
      overflow: hidden;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .showGroup{
      @include display-flex(row, flex-start, flex-start);
      flex: 1 0 0;
      max-height: 5em;
      margin-right: 0.5em;
    }
  }
}
