#groupsList{
  .noGroup{
    text-align: center;
    font-weight: normal;
    font-style: italic;
  }
}

#networkLayout{
  #groupsList{}
  .groupsList{
    margin-bottom: 1em;
  }
  .noGroup{
    background-color: white;
  }
}
