#groupsList{
  .noGroup{
    .message{
      text-align: center;
      font-weight: normal;
    }
  }
}

#networkLayout{
  #groupsList{}
  .groupsList{
    margin-bottom: 1em;
  }
  .noGroup{
    background-color: white;
    .message{
      font-style: italic;
      background-color: $light-grey;
      padding: 1em;
    }
    .suggestion{
      padding: 1em;
    }
  }
}
