.groupLi{
  @include display-flex(row, center, space-between);
  background-color: white;
  padding: 0.5em;
  @include radius;
  .group-cover-picture{
    @include bg-cover;
    height: 5em;
    width: 5em;
    flex: 0 0 auto;
  }
  .showGroup{
    font-weight: bold;
    @include display-flex(row, flex-start, flex-start);
    overflow: hidden;
    flex: 1 0 0;
    max-height: 5em;
    margin-right: 0.5em;
    .info{
      text-align: left;
      padding: 0.5em;
    }
    .description{
      color: $grey;
    }
  }
  .actions{
    @include display-flex(row);
    flex: 0 0 auto;
    a{
      margin-right: 0.1em;
    }
  }
}
