#groupCreation{
  label{
    text-align: left;
  }
  @include flex(1);
  padding: 1em;
  @include radius();
  @include shy-border();
  padding: 1em;
  background-color: white;
  #step1{
  }
  .showGroup{
    @include tiny-button($success-color);
    font-weight: normal;
    @include sans-serif();
    margin-top: 2em;
    margin-bottom: 1em;
  }
}