#groupSettings{
  input, textarea{
    // sections already have padding/margin
    margin-bottom: 0.2em;
  }
  label{
    text-align: left;
    font-size: 1em;
    color: black;
  }
  .inner{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .inputGroup .button{
    max-width: 10em;
    font-weight: bold;
  }
  @include rigid-textarea;
}
#groupControls{
  padding-top: 2em;
  padding-bottom: 2em;
}
.leave, .destroy{
  @include dangerous-button;
  @include radius;
  font-weight: bold;
}
.leave{
  &.disabled{
    cursor: not-allowed;
    &:hover{
      // disabling dangerous-button hover behaviour
      background-color: $grey;
    }
  }
}
.reason{
  // hacky compensation of the weird positioning
  // that would overlap the button if there wasn't that padding
  padding-top: 1em;
}

.searchability{
  .warning{
    background-color: grey;
    color: white;
    @include radius;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
