.groupBoard{
  text-align: center;
  @include shy-border-vertical-group;
  margin-bottom: 1em;
  &.standalone{
    @include custom-column(40em);
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      padding-top: 1em;
    }
  }
  .header, .body{
    background-color: white;
  }
  .header{
    @include radius-top;
  }
  .body{
    @include radius-bottom;
    padding: 0 1em 1em 1em;
    section{
      &:not(:last-child){
        margin-bottom: 1em;
      }
      h4{
        .fa{
          font-size: 0.9em;
          color: grey;
        }
        text-align: left;
        font-size: 1.2em;
      }
      @include radius;
      background-color: #f2f2f2;
      &#groupMembers{
        .inner{
          max-height: 20em;
        }
      }
      &#groupInvite, #groupRequests{
        .inner{
          max-height: 10em;
        }
      }
      .inner{
        overflow: auto;
        padding-right: 0.4em;
      }
      .toggler{
        padding: 0.4em;
        @include display-flex(row);
      }
      .fa-caret-down{
        margin-left: auto;
        @include display-flex(row, center, center);
        margin-top: -0.2em;
        font-size: 1.5em;
        opacity: 0.5;
        &.toggled{
          @include vendor-prefix(transform, rotate(-90deg));
        }
      }
    }
  }
  .action{
    span, .fa{
      color: white;
    }
  }
  .admin{
    margin-right: 0.5em;
    opacity: 0.5;
  }
  @import "group_settings";
}