$coverTextBg: rgba($dark-grey, 0.5);

.group, div.groupShow{
  @include display-flex(column, center, center);
  color: white;
  .groupPic{
    height: $user-height;
    width: $user-height;
    overflow: hidden;
  }
  .joinRequest, .requested, .cancelRequest{
    margin-top: 1em;
  }
  .requested{
    text-align: center;
    opacity: 0.8;
  }
  .cover{
    @include bg-cover;
    width: 100%;
    @include display-flex(column, center, center);
    height: 9em;
    overflow: hidden;
  }
  .description{
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-height: 5em;
    overflow: auto;
    background-color: $coverTextBg;
  }
}
.group, div.groupShow, .group-board-header{
  .cover .name{
    text-align: center;
    font-size: 1.5em;
    @include text-wrap;
    max-width: 100%;
  }
}
.group, div.groupShow{
  .cover .name{
    max-height: 3em;
  }
}

.group-board-header, div.groupShow{
  .name{
    color: white;
    margin: auto;
    font-size: 1.6em;
    font-weight: bold;
    @include serif;
    @include shy-text-border;
  }
  .stats{
    padding: 0.5em;
    width: 100%;
    @include display-flex(row, center, space-between);
    color: white;
    background-color: $coverTextBg;
  }
}

.group{
  .showGroup{
    width: 100%;
    @include display-flex(row, center, flex-start);
    .name{
      margin-left: 0.4em;
      max-width: 80%;
      overflow: hidden;
    }
  }
  .actions{
    @include display-flex(column);
  }
}

div.groupShow{
  @include position(relative);
  .iconButtons{
    @include side-buttons;
    @include display-flex(column, center, space-between);
    @include radius;
    @include bg-hover(rgba(grey, 0.3));
    a{
      color: white;
      padding-left: 0.3em;
    }
  }
  .actions{
    padding-top: 1em;
  }
}

#inventoryView{
  .groupShow{
    .iconButtons{
      font-size: 1.4em;
    }
    .name{
      padding: 1em;
    }
    .cover{
      height: 18em;
      min-height: 33vh;
    }
    .description{
      max-height: 8em;
    }
    .actions{
      margin-bottom: 1em;
    }
  }
}