#inviteByEmail{
  h3{
    text-align: center;
  }
  form{
    @include display-flex(column, stretch, center);
  }
  textarea{
    margin: 0;
  }
  .invitations, .message{
    margin-bottom: 1em;
  }
  #sendInvitations{
    align-self: center;
  }
  label{
    text-align: left;
    font-size: 1em;
  }
  .email-sent{
    @include display-flex(row, center, center, wrap);
    .email{
      font-weight: bold;
      padding-left: 0.2em;
    }
  }
  .usersAlreadyThere{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    p{
      padding-bottom: 0.6em;
    }
  }
}
