// keep in sync with app/modules/network/views/network_layout.coffee
$networkLayoutVerticalTabCeil: 700px;

#networkLayout{
  @include central-column(42em);
  > .fa{
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 0;
  }
  h2{
    line-height: 1em;
    margin-top: 0;
    font-size: 1.5em;
  }
  h3{
    font-size: 1.1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    @include sans-serif;
  }
  text-align: center;
  .custom-tabs-titles{
  }
  .custom-tabs-content{
    margin: 0;
    padding: 0;
    background-color: $off-white;
    > section{
      label{
        text-align: left;
        font-size: 1em;
      }
    }
    /*Small screens*/
    @media screen and (max-width: $networkLayoutVerticalTabCeil) {
      // allow screen_.scrollTop to really get the top of the div
      // at the top of the screen
      // which would not be possible if main was smaller than the screen
      min-height: 100vh;
    }
  }
  .userLi.stretch{
    &:not(:first-child){
      border-top: 1px solid rgba($grey, 0.2);
    }
    padding: 0;
    .details{
      max-height: $stretch-user-height;
      overflow: hidden;
    }
    .inventoryLength{
      display: none;
    }
    .friendMenu{
      .label{
        display: none;
      }
      padding: 1em;
    }
  }
}

// common
@import 'tabs';
@import 'empty_li';
@import 'nearby_layout';

// users
@import 'friends_layout';
@import 'invite_by_email';
@import 'users_search';

// groups
@import 'groups_layout';
@import 'groups_list';
@import 'group_board';
@import 'group_board_header';
@import 'groups_search';
@import 'create_group';
