$networkLayoutWidth: 40em;

#networkLayout{
  @include custom-column($networkLayoutWidth);
  > .fa{
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 0;
  }
  h2{
    line-height: 1em;
    margin-top: 0;
    font-size: 1.5em;
  }
  h3{
    font-size: 1.1em;
    margin-top: 0.4em;
  }
  text-align: center;
  .custom-tabs-titles{
  }
  .custom-tabs-content{
    background-color: $main-bg;
    > section{
      label{
        text-align: left;
        font-size: 1.1em;
      }
    }
  }
}

@import 'tabs';
@import 'friends_layout';
@import 'groups_layout';
@import 'groups_list';
@import 'group_board';
@import 'group_creation';
