.tabs{
  width: 100%;
  @include display-flex(row, center, center, nowrap);
  padding-top: 1em;
  @include radius-horizontal-group;
  a{
    @include custom-button(#bbb, white, 0);
    @include flex(0, 1, 10em);
    @include shy-border;
    font-weight: bold;
    .fa{
      display: block;
      font-size: 1.5em;
    }
    &.active{
      @include custom-button(rgba($light-blue, 0.7), white, 0);
      box-shadow: 0 0.2em 0.5em $glow;
      @include hide-counter;
    }
  }
  .counter{
    @include counter-commons;
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    a, a.active{
      max-height: 5em;
      white-space: nowrap;
      max-width: 50%;
      padding: 0.5em 0 0.5em 0;
    }
  }
}

