.tabs{
  width: 100%;
  padding-top: 1em;
  // @include radius-horizontal-group;
  section{
    @include display-flex(row, center, center, nowrap);
  }
  .counter{
    margin: 0.5em;
    @include counter-commons;
  }
  .tab{
    white-space: nowrap;
  }
  .level-1{
    .tab{
      font-size: 1.2em;
      height: 4em;
      @include custom-button($darker-grey, white, 0);
      @include flex(1, 1, 0);
      padding: 0 0.5em 0 0.5em;
      @include display-flex(row, center, center);
      @include sans-serif;
      .fa{
        display: block;
        font-size: 1.5em;
      }
      &.active{
        @include hide-counter;
        background-color: white;
        color: $grey
      }
    }
  }
  .level-2{
    background-color: white;
    padding: 0.2em;
    height: 4em;
    @include justify-content(flex-start);
    .tab{
      @include flex(1, 1, 0);
      font-size: 1.2em;
      padding: 0.2em 0.4em 0.2em 0.4em;
      margin-left: 0.1em;
      margin-right: 0.1em;
      @include radius(5em);
      @include sans-serif;
      background-color: $dark-grey;
      color: white;
      @include shy(0.8);
      &.active{
        opacity: 1;
        color: $dark-grey;
        background-color: $active-custom-tab-bg;
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    a, a.active{
      max-height: 5em;
      white-space: nowrap;
      max-width: 50%;
      padding: 0.5em 0 0.5em 0;
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: 400px) {
    .level-1{
      .tab{
        padding: 0.5em;
        max-width: 50%;
        @include flex-wrap(wrap);
        .label{
          order: 2;
          // force the label to take its own line
          width: 100%;
        }
        .counter{
          margin: 0;
        }
      }
    }
    .level-2{
      height: auto;
      @include display-flex(column, center, center, nowrap);
      .tab{
        min-width: 90%;
        @include flex(1);
        margin: 0.2em;
        &.active{
          order: 10;
        }
      }
    }
  }
}
