.tabs{
  width: 100%;
  .level-1, .level-2{
    @include display-flex(row, center, center, nowrap);
  }
  .counter{
    margin: 0.5em;
    @include counter-commons;
  }
  .tab{
    white-space: nowrap;
  }
  .level-1{
    .tab{
      font-size: 1.2em;
      height: 4em;
      @include bg-hover($darker-grey);
      @include text-hover(white);
      flex: 1 1 0;
      padding: 0 0.5em 0 0.5em;
      @include display-flex(row, center, center);
      @include sans-serif;
      .fa{
        display: block;
        font-size: 1.5em;
        &.fa-barcode{
          margin-right: 0.4em;
        }
      }
      &.active{
        @include hide-counter;
        @include bg-hover(white, 0%);
        color: $grey;
        font-weight: bold;
        .fa{
          font-weight: normal;
        }
      }
    }
  }
  .level-2{
    background-color: white;
    padding: 0.2em;
    height: 4em;
    justify-content: flex-start;
    .tab{
      flex: 1 1 0;
      // webkit-browsers only
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        // with flex-grow set to 0, chromium was giving an equal width to all
        // the tabs, despite one needing more than the others due to the counter
        flex-basis: auto;
      }
      font-size: 1.2em;
      padding: 0.2em 0.4em 0.2em 0.4em;
      margin-left: 0.1em;
      margin-right: 0.1em;
      @include radius(5em);
      @include sans-serif;
      background-color: $dark-grey;
      color: white;
      @include shy(0.8);
      &.active{
        opacity: 1;
        color: $dark-grey;
        background-color: $active-custom-tab-bg;
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    a, a.active{
      max-height: 5em;
      white-space: nowrap;
      max-width: 50%;
      padding: 0.5em 0 0.5em 0;
    }
  }
  /*Even Smaller screens*/
  @media screen and (max-width: $networkLayoutVerticalTabCeil) {
    .level-1{
      .tab{
        padding: 0.5em;
        max-width: 50%;
        flex-wrap: wrap;
        .label{
          order: 2;
          // force the label to take its own line
          width: 100%;
        }
        .counter{
          margin: 0;
        }
      }
    }
    .level-2{
      height: auto;
      @include display-flex(column, center, center, nowrap);
      .tab{
        min-width: 90%;
        flex: 1 1 auto;
        margin: 0.2em;
      }
    }
  }
  /*Medium to Large screens*/
  @media screen and (min-width: $networkLayoutVerticalTabCeil) {
    padding-top: 1em;
  }
}
