@import 'modules/general/scss/utils';

.group-board-header{
  background-color: white;
  @include display-flex(column, center, center);
  // required to position .topicons
  position: relative;
  .cover-link{
    @include display-flex(column, center, center);
    // required to position background
    position: relative;
    min-height: 8em;
    width: 100%;
    font-size: 1.6em;
    .group-cover-picture{
      @include position(absolute, 0, 0, 0, 0);
      @include bg-cover;
      width: 100%;
      @include display-flex(column, center, center);
      overflow: hidden;
    }
  }
  .name{
    // Get over background image and collor-filter
    position: relative;
    padding-top: 1em;
    padding-bottom: 0.8em;
  }
  .showGroup.link, .showGroup.tiny-button{
    margin: 1em 0;
  }
  .bottom{
    @include display-flex(column, center, center);
    .invitor{
      font-weight: bold;
    }
  }
  .restrictions{
    display: none;
  }
  .topicons{
    position: absolute;
    box-shadow: -1px 1px 5px 0 rgba(black, 0.3) inset;
    @include radius-diagonal-b;
    .fa{
      padding: 0.5em;
      min-width: 2em;
      min-height: 2em;
      color: white;
    }
  }
  .searchable, .not-searchable{
    @include position(absolute, 0, 0);
  }
  .open, .not-open{
    @include position(absolute, 2em, 0);
  }
  .searchable, .open{
    background-color: #ccc;
  }
  .not-searchable, .not-open{
    background-color: $dark-grey;
  }
}