@import '#general/scss/utils';

#inviteByEmail{
  padding: 0.5em;
  h3{
    text-align: center;
  }
  form{
    @include display-flex(column, stretch, center);
  }
  textarea{
    margin: 0;
  }
  .invitations, .message{
    margin-block-end: 1em;
  }
  #sendInvitations{
    align-self: center;
  }
  label{
    text-align: start;
    font-size: 1em;
  }
  .email-sent{
    @include display-flex(row, center, center, wrap);
    .email{
      font-weight: bold;
      padding-inline-start: 0.2em;
    }
  }
  .usersAlreadyThere{
    padding-block-start: 1.2em;
    padding-block-end: 1.2em;
    p{
      padding-block-end: 0.6em;
    }
  }
}
