{{#notLoggedIn}}
  <section id="embedded-welcome">
    <div>
      <h2>{{i18n 'Welcome to Inventaire'}}</h2>
      <span class="tagline">
        {{i18n 'the library of your friends and communities'}}
      </span>
    </div>
    <a href="/welcome" class="showWelcome button secondary bold radius">
      {{i18n 'learn more'}}
    </a>
  </section>
{{/notLoggedIn}}
