<div id="conclusion">
  <h5>{{i18n 'joyride_last_conlusion_point_1'}}</h5>
  <h5>{{i18n 'joyride_last_conlusion_point_2'}}</h5>
</div>
<div id="socialNetworks">
  {{partial 'social_networks' urls}}
</div>