<a id="signupRequest" class="button secondary bold radius" title="{{I18n 'sign up'}}">{{i18n 'sign up'}}</a>
<a id="loginRequest" class="button success bold radius" title="{{I18n 'login'}}">{{i18n 'login'}}</a>