<section id="status">
  <h3 class="subheader">{{i18n 'status'}}:</h3>
  <h3 class="status">{{i18n 'alpha version'}}</h3>
  <span> —
    {{I18n 'expect missing features and bugs'}}.
    {{I18n 'do not publish sensible data'}}.
  </span>
</section>