{{partial 'welcome:landing_screen' this}}
{{!-- {{partial 'welcome:tutorial'}} --}}
{{partial 'welcome:last_public_books'}}
{{partial 'welcome:mission'}}
{{!-- {{partial 'welcome:status'}} --}}
{{partial 'welcome:social_networks' urls}}
{{partial 'welcome:credits' urls}}