{{#if link}}
  <a
    href="/entity/wd:{{id}}"
    class='link qlabel wd-Q'
    resource='https://www.wikidata.org/entity/{{id}}'>
  </a>
{{else}}
  <span
    class='qlabel wd-Q'
    resource='https://www.wikidata.org/entity/{{id}}'>
  </span>
{{/if}}