<li><a id="name">{{username}}</a></li>
<li>
  <a><img id="pic" class="radius" src="{{pic}}" alt="{{username}} pic"></a>
</li>
<li class="has-dropdown">
  <a><i class="fa fa-cog"></i></a>
  <ul class="dropdown">
    <li><a id="edit">Edit Profile</a></li>
    <li><a id="help">Help</a></li>
    <li><a id="logout">Sign out</a></li>
  </ul>
</li>