<h3>{{i18n title}}</h3>
<table>
  <thead>
    <tr>
      <th class="user">{{i18n 'user'}}</th>
      <th class="contributions">{{i18n 'contributions'}}</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
