<div class="innerAuthorLi">
  <div class='authorInfobox'></div>
  <div class="subentities">
    <div class='series'></div>
    <div class='works'><span class="loading"></span></div>
    <div class='articles'></div>
  </div>
</div>
{{#if standalone}}
  {{#if wikidata}}
    {{partial 'entities:wiki_bar' this}}
  {{/if}}
  {{partial 'welcome:embedded_welcome'}}
{{/if}}
