<h3 class="layout-type-label">{{I18n 'author'}}</h3>

<div class="innerAuthorLi">
  <div class='authorInfobox'></div>
  <div class="subentities">
    <div class='series'></div>
    <div class='works'><span class="loading"></span></div>
    <div class='articles'></div>
  </div>
</div>

{{partial 'entities:merge_suggestions_layout_section' this}}

{{#if standalone}}{{partial 'welcome:embedded_welcome'}}{{/if}}
