<div class="innerAuthorLi">
  <div class='authorInfobox'></div>
  <div class="subentities">
    <div class='series'></div>
    <div class='works'><span class="loading"></span></div>
    <div class='articles'></div>
  </div>
</div>

{{#if userIsAdmin}}
  <div class="admin">
    <h3>{{i18n 'homonymes'}}</h3>
    <div class='homonymes'></div>
  </div>
{{else}}
  {{!-- just adding regions containers so that the layout view doesn't crash --}}
  <div class='homonymes'></div>
{{/if}}

{{#if standalone}}{{partial 'welcome:embedded_welcome'}}{{/if}}
