{{!-- expecting claims object --}}
{{#if wdt:P569}} {{!-- if bearth date --}}
<p class="birth-death-dates">
  {{timeClaim this 'wdt:P569' 'year' true true}}
  &nbsp;&nbsp;-&nbsp;&nbsp;
  {{timeClaim this 'wdt:P570' 'year' true}}
</p>
{{/if}}