{{!-- expecting claims object --}}
{{#if P569}} {{!-- if bearth date --}}
<p>
  {{timeClaim this 'wdt:P569' 'year' true true}}
  &nbsp;&nbsp;-&nbsp;&nbsp;
  {{timeClaim this 'wdt:P570' 'year' true}}
</p>
{{/if}}