{{#if standalone}}
  <h3 class="layout-type-label">{{I18n 'collection'}}</h3>
{{/if}}
<div class='collectionInfobox'></div>
<div id="editionsList"></div>
{{#if standalone}}
  {{> 'entities:merge_suggestions_layout_section' this}}
  {{> 'welcome:embedded_welcome'}}
{{/if}}
