<div class="authors"></div>
<div class="controls">
  {{!-- use wrapper to bind alert boxes to their associated button --}}
  <div class="wrapper">
    <a class="merge dangerous-button">{{icon 'compress'}}{{I18n 'merge'}}<span class="loading"></span></a>
  </div>
  <a class="next light-blue-button">{{icon 'arrow-right'}}{{I18n 'next'}}</a>
</div>
