<ul class="names">
  {{#each names}}
    <li><a class="name tiny-button light-blue" data-key="{{key}}">{{key}} ({{value}})</a></li>
  {{/each}}
</ul>
<div class="authors-loading"></div>
<div class="authors"></div>
