<a class="showEntity" href="{{pathname}}" title="{{label}}">
  <span>{{{I18n 'see_all_work_editions' label=label}}}</span>
  <div class="editions-covers">
    {{#each images}}
      <img src="{{imgSrc url 90}}" class="cover">
    {{/each}}
  </div>
</a>
