<p class="back">
  {{#if back}}
    {{partial 'back' this}}
  {{/if}}
</p>
<div class='panel'>
  <div id="entityData"></div>
  <div id="entityActions"></div>
  <div class='check'></div>
</div>

<div class="allItems">
  <h3 class="subheader publicHeader">{{i18n 'books in your network'}}</h3>
  <div id="localItems" class="items"></div>
  <h3 class="subheader publicHeader">{{i18n 'public books'}}</h3>
  <div id="publicItems" class="items"></div>
</div>

{{#if wikidata}}
  {{partial 'entities:wikipedia_iframe' this}}
{{/if}}