<div class="headerBg"></div>
<div class="restBg"></div>
<section id="genre">
  <h2 class="title">{{label}}</h2>
  <p class="extract">{{{extract}}}</p>
</section>
<section id="authors"></section>
<section id="books"></section>
{{partial 'entities:wikipedia_iframe' this}}