<div class="headerBg"></div>
<div class="restBg"></div>
<section id="genre"></section>
<span class="loading"></span>
<section id="authors"></section>
<section id="books"></section>
{{partial 'entities:wikipedia_iframe' this}}
