<div class="restBg"></div>
<div class="headerBg"></div>
<section id="genre"></section>
<span class="loading"></span>
<section id="authors"></section>
<section id="books"></section>
{{#if wikidata}}
  {{partial 'entities:wiki_bar' this}}
{{/if}}
