<div class="restBg"></div>
<div class="headerBg"></div>
<section id="genre"></section>
<span class="loading"></span>
<section id="authors"></section>
<section id="works"></section>
{{partial 'welcome:embedded_welcome'}}
