{{#if displayHomonyms}}
  <div class="admin">
    <h3>{{i18n 'homonyms'}}</h3>
    <div class='homonyms'></div>
  </div>
{{else}}
  {{!-- just adding regions containers so that the layout view doesn't crash --}}
  <div class='homonyms'></div>
{{/if}}
