{{!-- TODO: display none when none is available in any category--}}
<div class="transaction-icon {{transaction}}" title="{{i18n transaction}}">
  {{icon icon}}
  {{#if showDetails}}
    <span>{{i18n transaction}}</span>
  {{/if}}
</div>
<div class="items-preview flex-row-center-start flex-wrap"></div>
