<h3 class="header">
  {{icon header.icon}}
  <span>{{I18n header.label}}</span>
</h3>
<div class="items-lists-per-transactions">
  <div class="giving"></div>
  <div class="lending"></div>
  <div class="selling"></div>
  <div class="inventorying"></div>
</div>
{{#if emptyList}}
  <div class="empty-list">{{i18n 'nothing here'}}</div>
{{/if}}
