{{#if displayMergeSuggestions}}
  <div class="admin">
    <h3>{{icon 'compress'}}{{I18n 'merge homonyms'}}</h3>
    <div class='mergeHomonyms'></div>
  </div>
{{else}}
  {{!-- just adding regions containers so that the layout view doesn't crash --}}
  <div class='mergeHomonyms'></div>
{{/if}}
