<div class='wiki-attributes'>
  <p class="claims">
    {{timeClaim claims 'wdt:P571'}} {{!-- inception --}}
    {{timeClaim claims 'wdt:P576'}} {{!-- dissolution --}}
    {{entityClaim claims 'wdt:P112'}} {{!-- founded by --}}
    {{entityClaim claims 'wdt:P127'}} {{!-- owned by --}}
    {{> 'entities:links_claims' this}}
  </p>
</div>
