<h3 class="layout-type-label">{{I18n 'publisher'}}</h3>
<div class='publisherInfobox'></div>
<div id="collectionsList"></div>
<div id="editionsList"></div>
{{#if standalone}}
  {{> 'entities:merge_suggestions_layout_section' this}}
  {{> 'welcome:embedded_welcome'}}
{{/if}}
