<h3 class="layout-type-label">{{I18n 'serie'}}</h3>

<div class="serieInfobox"></div>
<div class="parts"><span class="loading"></span></div>
{{partial 'entities:merge_suggestions_layout_section' this}}
{{#if standalone}}{{partial 'welcome:embedded_welcome'}}{{/if}}
