<a class="add" title="{{I18n 'add to the serie'}}">
  <div class="top">
    {{icon 'plus'}}
    <span class="label">{{label}}</span>
  </div>
  <div class="info">
    {{claim claims 'wdt:P50'}}
  </div>
</a>
