<div class="serieInfobox"></div>
<div class="parts"><span class="loading"></span></div>
{{#if standalone}}
  {{#if wikidata}}
    {{partial 'entities:wiki_bar' this}}
  {{/if}}
  {{partial 'welcome:embedded_welcome'}}
{{/if}}
