<div class="wikipedia-iframe">
  <div class="wiki-menu-bar">
    <div class="wikipediaPreviewToggler">
      <a class="showWikipediaPreview">
        {{i18n 'on_wikipedia' this}}
        {{icon 'chevron-down'}}
        {{icon 'chevron-up' 'hidden'}}
      </a>
    </div>
    {{partial 'wiki_sitelinks' this}}
  </div>
  {{!-- wikipedia iframe will be appened here --}}
</div>