{{partial 'welcome:embedded_welcome'}}
<section class="workLayout">
  <div id="workData"></div>
  {{partial 'entities:items_lists'}}
  <div id="workActions"></div>
  <div id="editionsList"></div>
</section>
