<section class="workLayout">
  <div class="work-section">
    <div id="workInfobox"></div>
    <div class="work-instances">
      {{partial 'entities:items_lists' prefix='work'}}
      <div class="workEntityActions"></div>
    </div>
  </div>
  <div id="editionsList"></div>
</section>
{{partial 'welcome:embedded_welcome'}}
