<section class="workLayout">
  <div class="work-section">
    <div id="workData"></div>
    <div class="work-instances">
      {{partial 'entities:items_lists'}}
      <div id="entityActions"></div>
    </div>
  </div>
  <div id="editionsList"></div>
</section>
{{partial 'welcome:embedded_welcome'}}
