<a class="add">
  {{icon 'plus'}}
  <span>{{i18n 'add to my inventory'}}</span>
</a>
{{#if mainUserHasOne}}
  <p class="hasAnInstance">
    {{{i18n 'item_existing_instances' instances}}}
  </p>
{{/if}}
