<h3 class="layout-type-label">{{I18n 'work'}}</h3>

<div class="work-section">
  <div id="workInfobox"></div>
  <div class="work-items">
    <div class="workEntityActions"></div>
    {{> 'entities:items_lists' prefix='work'}}
  </div>
</div>
<div id="editionsList"></div>

{{> 'entities:merge_homonyms_layout_section' this}}
{{> 'welcome:embedded_welcome'}}
