{{partial 'welcome:embedded_welcome'}}
<section class="workLayout">
  <div id="workData"></div>
  <div id="editionsList"></div>
  <div id="workActions"></div>
  {{#if wikidata}}
    {{partial 'entities:wiki_bar' this}}
  {{/if}}
</section>
