.shelfEditor{
  @include display-flex(row);
  .shelfName, .shelfDesc{
    height: 3em;
    padding: 0 1em;
    min-height: 2em;
    margin: 0
  }
  .shelfName{
    margin-right: 1em;
  }
  .button-group-right{
    @include display-flex(row);
    margin-left: 1em;
  }
  .listingIconEditor{
    @include display-flex(row, center);
    margin-right: 1em;
  }
  .button{
    padding: 0.2em;
    margin: 0 0.1em;
  }
}