.shelfBox{
  margin: 0.7em 0 0 0;
  @include display-flex(row);
  .picture{
    // # Fake until picture for shelf is implemented
    width: 160px;
    height: 160px;
  }
  #infoBox{
    // # Fake until picture for shelf is implemented
    width: 90%;

    padding: 1em;
    #titleBar{
      @include display-flex(row, top, space-between);
      #shelfName{
        // make button unbreakable
        flex: 2 0 0;
        padding-right: 1em
      }
      #showShelfEdit{
        padding-top: 0.4em;
        padding-bottom: 0.4em;
      }
    }
    #titleBox{
      overflow: hidden
    }
    #showShelfEdit{
      margin-left:auto
    }
  }
  .data{
    @include display-flex(row, flex-start);
    color: #666;
    margin-bottom: 0.5em;
    li{
      margin-right: 1em;
    }
  }
  .count{
    padding-left: 0.5em;
  }
}
/*Smaller screens*/
@media screen and (max-width: $smaller-screen) {
  .shelfBox{
    @include display-flex(column, center, center);
    .picture{
      margin-top: 1em
    }
    #infoBox #titleBar{
      @include display-flex(column, center, center);
      margin-bottom: 0.7em;
    }
    #infoBox{
      text-align: center;
    }
    .button-group-right{
      margin-left: 0;
    }
    .data{
      @include display-flex(column, center, center);
      li{
        margin: 0.2em 0;
      }
    }
  }
}