.shelfEditor{
  .inputBox{
    margin: 1em 0;
  }
  label{
    font-size: 1rem;
    margin-bottom: 0.2em;
  }
  .subheader{
    text-align: center;
  }
  .buttons{
    @include display-flex(row, center, center);
    align-self: stretch;
    margin-top: 2em;
  }
  .visibility-wrapper{
    @include display-flex(row, center, space-between);
  }
  .dropdown-label{
    padding: 0.5em;
  }
  .delete, .validate{
    text-align: center;
    font-weight: bold;
    padding: 0.7em;
    flex: 1;
  }
  .delete{
    @include dangerous-action;
  }
  .buttons{
    @include display-flex(row, center, space-around);
    margin-top: 2em;
  }
  .has-dropdown{
    .fa{
      margin-right:0.2em;
    }
  }
  .delete{
    margin-right: 1em;
  }
  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    .buttons{
      @include display-flex(column, center, center);
      .delete{
        margin-bottom: 1em;
      }
    }
  }
}
