.shelfLi{
  @include bg-hover($light-grey);
  @include display-flex(row);
  padding: 0.5em 0;
  .shelfLiInfo{
    margin-left: 0.3em;
    overflow: hidden;
    flex: 20 0 0;
    @include display-flex(row);
    .listingIcon{
      margin-right: 1em;
    }
    .shelfLiName{
      margin-right: 1em;
    }
    .shelfLiDesc{
      margin-right: 1em;
      color: $grey;
    }
  }
  .liButtons{
    @include display-flex(row);
    margin-right: 0.3em;
    flex: 1 0 0;
    .liButton{
      margin-left: 0.6em;
    }
  }
}
