.shelvesWrapper{
  background-color: $light-grey;
  padding: 1em;
  @include display-flex(row, top);
  .subheader{
    padding-right: 1em;
  }
}
/*Smaller screens*/
@media screen and (max-width: $smaller-screen) {
  .shelvesWrapper{
    @include display-flex(column, center, center);
  }
}
