.shelfEditor{
  input, textarea{
    margin: 1em 0;
  }
  .subheader{
    text-align: center;
  }
  .actionButtons{
    @include display-flex(row, center, right);
    margin-left: 1em;
  }
  .has-dropdown{
    .fa{
      margin-right:0.2em;
    }
  }
  .deleteButton{
    margin-right: 1em;
  }
  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    .actionButtons{
      @include display-flex(column, center, center);
      .deleteButton{
        margin-bottom: 1em;
      }
    }
  }
}
