.shelfBox{
  margin: 0.7em 0 0 0;
  @include display-flex(row);
  .picture{
    // Fake until picture for shelf is implemented
    width: 10em;
    height: 10em;
  }
  #shelf-info-box{
    // Fake until picture for shelf is implemented
    width: 90%;
    padding: 1em;

    #shelf-title-bar{
      @include display-flex(row, top, space-between);
      #shelf-name{
        // make button unbreakable
        flex: 2 0 0;
      }
      #shelf-actions{
        a {
          margin-bottom: 1em;
          margin-left: 1em;
          padding-top: 0.4em;
          padding-bottom: 0.4em;
        }
      }
    }
    #showShelfEdit{
      margin-left:auto
    }
  }
  .data{
    @include display-flex(row, flex-start);
    color: #666;
    margin-bottom: 0.5em;
    li{
      margin-right: 1em;
    }
  }
  .count{
    padding-left: 0.5em;
  }
  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    .picture{
      margin-top: 1em
    }
    #shelf-title-bar{
      @include display-flex(column, center, center);
      margin-bottom: 0.7em;
    }
    #shelf-info-box{
      text-align: center;
    }
    .data{
      @include display-flex(column, center, center);
      li{
        margin: 0.2em 0;
      }
    }
  }
}

#unselectShelf{
  font-size: 1.5rem;
  @include text-hover($grey, $dark-grey);
}
