.shelvesWrapper{
  background-color: $light-grey;
  padding: 0.7em 1em 1em 1em;
  margin: 0.7em 0 0 0;
}
.shelvesTitle{
  @include display-flex(row, center, space-between);
  .editorButtons {
    @include display-flex(row, center, center);
  }
}
.right{
  text-align: right;
}
.shelfEditor{
  @include display-flex(row);
  .shelfName, .shelfDesc{
    height:3em;
    padding: 0 1em;
    min-height: 2em;
    margin: 0
  }
  .shelfName{
    margin: 0 1em 0 0;
    flex: 5 0 0;
  }
  .shelfDesc{
    flex: 10 0 0;
  }
}
.has-dropdown{
  line-height: 0;
}
.button-group-right{
  @include display-flex(row);
  flex: 1 0 0;
  margin-left: 1em;

}
.button{
  padding: 0.2em;
  margin: 0 0.1em;
  line-height: normal
}
.shelfLi{
  @include display-flex(row);
}
.shelfLiInfo{
  flex: 15 0 0;
  @include display-flex(row);
  height: 1.3em;
  overflow: hidden;
}
.liButtons{
  @include display-flex(row);
  flex: 1 0 0;
}
.shelfLiName{
  flex: 1 0 0;
  margin-right: 1em;
}
.shelfLiDesc{
  flex: 2 0 0;
  color: $grey;
}
.liButton{
  margin-left: 0.6em;
}
.shelves li {
  margin: 1em 0
}