.shelvesTitle{
  margin: 1em
}
.shelfLi{
  @include display-flex(row);
  cursor: pointer;
  height: 1.3em;
  overflow: hidden;
}
.shelfLiName{
  flex: 5 0 0;
  padding: 0 1em;
  margin: 0 1em;
}
.shelfLiDesc{
  flex: 10 0 0;
  color: $grey;
}
.shelfLiButtons{
  @include display-flex(row);
  flex: 1 0 0;

}
.shelves{
  margin: 0 1em;
}
