.shelvesWrapper{
  background-color: $light-grey;
  .shelvesHeader{
    padding: 1em;
    @include display-flex(row, center, space-between);
    #addShelf{
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }
    /*Smaller screens*/
    @media screen and (max-width: $smaller-screen) {
      @include display-flex(column, center);
    }
  }
}
