.shelvesWrapper{
  background-color: $light-grey;
  @include display-flex(row, top);
  padding: 1em;
  .subheader{
    padding: 0 1em 0 0;
  }
  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    .subheader{
      padding: 0;
    }
  }
}
