@import 'modules/general/scss/utils';
@import 'modules/general/scss/select_button_group';

.shelfEditor{
  padding: 0 0.5em;
  label{
    font-size: 1rem;
    margin-bottom: 0.2em;
  }
  #private{ @include selected-button-color($private-color, $private-color-text); }
  #network{ @include selected-button-color($network-color, $network-color-text); }
  #public{ @include selected-button-color($public-color, $public-color-text); }
  .inputBox{
    margin: 1em 0;
  }
  .subheader{
    text-align: center;
  }
  .select-button-group{
    @include display-flex(column);
  }
  .buttons{
    margin-top: 1em;
    align-self: stretch;
  }
  .delete, .validate{
    text-align: center;
    font-weight: bold;
    padding: 0.7em;
    flex: 1;
  }
  .delete{
    @include dangerous-action;
  }
  /*Smaller screens*/
  @media screen and (max-width: $very-small-screen) {
    @include display-flex(column, center, center);
    .buttons{
      align-self: stretch;
      flex: 1;
      padding: 1em;
      @include display-flex(column, stretch, center);
      button{
        min-width: 12em;
        max-width: 20em;
        margin: 0.5em auto;
      }
    }
    .inputBox{
      padding: 0 0.5em;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .buttons{
      @include display-flex(row, center, space-around);
    }
    .delete{
      margin-right: 0.5em;
    }
    .validate{
      margin-left: 0.5em;
    }
  }
}
