{{!-- this input will be wrapped into .ac-container if the view as the AutoComplete
  behavior. Wrapping is thus required for views without AutoComplete to make alert boxes
  appear under the input --}}
<div class="input-wrapper">
  <input type="text" value="{{value}}" class="has-alertbox">
  <p class="tip"></p>
</div>
{{partial 'entities:editor:edit_mode_buttons' this}}
