{{#if standalone}}
  <div class="header">
    <h2><a class="showEntity link" href="{{pathname}}">{{label}}</a></h2>
    <strong>{{I18n 'history'}}</strong>
  </div>
{{/if}}
<div class="inner-history"></div>
