<span class='identifier has-tooltip'>
  <span class="identifier-uri">{{uri}}</span>
  {{#if hasIdentifierTooltipLinks}}
    <div class="tooltip-wrapper">
      <div class="tooltip-content {{#if contrast}}contrast{{/if}}">
        {{!-- If a type was defined, it should have a page that make
        sense on inventaire filtering out things like book subjects --}}
        {{#if type}}
          <a href="{{pathname}}" class="link showEntity">{{i18n 'see_on_website' website='inventaire.io'}}</a>
        {{/if}}
        {{#if wikidata}}
          {{link i18n='see_on_website' i18nArgs='website=wikidata.org'
          url=wikidata.url classes='link'}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</span>
