<div class="property-label">
  <span class="title">{{I18n 'title'}}</span>
  {{> 'entities:editor:language_selector' langs}}
</div>
<div class="label-editor">
  {{#if editMode}}
    {{> 'entities:editor:edit_mode' this}}
  {{else}}
    <div class="label-value displayModeData">{{value}}</div>
    {{> 'entities:editor:edit_button'}}
  {{/if}}
</div>