<select class="langSelector" aria-label="lang selector" name="language-selector">
  {{#each this}}
    <option value="{{code}}" {{#if selected}}selected{{/if}}>{{native}}</option>
  {{/each}}
</select>
