{{!-- The properties order follows the order from modules/entities/lib/editor/properties_per_type.coffee --}}
<ul class="properties"></ul>
<div class="properties-controls">
  <a id="showAllProperties" class="hidden">{{icon 'chevron-down'}}{{i18n 'add more details'}}</a>
</div>
