<div class="property-label">{{I18n propertyLabel}}</div>
<div class="values-wrapper">
  <ul class="values"></ul>
  {{#if customAdd}}
    <div class="creationPartial">
      {{partial creationPartial creationPartialData}}
    </div>
  {{else}}
    {{#if canAddValues}}
      {{partial 'entities:editor:add_button'}}
    {{/if}}
  {{/if}}
</div>
