<div class="property-label">{{I18n propertyLabel}}</div>
<div class="values-wrapper">
  <ul class="values"></ul>
  {{#if customAdd}}
    <div class="creationPartial">
      {{!-- That's the only customAdd partial for now --}}
      {{#if creation_partial_is_edition_creation}}
        {{> 'entities:editor:edition_creation' creationPartialData}}
      {{/if}}
    </div>
  {{else}}
    <div class="add-value-wrapper">
      <a class="addValue tiny-button soft-grey {{#unless canAddValues}}hidden{{/unless}}" tabindex="0">
        {{icon 'plus'}} {{i18n 'add'}}
      </a>
    </div>
  {{/if}}
</div>
