<h4>
  {{#if received}}
    {{icon 'sign-in'}} {{i18n 'requests waiting for your answer'}}
  {{/if}}
  {{#if sent}}
    {{icon 'sign-out'}} {{i18n 'requests you sent'}}
  {{/if}}
</h4>
<div class="transactions"></div>
