<div id="list">
  <section id="active"></section>

  <label for="archived">
    {{icon 'caret-down'}} {{icon 'archive'}} {{I18n 'archived'}}
  </label>
  <section id="archived"></section>
</div>

<div id="fullview"></div>