<a href="{{pathname}}" class="showTransaction {{#unless mainUserRead}}unread{{/unless}}">
  <div class="current transactionBox {{item.transaction}}">
    {{icon item.currentTransaction.icon}}
  </div>
  {{#if onItem}}
    <div>
      {{#if requester.picture}}
        <img src="{{src requester.picture 48}}" alt="{{requester.username}}">
      {{/if}}
    </div>
    <div class="text">
      <span class="context">{{{requestContext}}}</span>
    </div>
  {{else}}
    <div>
      {{#if other.picture}}
        <img src="{{src other.picture 48}}" alt="{{other.username}}">
      {{/if}}
    </div>
    <div class="text">
      <span class="title">{{item.title}}</span>
      <span class="context">{{other.username}}</span>
    </div>
    <div>
      {{#if item.pictures}}
        <img src="{{src item.pictures 48}}" alt="{{item.title}}">
      {{/if}}
    </div>
  {{/if}}
  <div class="flags">
    <div class="unread-flag">
      {{icon 'circle'}}
    </div>
  </div>
</a>