.actions{
  padding: 2em;
  text-align: center;
  .accept, .confirm, .returned{
    @include tiny-button($success-color);
  }
  .decline, .archive{
    @include tiny-button($grey);
  }
  .waiting, .finished{
    color: $grey;
    cursor: default;
  }
}
