.header{
  @include radius;
  @include radius-top;
  background-color: white;
  padding-bottom: 1em;
}
.facts{
  .item{
    @include display-flex(row, center, center);
  }
  .cover{
    @include flex(0, 0);
    img{
      padding-right: 0.2em;
    }
  }
  .data{
    margin-left: 0.2em;
  }
  .title{
    font-size: 1.2em;
    // in case the title is very long
    max-height: 5em;
    overflow: hidden;
  }
  .wd-P{
    display: none;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 1em;
    @include display-flex(row, center, space-around, wrap);
    .context{
      margin-top: 1em;
      img{
        max-width: 15vw;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include display-flex(row, center, space-between);
    padding: 1em;
  }
}
.context{
  @include flex(0, 0);
  .fa{
    color: white;
    padding: 0.5em;
  }
  &.giving{ .fa{ background-color: $giving-color; } }
  &.lending{ .fa{ background-color: $lending-color; } }
  &.selling{ .fa{ background-color: $selling-color; } }
  .owner{
    margin-left: 0.2em;
  }
}