.message{
  @include display-flex(row);
  .avatar{
    @include flex(0, 0, 36px);
    &:not(.sameUser){
      margin-top: 0.8em;
      @extend .event-icon;
    }
    overflow: hidden;
  }
  .rest{
    @include radius;
    background-color: #f9f9f9;
    margin-left: 0.2em;
    padding: 0.5em;
    padding-left: 1em;
    @include flex(1);
    span{
      display: block;
    }
    &:not(.sameUser){
      margin-top: 1em;
    }
  }
  .time{
    opacity: 0.5;
  }
  /*Small screens*/
  @media screen and (max-width: 600px) {
    .rest{
      @include display-flex(column);
    }
    .time{
      margin-left: auto;
      @include order(2);
    }
  }
  /*Large screens*/
  @media screen and (min-width: 600px) {
    .time{
      float: right;
    }
  }
}