.requestItemModal{
  @include display-flex(column, center, center);
  .header{
    width: 100%;
    @include display-flex(row, center, space-between);
    margin-bottom: 1em;
  }
  .user, .item{
    @include flex(1);
  }
  .user{
    @include display-flex(column, center, flex-start);
    .profilePic{
      height: $user-box-heigth;
      max-height: $user-box-heigth;
    }
  }
  .transactionBox{
    max-height: $user-box-heigth;
    @include display-flex(row, center, center);
    padding-left: 0.6em;
    padding-right: 0.4em;
    @include flex(0, 0)
  }
  .label{
    padding: 0.5em;
  }
  .item{
    @include display-flex(column, center, center);
    .entity{
      opacity: 0.5;
    }
  }
  textarea{
    min-width: 100%;
    max-width: 100%;
    @include radius;
  }
}