.transactionsWelcome{
  @include display-flex(column, center, center);
  .fa{
    font-size: 2em;
  }
  div{
    max-width: 38em;
    background-color: $contrast;
    padding: 1em;
    @include radius();
    @include shy-border();
  }
  text-align: center;
  p{
    color: $grey;
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    height: 30em;
    max-height: 50vh;
  }
}
