.transaction{
  @include radius();
  @include shy-border();
  background-color: white;
  max-width: 38em;
  margin: 1em auto;
  @import "header";
  @import "timeline";
  @import "actions";
  .item{
    @include bg-hover(white);
  }
}