$transaction-list-width: 25em;

.transactionsLayout{
  #list{
    background-color: #fefefe;
    padding: 0em 0.2em 0em 0.2em;
    label{
      color: $grey;
      font-size: 1em;
      @include sans-serif();
      text-transform: uppercase;
      &.toggled{
        .fa-caret-down{
          @include vendor-prefix(transform, rotate(-90deg));
        }
      }
    }
    h4{
      color: $grey;
      font-size: 1.1em;
      @include sans-serif();
      text-transform: uppercase;
    }
  }
  .folder{
    background-color: #eee;
    margin-left: 1em;
  }
  @import "transactions_list";
  @import "transaction";
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    #list{
      position: fixed;
      top: $topbar-height;
      bottom: 0;
      width: $transaction-list-width;
      overflow-y: auto;
    }
    #fullview{
      margin-left: $transaction-list-width;
    }
  }
}

@import "request_item_modal";
