$transaction-list-width: 20em;

.transactionsLayout{
  #list{
    background-color: #fefefe;
    label{
      color: $grey;
      margin-left: 0.2em;
      font-size: 1em;
      @include sans-serif();
      text-transform: uppercase;
      &.toggled{
        .fa-caret-down{
          @include vendor-prefix(transform, rotate(-90deg));
        }
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    #list{
        margin-bottom: 1em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    #list{
      @include position(fixed, $topbar-height, null, 0);
      width: $transaction-list-width;
      overflow-y: auto;
      section{
        margin-bottom: 1em;
      }
    }
    #fullview{
      margin-left: $transaction-list-width;
    }
  }
}

@import "transactions_list";
@import "transaction";
@import "request_item_modal";
@import "transactions_welcome";
