.transactionPreview{
  border-bottom: 1px solid rgba($grey, 0.2);
  &:first-child{
    border-top: 1px solid rgba($grey, 0.2);
  }
  @include bg-hover(white);
  &.selected{
    background-color: $light-grey;
  }
  cursor: pointer;
  @include display-flex(row, center, flex-start);
  .text{
    @include flex(1);
    max-height: 3em;
    overflow: hidden;
  }
  span{
    display: block;
    padding-left: 0.2em;
    text-overflow: ellipsis;
  }
}