.transactionPreview{
  max-height: $user-box-heigth;
  @include bg-hover(white);
  border-bottom: 1px solid rgba($grey, 0.2);
  &:first-child{
    border-top: 1px solid rgba($grey, 0.2);
  }
  .transactionBox{
    width: 1.6em;
    max-width: 1.6em;
    min-width: 1.6em;
    flex: 0 0 1.6em;
    @include display-flex(row, center, center);
    .fa{
      // centering
      padding-left: 0.3em;
    }
    .current{
      width: 100%;
      height: 100%;
      @include display-flex(row, center, center);
    }
    // just 'height' wasnt working on chrome
    min-height: $user-box-heigth;
    max-height: $user-box-heigth;
    li.capitalized{
      color: $dark-grey;
    }
    @mixin transaction-box-color($color, $white-text:1){
      background-color: lighten($color, 2%);
      @if $white-text { @include white-text; }
    }
    &.giving{ @include transaction-box-color($giving-color); }
    &.lending{ @include transaction-box-color($lending-color); }
    &.selling{ @include transaction-box-color($selling-color); }
    &.inventorying{ @include transaction-box-color($inventorying-color); }
  }
  &.selected{
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1) inset;
    &, a.showTransaction{
      background-color: $light-grey;
    }
    .unread-flag{
      display: none;
    }
  }
  .profile-pic, .item-pic{
    // hidding overflowing alt text
    overflow: hidden;
  }
  .profile-pic{
    flex: 0 0 $user-box-heigth;
  }
  .profile-pic, .profile-pic img{
    width: $user-box-heigth;
    height: $user-box-heigth;
  }
  .item-pic, .item-pic img{
    flex: 0 0 auto;
    max-width: $user-box-heigth;
    max-height: $user-box-heigth;
    overflow: hidden;
  }
  a.showTransaction{
    @include display-flex(row, center, flex-start);
    .text{
      flex: 1 1 auto;
      max-height: 3em;
      overflow: hidden;
    }
    span{
      display: block;
      padding-left: 0.2em;
      text-overflow: ellipsis;
    }
  }
  .flags{
    flex: 0 0 1em;
  }
}