#transactionView{
  max-width: 40em;
  margin: 1em auto;
  section{
    @include radius;
    @include shy-border;
    background-color: white;
  }
  .cover{
    max-width: 5em;
    overflow: hidden;
  }
  h3, .finished{
    padding-top: 0.8em;
    padding-left: 1em;
    font-size: 1em;
    opacity: 0.5;
    @include sans-serif;
    margin: 0;
  }
  .new-message{
    margin-top: 1em;
  }
  @import "header";
  @import "timeline";
  @import "actions";
  .item{
    @include bg-hover(white);
  }
  .fa, .owner img{
    @include radius;
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 1em;
    .info{
      max-width: 22em;
    }
  }
}