$transaction-list-width: 20em;

.transactionsLayout{
  #list{
    background-color: #fefefe;
    label{
      color: $grey;
      font-size: 1em;
      @include sans-serif;
      text-transform: uppercase;
      padding: 0.5em 0 0.5em 0.2em;
      @include shy-border;
      &.toggled{
        .fa-caret-down{
          transform: rotate(-90deg);
        }
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    #list{
      margin-bottom: 1em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    #list{
      @include position(fixed, $topbar-height, null, 0);
      width: $transaction-list-width;
      overflow-y: auto;
    }
    #fullview{
      margin-left: $transaction-list-width;
    }
  }
}

@import "transactions_list";
@import "transaction";
@import "request_item_modal";
@import "transactions_welcome";
