.transactionPreview{
  max-height: $user-box-heigth;
  @include bg-hover(white);
  border-bottom: 1px solid rgba($grey, 0.2);
  &:first-child{
    border-top: 1px solid rgba($grey, 0.2);
  }
  .transactionBox{
    width: 1.6em;
    max-width: 1.6em;
    min-width: 1.6em;
    flex: 0 0 1.6em;
    @include display-flex(row, center, center);
    .fa{
      // centering
      padding-left: 0.3em;
    }
  }
  &.selected{
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1) inset;
    background-color: $light-grey;
    .unread-flag{
      display: none;
    }
  }
  .profile-pic, .item-pic{
    // hidding overflowing alt text
    overflow: hidden;
  }
  .profile-pic{
    flex: 0 0 $user-box-heigth;
  }
  .profile-pic, .profile-pic img{
    width: $user-box-heigth;
    height: $user-box-heigth;
  }
  .item-pic, .item-pic img{
    flex: 0 0 auto;
    max-width: $user-box-heigth;
    max-height: $user-box-heigth;
    overflow: hidden;
  }
  a.showTransaction{
    @include display-flex(row, center, flex-start);
    .text{
      flex: 1 1 auto;
      max-height: 3em;
      overflow: hidden;
    }
    span{
      display: block;
      padding-left: 0.2em;
      text-overflow: ellipsis;
    }
    &.unread{
      background-color: lighten($light-blue, 48%);
    }
    &:not(.unread){
      .unread-flag{
        display: none;
      }
    }
  }
  .flags{
    flex: 0 0 1em;
  }
  .unread-flag{
    @include display-flex(row, center, center);
    margin-left: 0.3em;
    color: $light-blue;
    font-size: 0.8em;
    opacity: 0.8;
  }
}