<div class="acceptedFriendRequest">
  <img src="{{picture}}">
  <a data-href="{{href}}">
    <span>{{i18n 'friend_accepted_request' this}}</span><br>
    <span class="time">{{time}}</span>
  </a>
</div>