<div class="friendAcceptedRequest">
  <img src="{{src picture 48}}">
  <a href="{{pathname}}">
    <span>{{{i18n 'friend_accepted_request' this}}}</span><br>
    <span class="time">{{timeFromNow time}}</span>
  </a>
</div>