<div class="newCommentOnFollowedItem">
  <img src="{{src picture 64}}">
  <a href="{{pathname}}">
    <span>{{{i18n 'new_comment_on_followed_item' this}}}</span><br>
    <span class="time">{{timeFromNow time}}</span>
  </a>
</div>