<h2>{{i18n 'notifications'}}</h2>
<ul></ul>
<div class="show-notifications-settings-wrapper">
  {{iconLinkText name='envelope' url='/settings/notifications' I18n='email notifications settings' linkClasses='link showNotificationsSettings'}}
</div>
