#accountMenu{
  .notification{
    div{
      min-width: 10em;
      min-height: 3em;
      @include display-flex(row);
      img{
        margin-left: 0;
        max-height: $user-height;
        @include flex(0, 0);
      }
      a{
        @include flex(1);
        background-color: $main-bg;
        color: $dark-grey;
        line-height: 1em;
        text-align: right;
        padding-top: 0.5em;
        white-space: normal;
        .time{
          color: $grey;
        }
      }
    }
    &.read{
      a{
        background-color: white;
      }
    }
    .empty{
      @include align-items(center);
      @include justify-content(center);
      color: white;
    }
  }
  .seeAll{
    text-align: center;
    font-weight: bold;
  }

  @import "request_li";

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .notification, .request{
    }
  }


  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    ul.dropdown{
      padding: 0.2em;
      background-color: $dark-grey;
    }
    .notification{
      > div{
        width: 25em;
      }
    }
  }
}

@import 'notifications_layout';
