#notificationsLayout{
  @include central-column(50em);
  text-align: center;

  section{
    background-color: #eee;
    margin: 1em 0;
    padding: 1em;
    @include radius;
  }

  .time{
    color: $grey;
  }
}

#notificationsList{
  max-height: 20em;
  overflow: auto;
  li{
    text-align: left;
    margin: 0.1em;
    padding: 0.5em;
    @include shy-border;
    @include radius;
    .notification-link{
      @include display-flex(row, flex-start, flex-start);
      width: 100%;
      .info{
        flex: 1 1 auto;
        padding: 0 0.5em;
      }
    }
  }
}

.unread-flag{
  @include display-flex(row, center, center);
  margin-left: 0.3em;
  font-size: 0.8em;
  opacity: 0.8;
  align-self: center;
  flex: 0 0 auto;
  padding: 0.2em;
  .fa{
    color: $light-blue;
  }
}

.notification, .transactionPreview a.showTransaction{
  &.unread{
    background-color: $unread-color;
  }
  &:not(.unread){
    @include bg-hover(white);
    .unread-flag{
      display: none;
    }
  }
}
.notification{
  img{
    max-height: 3em;
    max-width: 3em;
    @include radius;
  }
}


.showNotificationsSettings{
  margin-top: 1em;
  .fa{
    margin-right: 0.5em;
  }
}
