<h3>{{i18n 'Category' 'Q224414'}}</h3>
<ul class="button-group">
  {{#each this}}
    <li><a id="{{value}}" class="capitalized category button grey">{{icon icon}} {{i18n text entity}}</a></li>
  {{/each}}
</ul>