<div {{#if isFirefox}}class="custom-select fa-caret-down"{{/if}}>
  <select id="listingPicker" name="listPicker">
    {{#each listings}}
      <option value="{{id}}" {{#if selected}}selected{{/if}}>{{{unicodeIcon}}} {{i18n label}}</option>
    {{/each}}
  </select>
</div>