.admin{
  &:empty{
    display: none;
  }
  padding: 1em;
  background-color: $dark-grey;
  @include radius;
  h3, h4{
    color: white;
  }
  h4{
    font-weight: bold;
    font-size: 1em;
    background-color: $darker-grey;
    padding: 0.5em;
    @include radius;
  }
  section{
    &:not(:last-child){
      margin-bottom: 1.2em;
    }
  }
  .merge-section{
    padding-left: 0.5em;
  }
  .warning{
    color: #bbb;
    font-size: 0.9em;
    margin-bottom: 0.6em;
  }
}

#mergeWithGroup{
  max-width: 30em;
  margin-bottom: 1em;
  .button{
    width: auto;
    padding-left: 1em;
  }
  input[type="text"]{
    margin-bottom: 0;
  }
  .alert-box{
    margin: 0;
  }
}

#mergeWithButton{
  // centering the loading button vertically
  @include display-flex(row, center, center);
  .loading{
    margin-left: 1em;
  }
}

@import 'merge_suggestion';
@import 'history';
