.autocomplete-container{
  position: relative;
}
.autocomplete-suggestions{
  /*Medium and Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    // On large screen, there is room to display the action buttons on the side,
    // so we can position the suggestion with position=absolute to avoid
    // having the rest of the page jump when we display or hide suggestions
    @include position(absolute, 95%);
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    // Make top border overlap with the input border
    // to avoid having a 2px border
    margin-top: -1px;
    margin-bottom: 0.5em;
  }
  width: 100%;
  background-color: white;
  @include shy-border(0.9);
  @include radius-bottom;
  .resultsWrapper{
    // keep in sync with modules/entities/views/editor/autocomplete_suggestions.coffee
    max-height: 170px;
    overflow: auto;
  }
  .close{
    display: block;
    text-align: center;
    @include bg-hover(#eaeaea);
    color: #333;
  }
  .loaderWrapper{
    @include display-flex(row, center, center);
    border-top: 1px solid #eee;
  }
  .small-loader{
    margin: 0.5em;
    color: $grey;
  }
}
.autocomplete-suggestion .select, .autocomplete-no-suggestion{
  padding: 0 0.4em 0 0.4em;
}
.autocomplete-suggestion{
  @include bg-hover(white);
  &.active{
    background-color: #ddd;
  }
  &:not(:last-child){
    border-bottom: 1px solid #eee;
  }
  .select{
    width: 100%;
    cursor: pointer;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
  }
  .identifier{
    float: right;
  }
}
.autocomplete-no-suggestion{
  text-align: center;
  a{
    color: #666;
  }
}