$author-layout-bg: #292929;

.authorLayout{
  background-color: $author-layout-bg;
  // allow to have no margin when there is only one .authorLayout
  &:not(:first-child){
    margin-top: 1em;
  }
  .subentities{
    flex: 1 1 auto;
  }
  // Precising :not(.standalone) to override the selector
  .serieLayout:not(.standalone){
    background-color: $darker-grey;
  }
  .series, .works, .articles{
    // required to center .loading
    @include display-flex(row, center, center);
    .header{
      @include display-flex(row, center, center);
    }
    h3, h4{
      color: white;
    }
    h3, h4{
      text-align: center;
      font-size: 1.4em;
    }
  }
  .loading{
    text-align: center;
    color: $contrast;
    font-size: 2em;
    padding: 1em;
  }
  .articles:not(:empty){
    margin-top: 2em;
    margin-bottom: 2em;
    .main{
      h4{
        color: $dark-grey;
      }
    }
  }
  @import './author_infobox';
  &:not(.wrapped){
    .unwrap{
      display: none;
    }
  }
}

.innerAuthorLi{
  padding-top: 1em;
  padding-bottom: 1em;
  @include display-flex(column);
  .workLi{
    margin: auto;
    margin-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .series, .works, .articles{
      margin-left: 0.2em;
      margin-right: 0.2em;
      flex: 1 1 auto;
    }
    .workLi{
      min-width: 36em;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .workLi:first-child{
      margin-top: 1em;
    }
  }
}

#searchLayout .authorLayout.wrapped, .authorLayout.wrapped{
  padding: 0;
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1em;
    margin: 0;
  }
  .innerAuthorLi, .authorData, .subentities, .authorInfobox{
    padding: 0;
    margin: 0;
  }
  .image-wrapper, .wiki-attributes, .extract{
    display: none;
  }
  .authorInfobox{
    position: relative;
  }
  .unwrap{
    position: absolute;
    top: 10%;
    right: 0;
    color: white;
  }
}