.author-preview{
  a{
    @include radius;
    @include display-flex(row, center, flex-start);
    .image{
      width: 64px;
      height: 64px;
      background-size: cover;
      background-position: center center;
      @include radius-left;
    }
    .summary-data{
      @include display-flex(column, center, center);
      flex: 1 0 auto;
      .name{
        line-height: 1.2em;
      }
      .birth-death-dates{
        line-height: 1em;
      }
    }
  }
}
