$author-data-threshold: 25em;

.authorInfobox{
  margin: 0 auto;
  max-width: 60em;
  // center the image
  @include display-flex(column, center, center);
  .image-wrapper{
    @include display-flex(column);
    text-align: center;
    img{
      margin: 0 auto;
      // Required by Edge that would maximize the image width otherwise
      // Keep in sync with app/modules/entities/views/templates/author_infobox.hbs
      max-width: 300px;
      /*Small screens*/
      @media screen and (max-width: 300px) {
        max-width: 95vw;
      }
    }
  }
  .photo-credits{
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 0.8em;
    color: white;
    max-width: 20em;
    @include shy(0.4);
    .link{
      color: white;
    }
    padding-bottom: 1em;
  }
  .fa-pencil{
    @include text-hover(#bbb, white);
  }
  .claims{
    .link{
      @include text-hover(white, #bbb);
    }
  }
}
.authorData{
  position: relative;
  background-color: $darker-grey;
  @include radius;
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  /*Small screens*/
  @media screen and (max-width: $author-data-threshold) {
    // Give some room to a.edit .fa-pencil
    min-width: 90vw
  }
  /*Medium and Large screens*/
  @media screen and (min-width: $author-data-threshold) {
    min-width: $author-data-threshold;
    .showEntityEdit.pencil{
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}
