.authorInfobox{
  margin: 0 auto;
  max-width: 60em;
  // center the image
  @include display-flex(column, center, center);
  .image-wrapper{
    @include display-flex(column);
    text-align: center;
    img{
      margin: 0 auto;
      // Required by Edge that would maximize the image width otherwise
      // Keep in sync with app/modules/entities/views/templates/author_infobox.hbs
      max-width: 300px;
      /*Small screens*/
      @media screen and (max-width: 300px) {
        max-width: 95vw;
      }
    }
  }
  .photo-credits{
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 0.8em;
    color: white;
    max-width: 20em;
    @include shy(0.4);
    .link{
      color: white;
    }
    padding-bottom: 1em;
  }
  .fa-pencil{
    @include text-hover(#bbb, white);
  }
  .claims{
    .link{
      @include text-hover(white, #bbb);
    }
  }
}
.authorData{
  color: white;
  h3{
    color: white;
    a{
      @include text-hover(white, #bbb);
    }
  }
  .extract{
    text-align: left;
    padding: 1em;
    &:empty{
      padding: 0;
      height: 0;
    }
  }
  .source{
    @include link-underline-on-hover(#888, #aaa);
  }
}
