$author-layout-bg: #292929;

.authorLayout{
  background-color: $author-layout-bg;
  // allow to have no margin when there is only one .authorLayout
  &:not(:first-child){
    margin-top: 1em;
  }
  .subentities{
    flex: 1 1 auto;
    @include display-flex(column);
  }
  // Precising :not(.standalone) to override the selector
  .serieLayout:not(.standalone){
    background-color: $darker-grey;
  }
  .series, .works, .articles{
    &:not(:empty){
      // required to center .loading
      @include display-flex(row, center, center);
      margin-top: 1em;
      margin-bottom: 1em;
      .header{
        @include display-flex(row, center, center);
      }
    }
  }
  .series, .works, .articles{
    h3, h4{
      color: white;
      text-align: center;
      font-size: 1.4em;
    }
  }
  .subheader{
    .uri{
      font-size: 0.9rem;
      margin-left: 1em;
      @include sans-serif;
    }
  }
  .loading{
    text-align: center;
    color: $contrast;
    font-size: 2em;
    padding: 1em;
  }
  .articles:not(:empty){
    margin-top: 2em;
    margin-bottom: 2em;
    .main{
      h4{
        color: $dark-grey;
      }
    }
  }
  @import './author_infobox';
  &:not(.wrapped){
    .unwrap{
      display: none;
    }
  }
}

.innerAuthorLi{
  @include display-flex(column);
  .workLi:not(.wrappable){
    margin: auto;
    margin-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .series, .works, .articles{
      margin-left: 0.2em;
      margin-right: 0.2em;
      flex: 1 1 auto;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .workLi:first-child:not(.wrappable){
      margin-top: 1em;
    }
  }
}

#searchLayout .authorLayout.wrapped, .authorLayout.wrapped{
  background-color: $darker-grey;
  padding: 0;
  .innerAuthorLi{
    position: relative;
    @include display-flex(row, center, center, wrap);
  }
  .innerAuthorLi, .authorData, .subentities, .authorInfobox{
    padding: 0;
    margin: 0;
  }
  .image-wrapper, .wiki-attributes, .extract, .works-list-controls{
    display: none;
  }
  .authorInfobox{
    flex: 1 0 auto;
  }
  .authorData{
    @include display-flex(row, center, flex-start);
    h3{
      font-size: 1.4em;
      margin-right: 0.5em;
    }
    h4{
      font-size: 1.1em;
      color: $grey;
      margin: 0;
      // Centering vertically
      margin-top: -0.1em;
    }
  }
  .subentities{
    .header{
      // Resize the work list counter without strugguling with counter padding
      transform: scale(0.8);
      opacity: 0.8;
    }
    .container{
      display: none;
    }
  }
  .unwrap{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: white;
  }
  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    .authorData{
      flex-direction: column;
    }
    .unwrap{
      font-size: 1.4em;
    }
  }
}

.authorLayout, .workLayout{
  .admin{
    margin: 2em;
    background-color: $darker-grey;
    @include radius;
    padding: 1em;
    h3, h4{
      color: white;
      text-align: center;
      font-size: 1.4em;
    }
  }
}
