.editions-list{
  margin: 0 auto;
  max-width: 50em;
  h3{
    text-align: center;
    color: white;
  }
  .filters{
    @include display-flex(row, center, center);
    margin-bottom: 1em;
    select{
      @include radius;
    }
  }
  .languageFilter{
    max-width: 10em;
  }
  .edition-creation{
    justify-content: center;
    label{
      color: white
    }
  }
}

.no-edition{
  text-align: center;
  color: $grey;
}

#modal{
  .editions-list{
    h3{
      color: $darker-grey;
    }
  }
  .editionLi, .edition-creation{
    background-color: $off-white;
    .itemsPreviewLists{
      background-color: darken($light-grey, 2%);
    }
  }
}
