.value-editor-commons{
  @include display-flex(row, center, flex-start);
  padding: 0.5em;
}

.input-editor{
  @include display-flex(row, center, space-between);
  width: 100%;
  .inputBox{
    width: 100%;
    position: relative;
    input{
      margin-bottom: 0;
    }
    .alert-box{
      margin-top: 0;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    flex-direction: column;
    .inputBox{
      margin-bottom: 1em;
      input{
        margin: 0 auto;
      }
    }
  }
}

.input-editor, .input-wrapper{
  .tip{
    position: absolute;
    &:not(:empty){
      right: 0;
      left: 0;
      padding: 0.4em 0.6em;
      padding-left: 0.6em;
      color: #666;
      background-color: #eee;
    }
  }
  input{
    height: auto;
    padding: 0.6em 0.5em 1.5em 0.5em;
  }
  .selectedSuggestionStatus{
    color: $grey;
    position: absolute;
    font-size: 0.8em;
    bottom: 0.2em;
    right: 0.5em;
  }
}

.cancel{
  @include tiny-button-color($edit-button-grey);
}
.save{
  @include tiny-button-color($success-color);
  // Required to keep the loader aligned
  @include display-flex(row, center, center);
}
.edit-mode-buttons{
  @include display-flex(row);
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  .tiny-button{
    .fa{
      // centering
      padding: 0;
    }
  }
}

.edit-button-wrapper{
  @include display-flex(row, null, flex-end);
  flex: 0 0 auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    .shy-label{
      span{
        // prevent that a hover event triggers the appearance of the label
        // as it would make everything bump
        display: none;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    // Taking more place than needed to avoid flickering
    // when the label is shown on hover
    min-width: 8em;
  }
}

.displayModeData{
  flex: 1 1 auto;
  margin-right: 0.5em;
  padding-left: 0.5em;
  cursor: pointer;
  @include bg-hover(white, 5%);
}

/*Small screens*/
@media screen and (max-width: $entity-editor-small-thresold) {
  .edit-mode-buttons{
    @include display-flex(row, center, center);
    .tiny-button{
      margin-left: 0.2em;
      margin-right: 0.2em;
      padding-top: 0.1em;
    }
  }
  .tiny-button{
    margin: 0.3em;
  }
  .shy-label{
    span{
      // prevent that a hover event triggers the appearance of the label
      // as it would make everything bump
      display: none;
    }
  }
  .displayModeData{
    @include display-flex(row, center, flex-start);
    background-color: #eee;
    min-height: 2em;
  }
}
/*Large screens*/
@media screen and (min-width: $entity-editor-small-thresold) {
  .tiny-button{
    margin-left: 0.2em;
  }
}
