#editionsList{
  margin: 0 auto;
  max-width: 50em;
  h3{
    text-align: center;
    color: white;
  }
  .filters{
    @include display-flex(row, center, center);
  }
  .languageFilter{
    max-width: 10em;
  }
}