.edition-commons{
  .add, .updateItem{
    @include tiny-button($light-blue);
    margin: 0 auto;
    text-align: center;
  }
  .items-lists{
    padding: 0.5em;
    text-align: center;
  }
  .hasAnInstance{
    background-color: $light-grey;
    margin: 0.5em;
  }
  .property-value{
    color: $dark-grey;
  }
}
