.edition-commons{
  .add, .updateItem{
    @include tiny-button($light-blue);
    margin: 0 auto;
    text-align: center;
  }
  .items-lists{
    padding: 0.5em;
    .items-lists-per-transactions{
      text-align: center;
    }
  }
  .property-value{
    color: $dark-grey;
    margin-right: 0.5em;
  }
  .edition-title{
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .editionEntityActions{
    flex: 0 0 auto;
    a{
      text-wrap: nowrap;
    }
  }
  .subtitle{
    @include serif;
  }
  .inner-claims{
    margin-top: 0.5em,
  }
}
