.value-editor-commons{
  @include display-flex(row, center, flex-start);
  padding: 0.5em;
}

.input-editor{
  @include display-flex(row, center, space-between);
  width: 100%;
  .inputBox{
    width: 100%;
    input{
      margin-bottom: 0;
    }
    .alert-box{
      margin-top: 0;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    flex-direction: column;
    .inputBox{
      margin-bottom: 1em;
      input{
        margin: 0 auto;
      }
    }
  }
}

.cancel{
  @include tiny-button-color($edit-button-grey);
}
.save{
  @include tiny-button-color($success-color);
}
.edit-mode-buttons{
  @include display-flex(row);
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  .tiny-button{
    .fa{
      // centering
      margin-right: -0.3em;
    }
  }
}

.edit-button-wrapper{
  @include display-flex(row, null, flex-end);
  flex: 0 0 auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    .shy-label{
      span{
        // prevent that a hover event triggers the appearance of the label
        // as it would make everything bump
        display: none;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    // Taking more place than needed to avoid flickering
    // when the label is shown on hover
    min-width: 8em;
  }
}

.displayModeData{
  flex: 1 1 auto;
  margin-right: 0.5em;
  padding-left: 0.5em;
  cursor: pointer;
  @include bg-hover(white, 5%);
}

/*Small screens*/
@media screen and (max-width: $entity-editor-small-thresold) {
  .edit-mode-buttons{
    @include display-flex(row, center, center);
    .tiny-button{
      margin-left: 0.2em;
      margin-right: 0.2em;
      padding-top: 0.1em;
    }
  }
  .tiny-button{
    margin: 0.3em;
  }
  .shy-label{
    span{
      // prevent that a hover event triggers the appearance of the label
      // as it would make everything bump
      display: none;
    }
  }
  .displayModeData{
    @include display-flex(row, center, flex-start);
    background-color: #eee;
    min-height: 2em;
  }
}
/*Large screens*/
@media screen and (min-width: $entity-editor-small-thresold) {
  .tiny-button{
    margin-left: 0.2em;
  }
}
