.editionLi, .editionWrapper{
  @include radius;
  background-color: white;
  .info{
    @include display-flex(row);
  }
  .cover{
    margin: 0.5em;
    flex: 0 0 auto;
    // Prevent long alt-text to take the whole width while waiting for the image
    max-width: 10em;
  }
  .upper-part{
    // Wrap in case the edition title makes the row overflow
    // Known case: /entity/wd:Q3314295
    @include display-flex(row, center, center, wrap);
  }
  .claims, .actions{
    padding: 0.5em;
    margin: 0.5em;
    margin-left: auto;
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    padding-top: 1em;
    margin-bottom: 1em;
    .upper-part{
      justify-content: center;
      @include display-flex(column, center, center);
    }
    .items-lists{
      text-align: center;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    padding: 1em;
    margin: 2em;
    > .right-part{
      flex: 1 0 0;
      overflow: hidden;
    }
  }
}