.editionLi, .editionWrapper{
  @include display-flex(row);
  @include radius;
  margin: auto;
  background-color: white;
  .cover{
    flex: 0 0 auto;
  }
  > .right-part{
    flex: 1 0 0;
  }
  .upper-part{
    @include display-flex(row, center, space-between);
  }
  .claims, .actions{
    padding: 0.5em;
    margin: 0.5em;
  }

  .editionEntityActions{
    flex: 0 0 auto;
  }

  .entityActions{
    margin-left: 1em;
    margin-right: 1em;
  }

  /*Small screens*/
  @media screen and (max-width: $smaller-screen) {
    @include display-flex(column, center, center);
    padding-top: 1em;
    .upper-part{
      justify-content: center;
      @include display-flex(column, center, center);
    }
    .items-lists{
      text-align: center;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    padding: 1em;
    margin: 2em;
  }
}