.editionLayout{
  .layout-type-label{
    margin: 0.5em;
  }
  .edition-data-wrapper{
    margin: 0 auto;
    background-color: white;
    max-width: 60em;
  }
  .edition-data{
    @include display-flex(row, null, flex-start);
  }
  .entity-data-box{
    margin: 1em 0;
    // Give room to .edit-data-buttons which are positioned absolutely
    padding-right: 3em;
  }
  .cover{
    margin: 1em;
  }
  .subtitle{
    margin-bottom: 1em;
    color: #444;
  }
  .inner-claims{
    position: relative;
    // nesting to re-inforce the selector's strength
    .property-value{
      color: $grey;
    }
  }
  .showEntityEdit.pencil{
    @include text-hover(rgba($dark-grey, 0.5), $dark-grey);
  }
  .showEntity{
    margin-top: 2em;
  }
  .works a{
    display: inline-block;
  }
  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .edition-data{
      flex-direction: column;
      align-items: center;
      h2{
        text-align: center;
      }
    }
    .entity-data-box{
      position: relative;
      .edit-data-buttons{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .items-lists{
      width: 100%;
    }
    .meta{
      .uri{
        display: none;
      }
    }
  }
  /*Medium and Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .edition-data-wrapper{
      padding: 1em;
    }
    .claims, .itemsPreviewLists{
      min-width: 20em;
    }
  }
}

@import 'items_preview_lists';
