#editionsList{
  margin: 0 auto;
  max-width: 50em;
  h3{
    text-align: center;
    color: white;
  }
  .filters{
    @include display-flex(row, center, center);
    select{
      @include radius;
    }
  }
  .languageFilter{
    max-width: 10em;
  }
  .edition-creation{
    max-width: 20em;
    margin: 0 auto;
    label{
      color: white;
    }
  }
}