.editionLayout{
  .edition-data-wrapper{
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    max-width: 60em;
  }
  .edition-data{
    @include display-flex(row, null, flex-start, wrap);
  }
  .entity-data-box{
    h2{
      line-height: 1rem;
    }
    margin: 1em 0;
    // Give room to .edit-data-buttons which are positioned absolutely
    padding-right: 3em;
  }
  .cover{
    margin: 1em;
  }
  .subtitle{
    margin-bottom: 1em;
    color: #444;
  }
  .inner-claims{
    position: relative;
    // nesting to re-inforce the selector's strength
    .property-value{
      color: $grey;
    }
  }
  .showEntityEdit.pencil{
    @include text-hover(rgba($dark-grey, 0.5), $dark-grey);
  }
  .showEntity{
    margin-top: 2em;
  }
  .works a{
    display: inline-block;
  }
  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .items-lists{
      width: 100%;
      margin: 1em;
    }
  }
  /*Medium and Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .claims, .itemsPreviewLists{
      min-width: 20em;
    }
  }
}

@import 'items_preview_lists';
