.entitiesList{
  width: 100%;
  max-width: 40em;
  div.works-list-controls{
    @include display-flex(row, center, center, wrap);
    text-align: center;
    button{
      font-weight: normal;
      height: 3em;
      max-width: 15em;
      padding: 1em;
      margin: 0.2em;
      flex: 1 1 auto;
      @include radius;
      @include bg-hover($dark-grey);
      color: white;
      &:not(.hidden){
        @include display-flex(row, center, center);
      }
    }
    .displayMore{
      .counter{
        background-color: $grey;
        color: white;
        .small-loader{
          padding: 0.2em 0;
        }
      }
    }
  }
  .addOne{
    font-size: 1rem;
  }
  .counter{
    @include counter-commons;
    background-color: white;
    font-size: 1rem;
    margin-left: 0.5em;
  }
  &.standalone{
    // Center horizontally
    margin: 0 auto;
    .header{
      @include display-flex(row, center, center);
    }
  }
}