$edit-button-grey: $soft-grey;

#entityEdit{
  @include custom-column(50em);
  @import "property_editor";
  @import "entity_value_editor";
  @import "simple_day_value_editor";
  @import "title_editor";
  @import "sub_entities_editor";
  .next{
    padding: 0.5em;
    @include display-flex(row, center, center);
    a{
      margin: 0.5em;
    }
  }
  .admin{
    padding: 1em;
    background-color: $dark-grey;
    @include radius;
    h3, h4{
      color: white;
    }
    h4{
      font-weight: bold;
      font-size: 1em;
    }
    hr{
      opacity: 0.5;
    }
  }
  #mergeWithGroup{
    max-width: 30em;
    input{
      margin-bottom: 0;
    }
  }
  .warning{
    color: #bbb;
    font-size: 0.9em;
    margin-bottom: 0.6em;
  }
}


.identifier{
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.7em;
  &a{
    @include underline;
  }
}
