@import 'entity_actions';
@import 'work_layout';
@import 'work_data';
@import 'edition_layout';
@import 'edition_commons';
@import 'entity_data_overview';
@import 'entity_create';
@import 'entity_edit';
@import 'edition_creation';
@import 'work_li';
@import 'article_li';
@import 'author_layout';
@import 'infoboxes';
@import 'works_list';
@import 'serie_layout';
@import 'genre_layout';
@import 'author_preview';
@import 'changes_layout';
@import 'wikidata_edit_intro';
@import 'wikidata_data_importer';
@import 'deduplicate';
@import 'activity_layout';

.uri{
  color: $grey !important;
  font-size: 0.8em;
  // text-align: right;
}

.addEntity{
  h2{
    max-width: 36rem;
  }
}

.authorLayout{
  .more{
    width: 100%;
  }
  .wiki-sitelinks{
    flex-direction: column;
    align-items: center;
    li{
      background-color: $grey;
      width: 90%;
      margin: 0 0.2em 0.2em 0.2em;
    }
  }
}

.wiki-attributes{
  p.claims{
    text-align: left;
  }
  .fa-link{ color: $grey; }
  .fa-twitter{ color: $twitter-color; }
  .fa-facebook{ color: $facebook-color; }
  .fa-youtube{
    color: white;
    background-color: $youtube-color;
    padding: 0.2em 0;
    @include radius;
  }
  padding: 0.5em 1em 0.8em 1em;
  img{
    text-align: center;
  }
}

.ebooks{
  margin-top: 1em;
  @include display-flex(row, center, flex-start);
  .icon{
    margin-left: 0.6em;
    margin-right: 0.4em;
  }
  a span{
    // Overriding .workData span:not(.entity-value) selector
    color: white !important;
  }
}

.property-value{
  color: $grey;
}

.entity-type-label{
  font-weight: bold;
  @include serif;
  opacity: 0.3;
  font-size: 1.4em;
}

.entity-title-and-edit{
  @include display-flex(row, center, center, wrap);
  h2, h3, h4, h5{
    flex: 1 0 auto;
  }
  .pencil, .refreshEntityData, .showOnWikidata{
    font-size: 1.4rem;
    @include text-hover(rgba(white, 0.5), white);
  }
}

// Do not apply it to none standalone entities as their views might be sharing
// the screen width and be actually smaller than $smaller-screen
.standalone .entity-title-and-edit{
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    h2, h3, h4, h5{
      // Compensate for the place taken by .edit-data-buttons
      // that prevents it to be centered
      margin-left: 4.7em;
    }
    .edit-data-buttons{
      width: 7em;
    }
  }
}

.workLayout, .editionLi{
  .add{
    @include tiny-button($light-blue);
    margin: 0 auto;
  }
}

.wikisource{
  .icon{
    height: 1em;
    padding-right: 0.35em;
  }
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
  .entityActions{
    .button-group > li{
      margin: 0;
    }
  }
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
}
