.entityData{
  // width: 100%;
  max-width: 50em;
  @include display-flex(row);
  h2, span, label, p{
    color: white;
  }
  a{
    color: white;
  }
  a.showEntity, a.wd-Q, a.link{
    @include link-light();
  }
  a.source{
    @include text-hover(#999);
  }
  div{
    padding: 1em;
  }
  .cover{
    @include flex(0,0);
    max-width: 20em;
    /*Large screens*/
    @media screen and (min-width: $smallscreen) {
      padding-top: 2em;
      img{
        @include sticky($topbar-height + 10px);
      }
    }
  }
  .data{
    @include flex(1);
    @include display-flex(column);
  }
  .description{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }
  .toggler{
    font-size: 1.6em;
    width: 2em;
    margin: -0.9em -0.8em 0 auto;
  }
  .attributes{
    span:not(.wd-Q), .wd-P{
      color: #999;
      margin-right: 0.5em;
    }
  }
  .editWikidata{
    color: white;
  }

  /*Small screens*/
  @media screen and (max-width: 700px) {
    @include flex-direction(column);
  }
}
