.entityActions{
  @include display-flex(row, center, center);
  margin-bottom: 1rem;
  div.entityAction{
    // take care of both row and column display
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    .f-dropdown{
      .fa{
        font-size: 1.5rem;
      }
      span{
        // weird, it seems, that vertical-align without padding-bottom
        // doesnt do the job
        vertical-align: middle;
        padding-bottom: 0.5rem;
      }
    }
  }
  li.dropdownLegend{
    color: $grey;
    background-color: $light-grey;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: default;
  }

  #followActivity{
    background-color: $secondary-color;
    color: $primary-color;
    &:hover{
      background-color: $light-blue;
      i.fa, span.substitute{
        color: white;
      }
    }
  }
  #stopFollowing{
    background-color: $light-blue;
    &:hover{
      background-color: $warning-color;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    @include flex-direction(column);
    .custom-button-group{
      /*Small screens*/
      @media screen and (max-width: $verysmallscreen) {
        #addToInventory{
          @include radius;
          margin-top: 0.5em;
        }
        // adding the dropdown menu as it was making
        // a big ugly button on smallscreens
        #addToInventory + a{
          display: none;
        }
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $verysmallscreen) {
    .custom-button-group{
      @include display-flex(row);
      a:first-child{
        @include radius-left;
      }
      a:last-child{
        @include radius-right;
      }
    }
  }
}