$edit-button-grey: $soft-grey;

#entityEdit{
  @include custom-column(50em);
  @import "property_editor";
  @import "value_editor";
  @import "title_editor";
  @import "sub_entities_editor";
  .next{
    padding: 0.5em;
    @include display-flex(row, center, center);
    a{
      margin: 0.5em;
    }
  }
}

.identifier{
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.7em;
  @include underline;
}
