.entityShow{
  @include custom-column(50em);
  .back{
    @include align-self(flex-start);;
  }
  .panel, .allItems{
    width: 100%;
  }
  .allItems{
    @include flex(1);
    background-color: #fafafa;
    .items, .subheader{
      padding: 1rem;
    }
  }
}