.entity-value-editor, .fixed-entity-value{
  .value-entity-wrapper{
    @include display-flex(row);
  }
  .img-wrapper{
    width: 50px;
    margin-right: 0.5em;
    @include display-flex(row, center, center);
  }
  .centered-loader{
    opacity: 0.5;
    margin-left: 2em;
  }
  .identifier{
    margin-top: 0.4em;
  }
  .description{
    opacity: 0.5;
  }
  .description:not(:empty){
    margin-right: 1em;
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    @include display-flex(row, center, space-between);
    .identifier{
      display: none;
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: 300px) {
    margin: 0;
    padding: 0;
    .description, .img-wrapper{
      display: none;
    }
  }
}

.entity-value-editor{
  @include display-flex(row, center, flex-end);
  padding: 0.5em;
  .editMode{
    flex: 1 0 auto;
    /*Large screens*/
    @media screen and (min-width: $entity-editor-small-thresold) {
      @include display-flex(row, center, flex-end);
    }
  }
  .input-wrapper{
    position: relative;
    flex: 1 1 auto;
  }
  .alert-box{
    position: absolute;
    top: 100%;
  }
  .identifier{
    @include transition(opacity);
    &:focus{
      background-color: #aaa;
    }
    &:hover{
      opacity: 0.95;
    }
  }
}
