@import 'entity_actions';
@import 'entity_show';
@import 'entity_data';
@import "entity_create";
@import "entity_edit";
@import "book_li";
@import "article_li";
@import "author_layout";
@import "works_list";
@import "serie_layout";
@import 'genre_layout';
@import './wiki_bar';

.uri{
  color: $grey !important;
  font-size: 0.8em;
  // text-align: right;
}

.addEntity{
  h2{
    max-width: 36rem;
  }
}

.authorLayout{
  .more{
    width: 100%;
  }
  .wiki-sitelinks{
    flex-direction: column;
    align-items: center;
    li{
      background-color: $grey;
      width: 90%;
      margin: 0 0.2em 0.2em 0.2em;
    }
  }
}

.wiki-attributes{
  @include shy-border;
  @include radius;
  p.claims{
    text-align: left;
  }
  .fa-link{ color: $grey; }
  .fa-twitter{ color: $twitter-color; }
  .fa-facebook{ color: $facebook-color; }
  padding: 0.5em 1em 0.8em 1em;
  img{
    text-align: center;
  }
}

.property-value{
  &:first-letter{text-transform: capitalize;}
  color: $grey;
}

.editEntityData{
  float: right;
  font-size: 1.4em;
  @include shy;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
  .entityActions{
    .button-group > li {
      // overriding Foundation "margin 0 0.2px;" value
      margin: 0;
    }
  }
}


/*Large screens*/
@media screen and (min-width: $small-screen) {
}
