@import 'entity_actions';
@import 'work_layout';
@import 'edition_layout';
@import 'edition_commons';
@import 'entity_data_overview';
@import 'entity_create';
@import 'entity_edit';
@import 'edition_creation';
@import 'work_li';
@import 'article_li';
@import 'author_layout';
@import 'infoboxes';
@import 'entities_list';
@import 'serie_layout';
@import 'serie_cleanup';
@import 'claim_layout';
@import 'author_preview';
@import 'changes_layout';
@import 'wikidata_edit_intro';
@import 'wikidata_data_importer';
@import 'deduplicate';
@import 'activity_layout';

.uri{
  color: $grey !important;
  font-size: 0.8em;
  // text-align: right;
}

.addEntity{
  h2{
    max-width: 36rem;
  }
}

.authorLayout{
  .more{
    width: 100%;
  }
  .wiki-sitelinks{
    flex-direction: column;
    align-items: center;
    li{
      background-color: $grey;
      width: 90%;
      margin: 0 0.2em 0.2em 0.2em;
    }
  }
}

.wiki-attributes{
  margin-top: 0.5em;
  p.claims{
    text-align: left;
  }
  .fa-link{ color: $grey; }
  .fa-twitter{ color: $twitter-color; }
  .fa-facebook{ color: $facebook-color; }
  .fa-youtube{
    color: white;
    background-color: $youtube-color;
    padding: 0.2em 0;
    @include radius;
  }
  img{
    text-align: center;
  }
}

.ebooks{
  margin-top: 1em;
  @include display-flex(row, center, flex-start);
  .icon{
    margin-left: 0.6em;
    margin-right: 0.4em;
  }
  a span{
    // Overriding .workInfobox span:not(.entity-value) selector
    color: white !important;
  }
}

.property-value{
  color: $grey;
}

.entity-data-box{
  position: relative;
  padding: 1em 1em 0.1em 1em;
  .edit-data-buttons{
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      @include position(absolute, 0.2em, 0.2em);
    }
  }
}

.edit-data-buttons{
  @include display-flex(row, center, center);
  .pencil, .refreshEntityData, .showOnWikidata, .deduplicateEntity, .deduplicateSubEntities, .showEntityCleanup{
    font-size: 1.4rem;
    @include text-hover(rgba(white, 0.5), white);
    .fa{
      width: 1.6em;
    }
  }
}

#workLayout, .editionLi{
  .add{
    @include tiny-button($light-blue);
    margin: 0 auto;
  }
}

.wikisource{
  .icon{
    height: 1em;
    padding-right: 0.35em;
  }
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
  .entityActions{
    .button-group > li{
      margin: 0;
    }
  }
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
}
