@import 'entity_create';
@import 'entity_actions';
@import 'entity_show';

.uri{
  color: $grey !important;
  font-size: 0.8em;
  // text-align: right;
}

.addEntity{
  h2{
    max-width: 36rem;
  }
}

#personalGroup, #friendsGroup, #publicGroup{
  background-color: $dark-grey;
  padding: 1rem;
  .subheader{
    color: white;
  }
}

.wiki-sitelinks{
  .icon{
    margin-right: 0.5em;
  }
  @include display-flex(row, null, null, wrap);
  li{
    margin-right: 0.4em;
  }
}

.authorLi{
  .more{
    width: 100%;
  }
  .wiki-sitelinks{
    @include flex-direction(column);
    align-items: center;
    li{
      background-color: $grey;
      width: 90%;
      margin: 0 0.2em 0.2em 0.2em;
    }
  }
}

.wiki-attributes{
  p.claims{
    text-align: left;
  }
  padding: 1em;
  img{
    text-align: center;
  }
}

.wd-P{
  &:first-letter{text-transform: capitalize;}
  color: $grey;
}

@import './wikipedia_iframe';

/*Small screens*/
@media screen and (max-width: $smallscreen) {
  .entityActions{
    .button-group > li {
      // overriding Foundation "margin 0 0.2px;" value
      margin: 0;
    }
  }
}


/*Large screens*/
@media screen and (min-width: $smallscreen) {
}