#entityEdit{
  @include custom-column(50em);
  .labels{
    @include panel;
  }
  .claims{
    @include panel;
  }
}

.identifier{
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.7em;
  @include underline;
}

$edit-button-grey: #bbb;

@import "property_editor";
@import "value_editor";