#entityCreate{
  .typePicker{
    text-align: center;
    @include display-flex(row, center, center);
    a{
      @include big-button($grey);
      padding: 1em;
      margin: 0.1em;
      flex: 1 0 auto;
      &.selected{
        @include bg-hover(white, 0%);
        color: $dark-grey;
      }
    }
  }
  .header-wrapper{
    display: none !important;
  }
  /*Large screens*/
  @media screen and (min-width: $smaller-screen) {
    .typePicker{
      max-width: 30em;
      margin: 1em auto;
    }
  }
}
