$genre-rest-bg: #ccc;
#genreLayout{
  .restBg{
    background-color: $genre-rest-bg;
    @include position(absolute, 0, 0, 0, 0, -1);
  }
  &.with-bg-image{
    .headerBg{
      @include bg-cover;
      @include position(absolute, 0, 0, null, 0, -1);
      height: 150vh;
    }
    .restBg{
      box-shadow: 0px -2px 2px 0px rgba($genre-rest-bg, 0.8);
    }
  }
}