#genreLayout{
  text-align: center;
  section{
    > div:not(.hidden){
      // (1)
      @include display-flex(column);
    }
  }
  .title, .subheader{
    color: white;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: rgba($dark-grey, 0.5);
  }
  .title{
    // (1)
    margin: 3em auto 1em auto;
  }
  .subheader{
    // (1)
    margin: 2em auto 1em auto;
  }
  .extract{
    margin: 0 auto;
    max-width: $bookLiMaxWidth;
    padding: 1em;
    text-align: left;
    background-color: $contrast;
    @include radius;
    @include shy-border;
    &:empty{
      display:none;
    }
  }
  .wikipedia-iframe{}
  .loading{
    color: white;
    &:not(:empty){
      padding: 1em;
    }
  }
  .authorLi{
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      margin: 1em;
      padding: 1em;
      @include radius;
    }
  }
}

@import "genre_layout_background";


// (1): flex column and auto' margins are needed
//      to push .title and .subheader widths
