.entity-history{
  &.standalone{
    .header{
      text-align: center;
      strong{
        color: $grey;
        font-size: 1.2em;
      }
      margin: 2em;
    }
    max-width: 50em;
    margin: 0 auto;
    /*Medium and Large screens*/
    @media screen and (min-width: $very-small-screen) {
      .version{
        min-width: 40em;
      }
    }
  }
  color: white;
  .version{
    background-color: $darker-grey;
    @include radius;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
  }
  .label{
    font-weight: bold;
    // Allow to set a width
    display: inline-block;
    width: 5em;
  }
  .value{
    margin-left: 0.5em;
  }
  .special-user{
    background-color: rgba($grey, 0.5);
    @include radius;
    padding: 0.2em;
    font-size: 0.9em;
    margin-left: 0.2em;
  }
  .precise-time{
    color: $grey;
    font-weight: 0.8em;
    padding-left: 0.5em;
  }
  .showUser{
    color: white;
    @include underline-on-hover(white);
  }
}

#historyToggler{
  // Take all the space horizontally
  display: block;
  &, .fa{
    color: white
  }
}