.authorInfobox, .serieInfobox, .generalInfobox{
  h2{
    font-size: 1.6em;
  }
  h2, h3, h4{
    color: white;
    a.link{
      @include text-hover(white, #bbb);
    }
  }
  h4:empty{
    padding: 0;
    margin: 0;
    height: 0;
  }
  .extract{
    @include text-align-start;
    &:empty{
      padding: 0;
      height: 0;
    }
  }
  .source{
    @include link-underline-on-hover(#888, #aaa);
  }
  // Typically a signature
  .image-claim{
    // Signatures are often dark and sometimes with a transparent background
    // thus the need to add a white background for contrast
    background-color: white;
    @include radius;
  }
}

// Excluding the edition layout
.authorInfobox, .serieInfobox, .workInfobox, .publisherInfobox{
  .entity-data-box{
    background-color: $darker-grey;
  }
  .extract{
    color: white;
    @include text-align-start;
    margin-bottom: 0em;
    padding-bottom: 0em;
  }
  .toggler{
    font-size: 1.6em;
    .fa{
      color: white;
    }
  }
}

.entity-data-box{
  max-width: 60em;
  padding: 0.5em 1em;
  @include radius;
}

.authorInfobox, .serieInfobox{
  .extract{
    padding: 1em 0;
  }
  .wdt-P109{
    margin-top: 1em;
  }
}

@import 'work_infobox';
