$preview-icon-base-size: 2em;

.itemsPreviewList{
  margin-bottom: 0.5em;
  .transaction-box{
    align-self: flex-start;
    @include display-flex(row, center, flex-start);
    min-width: 8em;
    height: $preview-icon-base-size;
    color: white;
    font-weight: bold;
    @include radius;
    &.giving{ background-color: $giving-color; }
    &.lending{ background-color: $lending-color; }
    &.selling{ background-color: $selling-color; }
    &.inventorying{ background-color: $inventorying-color; }
    .fa{
      // centering
      padding-left: 0.3em;
      margin: 0 0.3em;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include display-flex(row, stretch, flex-start);
    .transaction-box{
      margin-right: 0.5em;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    @include display-flex(column, center, flex-start);
  }
}

.items-preview{
  flex: 1;
}

@import 'item_preview';
