$preview-icon-base-size: 2em;

.itemsPreviewLists{
  background-color: #f2f2f2;
  padding: 0.5em;
  margin-bottom: 0.5em;
  @include radius;
  .header{
    color: $grey;
  }
}
.itemsPreviewList{
  margin-bottom: 0.5em;
}
.transaction-icon{
  width: $preview-icon-base-size;
  height: $preview-icon-base-size;
  text-align: center;
  color: white;
  @include radius;
  &.giving{ background-color: $giving-color; }
  &.lending{ background-color: $lending-color; }
  &.selling{ background-color: $selling-color; }
  &.inventorying{ background-color: $inventorying-color; }
  .fa{
    // centering
    padding-left: 0.3em;
    margin: 0 auto;
  }
  align-self: flex-start;
}
.items-preview{
  margin-right: $preview-icon-base-size;
}
.transaction-icon, .item-preview{
  flex: 0 0 $preview-icon-base-size;
  margin-right: 0.1em;
  margin-bottom: 0.1em;
}
.item-preview{
  img{
    @include radius;
  }
}
