// see also ./_property_editor.scss
.labels-editor{
  @include display-flex(row, center, center);
  padding: 0.8em 1em 0.8em 1em;
  .input-wrapper{
    // Required by .tip
    position: relative;
    flex: 1 1 auto;
    .alert-box{
      margin: 0;
    }
  }
  .label-editor{
    @include display-flex(row, center, flex-end);
    flex: 1 1 auto;
  }
  .tiny-button{
    white-space: nowrap;
  }
  .edit-button-wrapper{
    margin-left: auto;
  }
  .title{
    margin-right: 0.5em;
  }
  .langSelector{
    border-color: #ddd;
  }
  .label-value{
    font-size: 1em;
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    @include display-flex(column, stretch, center);
    .property-label{
      @include display-flex(row, flex-start, flex-start, wrap);
    }
    .label-editor{
      @include display-flex(column, stretch, space-between);
    }
    .label-value{
      padding: 0.5em;
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: 300px) {
    .label-editor{
      margin: 0;
      padding: 0;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    .label-editor{
      // Aligning with the language selector
      margin-top: 1.6em;
    }
  }
}
