#merge-suggestion{
  @include display-flex(row, center, center);
}
#showMergeSuggestions{
  margin: 1em;
}
.inner-merge-suggestions{
  @include display-flex(row, flex-start, center, wrap);
}
.merge-suggestion{
  background-color: white;
  @include radius;
  margin: 1em;
  width: 20em;
  padding: 1em;
  text-align: center;
  .label{
    margin: 0;
  }
  .suggestion-claims{
    text-align: left;
    margin: 1em 0;
    .wiki-attributes, .claims{
      padding: 0;
      margin: 0;
    }
  }
  .all-subentities{
    max-height: 12em;
    overflow: auto;
    margin-bottom: 1.5em;
  }
  .subentities-label{
    display: none;
    color: grey;
    margin: 0;
    padding: 0;
  }
  .subentity{
    background-color: #ddd;
    @include radius;
    @include display-flex(row, center, flex-start);
    overflow: hidden;
    .label{
      color: #444;
      flex: 1 0 auto;
      margin: 0.2em 0.5em;
    }
  }
  .merge{
    text-align: center;
    padding: 0.5em;
    display: block;
    margin: 1em auto 0 auto;
  }
  .loading{
    font-size: 0.9em !important;
    margin: 0;
    padding: 0;
  }
  .task-data{
    td{
      background-color: #eee;
    }
  }
}
