#merge-suggestion{
  @include display-flex(row, center, center);
}
#showMergeSuggestions{
  margin: 1em;
}
.inner-merge-suggestions{
  @include display-flex(row, flex-start, center, wrap);
}
.merge-suggestion{
  background-color: white;
  @include radius;
  margin: 1em;
  width: 20em;
  padding: 1em;
  text-align: center;
  .label{
    margin: 0;
  }
  .labels{
    text-align: left;
    .lang{
      color: $grey;
    }
  }
  .suggestion-claims{
    text-align: left;
    margin: 1em 0;
    .wiki-attributes, .claims{
      padding: 0;
      margin: 0;
    }
  }
  .merge{
    display: block;
    margin: 0 auto;
    color: white;
  }
  .loading{
    margin-left: 1em;
  }
}
