.moveToWikidataOptions{
  margin: 1em;
  h3 {
    margin-bottom: 1em;
    text-align: center;
  }
  #validateMoveToWikidata{
    margin-top: 1em;
    text-align: center;
  }
  #P31Options{
    margin-bottom: 2em;
  }
}
