.patch-operations{
  .patch{
    @include radius;
    background-color: white;
    margin: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding: 0.5em;
    color: $dark-grey;
    > div{
      display: inline-block;
    }
    .op{
      width: 4em;
    }
    .path{
      width: 12em;
      color: $grey;
    }
  }
  .patch-add{
    .op{
     color: green;
    }
  }
  .patch-remove{
    .op{
      color: red;
    }
  }
}