.property-editor, .labels-editor{
  @include panel;
  @include display-flex(row);
  .property-label{
    font-weight: bold;
    flex: 0 0 auto;
    // Using a fixed width to align all properties and values
    width: 10em;
    padding: 0.5em;
  }
  .values-wrapper{
    width: 100%;
  }
  .values{}
  .add-value-wrapper{
    margin: 0.5em;
  }
  label{
    color: white;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    .values-wrapper{
      margin: auto;
    }
    .property-label{
      // vertically aligning with the first property value
      margin-top: 0.2em;
    }
  }
}

$fixed-value-bg-color: $dark-grey;
$fixed-value-color: white;

.property-editor-fixed-entity, .property-editor-fixed-string{
  background-color: $fixed-value-bg-color;
  color: $fixed-value-color;
}
