.property-editor, .title-editor{
  @include panel;
  @include display-flex(row);
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
  .property-label{
    font-weight: bold;
    flex: 0 0 auto;
    min-width: 8em;
    padding: 0.5em;
  }
  .values-wrapper{
    flex: 1 1 auto;
    margin: auto;
  }
  .values{}
  .add-value-wrapper{
    margin-left: 0.5em;
  }
}

.property-editor-fixed-entity{
  background-color: $dark-grey;
  color: white;
}