.property-editor, .title-editor{
  @include panel;
  @include display-flex(row);
  .property-label{
    font-weight: bold;
    flex: 0 0 auto;
    // Using a fixed width to align all properties and values
    width: 10em;
    padding: 0.5em;
  }
  .values-wrapper{
    width: 100%;
  }
  .values{}
  .add-value-wrapper{
    margin: 0.5em;
  }
  label{
    color: white;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    .values-wrapper{
      margin: auto;
    }
  }
}

.property-editor-fixed-entity{
  background-color: $dark-grey;
  color: white;
}

.edition-creation{
  background-color: $darker-grey;
  width: 100%;
  @include radius;
  padding: 0.5em 0.5em 0.5em 1em;
  #isbnGroup{
    max-width: 15em;
    input{
      margin: 0;
      @include radius-left;
    }
    .alert-box{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  #isbnButton{
    padding-left: 1em;
    padding-right: 1em;
    // centering vertically
    padding-top: 0.1em;
    width: auto;
    white-space: nowrap;
  }
}
