$publisher-data-threshold: 25em;

.publisherInfobox{
  background-color: $darker-grey;
  margin: 0 auto;
  max-width: 60em;
  .fa-pencil, .showOnWikidata{
    @include text-hover(#bbb, white);
  }
  .claims{
    .link{
      @include text-hover(white, #bbb);
    }
  },
  .image-wrapper{
    @include display-flex(column);
    text-align: center;
    img{
      margin: 0 auto;
      // Required by Edge that would maximize the image width otherwise
      // Keep in sync with app/modules/entities/views/templates/publisherj_infobox.hbs
      max-width: 300px;
      /*Small screens*/
      @media screen and (max-width: 300px) {
        max-width: 95vw;
      }
    }
  }
  .photo-credits{
    margin: 0 auto;
    font-size: 0.8em;
    color: white;
    max-width: 20em;
    @include shy(0.4);
    .link{
      color: white;
    }
  }
  .fa-pencil, .showOnWikidata{
    @include text-hover(#bbb, white);
  }
  .claims{
    .link{
      @include text-hover(white, #bbb);
    }
  }

}
.publisherData{
  position: relative;
  background-color: $darker-grey;
  @include radius;
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  /*Small screens*/
  @media screen and (max-width: $publisher-data-threshold) {
    // Give some room to a.edit .fa-pencil
    min-width: 90vw
  }
  /*Medium and Large screens*/
  @media screen and (min-width: $publisher-data-threshold) {
    min-width: $publisher-data-threshold;
  }
}
