@mixin relatives-lists-commons(){
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include display-flex(row, baseline, flex-start, wrap);
    $margin: 1rem;
    // Hide the extra margin on each wrapped line
    margin-inline-end: -$margin;
    :global(.relative-entities-list){
      flex: 1 0 40%;
      margin-inline-end: $margin;
      margin-block-end: $margin;
    }
  }
}
