.controls-section{
  flex: 1 0 auto;
  background-color: $light-grey;
  h2, .pencil, .wikipedia{
    align-self: center;
  }
  h2{
    margin: 1em;
  }
  .header, .control, .tiny-button{
    margin: 0 0.5em;
  }
  .header{
    @include display-flex(row, center, center, wrap);
  }
}

#partsNumber{
  max-width: 10em;
}

#titlePattern{
  margin: 0;
  max-width: 15em;
  @include radius;
  border: 0;
  text-align: center;
}

#createPlaceholders{
  margin-top: 1.3em;
}

.control, .checkboxes{
  padding: 0.5em;
  label{
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0;
    align-self: stretch;
  }
}

.control{
  text-align: center;
  @include display-flex(column, baseline, center);
}

.checkboxes{
  @include display-flex(row, center, flex-start, wrap);
}

.checkbox-wrapper{
  margin: 0.5em;
  @include display-flex(row, center, center);
}

.checkbox-input{
  height: 1em;
  margin: 0 0.5em;
}
.checkbox-label{
  padding: 0;
  margin: 0;
  @include text-align-start;
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
  .controls-section{
    @include display-flex(row, center, center, wrap);
  }
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
  .controls{
    @include display-flex(row, null, null, wrap);
  }
  .controls-section{
    @include display-flex(row, center, flex-start);
    &:nth-child(2){
      justify-content: flex-end;
    }
  }
  .checkboxes{
    margin-left: auto;
  }
}
