$serie-bg: #252525;

.serieLayout{
  background-color: $serie-bg;
  &:not(.standalone){
    // Do not apply on standalone so that a possible welcome:embedded_welcome partial
    // wouldn't be displayed with padding
    padding: 1em;
  }
  .photo-credits{
    font-size: 0.7em;
    color: #aaa;
    .link{
      color: #888;
    }
  }
  .wiki-attributes{
    background-color: white;
  }
  text-align: center;
  .serieInfobox, .description, .claims-wrapper{
    margin: 0 auto;
    max-width: 40em;
    margin-bottom: 1em;
  }
  .description{
    color: white;
    text-align: left;
  }
  &.standalone{
    .more{
      margin-bottom: 2em;
    }
  }
  &:not(.standalone){
    @include radius;
    background-color: lighten($serie-bg, 1%);
    &:not(:last-child){
      margin-bottom: 2em;
    }
  }
  .serieInfobox{
    position: relative;
  }
  .parts > div{
    .fa-spin{
      color: white;
    }
    padding: 1em;
    background-color: #ccc;
    margin: 0 auto;
    max-width: 50em;
    .header .counter{
      display: none;
    }
    .workLi{
      text-align: center;
      p:not(.date), .actions{
        display: none;
      }
      .date{
        color: $dark-grey;
      }
    }
    margin-bottom: 1em;
  }
}
