.parts-suggestions-wrapper{
  background-color: $dark-grey;
  padding-block-end: 0.2em;
  h3{
    color: white;
  }
}

#partsSuggestions{
  ul{
    @include display-flex(row, null, null, wrap);
  }
}

.serie-cleanup-part-suggestion{
  @include radius;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  text-align: center;
  max-width: 18em;
  @include display-flex(column);
  &.label-match{
    background-color: #00bbbb;
    a.showEntity, p.uri{
      color: white !important;
    }
  }
  &.author-match.label-match{
    background-color: #00bb00;
  }
  img{
    cursor: zoom-in;
  }
  .claims{
    margin-block-end: auto;
  }
  .add{
    @include tiny-button($grey);
    display: block;
    margin-block-start: auto;
    &.disabled{
      cursor: not-allowed;
    }
  }
  .showWorkPicker, .workPicker{
    display: block;
    margin-block-start: 1em;
  }
  .validate{
    display: block;
  }
}
