.serie-cleanup-work{
  margin: 0.5em;
  padding: 0.5em;
  width: 22em;
  background-color: $light-grey;
  @include radius;
  .head{
    @include display-flex(row, center);
  }
  &.placeholder{
    @include bg-hover(#bbb);
    cursor: pointer;
    .pencil{
      display: none;
    }
  }
  .ordinalSelector{
    max-width: 4em;
    margin-right: 0.5em;
  }
  .ordinal{
    font-size: 1.2em;
    color: $grey;
    font-weight: bold;
    @include serif;
    padding-right: 1em;
  }
  .showEntity{
    .label, .description{
      display: block;
      line-height: 1.3em;
    }
    .description{
      color: $grey;
    }
  }
  .showEntityEdit{
    margin-left: auto;
  }
  .workPicker{
    margin: 1em 0 0.5em 0;
    .validate:not(.hidden){
      display: block;
    }
  }
  .creation-call{
    background-color: #666;
    color: white;
    @include radius;
    padding: 0 0.4em;
    margin-left: auto;
    min-width: 5em;
    text-align: center;
  }
  .authorsContainer, .editionsContainer{
    max-height: 20em;
    overflow: auto;
  }
  .authorsContainer, .editionsContainer ul:not(:empty){
    margin: 1em 0;
  }
  .placeholder-label-editor{
    @include display-flex(row, baseline, center);
    margin-bottom: 0.5em;
    select{
      width: 6em;
      padding: 0.1em;
    }
    input{
      margin: 0;
    }
  }
}

.serie-cleanup-author{
  padding: 0.5em;
  @include radius;
  margin: 0.2em 0;
  &:not(.suggestion){
    background-color: white;
  }
  &.suggestion{
    @include bg-hover(#bbb);
    cursor: pointer;
  }
}

.displayLarge{
  .serie-cleanup-work{
    width: 20em;
  }
  .authorsContainer, .editionsContainer{
    max-height: 60em;
  }
}
