#serieCleanup{
  h2{
    font-size: 1.2em;
    display: flex;
    margin-right: 1em;
    a{
      @include text-hover($dark-grey);
    }
  }
  .section-label{
    font-size: 1.1em;
    padding: 0.5em 0 0 1em;
  }
  &:not(.showAuthors){
    .authorsContainer{
      display: none;
    }
  }
  &:not(.showEditions){
    .editionsContainer{
      display: none;
    }
  }
  .showEntityEdit{
    @include shy;
  }
  @import 'serie_cleanup_controls';
}

#worksWithoutOrdinal{
  background-color: #ccc;
}
#worksInConflicts{
  background-color: #aaa;
}

.serie-cleanup-works{
  .worksContainer{
    @include display-flex(row, baseline, flex-start, wrap);
  }
}
.displayLarge{
  .worksContainer{
    justify-content: center;
  }
}

.parts-suggestions-wrapper{
  background-color: $dark-grey;
  padding-bottom: 0.2em;
  h3{
    color: white;
  }
}

#partsSuggestions{
  ul{
    @include display-flex(row, null, null, wrap);
  }
}

.serie-cleanup-part-suggestion{
  @include radius;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  text-align: center;
  max-width: 18em;
  @include display-flex(column);
  &.label-match{
    background-color: #00bbbb;
    a.showEntity, p.uri{
      color: white !important;
    }
  }
  &.author-match{}
  &.author-match.label-match{
    background-color: #00bb00;
  }
  img{
    cursor: zoom-in;
  }
  .claims{
    margin-bottom: auto;
  }
  .add{
    @extend .tiny-button;
    display: block;
    margin-top: auto;
  }
}

#isolatedEditionsWrapper{
  background-color: lighten(red, 15%);
}

#isolatedEditions{
  padding: 0.5em;
  .serie-cleanup-edition{
    @include radius;
    width: 20em;
  }
}

@import 'serie_cleanup_work';
@import 'serie_cleanup_edition';
