#serieCleanup{
  h2{
    font-size: 1.2em;
    display: flex;
    margin-right: 1em;
    a{
      @include text-hover($dark-grey);
    }
  }
  .section-label{
    font-size: 1.1em;
    padding: 0.5em 0 0 1em;
  }
  &:not(.showAuthors){
    .authorsContainer{
      display: none;
    }
  }
  &:not(.showEditions){
    .editionsContainer{
      display: none;
    }
  }
  .showEntityEdit{
    @include shy;
  }
  @import 'serie_cleanup_controls';
}

#worksWithoutOrdinal{
  background-color: #ccc;
}
#worksInConflicts{
  background-color: #aaa;
}

.serie-cleanup-works{
  .worksContainer{
    @include display-flex(row, baseline, flex-start, wrap);
  }
}
.displayLarge{
  .worksContainer{
    justify-content: center;
  }
}

#isolatedEditionsWrapper{
  background-color: lighten(red, 15%);
}

#isolatedEditions{
  padding: 0.5em;
  .serie-cleanup-edition{
    @include radius;
    width: 20em;
  }
}

@import 'serie_cleanup_work';
@import 'serie_cleanup_edition';
@import 'serie_cleanup_parts_suggestions';
