.simple-day-value-editor{
  label{
    color: $grey;
  }
  select{
    // Do no let the noValueI18n dictate the width
    max-width: 5em;
  }
  .addUnit{
    margin-top: 1.2em;
    padding: 0.2em 0.4em;
    @include radius;
    background-color: $grey;
    color: white;
    @include shy(0.6);
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    flex: 1 0 auto;
    .displayModeData{
      margin-right: auto;
    }
    .edit-mode{
      @include display-flex(row, center, flex-start);
      flex: 1 0 auto;
    }
    .picker-wrapper{
      @include display-flex(column, center, center);
      margin-right: 1em;
    }
    .unit-pickers{
      @include display-flex(row, center, center);
    }
    .picker-wrapper-year{
      margin-left: 4em;
    }
    .edit-mode-buttons{
      // push all the buttons to the right
      margin-left: auto;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    .edit-mode{
      @include display-flex(column, center, center);
    }
    .unit-pickers{
      @include display-flex(row, center, center);
      position: relative;
      width: 100%;
      // let room for .unit-toggler-wrapper in position:absolute
      padding-bottom: 2em;
    }
    .picker-wrapper{
      text-align: center;
      margin: 0.5em;
      flex: 0 0 auto;
    }
    .unit-toggler-wrapper{
      @include position(absolute, null, 0, -0.2em, 0);
      text-align: center;
      margin-bottom: 1em;
    }
  }
}
