.simple-day-value-editor{
  .showMonthsAndDays, .showYearsOnly{
    @include link-underline-on-hover($grey, darken($grey, 10%));
    font-size: 0.9em;
  }
  /*Large screens*/
  @media screen and (min-width: $entity-editor-small-thresold) {
    flex: 1 0 auto;
    .displayModeData{
      margin-right: auto;
    }
    .edit-mode{
      @include display-flex(row, center, flex-start);
      flex: 1 0 auto;
    }
    .picker-wrapper{
      @include display-flex(column, center, center);
      margin-right: 1em;
    }
    .unit-pickers{
      @include display-flex(row, center, center);
    }
    .picker-wrapper-year{
      margin-left: 4em;
    }
    .months-and-days-pickers-wrapper{
      @include display-flex(column);
      position: relative;
    }
    .months-and-days-pickers{
      @include display-flex(row, center, flex-start);
    }
    .showYearsOnly{
      @include position(absolute, null, 0, -0.6em, 0);
      white-space: nowrap;
    }
    .edit-mode-buttons{
      // push all the buttons to the right
      margin-left: auto;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $entity-editor-small-thresold) {
    .edit-mode{
      @include display-flex(column, center, center);
    }
    .unit-pickers{
      @include display-flex(row, center, center);
      position: relative;
      width: 100%;
      // let room for .unit-toggler-wrapper in position:absolute
      padding-bottom: 2em;
    }
    .months-and-days-pickers{
      @include display-flex(row);
    }
    .picker-wrapper{
      text-align: center;
      margin: 0.5em;
      flex: 0 0 auto;
    }
    .unit-toggler-wrapper{
      @include position(absolute, null, 0, -0.2em, 0);
      text-align: center;
      margin-bottom: 1em;
    }
  }
}
