// see also ./_property_editor.scss
.title-editor{
  @include display-flex(row, center, center);
  padding: 0.8em 1em 0.8em 1em;
  .input-wrapper{
     flex: 1 1 auto;
    .alert-box{
      margin: 0;
    }
  }
  .entity-value-editor{
     flex: 1 1 auto;
    input{
      margin: 0;
    }
  }
  .tiny-button{
    white-space: nowrap;
  }
  .edit-button-wrapper{
    margin-left: auto;
  }
  .langSelector{
    width: auto;
    border-color: #ddd;
    margin: 0 0 0 1em;
  }
  .title-value{
    font-size: 1em;
  }
}
