// see also ./_property_editor.scss
.title-editor{
  @include display-flex(row, center, center);
  .input-wrapper{
     flex: 1 1 auto;
    .alert-box{
      margin: 0;
    }
  }
  .entity-value-editor{
     flex: 1 1 auto;
    input{
      margin: 0;
    }
  }
  .tiny-button{
    white-space: nowrap;
  }
  .edit-button-wrapper{
    margin-left: auto;
  }
}
