.value-editor{
  @include display-flex(row, center, flex-end);
  padding: 0.5em;
  .ac-container{
    flex: 1 0 auto;
    position: relative;
    margin-left: 0.5em;
    input{
      margin: 0;
    }
    .alert-box{
      @include position(absolute, 2.6em, 0, null, 0)
      margin-top: 0;
    }
  }
  .data{
    flex: 1;
    margin-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
    @include bg-hover(white, 5%);
    .value-entity-wrapper{
      @include display-flex(row);
    }
    .img-wrapper{
      width: 50px;
      margin-right: 0.5em;
    }
    .fa-spin{
      opacity: 0.3;
      margin-left: 2em;
    }
    .identifier{
      margin-top: 0.4em;
      opacity: 0.2;
      @include transition(opacity);
      &:focus{
        background-color: #aaa;
      }
    }
    .description{
      opacity: 0.5;
    }
    .description:not(:empty){
      margin-right: 1em;
    }
  }
  .edit-wrapper{
    // Taking more place than needed to avoid flickering
    // when the label is shown on hover
    min-width: 8em;
    @include display-flex(row, null, flex-end);
  }
  .ac-container + .tiny-button{
    margin-left: 0.5em;
  }
  .tiny-button{
    margin-left: 0.2em;
  }
  .cancel{
    @include tiny-button-color($edit-button-grey);
  }
  .save{
    @include tiny-button-color($success-color);
  }
  &:hover{
    .identifier{
      opacity: 0.4;
    }
  }
}