.wikidata-edit-intro{
  text-align: center;
  .header{
    @include display-flex(column, center, center);
    h3{
      font-weight: bold;
    }
  }
  .edit-intro{
    padding: 1em;
  }
  .link{
    color: $grey;
    text-decoration-color: $grey;
  }
  .icon{
    max-height: 5em;
  }
  .actions{
    @include display-flex(row, center, center, wrap);
  }
  .button{
    font-weight: bold;
    @include radius;
    margin: 0.5em;
    flex: 1 0 0;
    padding: 1em 0.5em;
  }
}
