.wikipedia-iframe{
  width: 100%;
  .wiki-menu-bar{
    width: 100%;
    @include flex(column-reverse, center, space-around);
    background-color: $grey;
    padding: 0.5em;
    .fa, a{
      color: white;
      font-weight: bold;
    }
    .wikipediaPreviewToggler{
      @include flex(column, center, center);
      flex: 2 1;
      a{
        font-size: 1.4em;
      }
    }
    .wiki-sitelinks{
      @include flex(row, center, flex-end);
      flex: 3 0;
      flex-wrap: nowrap;
      a{
        padding: 1em;
        @include flex(row, center, center);
        flex-wrap: wrap;
      }
      .wikipedia, .wikisource, .wikidata{
        margin: 0.3em;
        display: flex;
      }
      .wikipedia{
        @include flex(row);
      }
      a.wikisource, a.wikidata, .wikipedia a:first-child{
        @include custom-button(#555);
      }
      .wikipedia a:last-child{
        @include custom-button(#666);
      }
    }
  }
  iframe{
    width: 100%;
    height: 30em;
    background-color: $light-grey;
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    .wiki-menu-bar{
      flex-direction: column;
      .wiki-sitelinks{
        flex-direction: column;
        .wikipedia, .wikisource, .wikidata{
          width: 100%;
        }
        .wikipedia{
          a:first-child{
            flex: 1;
          }
        }
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
  }
}