$work-infobox-property-color: #999;

.workInfobox{
  text-align: center;
  position: relative;
  background-color: $darker-grey;
  max-width: 40em;
  h2, span, label, p{
    color: white;
  }
  a{
    color: white;
  }
  a.entity-value, a.link{
    @include link-light;
  }
  a.source{
    @include text-hover($work-infobox-property-color);
  }
  .covers{
    @include display-flex(row, center, center, wrap);
  }
  .main-cover, .secondary-cover{
    margin: 0.2em;
  }
  .cover{
    flex: 0 0 auto;
    max-width: 20em;
  }
  .data{
    flex: 1 1 auto;
  }
  .description{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }
  .toggler{
    font-size: 1.6em;
    width: 2em;
    margin: -0.9em -0.8em 0 auto;
  }
  .attributes{
    max-width: 50em;
    @include radius;
    margin: 0 auto;
    position: relative;
    padding: 1em;
    span:not(.entity-value), .property-value{
      color: #999;
      margin-right: 0.5em;
    }
  }
  .photo-credits{
    font-size: 0.8em;
    text-align: center;
  }
  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .covers{
      align-self: stretch;
      flex-direction: column;
    }
    .secondary-covers{
      align-self: stretch;
      @include display-flex(row, center, center);
    }
  }
  /*Small screens*/
  @media screen and (max-width: 700px) {
    flex-direction: column;
    .cover{
      margin: 0 auto;
    }
    text-align: center;
  }
  /*Medium to Large screens*/
  @media screen and (min-width: 500px) {
    .attributes{
      min-width: 20em;
    }
    .authors{
      padding: 1em;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    > div{
      padding: 1em;
    }
    .cover{
      padding-top: 2em;
      img{
        @include sticky($topbar-height + 10px);
      }
    }
  }
}

.workInfobox, .serieInfobox{
  .authors{
    .section-label{
      text-align: left;
      color: $work-infobox-property-color;
    }
    padding: 1em 0;
  }
  .author-preview a{
    max-width: 20em;
    @include bg-hover($dark-grey);
    .name{
      color: white;
      font-weight: bold;
    }
    .birth-death-dates{
      color: $grey;
    }
  }
}
