.worksList{
  div.works-list-controls{
    @include display-flex(row, center, center, wrap);
    text-align: center;
    a{
      height: 3em;
      max-width: 15em;
      min-width: 10em;
      margin: 0.2em;
      flex: 1 1 auto;
      @include radius;
      @include bg-hover($dark-grey);
      color: white;
      &:not(.hidden){
        @include display-flex(row, center, center);
      }
    }
    a.displayMore{
      .counter{
        background-color: $grey;
        color: white;
      }
    }
  }
  .counter{
    @include counter-commons;
    background-color: white;
    font-size: 1rem;
    margin-left: 0.5em;
  }
}