$work-infobox-property-color: #999;

.workInfobox{
  text-align: center;
  position: relative;
  max-width: 40em;
  .entity-data-box{
    max-width: 60em;
  }
  h2, span, label, p{
    color: white;
  }
  a{
    color: white;
  }
  a.entity-value, a.link{
    @include link-light;
  }
  a.source{
    @include text-hover($work-infobox-property-color);
  }
  .covers{
    @include display-flex(row, center, center, wrap);
  }
  .main-cover, .secondary-cover{
    margin: 0.2em;
  }
  .cover{
    flex: 0 0 auto;
    max-width: 20em;
  }
  .data{
    flex: 1 1 auto;
  }
  .description{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    text-align: left;
  }
  .attributes{
    max-width: 50em;
    @include radius;
    margin: 0 auto;
    position: relative;
    span:not(.entity-value), .property-value{
      color: #999;
      margin-right: 0.5em;
    }
  }
  .photo-credits{
    font-size: 0.8em;
    text-align: center;
  }
  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    .covers{
      align-self: stretch;
      flex-direction: column;
    }
    .secondary-covers{
      align-self: stretch;
      @include display-flex(row, center, center);
    }
  }
  /*Small screens*/
  @media screen and (max-width: 700px) {
    flex-direction: column;
    .cover{
      margin: 0 auto;
    }
    text-align: center;
  }
  /*Medium to Large screens*/
  @media screen and (min-width: 500px) {
    .attributes{
      min-width: 20em;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    > div{
      padding: 1em;
    }
    .cover{
      padding-top: 2em;
      img{
        position: sticky;
        top: $topbar-height + 10px;
      }
    }
  }
}

.workInfobox, .serieInfobox{
  .author-preview-list{
    .section-label{
      text-align: left;
      color: $work-infobox-property-color;
    }
  }
}

.authors-preview-lists{
  @include display-flex(row, null, space-between, wrap);
  .author-preview-list a{
    @include bg-hover($dark-grey);
    .name{
      color: white;
      font-weight: bold;
    }
    .birth-death-dates{
      color: $grey;
    }
  }
  > div{
    @include display-flex(row, null, null, wrap);
  }
  .author-preview-list{
    margin-bottom: 0.5em;
    ul{
      @include display-flex(row, null, space-around, wrap);
      li{
        margin: 0.3em 0;
      }
    }
  }
  .attributes{
    min-width: 20em;
  }
    /*Small screens*/
  @media screen and (max-width: 600px) {
    .author-preview{
      min-width: 60%;
      flex: 1 0 auto;
    }
  }
  /*Medium to Large screens*/
  @media screen and (min-width: 600px) {
    .author-preview{
      width: 18.5em;
    }
  }
}
