.workLayout{
  background-color: $dark-grey;
  .data{
    max-width: 60em;
  }
  .extract{
    text-align: left;
  }
  padding-bottom: 1em;
  .work-section{
    @include display-flex(row, center, space-around, wrap);
  }
  .workData{
    max-width: 40em;
    .covers{
      @include display-flex(row, center, center, wrap);
    }
    .main-cover, .secondary-cover{
      margin: 0.2em;
    }
  }
  .work-instances{
    @include display-flex(column, center, space-around);
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      padding: 2em;
    }
  }
  > .items-lists, .entityActions{
    margin-top: 2em;
  }
}

.workLayout, #modal{
  .editions-list{
    margin-top: 1em;
    padding: 1em;
  }
  .editionLi, .edition-creation{
    margin: 2em;
  }
}

@import './editions_list';
@import './edition_li';
