.workData{
  text-align: center;
  position: relative;
  h2, span, label, p{
    color: white;
  }
  a{
    color: white;
  }
  a.entity-value, a.link{
    @include link-light;
  }
  a.source{
    @include text-hover(#999);
  }
  .cover{
    flex: 0 0 auto;
    max-width: 20em;
  }
  .data{
    flex: 1 1 auto;
  }
  .description{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }
  .toggler{
    font-size: 1.6em;
    width: 2em;
    margin: -0.9em -0.8em 0 auto;
  }
  .attributes{
    background-color: $darker-grey;
    max-width: 50em;
    @include radius;
    margin: 0 auto;
    position: relative;
    padding: 1em;
    span:not(.entity-value), .property-value{
      color: #999;
      margin-right: 0.5em;
    }
  }
  .showEntityEdit{
    color: white;
  }
  .photo-credits{
    font-size: 0.8em;
    text-align: center;
  }
  /*Small screens*/
  @media screen and (max-width: 700px) {
    flex-direction: column;
    .cover{
      margin: 0 auto;
    }
    text-align: center;
  }
  /*Medium to Large screens*/
  @media screen and (min-width: 500px) {
    .showEntityEdit{
      @include position(absolute, 0.5em, 0.5em);
    }
    .attributes{
      min-width: 20em;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    > div{
      padding: 1em;
    }
    .cover{
      padding-top: 2em;
      img{
        @include sticky($topbar-height + 10px);
      }
    }
  }
}
