$workLiMaxWidth: 45em;

.workLi, .articleLi{
  margin: 0 auto;
  max-width: $workLiMaxWidth;
  background-color: $contrast;
  &:not(:first-child):not(.wrappable){
    margin-top: 1em;
  }
  @include radius;
  @include shy-border;
}

.workLi{
  text-align: left;
  @include display-flex(row, center, space-around);
  margin-bottom: 0.5em;
  .workCover{
    position: relative;
    max-width: 10em;
    // a minimum width is required so that the covers
    // don't appear shrinked on webkit browsers
    min-width: 7em;
    img{
      display: block;
      @include shy-border;
    }
    &.zoom{
      max-width: auto;
    }
  }
  .showEntity{
    .zoom-buttons{
      @include position(absolute, 0, 0);
      opacity: 0.2;
      @include transition(opacity);
      font-size: 2em;
      // padding: 0.5em;
      color: #eee;
    }
    &:hover{
      .zoom-buttons{
        opacity: 1;
      }
    }
  }
  &.zoom{
    img{
    }
  }
  .workLiData{
    padding-left: 0.5em;
    padding-right: 0.5em;
    @include display-flex(column, center, center);
    h3{
      text-align: center;
      @include display-flex;
      font-size: 1.4em;
    }
    .date{
      text-align: center;
    }
  }
  .actions{
    @include display-flex(column, left, center);
    padding: 0.5em;
    > a{
      width: 100%;
      @include custom-button($light-grey, $dark-grey);
      white-space: nowrap;
      text-decoration: none;
    }
    .counter{
      text-align: center;
      padding: 0.4em 0.4em 0.4em 0.5em;
      @include bg-hover($light-grey);
      @include radius;
      color: $dark-grey;
      margin-left: 0.1em;
      margin-right: 0.5em;
      span{
        font-size: 1.2em;
        font-weight: bold;
      }
      &.highlight{
        @include bg-hover($secondary-color);
        color: $dark-grey;
      }
    }
  }
  .source{
    display: none;
  }
  .unwrap, .rewrap{
    display: none;
    padding: 0.5em;
    color: $grey;
  }
}

/*Small screens*/
@media screen and (max-width: $workLiMaxWidth) {
  .workLi{
    max-width: 100vw;
    @include display-flex(column);
    flex: 1 1 auto;
    margin-left: 0;
    margin-right: 0;
    .workCover{
      max-width: 100%;
      margin: 0.2em;
    }
    img{
      max-height: 16em;
    }
    .actions{
      align-self: stretch;
    }
  }
}

/*Large screens*/
@media screen and (min-width: $workLiMaxWidth) {
  .workLi{
    .workCover{
      margin: 1em;
    }
    .workLiData{
      flex: 1 1 auto;
      position: relative;
      .ordinal{
        font-size: 0.9em;
        padding-right: 1em;
      }
    }
    .actions{
      flex: 0 0 14em;
      margin-left: auto;
    }
    img{
      max-height: 10em;
    }
    &.zoom{
      .workCover, img{
        max-height: 30em;
        max-width: 30em;
      }
      @include display-flex(column, center, center);
      .actions{
        margin-left: 0;
      }
    }
  }
}

.workLi.wrapped{
  cursor: pointer;
  .unwrap{
    display: block !important;
  }
  .workCover{
    min-width: auto;
    margin: 0;
    .fa{
      display: none;
    }
  }
  img{
    max-height: 3em;
  }
  .description, .claims, .date, .actions{
    display: none;
  }
}

.workLi.unwrapped{
  .rewrap{
    display: block !important;
  }
}
