#workLayout{
  background-color: $dark-grey;
  padding-bottom: 1em;
  .layout-type-label{
    color: #bbb;
    margin: 0;
  }
  .work-section{
    @include display-flex(row, center, space-around, wrap);
  }
  .work-instances{
    @include display-flex(column, center, space-around);
    /*Large screens*/
    @media screen and (min-width: $small-screen) {
      padding: 2em;
    }
  }
  .workEntityActions .entityActions{
    margin-bottom: 2em;
  }
}

#workLayout, #modal{
  .editions-list{
    margin-top: 1em;
    padding: 1em;
  }
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
  #workLayout{
    // Added padding so that the divs with the same background color as the top-bar
    // such as work data are disconnected from it when the scroll is at the top
    padding: 1em;
  }
  #workLayout, #modal{
    .editionLi, .edition-creation{
      margin: 2em;
    }
  }
}

@import './editions_list';
@import './edition_li';
