@import 'modules/general/scss/utils';

#claimLayout{
  > .infobox{
    .generalInfobox{
      background-color: $dark-grey;
      padding: 1em;
      margin-bottom: 1em;
      @include display-flex(row, center, center, wrap);
      .image-wrapper{
        max-width: 20em;
        text-align: center;
      }
      .entity-data-box{
        max-width: 40em;
        &, h2, a.showEntity{
          color: white;
        }
      }
      .source, .photo-credits, .photo-credits a{
        color: $grey;
      }
      /*Large screens*/
      @media screen and (min-width: $small-screen) {
        .image-wrapper{
          padding: 2em;
        }
      }
    }
  }
  .addOne{
    margin: 1em;
  }
}
