@import '#general/scss/utils';
.entityActions{
  @include display-flex(column, center, center);

  /*Small screens*/
  @media screen and (max-width: $below-small-screen) {
    flex-direction: column;
    .button-group > li{
      margin: 0;
    }
  }
  /*Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .custom-button-group{
      @include display-flex(row);
    }
  }
}
