@use '#general/scss/utils';

.editor-section{
  @include panel;
  align-self: stretch;
  display: flex;
  /*Large screens*/
  @media screen and (width >= $smaller-screen) {
    margin: 0.4em 0 0.6em 0;
    padding: 1em 1.5em;
  }
  /*Small screens*/
  @media screen and (width < $smaller-screen) {
    flex-direction: column;
    padding: 0.4em;
  }
}

.editor-section-header{
  font-size: 1rem;
  @include sans-serif;
  font-weight: bold;
  margin-inline-end: 0.5em;
  margin-block-start: 0.5em;
  flex: 0 0 auto;
}
