@import '#modules/general/scss/utils';
$author-layout-bg: #292929;

.authorLayout, #publisherLayout, .collectionLayout{
  background-color: $author-layout-bg;
  // allow to have no margin when there is only one .authorLayout
  &:not(:first-child){
    margin-top: 1em;
  }
  .subentities{
    flex: 1 1 auto;
    @include display-flex(column);
  }
  // Precising :not(.standalone) to override the selector
  .serieLayout:not(.standalone){
    background-color: $darker-grey;
    .author-preview{
      max-width: 17em;
    }
  }
  .series, .works, .articles{
    &:not(:empty){
      // required to center .loading
      @include display-flex(row, center, center);
      margin-top: 1em;
      margin-bottom: 1em;
      .header{
        @include display-flex(row, center, center);
      }
    }
  }
  .series, .works, .articles{
    h3, h4{
      color: white;
      text-align: center;
      font-size: 1.4em;
    }
  }
  .subheader{
    .uri{
      font-size: 0.9rem;
      margin-left: 1em;
      @include sans-serif;
    }
  }
  .loading{
    text-align: center;
    color: $contrast;
    font-size: 2em;
    padding: 1em;
  }
  .articles:not(:empty){
    margin-top: 2em;
    margin-bottom: 2em;
    .main{
      h4{
        color: $dark-grey;
      }
    }
  }
  &:not(.wrapped){
    .unwrap{
      display: none;
    }
  }
}

.innerAuthorLi, .innerPublisherLi{
  @include display-flex(column);
  .workLi:not(.wrappable){
    margin: auto;
    margin-bottom: 1em;
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .series, .works, .articles{
      margin-left: 0.2em;
      margin-right: 0.2em;
      flex: 1 1 auto;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .workLi:first-child:not(.wrappable){
      margin-top: 1em;
    }
  }
}

.authorLayout, #workLayout, .serieLayout, #publisherLayout, .collectionLayout{
  .admin{
    background-color: $darker-grey;
    @include radius;
    padding: 2em;
    h3{
      color: white;
      text-align: center;
      font-size: 1.4em;
    }
    .no-result{
      color: #aaa;
    }
  }
}
