@import '#general/scss/utils';
#entitiesListAdder{
  @include display-flex(column, center, center);
  h3{
    text-align: center;
  }
  .parent-label{
    color: $grey;
  }
  .context{
    margin-bottom: 1em;
  }
  .no-suggestion{
    color: $grey;
  }
  .buttons{
    margin: 1em;
    @include display-flex(row, center, center, wrap);
    a{
      margin: 1em;
      text-align: center;
      min-width: 6em;
    }
  }
  &.fetching{
    .no-suggestion{
      display: none;
    }
  }
  &:not(.fetching){
    .centered-loader{
      display: none;
    }
  }
}

.entitiesListElementCandidates{
  max-height: 50vh;
  overflow-y: auto;
}

.entities-list-element-candidate{
  @include display-flex(row, center, center);
  background-color: #f3f3f3;
  padding: 0.5em;
  @include radius;
  margin: 0.5em 0;
  .showEntity{
    flex: 1 1 0;
    margin: 0.5em;
    color: $dark-grey;
  }
  .info{
    overflow: hidden;
    padding: 0.5em;
    max-width: 25em;
  }
  .image-wrapper{
    margin-right: 0.3em;
    max-width: 10em;
  }
  .label, .description{
    margin-right: 0.5em;
    flex: 0 0 auto;
  }
  .label{
    font-size: 1.1rem;
  }
  .description{
    color: $grey;
  }
  .claims{
    flex: 1 0 0;
    overflow: hidden;
  }
  .status{
    width: 10em;
  }
  .add, .added{
    white-space: nowrap;
    flex: 0 0 auto;
  }
  .warning{
    color: $grey;
    max-width: 10em;
    text-align: center;
  }
  .added{
    color: $grey;
  }
}

#searchCandidates{
  max-width: 20em;
}

/*Very Small screens*/
@media screen and (max-width: $smaller-screen) {
  #entitiesListAdder{
    padding: 0 0.5em;
  }
  .entities-list-element-candidate{
    flex-direction: column;
  }
}
