@import 'modules/general/scss/utils';

.entity-history{
  color: white;
  max-width: 50em;
  margin: 0 auto;
  /*Medium and Large screens*/
  @media screen and (min-width: $very-small-screen) {
    .version{
      margin: 0.5em;
    }
  }
}

@import 'version';
