@import 'modules/general/scss/utils';
// See also author_layout
#publisherLayout{
  padding: 1em;
  .entitiesList{
    margin: 1em auto;
    .header{
      h3{
        color: white;
      }
      @include display-flex(row, center, center);
    }
  }
  .collectionLayout{
    background-color: #ddd;
    margin: 2em 0;
  }
}
