@import '#general/scss/utils';

.tip{
  /*Large screens*/
  @media screen and (width >= $smaller-screen) {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 1;
  }
  padding: 0.4em 0.6em;
  padding-inline-start: 0.6em;
  color: #666;
  background-color: #eee;
  :global(a){
    text-decoration: underline;
  }
}
