@import '#general/scss/utils';

.workLiCompact, .articleLiCompact{
  margin: 0 auto;
  max-width: 100%;
  background-color: $contrast;
  @include shy-border;
}

.workLiCompact{
  max-width: 45em;
  text-align: left;
  @include display-flex(row, center, space-between);
  .workLiCompactLeft{
    cursor: pointer;
    @include display-flex(row, left, space-between);
    .claims a{
      color: $grey;
    }
    .workCover{
      @include display-flex(row, center);
      width: 3em;
      min-height: 3em;
      min-width: 3em;
      max-height: 3em;
      overflow: hidden;
    }
    .workLiDataCompact{
      margin: 0.2em 0;
      @include display-flex(column, left, center);
      min-height: 3em;
      margin-left: 0.5em;
      h4{
        line-height: 1;
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
      }
      .date{
        margin: 0;
        padding: 0;
        line-height: 1.3em;
      }
    }
  }
  .actions{
    @include display-flex(row, center, center);
    .counter{
      margin: 0 1em;
      @include bg-hover($light-grey);
      @include radius;
      color: $dark-grey;
      &.highlight{
        @include bg-hover($secondary-color);
        color: $dark-grey;
      }
    }
  }
  /*Small screens*/
  @media screen and (max-width: 45em) {
    .actions{
      @include display-flex(column, left, center);
      margin-right: 0.5em;
      .counter{
        margin: 0.5em 0;
      }
    }
  }
}

