<a class="showControls">
  {{icon 'wrench'}}
  {{icon 'chevron-right'}}
</a>
<div class="innerControls">
  <div class="layouts">
    <a class="cascade">{{icon 'th-large'}}</a>
    <a class="grid">{{icon 'align-justify'}}</a>
  </div>
  <input type="text" class="filter" placeholder="filter...">
</div>
