<div class="general-wrapper">
  {{partial 'inventory:filter_preview_section' name='author'}}
  {{partial 'inventory:filter_preview_section' name='genre'}}
  {{partial 'inventory:filter_preview_section' name='subject'}}
  {{partial 'inventory:filter_preview_section' name='owner'}}
</div>
