<div class="general-wrapper">
  {{> 'inventory:filter_preview_section' name='author'}}
  {{> 'inventory:filter_preview_section' name='genre'}}
  {{> 'inventory:filter_preview_section' name='subject'}}
  {{> 'inventory:filter_preview_section' name='owner'}}
</div>
