<a id="{{hash.name}}PreviewHandler" class="handler">
  <span class="label">{{I18n hash.name}}</span>
</a>
<div class="preview-wrapper">
  <div id="{{hash.name}}Preview" class="preview-region"></div>
</div>
