<div id="inventoryView" class="row">
  <div class="small-12 large-3 columns">
    <div id="sideMenu"></div>
  </div>
  <div class="small-12 large-9 columns">
    <div id="itemsView" class="row"></div>
  </div>
</div>