<div id="innerMain">
  <div id="sideNav" class="sideNavClones"></div>
  <div id="shadowSideNav" class="sideNavClones"></div>
  <div id="inventoryView">
    <div id="header"></div>
    <div id="itemsView">{{partial 'loader'}}</div>
    <div id="followedView"></div>
    <div id="controls"></div>
  </div>
</div>