<div id="controls">
  <a id="displayCascade" class="display-option">{{icon 'th-large'}}</a>
  <a id="displayList" class="display-option">{{icon 'list'}}</a>
  <a id="addToInventory" class="tiny-button light-blue" href="/add">{{icon 'plus'}} {{I18n 'add'}}</a>
</div>
