<div class="map-lists-wrapper {{#if mainUserHasPosition}}mainUserHasPosition{{/if}}">
  <div class="lists">
    <div class="list-wrapper">
      <p class="list-label">{{I18n 'users'}}</p>
      <div id="usersList"></div>
    </div>

    <div class="list-wrapper">
      <p class="list-label">{{I18n 'groups'}}</p>
      <div id="groupsList"></div>
    </div>
  </div>

  {{!-- Avoid using just 'map' as id as that sets a global variable that might cause confusion --}}
  {{!-- See https://www.tjvantoll.com/2012/07/19/dom-element-references-as-global-variables/ --}}
  <div id="mapContainer"></div>
</div>

{{#unless mainUserHasPosition}}
  {{partial 'map:position_required'}}
{{/unless}}
