<div id="innerMain">
  <div id="sideNav" class="sideNavClones hide-for-small-only"></div>
  <div id="shadowSideNav" class="sideNavClones"></div>
  <div id="inventoryView">
    <div id="beforeItems"></div>
    <div id="itemsView"></div>
    <div id="afterItems"></div>
    <div id="followedView"></div>
  </div>
</div>