<div id="map"></div>

<div class="lists">
  <div class="list-wrapper">
    <p class="list-label">{{I18n 'users'}}</p>
    <div id="usersList"></div>
  </div>

  <div class="list-wrapper">
    <p class="list-label">{{I18n 'groups'}}</p>
    <div id="groupsList"></div>
  </div>
</div>

<div id="profile"></div>
