<div id="browser-controls">
  <div id="browser-filters">
    <span class="control-label">{{I18n 'filters'}}</span>
    <div id="type"></div>
    <div id="author"></div>
    <div id="genre"></div>
    <div id="subject"></div>
    <div id="language"></div>
    <div id="owner"></div>
    <div id="transaction"></div>
  </div>
</div>
<div id="itemsView"></div>
