<h2>{{i18n 'welcome to your inventory!'}}</h2>
<div class="ideas">
  {{iconLinkText name='plus' url='/add' I18n='add a book to your inventory' linkClasses='button'}}
</div>
<div>
  <a class="showWelcome" href="/welcome" class="grey">
    {{i18n 'back to welcome screen'}}
  </a>
</div>
