<div class="shelvesPanel">
  <label>{{i18n 'shelves'}}</label>
  <div id="shelvesSelector" class="{{#if mainUserIsOwner}}main-user-mode{{/if}}"></div>
  <button class="toggleShelvesExpand">{{icon 'chevron-down'}}</button>
</div>
