{{#if userReady}}
  <span class="section-label">{{I18n 'owner'}}</span>
  {{#if restricted}}
    {{> 'inventory:item_mixed_box' this}}
    {{> 'inventory:item_request_box' this}}
    {{#if details}}
      {{> 'inventory:item_details' this}}
    {{/if}}
  {{else}}
    {{> 'inventory:item_user_box' this}}
    <div class="item-settings itemBox">
      {{#unless isPrivate}}
        {{> 'inventory:item_transaction_box' this}}
      {{/unless}}
      {{> 'inventory:item_listing_box' this}}
    </div>
    {{> 'inventory:item_details' this}}
    {{> 'inventory:item_note' this}}
  {{/if}}
{{/if}}
<div id="transactions"></div>
