<a class="itemShow" href="{{pathname}}" rel="nofollow">
  <div class="cover">
    {{#if picture}}
      <img src="{{src picture 300}}">
    {{/if}}
  </div>
  <div class="data">
    <h3 class="title">
      {{title}}
    </h3>
    <hr>
    <div class="authors">
      {{#if entityData.wikidata}}
        {{claim entityData.claims 'P50'}}
      {{else}}
        {{joinAuthors entityData.authors false}}
      {{/if}}
    </div>
  </div>
</a>
{{#if restricted}}
  {{partial 'inventory:item_mixed_box' this}}
{{else}}
  {{partial 'inventory:item_user_box' this}}
  <div class="item-settings itemBox">
    {{partial 'inventory:item_transaction_box' this}}
    {{partial 'inventory:item_visibility_box' this}}
  </div>
{{/if}}
{{#if details}}
  <div class="detailsBox">
    <span class="details wrapped user-content">
      {{userContent details}}
      {{#if detailsMore}}
        <a class='itemShow more'>{{i18n 'see more'}}</a>
      {{/if}}
    </span>
  </div>
{{/if}}
{{partial 'inventory:item_request_box' this}}
