<div class="comments">
  <div class="loading"></div>
</div>

<section class="newComment">
  <form>
    <textarea class="message" name="message" placeholder="post a comment...">{{message}}</textarea>
    <a class="tiny-success-button postComment right">{{i18n 'post comment'}}</a>
  </form>
</section>
