<div class="shelvesPanel {{#if mainUserIsOwner}}main-user-mode{{/if}}">
  <label>{{i18n 'shelves'}}</label>
  <div id="shelvesSelector"></div>
  <button class="toggleShelvesExpand">{{icon 'chevron-down'}}</button>
</div>
