<div class="mixedBox">
  <a href="{{user.pathname}}" class="userShow">
    <img class="profilePic" src="{{src user.profilePic 64}}">
  </a>
  <a class="itemShow">
    {{partial 'inventory:item_mixed_box_label' this}}
  </a>
</div>