<span class="header">{{I18n header}}</span>
<div class="flex-row-center-start flex-wrap">
  <div class="giving"></div>
  <div class="lending"></div>
  <div class="selling"></div>
  <div class="inventorying"></div>
</div>
