{{#unless restricted}}
  <div class="shelvesPanel">
    <div class="icon-buttons-header">
      <label>{{i18n 'shelves'}}</label>
      <div class="right">
        <a class="editButton" title="{{i18n 'edit shelves'}}">{{icon 'pencil'}}</a>
      </div>
    </div>
    <div id="shelvesSelector"></div>
  </div>
{{/unless}}
