<div class="comments">
  <div class="loading"></div>
</div>

<div class="newComment">
  <form>
    <div class="main">
      <div class="avatar">
        <img src="{{src user.picture 50}}">
      </div>
      <textarea class="message" name="message" placeholder="post a comment...">{{message}}</textarea>
    </div>
    <div class="alertBox"></div>
    <a class="tiny-success-button postComment right">{{i18n 'post comment'}}</a>
  </form>
</div>
