<a class="user" href="{{user.pathname}}">
  <div class="userBox">
    <img class="profilePic" src="{{imgSrc user.picture 48}}">
    <span class="user" href="{{user.pathname}}">
      <strong class="username">{{user.username}}</strong>
    </span>
  </div>
</a>