<div id="entityData">
  <div id="picture"></div>
  <div id="entity">
    {{#unless entityData}}
      <div class="entityData">
        <h2>{{title}}</h2>
      </div>
    {{/unless}}
  </div>
  <div class="icon-bar">
    <a href="{{entityPathname}}" class="showEntity">
      {{icon 'cube'}}
      <span>{{i18n 'who else has it?'}}</span>
    </a>
    <a class="shareLink" href="{{pathname}}">
      {{icon 'share-alt'}}
      <span>{{i18n 'share'}}</span>
    </a>
  </div>
</div>

<div class="itemData">
  <div class="leftBox">
    <div class="panel">
      {{#if restricted}}
        {{partial 'inventory:item_mixed_box' this}}
        {{partial 'inventory:item_request_box' this}}
      {{else}}
        {{partial 'inventory:item_user_box' this}}
        <div class="item-settings itemBox">
          {{partial 'inventory:item_transaction_box' this}}
          {{partial 'inventory:item_visibility_box' this}}
          {{partial 'inventory:remove_item'}}
        </div>
      {{/if}}
    </div>
    <div id="transactions"></div>
  </div>
  <div class="rightBox">
    {{#if restricted}}
      {{#if details}}
        {{partial 'inventory:item_details' this}}
      {{/if}}
    {{else}}
      {{partial 'inventory:item_note' this}}
      {{partial 'inventory:item_details' this}}
    {{/if}}
    <div id="comments"></div>
  </div>
</div>
{{partial 'welcome:embedded_welcome'}}