<h2>{{i18n 'welcome in your inventory!'}}</h2>
<div>
  <a id="jumpIn" class="button secondary bold">
    {{i18n 'get a tour'}}
  </a>
</div>
<div>
  <a id="welcome" class="button grey">
    {{i18n 'back to welcome screen'}}
  </a>
</div>