$user-bg: #ddd;
.usersList{
  li{
    background-color: $user-bg;
    &:hover{
        background-color: darken($user-bg, 20%);
        transition: background-color 0.2s linear;
    }
    padding: 0.3rem;
    img{
      height: 2.5rem;
    }
    .username{
      padding-left: 0.5rem;
    }
  }
  .selectUser{
    cursor: pointer;
  }

  .selected{
    background-color: darken($user-bg, 40%);
  }
}

#preview{
  background-color: #eee;
  .book{
    padding: 1rem;
  }
}