$user-height: 3em;
$stretch-user-height: 5em;

$user-bg: #ddd;
.userLi{
  color: $light-grey;
  img{
    margin-left: 0;
    height: $user-height;
    width: $user-height;
    overflow: hidden;
  }
  .right-box{
    .select{
      min-height: $user-height;
      flex: 1 1 auto;
      overflow: hidden;
      text-align: left;
      .bio{
        max-height: 5em;
        padding-left: 0.2em;
        opacity: 0.8;
      }
    }
    .username{
      margin-left: 0.3em;
    }
    .userMenu{
      flex: 0 0 auto;
      @include display-flex(row, center, flex-end);
    }
  }
  .inventoryLength{
    opacity: 0.4;
    background-color: $darker-grey;
    border-radius: $global-radius;
    padding: 0 0.4em 0.1em 0.4em;
    margin-left: auto;
    margin-right: 0.2em;
    min-width: 1.6em;
    text-align: center;
  }
  .action{
    @include radius;
  }
  .accept{
    // spacing from .decline button
    margin-right: 0.1em;
  }
  .invite{
    @include tiny-button($light-blue);
    white-space: nowrap;
  }
  &:not(.stretch){
    .inventoryLength.long{
      display: none;
    }
  }
  &.stretch{
    margin: 0.5em 0 0.5em 0;
    img{
      height: $stretch-user-height;
      width: $stretch-user-height;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    width: 100%;
    .right-box{
      width: 100%;
      @include display-flex(column);
      .select{
        width: 100%;
        text-align: center;
      }
      .top{
        width: 100%;
      }
    }
    &:not(.stretch){
      @include display-flex(row, center, flex-start);
      .right-box{
        position: relative;
        @include display-flex(row, center, center);
      }
      .select{
        @include display-flex(row, center, center);
      }
      .top{
        position: relative;
        @include display-flex(row, center, flex-start);
        .inventoryLength{
          /*Small screens*/
          @media screen and (max-width: 250px) {
            display: none;
          }
        }
      }
      .user-menu{
        @include position(absolute, 0, 0, 0, null, 1);
      }
    }
    &.stretch{
      .username{
        // forcing .inventoryLength to go to the next line
        display: block;
      }
      .inventoryLength.short{
        display: none;
      }
      .userMenu{
        align-self: center;
        margin-bottom: 1em;
      }
    }
  }
  /*Very Small screens*/
  @media screen and (max-width: $very-small-screen) {
    &.group-context{
      .request-actions{
        .action{
          .fa{
            // Center
            width: 1.5em;
            text-align: center;
            padding-left: 0.3em;
          }
          .label{
            // Save space
            display: none;
          }
        }
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    @include display-flex(row);
    .right-box{
      // hacky way to make sure .userLi doesn't scroll horizontally
      width: 82%;
      flex: 1 1 auto;
      @include display-flex(row);
    }
    .top{
      @include display-flex(row, center, space-between);
      // min-height: $user-height;
    }
    .userMenu{
      // only push on left if inventoryLength isnt already pushing
      &:nth-child(2){
        margin-left: auto;
      }
    }
    &:not(.stretch){
      .top{
        height: $user-height;
      }
    }
    &.stretch{
      .inventoryLength.short{
        display: none;
      }
      .select{
        min-height: $stretch-user-height;
        @include display-flex(column);
        // when there is no details, .top expand to take all the height
        // and thus gets its children correctly vertically centered
        .top{
          flex: 1 0 auto;
        }
        .details{
          flex: 4 1 auto;
        }
      }
    }
    .details{
      // limiting .bio.user-content expansion
      max-width: 27em;
    }
    .inventoryLength{
      @include display-flex(row, center, center);
      flex: 0 0 auto;
    }
  }
}

.userLi.friends:not(.group-context){
  .right-box{
    a:first-child{
      .username{
        vertical-align: middle;
      }
    }
  }
}

#sideNav{
  .userLi{
    .username{
      max-width: 80%;
      overflow: hidden;
    }
    .userMenu{
      min-width: 1.6em;
    }
    &:not(.friend){
      // avoid affecting 'a.action's in dropdown
      .userMenu > .action{
        // Centering the action icon
        height: 1.7em;
        padding-left: 0.3em;
        padding-right: 0.2em;
        &:not(:hover){
          .label{
            display: none;
          }
        }
      }
    }
  }
  .userLi.friends{
    .userMenu{
      font-size: 1em;
      margin-right: 0.2em;
    }
    .label{
      display: none;
    }
    /*Small screens*/
    @media screen and (max-width: $small-screen) {
      margin-right: 0.5em;
    }
  }
}

.userLi .right-box, .userProfile{
  .userMenu{
    @include display-flex(row, center, center);
    white-space: nowrap;
    margin-right: 0.2em;
    .action{
      @include display-flex(row, center, center);
    }
  }
}

#sideNav{
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    .userLi{
      .right-box{
        max-width: 230px;
      }
    }
  }
}

#networkLayout, .groupBoard{
  .userLi{
    .userMenu{
      text-align: left;
    }
    span, {
      color: $dark-grey;
    }
    .fa:not(.times-circle){
      @include text-hover($grey, $dark-grey);
    }
    .action{
      span, .fa{
        color: white;
      }
    }
    .inventoryLength{
      color: white;
    }
    .acceptRequest{
      @include tiny-button($success-color);
    }
    .refuseRequest{
      @include tiny-button($grey);
    }
  }
}