$user-height: 3em;
$stretch-user-height: 5em;

$user-bg: #ddd;
.userLi{
  color: $light-grey;
  img{
    margin-left: 0;
    height: $user-height;
    width: $user-height;
    overflow: hidden;
  }
  .right-box{
    .select{
      min-height: $user-height;
      @include flex(1);
      overflow: hidden;
      text-align: left;
      .bio{
        max-height: 5em;
        padding-left: 0.2em;
        opacity: 0.8;
      }
    }
    .username{
      margin-left: 0.3em;
    }
    .userMenu{
      @include flex(0, 0, auto);
      @include display-flex(row, center, flex-end);
      .f-dropdown{
        a, .fa, span{
          color: $dark-grey !important;
        }
      }
    }
  }
  .inventoryLength{
    opacity: 0.4;
    background-color: $darker-grey;
    border-radius: $global-radius;
    padding: 0 0.4em 0.1em 0.4em;
    margin-left: auto;
    margin-right: 0.2em;
    min-width: 1.6em;
    text-align: center;
  }
  .action{
    @include radius;
  }
  .accept{
    // spacing from .decline button
    margin-right: 0.1em;
  }
  .invite{
    @include tiny-button($light-blue);
    white-space: nowrap;
  }
  &:not(.stretch){
    .inventoryLength.long{
      display: none;
    }
  }
  &.stretch{
    margin: 0.5em 0 0.5em 0;
    img{
      height: $stretch-user-height;
      width: $stretch-user-height;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    width: 100%;
    .right-box{
      width: 100%;
      @include display-flex(column);
      .select{
        width: 100%;
        text-align: center;
      }
      .top{
        width: 100%;
      }
    }
    &:not(.stretch){
      @include display-flex(row, center, flex-start);
      .right-box{
        position: relative;
        @include display-flex(row, center, center);
      }
      .select{
        @include display-flex(row, center, center);
      }
      .top{
        position: relative;
        @include display-flex(row, center, flex-start);
        .inventoryLength{
          /*Small screens*/
          @media screen and (max-width: $verysmallscreen) {
            display: none;
          }
        }
      }
      .user-menu{
        @include position(absolute, 0, 0, 0, null, 1);
      }
    }
    &.stretch{
      .username{
        // forcing .inventoryLength to go to the next line
        display: block;
      }
      .inventoryLength.short{
        display: none;
      }
      .userMenu{
        @include align-self(center);
        height: 3.2em;
        a{
          padding: 1em;
        }
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    @include display-flex(row);
    .right-box{
      @include flex(1);
      @include display-flex(row);
    }
    .top{
      @include display-flex(row, center, space-between);
      // min-height: $user-height;
    }
    .userMenu{
      // only push on left if inventoryLength isnt already pushing
      &:nth-child(2){
        margin-left: auto;
      }
    }
    &:not(.stretch){
      .top{
        height: $user-height;
      }
    }
    &.stretch{
      .inventoryLength.short{
        display: none;
      }
      .select{
        min-height: $stretch-user-height;
        @include display-flex(column);
        // when there is no details, .top expand to take all the height
        // and thus gets its children correctly vertically centered
        .top{
          @include flex(1, 0);
        }
        .details{
          @include flex(4);
        }
      }
    }
    .details{
      // limiting .bio.user-content expansion
      max-width: 27em;
    }
    .inventoryLength{
      @include display-flex(row, center, center);
      @include flex(0, 0);
    }
  }
}

.userLi.friends:not(.group-context){
  .right-box{
    a:first-child{
      .username{
        vertical-align: middle;
      }
    }
    .userMenu{
      a{
        text-align: right;
      }
    }
  }
}

#sideNav{
  .userLi{
    .username{
      max-width: 80%;
      overflow: hidden;
    }
    .userMenu{
      min-width: 1.6em;
    }
    &:not(.friend){
      // avoid affecting 'a.action's in dropdown
      .userMenu > .action{
        // centering the action icon
        padding-left: 0.4em;
        padding-right: 0.4em;
        &:not(:hover){
          padding-right: 0;
          .label{
            display: none;
          }
        }
      }
    }
  }
  .userLi.friends{
    .userMenu{
      font-size: 1em;
      margin-right: 0.2em;
    }
    .label{
      display: none;
    }
    /*Small screens*/
    @media screen and (max-width: $smallscreen) {
      margin-right: 0.5em;
    }
  }
}

.userLi:not(.friends) .right-box, .userProfile{
  .userMenu{
    @include display-flex(row, center, center);
    white-space: nowrap;
    a.action{
      padding: 0 0.3em 0 0.3em;
    }
    .cancel{
      background-color: $grey;
    }
    .accept{
      background-color: $success-color;
    }
    .discard{
      background-color: $grey;
    }
    .request{
      background-color: $success-color;
    }
  }
}

// removing exceptions carefully before testing other cases
// => needs a cleanup
.userLi:not(.friends):not(.group-context) .right-box{
  .userMenu{
    margin-right: 0.2em;
  }
}

#sideNav{
  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    .userLi{
      .right-box{
        max-width: 230px;
      }
    }
  }
}

#networkLayout, .groupBoard{
  .userLi{
    .userMenu{
      text-align: left;
    }
    .friendMenu{
      @include shy;
    }
    span, .fa:not(.times-circle){
      color: $dark-grey;
    }
    .action{
      span, .fa{
        color: white;
      }
    }
    .member, .invited{
      opacity: 0.6;
    }
    .inventoryLength{
      color: white;
    }
    .action{
      margin-left: 0.2em;
      margin-right: 0.2em;
      @include radius;
    }
    .acceptRequest{
      @include tiny-button($success-color);
    }
    .refuseRequest{
      @include tiny-button($grey);
    }
  }
}