$user-height: 3em;

$user-bg: #ddd;
.userLi{
  height: $user-height;
  color: $light-grey;
  @include display-flex(row);
  img{
    margin-left: 0;
    height: $user-height;
    width: $user-height;
    overflow: hidden;
  }
  .right-box{
    @include flex(1);
    @include display-flex(row, center);
    a{
      @include flex(1, 0, 0);
      overflow: hidden;
    }
    .username{
      margin-left: 0.3em;
    }
    .inventoryLength{
      opacity: 0.4;
      @include display-flex(row, center, center);
      background-color: $darker-grey;
      border-radius: $global-radius;
      padding-bottom: 0.1em;
      @include flex(0, 0, 1.4em);
      margin-left: auto;
    }
    .userMenu{
      margin-left: 0.2em;
      @include display-flex(row, center, flex-end);
      .f-dropdown{
        a, .fa, span{
          color: $dark-grey !important;
        }
      }
    }
  }
  .action{
    @include radius();
  }
  .accept{
    // spacing from .decline button
    margin-right: 0.1em;
  }
  .invite{
    @include tiny-button($light-blue);
    white-space: nowrap;
  }
}

.userLi.friends{
  .right-box{
    a:first-child{
      @include flex(1);
      .username{
        vertical-align: middle;
      }
    }
    .userMenu{
      margin-right: 0.2em;
      @include flex(0, 0, 1.6em);
      font-size: 1em;
      a{
        text-align: right;
      }
      .label{
        display: none;
      }
    }
  }
}

.userLi:not(.friends){
  .right-box{
    .userMenu{
      @include display-flex(row, center);
      white-space: nowrap;
      font-size: 0.9em;
      a.action, span.mainUser{
        padding: 0 0.3em 0 0.3em;
      }
      .mainUser{
        @include sans-serif();
        font-weight: normal;
        opacity: 0.6;
      }
      .cancel{
        background-color: $grey;
      }
      .accept{
        background-color: $success-color;
      }
      .discard{
        background-color: $grey;
      }
      .request{
        background-color: $success-color;
      }
    }
  }
}

#sideNav{
  .userLi{
    .right-box{
      max-width: 14.4em;
    }
  }
}

#networkLayout{
  .userLi{
    span, .fa:not(.times-circle){
      color: $dark-grey;
    }
    .invite{
      span, .fa{
        color: white;
      }
    }
    .member, .invited{
      opacity: 0.6;
    }
    .inventoryLength{
      color: white;
    }
    .action, .action .fa{
      color: white;
    }
    .right-box{
      @include display-flex(row, center, center);
    }
    .action{
      margin-left: 1em;
      @include radius();
    }
  }
}