.contribution{
  background-color: #dedede;
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
  flex: 1 0 auto;
  @include display-flex(column);
  .header{
    @include display-flex(row, center, flex-start);
    flex: 1 0 auto;
  }
  .handle{
    @include display-flex(row, center, center);
    cursor: pointer;
  }
  .entity{
    flex: 2 0 0;
    margin-right: auto;
    @include display-flex(column);
    .meta{
      @include display-flex(row, center, flex-start);
      .link{
        @include shy;
      }
      .fa{
        margin-left: 0.5em;
      }
    }
  }
  .label{
    font-weight: bold;
    overflow: hidden;
    max-height: 1.4em;
    margin-right: 0.5em;
  }
  .type{
    font-weight: bold;
  }
  .patch-id, .type{
    color: $grey;
    font-size: 0.9em;
    margin-right: 0.5em;
  }
  .changes{
    flex: 1;
    p{
      line-height: 1em;
    }
  }
  .summary{
    flex: 2 0 0;
    overflow: hidden;
    max-width: 40em;
    min-width: 15em;
    @include display-flex(row, center, flex-start);
    white-space: nowrap;
    .property{
      flex: 0 0 6em;
      p{
        line-height: 1.2em;
      }
    }
    .property-uri{
      color: $grey;
      font-size: 0.9;
    }
    .changes{
      flex: 1;
      margin-left: 0.5em;
    }
    .added{
      color: green;
      &:before{ content: '+ ' }
    }
    .removed{
      color: red;
      &:before{ content: '- ' }
    }
  }
  .user{
    @include display-flex(row, center, flex-start);
    @include transition(background-color);
    margin-left: 0.5em;
    @include radius;
    &:hover{
      background-color: $off-white;
    }
    padding: 0.2em;
    img{
      @include radius;
      margin-right: 0.5em;
    }
  }
  .time{
    color: $grey;
    margin-left: auto;
    padding-left: 0.2em;
    width: 6em;
    text-align: right;
  }
  .togglers span{
    cursor: pointer;
  }
  .operation-type{
    padding: 0 0.2em;
    width: 5em;
    @include radius;
    margin-right: 0.5em;
    border: 2px solid black;
    &.creation{ border-color: $green-tree }
    &.add{ border-color: $success-color }
    &.update{ border-color: $light-blue }
    &.remove{ border-color: $soft-red }
    &.redirect{ border-color: $yellow }
    &.deletion{ border-color: $dark-grey }
  }

  .fullDetails{
    .stats{
      padding: 0.5em;
      li{
        @include display-flex(row, center, flex-start);
      }
      .label{
        min-width: 5em;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    max-width: 98vw;
    .handle{
      margin: 0.5em 0;
    }
    .header{
      flex-wrap: wrap;
      align-self: stretch;
    }
  }

  /*Smaller screens*/
  @media screen and (max-width: $smaller-screen) {
    .summary{
      min-width: 60vw;
      margin-right: auto;
    }
    .patch-id, .property-uri{
      display: none;
    }
    .user{
      // Force to wrap on the next line
      flex: 1 0 50%;
      margin: 1em 0;
    }
  }
}
