@import 'modules/general/scss/utils';

#contributions{
  margin: 0 auto;
  max-width: 80em;
  @include display-flex(column, center, center);
  .stats{
    background-color: $light-grey;
    padding: 1em;
    .stat-label{
      display: inline-block;
      min-width: 10em;
      color: #777;
    }
  }
  .stat-value{
    display: inline-block;
  }
  .precise-time{
    margin-left: 0.5em;
    color: $grey;
  }
  .fetchMore{
    display: inline-block;
    text-align: center;
    @include radius;
    height: 2em;
    @include display-flex(row, center, center);
    font-weight: bold;
    @include bg-hover(#ccc);
    margin: 0.5em 0 2em 0;
    .fa{
      font-size: 1.2em;
    }
    .counter:not(:empty){
      background-color: $grey;
      color: white;
      margin-left: 1em;
      padding: 0 0.5em;
      @include radius;
    }
  }
}

@import 'contribution';
@import 'modules/entities/scss/patch_operations';
