@import '#general/scss/utils';

#contributions{
  margin: 0 auto;
  max-width: 100em;
  overflow: hidden;
  position: relative;
  @include display-flex(column, center, center);
  h3{
    text-align: center;
    @include display-flex(row, center, center);
    .filter{
      margin: 0 1em;
      @include display-flex(row, center, center);
      @include sans-serif;
      background-color: $light-blue;
      padding-left: 0.2rem;
      font-size: 1rem;
      border-radius: $global-radius;
      color: white;
    }
    .removeFilter{
      @include tiny-button($light-blue);
      font-size: 1.5rem;
      line-height: 1rem;
      padding: 0.5rem;
      align-self: stretch;
    }
  }
  .stats{
    background-color: $light-grey;
    .stat-label{
      display: inline-block;
      min-width: 10em;
      color: #777;
      &.deleted{
        color: red;
        font-weight: bold;
      }
    }
  }
  > .stats{
    padding: 1em;
  }
  .stat-value{
    display: inline-block;
  }
  .precise-time{
    margin-left: 0.5em;
    color: $grey;
  }
  .contributionsList{
    margin-top: 1em;
    align-self: stretch;
    @include display-flex(column, stretch, center);
  }
  .fetchMore{
    width: 1em;
    height: 1em;
    // Position to be inview a bit before reaching the bottom of the page
    position: absolute;
    bottom: 10em;
  }
  .loading{
    margin-top: 1em;
    margin-bottom: 3em;
  }
}

@import 'contribution';
@import '#entities/scss/patch_operations';
