section#bonuses{
  @extend .book-bg;
  padding: 1em;
  @include multidef-bg-cover('img.inventaire.io/bokeh-pinkorchid_too-CC-BY-SA.jpg');
  ul.bonuses{
    margin-top: 2em;
    li{
      max-width: 600px;
      margin-left: 1em;
      margin-right: 1em;
    }
    h4{
      text-align: center;
      font-weight: bold;
      padding: 1em;
      background-color: $pitch-bg-color;
    }
    p{
      padding: 1em;
      font-size: 1.2em;
      background-color: $pitch-bg-color;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    ul.bonuses{
      @include display-flex(column, center, center);
      li{
        @include flex(1, 0);
        margin: 0;
        margin-bottom: 0.2rem;
        width: 100%;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    ul.bonuses{
      @include display-flex(row, baseline, space-around, wrap);
      li{
        @include flex(1, 0, 450px);
      }
    }
  }
}