#credits, #legals{
  text-align: center;
  a{
    @include link-light;
  }
}
#credits{
  background-color: darken($darker-grey, 10%);
  padding: 2em;
  h5{
    color: #888;
    margin: 1em;
  }
  p{
    line-height: 1.2em;
    margin: 0.4em;
    color: #888;
    .domain{
      color: #888;
    }
  }
  .contributors{
    strong{
      @include serif;
      color: white;
    }
    padding-bottom: 1em;
  }
}

#legals{
  background-color: black;
  padding: 0.5em;
}
