#credits, #legals{
  text-align: center;
  a{
    @include link-light;
  }
}
#credits{
  background-color: darken($darker-grey, 10%);
  h3, h4{
    font-weight: bold;
  }
  h3{
    color: white;
  }
  h4{
    color: #ddd;
    margin-top: 1em;
  }
  p{
    line-height: 1.2em;
    // not to large
    max-width: 40em;
    // and centered
    margin: 0.4em auto 0.4em auto;
    color: #ddd;
    .domain{
      color: #888;
    }
  }
  a{
    @include underline-on-hover(rgba(white, 0.6));
  }
  .pictures{
    display: inline;
  }
  .thanks{
    font-weight: bold;
    color: white;
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    padding: 0.5em 0.5em 2em 0.5em;
    .contributors{
      a{
        @include break-line-before;
      }
    }
  }
  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    padding: 2em;
  }
}

#legals{
  background-color: black;
  padding: 0.5em;
}
