$title-color: white;
$pitch-text-color: rgba(darken($welcome-bg-filter, 15%), 0.9);
$pitch-bg-color: rgba(white, 0.95);

section#landingScreen{
  background-color: $welcome-bg-filter;
  @include display-flex(column, center, center);
  .polyglotTitle{
    @include display-flex(column, center, center);
    h2{
      color: $title-color;
      font-weight: bold;
      font-size: 10em;
      line-height: 1em;
      margin: auto;
    }
    .toggler{
      display: none;
    }
    &:hover{
      h2:first-child{
        display: none;
      }
      .toggler{
        display: inherit;
      }
    }
  }
  .pitch{
    width: 100%;
    max-width: 95em;
    @include display-flex(row, stretch, space-between);
    li{
      flex: 1 0 0;
      background-color: $pitch-bg-color;
      @include radius(5px);
      padding: 1em 0.6em 1em 0.6em;
      margin: 0.5em;
      .fa, h3, p{
        color: $pitch-text-color;
      }
      .fa{
        font-size: 2.5em;
      }
      h3{
        font-size: 1.3em;
        font-weight: bold;
      }
      p{
        margin-top: auto;
        opacity: $shy-opacity;
      }
    }
  }
  #loginButtons{
    @include display-flex(row, center, center, wrap);
    @include radius-horizontal-group;
    .button{
      font-weight: bold;
      min-width: 10em;
    }
  }
  // < compensation for Safari bad flex support
  .polyglotTitle{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #loginButtons{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  // />

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .polyglotTitle{
      padding-top: 3em;
      padding-bottom: 2em;
      h2{
        font-size: 6em;
      }
    }
    #loginButtons{
      margin: 0.5em;
      margin-bottom: 1em;
    }
  }

  /*Smaller screens*/
  @media screen and (max-width: 800px) {
    .pitch{
      flex-direction: column;
      align-items: stretch;
      li{
        max-width: 20em;
      }
    }
  }
  @media screen and (max-width: $smaller-screen) {
    .polyglotTitle{
      h2{
        font-size: 3em;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    height: 85vh;
    // prevent everything from overflowing on screens with a rather small height
    min-height: 650px;
    .polyglotTitle{
      flex: 4 0 auto;
    }
    .bottom{
      flex: 1 0 auto;
      @include display-flex(column, center, space-around);
      margin-bottom: 1em;
      // Required on Edge for some reason
      width: 100%;
    }
    #loginButtons{
      margin: auto;
    }
  }
}