$pitch-bg-color: rgba(255, 255, 255, 0.6);

section#landingScreen{
  @include display-flex(column, center, space-around);
  .polyglotTitle{
    margin-top: auto;
    h2{
      color: white;
      font-weight: bold;
    }
    .toggler{
      display: none;
    }
    &:hover{
      h2:first-child{
        display: none;
      }
      .toggler{
        display: inherit;
      }
    }
  }
  .pitch{
    padding: 0.5em;
    h3{
      font-weight: bold;
    }
    border-radius: $global-radius;
  }
  #loginButtons{
    margin-bottom: auto;
    @include display-flex(row, center, center, wrap);
    @include radius-horizontal-group;
    .button{
      @include flex(1);
      font-weight: bold;
      min-width: 10em;
    }
  }
  // for Safari bad flex support
  .polyglotTitle, #loginButtons{
    padding-top: 2em;
    padding-bottom: 2em;
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    h2 {
      font-size: 3em;
    }
    .pitch{
      background-color: $pitch-bg-color;
      margin: 0.5em;
      h3{
        font-weight: bold;
        padding: 0.3em;
      }
    }
    #loginButtons{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    height: 85vh;
    // addressing the crazy case of a screen
    // with width > 1000px and height < 640px
    // happens when dev tools are open
    @media screen and (max-height: 640px) {
      height: 30em;
    }
    h2 {
      font-size: 10em;
      line-height: 1em;
      margin: auto;
    }
    .pitch{
      background-color: $pitch-bg-color;
      width: 50%;
      margin: auto;
    }
    #loginButtons{
      margin: auto;
    }
  }
}