section#lastPublicBooks{
  background-color: $off-white;
  padding: 0 1em 0em 1em;
  overflow: hidden;
  // Do not override item_card style
  h3:not(.title){
    font-size: 1.4em;
    margin-top: 0.5em;
    color: $dark-grey;
  }
}