section#mentions{
  > div{
    padding: 0.8em;
    background-color: $welcome-bg-filter;
  }
  h3, h4, .fa{
    color: white;
  }
  h3, h4{
    font-weight: bold;
  }
  text-align: center;
  ul{
    margin: 0 auto;
    max-width: 80em;
  }
  li{
    background-color: #eee;
    @include radius;
    margin: 0.5em;
  }
  img{
    @include radius;
  }
  h4{
    margin-top: 1em;
  }
  #tweets{
    width: 100%;
    @include display-flex(row, baseline, space-around, wrap);
    width: 100%;
    li{
      width: 23em;
      padding: 0.2em;
      @include display-flex(column, center, center);
    }
  }
  #articles, #interviews{
    @include display-flex(column, center, center);
    li{
      @include display-flex(row, center, center);
      /*Large screens*/
      @media screen and (min-width: $small-screen) {
        height: 3em;
      }
    }
    span{
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
  #videos{
    @include display-flex(row, center, center, wrap);
    li{
      width: 25em;
      height: 14em;
      @include bg-cover;
      @include transition;
      overflow: hidden;
      .grey-filter{
        background-color: rgba($dark-grey, 0.8);
        @include transition(background-color);
        width: 100%;
        height: 100%;
        padding: 0.5em;
      }
      .fa-play-circle{
        font-size: 4em;
        margin-top: 0.9em;
        padding-bottom: 0.2em;
        // trying to make optically appear aligned
        // at the center with .label and .lang
        padding-left: 0.15em;
      }
      &:hover{
        .grey-filter{
          background-color: rgba($dark-grey, 0.95);
        }
      }
    }
    .label, .lang{
      font-weight: bold;
    }
    .label{
      color: white;
      padding-top: 0;
      margin-top: 0;
    }
    .lang{
      color: rgba(white, 0.5);
      text-transform: uppercase;
    }
  }
  .fa-quote-left, .fa-quote-right{
    color: #777;
  }
  .fa-quote-right{
    padding-left: 0.3em;
  }
}