$mission-text-color: $dark-grey;
$mission-bg-color: rgba(white, 0.95);

section#mission{
  background-color: $welcome-bg-filter;
  padding-top: 2em;
  padding-bottom: 1em;
  // Commented-out while this image is also used as main background
  // @include multidef-bg-cover('f3c063914d81996e3d262201d1e71c5e38212948.jpg', 'hd');
  .toggleMission{
    margin: 0 auto;
    text-align: center;
    background-color: $mission-bg-color;
    @include transition(background-color);
    @include display-flex(row, center, center);
    @include radius;
    margin: 0 1em 1em 1em;
    &:hover{
      background-color: rgba(white, 0.8);
    }
    h3, .fa{
      color: $mission-text-color;
    }
    h3{
      font-weight: bold;
    }
    .fa{
      margin-top: 0.3em;
      font-size: 1.6em;
    }
  }
  ul.mission{
    li{
      // starting hidden to be toggled in JS
      display: none;
      max-width: 600px;
      margin-left: 1em;
      margin-right: 1em;
    }
    h4, p{
      @include radius;
      color: $mission-text-color;
      background-color: $mission-bg-color;
    }
    h4{
      text-align: center;
      font-weight: bold;
      padding: 1em;
    }
    p{
      padding: 1em;
      font-size: 1.2em;
      @include capitalized;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    ul.mission{
      @include display-flex(column, center, center);
      li{
        flex: 1 0 auto;
        margin: 0;
        margin-bottom: 0.2rem;
        width: 100%;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    ul.mission{
      @include display-flex(row, baseline, space-around, wrap);
      li{
        flex: 1 0 450px;
        margin-bottom: 1em;
      }
    }
  }
}
