$mission-text-color: $dark-grey;
$mission-text-bg-color: rgba(white, 0.9);

section#mission{
  padding-top: 2em;
  padding-bottom: 1em;
  // height: 10em;
  // Commented-out while this image is also used as main background
  // @include multidef-bg-cover('f3c063914d81996e3d262201d1e71c5e38212948.jpg', 'hd');
  .toggleMission{
    text-align: center;
    background-color: $mission-text-bg-color;
    @include transition(background-color);
    &:hover{
      background-color: white;
      background-color: rgba(white, 0.6);
    }
    @include display-flex(row, center, center);
    margin: 0 1em 1em 1em;
    h2, .fa{
      color: $mission-text-color;
    }
    .fa{
      padding-left: 0.5em;
      margin-top: -0.2em;
      font-size: 1.6em;
    }
    // a hack to force the h2 and .fa to be stuck to one another
    .pusher{
      flex: 1 1 auto;
    }
  }
  ul.mission{
    li{
      // starting hidden to be toggled in JS
      display: none;
      max-width: 600px;
      margin-left: 1em;
      margin-right: 1em;
    }
    h4{
      text-align: center;
      font-weight: bold;
      padding: 1em;
      color: $mission-text-color;
      background-color: $mission-text-bg-color;
    }
    p{
      padding: 1em;
      font-size: 1.2em;
      color: $mission-text-color;
      background-color: $mission-text-bg-color;
    }
  }

  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    ul.mission{
      @include display-flex(column, center, center);
      li{
        flex: 1 0 auto;
        margin: 0;
        margin-bottom: 0.2rem;
        width: 100%;
      }
    }
  }

  /*Large screens*/
  @media screen and (min-width: $small-screen) {
    ul.mission{
      @include display-flex(row, baseline, space-around, wrap);
      li{
        flex: 1 0 450px;
        margin-bottom: 1em;
      }
    }
  }
}
