section#quick-links{
  background-color: $darker-grey;
  text-align: center;
  padding: 1em;
  @include display-flex(row, flex-start, space-around, wrap);
  a{
    @include display-flex(column, center, center);
    margin-top: 1em;
    margin-bottom: 1em;
    &:hover{
      .fa, span{
        color: $secondary-color;
      }
    }
    .fa{
      margin: 0;
      padding: 0;
    }
    span{
      padding: 0;
      @include serif;
      font-weight: bold;
    }
  }
  .fa, span{
    color: white;
  }
  a{
    &:hover{
      text-decoration: none;
    }
    // The following adjustements are coupled to a list of 8 icons
    flex: 1 0 10em;
    /*Medium screens*/
    @media screen and (max-width: 82em) {
      // Do not let a lonely icon on a line
      flex: 1 0 25%;
    }
    /*Small screens*/
    @media screen and (max-width: 42em) {
      flex: 1 0 10em;
    }
  }
  .fa{
    font-size: 2.5em;
  }
}
