section#social-networks{
  background-color: $darker-grey;
  text-align: center;
  padding: 1em;
  @include display-flex(row, flex-start, space-around, wrap);
  a{
    @include display-flex(column, center, center);
    margin-top: 1em;
    margin-bottom: 1em;
    &:hover{
      .fa, span{
        color: $secondary-color;
      }
    }
    .fa{
      margin: 0;
      padding: 0;
    }
    span{
      padding: 0;
      @include serif;
      font-weight: bold;
    }
  }
  .fa, span{
    color: white;
  }
  a{
    width: 6em;
  }
  .fa{
    font-size: 2.5em;
  }
}
