section#social-networks, .joyride-content-wrapper #socialNetworks{
  background-color: $darker-grey;
  @include display-flex(row, flex-start, center, wrap);
  a{
    @include display-flex(column, center, center);
    margin-top: 1em;
    margin-bottom: 1em;
    .fa, span{
      color: white;
    }
    &:hover{
      .fa, span{
        color: $secondary-color;
      }
    }
    .fa{
      margin: 0;
      padding: 0;
    }
    span{
      margin-top: -1em;
      padding: 0;
      @include serif();
      font-weight: bold;
    }
  }
}

section#social-networks{
  a{
    width: 10em;
  }
  .fa{
    font-size: 2.5em;
  }
  span{
  }
}