#welcome{
  h3{
    margin-top: 0.5em;
    color: $dark-grey;
  }
}

/*Small screens*/
@media screen and (max-width: $small-screen) {
}

/*Large screens*/
@media screen and (min-width: $small-screen) {
}

$welcome-bg-filter: rgba(#123456, 0.5);

#background-cover{
  @include position(fixed, 0, 0, 0, 0, -10);
  // Photo attribution in credits.hbs: Brittany Stevens
  @include multidef-bg-cover('brittanystevens.jpg', 'hd');
}

@import "landing_screen";
@import "last_public_books";
@import "mission";
@import "quick_links";
@import "mentions";
@import "credits";
@import "embedded_welcome";
