section#welcome-one{
  padding: 1rem;
  background-color: #fff;
  h2{
    font-weight: 900;
  }
  #loginButtons{
    .button{
      @extend .shadow-box;
    }
    margin-top: 2rem;
  }
  ul.bonuses{
    @extend .flex-row;
    li{
      width: 33%;
      h4{
        color: $dark-grey;
        background-color: $light-grey;
        font-weight: bold;
        font-size: 1.2em;
        padding: 1.5rem;
      }
    }
  }

  /*Small screens*/
  @media screen and (max-width: $smallscreen) {
    h2 {
      font-size: 3rem;
    }
    h3{
      background-color: #f5f5f5;
    }
    ul.bonuses{
      flex-direction:column;
      li{
        margin: 0;
        margin-bottom: 0.2rem;
        width: 100%;
      }
    }
    #loginButtons{
      flex-direction:column;
    }
  }

  /*Large screens*/
  @media screen and (min-width: $smallscreen) {
    padding: 2rem;
    h2 {
      font-size: 5rem;
    }
    ul{
      li{
        margin: 1rem;
      }
    }
  }

}