section#status, section#social-networks, section#newsletter{
  text-align: center;
  padding: 1em;
  span, p{
    color: #999;
    .link{
      color: white;
    }
  }
}
section#status{
  @include display-flex(column, center, center);
  background-color: $dark-grey;
  h3.subheader{
    color: #aaa;
  }
  h3.status{
    color: white;
    display: inline;
    text-transform: capitalize;
  }
  p{
    margin: 0.1em;
    max-width: 600px;
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

@import "landing_screen";
// @import "tutorial";
@import "last_public_books";
@import "bonuses";
@import "social_networks";
@import "newsletter";
@import "credits";
@import "embedded_welcome";
