#welcome{
}

section#status, section#social-networks{
  text-align: center;
  padding: 1em;
  span, p{
    color: #999;
    .link{
      color: white;
    }
  }
  .fa{
    font-size: 2.5em;
    margin: 1em;
  }
}
section#status{
  background-color: $dark-grey;
  h3.subheader{
    color: #aaa;
  }
  h3.status{
    color: white;
    display: inline;
    text-transform: capitalize;
  }
  p{
    margin: 0.1em;
  }
}

section#social-networks{
  background-color: $darker-grey;
  a{
    color: white;
    &:hover{
      color: $secondary-color;
    }
  }
}

/*Small screens*/
@media screen and (max-width: $smallscreen) {
}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
}

@import "welcome_one";
@import "welcome_two";
@import "welcome_three";