<section id="map" class="map-container"></section>
<section id="list"></section>
<section id="position-picker">
  <a id="showPositionPicker" class="button bold radius">{{i18n 'set your position'}}</a>
</section>
