<h3>{{i18n 'select your position'}}</h3>
<p class="context">{{i18n 'position_privacy_context'}}</p>
<div id="positionPickerMap" class="map-container"></div>
<p class="tip">{{icon 'info-circle'}}{{i18n 'position_privacy_tip'}}</p>
<div>
  {{#if position}}
    <a id="removePosition" class="button bold radius warning">
      {{i18n 'delete position'}}
      <span class="loading"></span>
    </a>
  {{/if}}
  <a id="validatePosition" class="button bold radius success">
    {{i18n 'save position'}}
    <span class="loading"></span>
  </a>
</div>
<span class='check alertBox'></span>
